{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Accounts",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/move": {
      "post": {
        "description": "Batch move a collection of accounts to a specific organization. ⚠️ Not implemented.",
        "operationId": "Accounts_batchMoveAccounts",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account_ids": {
                    "description": "Move these accounts to the destination organization.",
                    "items": {
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "destination_organization_id": {
                    "description": "Move accounts to this organization ID.",
                    "type": "string"
                  }
                },
                "required": [
                  "account_ids",
                  "destination_organization_id"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "object"
                      },
                      "maxItems": 0,
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/organizations-api_V4Message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/organizations-api_BatchAccountMoveResponse"
                    },
                    "success": {
                      "enum": [
                        true
                      ],
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors",
                    "messages",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "The request has succeeded."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/organizations-api_V4ErrorResponse"
                }
              }
            },
            "description": "An unexpected error response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Batch move accounts",
        "tags": [
          "Accounts"
        ]
      }
    },
    "/accounts/{account_identifier}/custom_pages": {
      "get": {
        "description": "Fetches all the custom pages at the account level.",
        "operationId": "custom-pages-for-an-account-list-custom-pages",
        "parameters": [
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_page_result_list"
                }
              }
            },
            "description": "List custom pages response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_page_result_list"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List custom pages response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List custom pages",
        "tags": [
          "Custom pages for an account"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Account Custom Pages Write",
          "Account Custom Pages Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_identifier}/custom_pages/assets": {
      "get": {
        "description": "Fetches all the custom assets at the account level.",
        "operationId": "custom-assets-for-an-account-list-custom-assets",
        "parameters": [
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result_list"
                }
              }
            },
            "description": "List custom assets response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result_list"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List custom assets response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List custom assets",
        "tags": [
          "Custom assets for an account"
        ],
        "x-api-token-group": null,
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new custom asset at the account level.",
        "operationId": "custom-assets-for-an-account-create-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "A short description of the custom asset.",
                    "example": "Custom 500 error page",
                    "type": "string"
                  },
                  "name": {
                    "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
                    "example": "my_custom_error_page",
                    "minLength": 1,
                    "pattern": "^[A-Za-z0-9_]+$",
                    "type": "string"
                  },
                  "url": {
                    "description": "The URL where the asset content is fetched from.",
                    "example": "https://example.com/error.html",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                }
              }
            },
            "description": "Create custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a custom asset",
        "tags": [
          "Custom assets for an account"
        ],
        "x-api-token-group": null,
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_identifier}/custom_pages/assets/{asset_name}": {
      "delete": {
        "description": "Deletes an existing custom asset.",
        "operationId": "custom-assets-for-an-account-delete-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "asset_name",
            "required": true,
            "schema": {
              "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
              "example": "my_custom_error_page",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9_]+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete a custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a custom asset",
        "tags": [
          "Custom assets for an account"
        ],
        "x-api-token-group": null,
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "get": {
        "description": "Fetches the details of a custom asset.",
        "operationId": "custom-assets-for-an-account-get-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "asset_name",
            "required": true,
            "schema": {
              "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
              "example": "my_custom_error_page",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9_]+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                }
              }
            },
            "description": "Get a custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get a custom asset",
        "tags": [
          "Custom assets for an account"
        ],
        "x-api-token-group": null,
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "put": {
        "description": "Updates the configuration of an existing custom asset.",
        "operationId": "custom-assets-for-an-account-update-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "asset_name",
            "required": true,
            "schema": {
              "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
              "example": "my_custom_error_page",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9_]+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "A short description of the custom asset.",
                    "example": "Custom 500 error page",
                    "type": "string"
                  },
                  "url": {
                    "description": "The URL where the asset content is fetched from.",
                    "example": "https://example.com/error.html",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "description",
                  "url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                }
              }
            },
            "description": "Update a custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a custom asset",
        "tags": [
          "Custom assets for an account"
        ],
        "x-api-token-group": null,
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_identifier}/custom_pages/{identifier}": {
      "get": {
        "description": "Fetches the details of a custom page.",
        "operationId": "custom-pages-for-an-account-get-a-custom-page",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "description": "Error Page Types",
              "enum": [
                "1000_errors",
                "500_errors",
                "basic_challenge",
                "country_challenge",
                "ip_block",
                "managed_challenge",
                "ratelimit_block",
                "under_attack",
                "waf_block",
                "waf_challenge"
              ],
              "example": "ratelimit_block",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_page_result"
                }
              }
            },
            "description": "Get a custom page response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_page_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a custom page response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get a custom page",
        "tags": [
          "Custom pages for an account"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Account Custom Pages Write",
          "Account Custom Pages Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "put": {
        "description": "Updates the configuration of an existing custom page.",
        "operationId": "custom-pages-for-an-account-update-a-custom-page",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "description": "Error Page Types",
              "enum": [
                "1000_errors",
                "500_errors",
                "basic_challenge",
                "country_challenge",
                "ip_block",
                "managed_challenge",
                "ratelimit_block",
                "under_attack",
                "waf_block",
                "waf_challenge"
              ],
              "example": "ratelimit_block",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "state": {
                    "description": "The custom page state.",
                    "enum": [
                      "default",
                      "customized"
                    ],
                    "example": "default",
                    "type": "string"
                  },
                  "url": {
                    "default": "",
                    "description": "The URL associated with the custom page.",
                    "example": "http://www.example.com",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "url",
                  "state"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_page_result"
                }
              }
            },
            "description": "Update a custom page response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_page_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a custom page response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a custom page",
        "tags": [
          "Custom pages for an account"
        ],
        "x-api-token-group": [
          "Account Custom Pages Write",
          "Account Settings Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/audit_logs": {
      "get": {
        "description": "Gets a list of audit logs for an account. Can be filtered by who made the change, on which zone, and the timeframe of the change.",
        "operationId": "audit-logs-get-account-audit-logs",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "description": "Finds a specific log by its ID.",
              "example": "f174be97-19b1-40d6-954d-70cd5fbd52db",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "export",
            "schema": {
              "description": "Indicates that this request is an export of logs in CSV format.",
              "example": true,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "action.type",
            "schema": {
              "description": "Filters by the action type.",
              "example": "add",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actor.ip",
            "schema": {
              "description": "Filters by the IP address of the request that made the change by specific IP address or valid CIDR Range.",
              "example": "17.168.228.63",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "actor.email",
            "schema": {
              "description": "Filters by the email address of the actor that made the change.",
              "example": "alice@example.com",
              "format": "email",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "oneOf": [
                {
                  "description": "Limits the returned results to logs newer than the specified date. A `full-date` that conforms to RFC3339.",
                  "example": "2019-04-30",
                  "format": "date",
                  "type": "string"
                },
                {
                  "description": "Limits the returned results to logs newer than the specified date. A `date-time` that conforms to RFC3339.",
                  "example": "2019-04-30T01:12:20Z",
                  "format": "date-time",
                  "type": "string"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "oneOf": [
                {
                  "description": "Limits the returned results to logs older than the specified date. A `full-date` that conforms to RFC3339.",
                  "example": "2019-04-30",
                  "format": "date",
                  "type": "string"
                },
                {
                  "description": "Limits the returned results to logs older than the specified date. A `date-time` that conforms to RFC3339.",
                  "example": "2019-04-30T01:12:20Z",
                  "format": "date-time",
                  "type": "string"
                }
              ]
            }
          },
          {
            "in": "query",
            "name": "zone.name",
            "schema": {
              "description": "Filters by the name of the zone associated to the change.",
              "example": "example.com",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "default": "desc",
              "description": "Changes the direction of the chronological sorting.",
              "enum": [
                "desc",
                "asc"
              ],
              "example": "desc",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 100,
              "description": "Sets the number of results to return per page.",
              "example": 25,
              "maximum": 1000,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Defines which page of results to return.",
              "example": 50,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "hide_user_logs",
            "schema": {
              "default": false,
              "description": "Indicates whether or not to hide user level audit logs.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_audit_logs_response_collection"
                }
              }
            },
            "description": "Get account audit logs response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_audit_logs_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get account audit logs response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get account audit logs",
        "tags": [
          "Audit Logs"
        ],
        "x-api-token-group": [
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/billing/profile": {
      "get": {
        "deprecated": true,
        "description": "Gets the current billing profile for the account.",
        "operationId": "account-billing-profile-(-deprecated)-billing-profile-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/bill-subs-api_billing_response_single"
                }
              }
            },
            "description": "Billing Profile Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/bill-subs-api_billing_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/bill-subs-api_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Billing Profile Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Billing Profile Details",
        "tags": [
          "Account Billing Profile"
        ],
        "x-api-token-group": [
          "Billing Write",
          "Billing Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#billing:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/billing/usage/paygo": {
      "get": {
        "description": "Returns billable usage data for PayGo (self-serve) accounts.\nWhen no query parameters are provided, returns usage for the current\nbilling period.\nThis endpoint is currently in beta and access is restricted to select\naccounts.\n",
        "operationId": "billable-usage-get-paygo-account-usage",
        "parameters": [
          {
            "$ref": "#/components/parameters/billable-usage-api_account_id"
          },
          {
            "$ref": "#/components/parameters/billable-usage-api_from"
          },
          {
            "$ref": "#/components/parameters/billable-usage-api_to"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billable-usage-api_usage_response"
                }
              }
            },
            "description": "Indicates PayGo account usage data was successfully retrieved."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/billable-usage-api_api-response-common-failure"
                }
              }
            },
            "description": "Indicates the request failed."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get PayGo Account Billable Usage (Beta)",
        "tags": [
          "Billable Usage"
        ],
        "x-api-token-group": [
          "Billing Write",
          "Billing Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": false,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/challenges/widgets": {
      "get": {
        "description": "Lists all turnstile widgets of an account.",
        "operationId": "accounts-turnstile-widgets-list",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/turnstile_api-response-common"
                    },
                    {
                      "properties": {
                        "result_info": {
                          "$ref": "#/components/schemas/turnstile_result_info"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/turnstile_widget_list"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List Turnstile Widgets"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/turnstile_api-response-common-failure"
                }
              }
            },
            "description": "List Turnstile Widgets Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Turnstile Widgets",
        "tags": [
          "Turnstile"
        ],
        "x-api-token-group": [
          "Turnstile Sites Write",
          "Turnstile Sites Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "description": "Identifier",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "maxLength": 32,
            "readOnly": true,
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "page",
          "schema": {
            "default": 1,
            "description": "Page number of paginated results.",
            "minimum": 1,
            "type": "number"
          }
        },
        {
          "in": "query",
          "name": "per_page",
          "schema": {
            "default": 25,
            "description": "Number of items per page.",
            "maximum": 1000,
            "minimum": 5,
            "type": "number"
          }
        },
        {
          "in": "query",
          "name": "order",
          "schema": {
            "description": "Field to order widgets by.",
            "enum": [
              "id",
              "sitekey",
              "name",
              "created_on",
              "modified_on"
            ],
            "example": "id",
            "type": "string"
          }
        },
        {
          "in": "query",
          "name": "direction",
          "schema": {
            "description": "Direction to order widgets.",
            "enum": [
              "asc",
              "desc"
            ],
            "example": "asc",
            "type": "string"
          }
        },
        {
          "description": "Filter widgets by field using case-insensitive substring matching.\nFormat: `field:value`\n\nSupported fields:\n- `name` - Filter by widget name (e.g., `filter=name:login-form`)\n- `sitekey` - Filter by sitekey (e.g., `filter=sitekey:0x4AAA`)\n\nReturns 400 Bad Request if the field is unsupported or format is invalid.\nAn empty filter value returns all results.\n",
          "in": "query",
          "name": "filter",
          "schema": {
            "example": "name:my-widget",
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Lists challenge widgets.",
        "operationId": "accounts-turnstile-widget-create",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "bot_fight_mode": {
                    "description": "If bot_fight_mode is set to `true`, Cloudflare issues computationally\nexpensive challenges in response to malicious bots (ENT only).\n",
                    "example": false,
                    "type": "boolean"
                  },
                  "clearance_level": {
                    "description": "If Turnstile is embedded on a Cloudflare site and the widget should grant challenge clearance,\nthis setting can determine the clearance level to be set\n",
                    "enum": [
                      "no_clearance",
                      "jschallenge",
                      "managed",
                      "interactive"
                    ],
                    "example": "interactive",
                    "type": "string"
                  },
                  "domains": {
                    "$ref": "#/components/schemas/turnstile_domains"
                  },
                  "ephemeral_id": {
                    "description": "Return the Ephemeral ID in /siteverify (ENT only).\n",
                    "example": false,
                    "type": "boolean"
                  },
                  "mode": {
                    "description": "Widget Mode",
                    "enum": [
                      "non-interactive",
                      "invisible",
                      "managed"
                    ],
                    "example": "invisible",
                    "type": "string"
                  },
                  "name": {
                    "description": "Human readable widget name. Not unique. Cloudflare suggests that you\nset this to a meaningful string to make it easier to identify your\nwidget, and where it is used.\n",
                    "example": "blog.cloudflare.com login form",
                    "maxLength": 254,
                    "minLength": 1,
                    "type": "string"
                  },
                  "offlabel": {
                    "description": "Do not show any Cloudflare branding on the widget (ENT only).\n",
                    "example": false,
                    "type": "boolean"
                  },
                  "region": {
                    "default": "world",
                    "description": "Region where this widget can be used. This cannot be changed after creation.\n",
                    "enum": [
                      "world",
                      "china"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "mode",
                  "domains"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/turnstile_api-response-common"
                    },
                    {
                      "properties": {
                        "result_info": {
                          "$ref": "#/components/schemas/turnstile_result_info"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/turnstile_widget_detail"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Create Turnstile Widget Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/turnstile_api-response-common-failure"
                }
              }
            },
            "description": "Create Turnstile Widget Response Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a Turnstile Widget",
        "tags": [
          "Turnstile"
        ],
        "x-api-token-group": [
          "Turnstile Sites Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/challenges/widgets/{sitekey}": {
      "delete": {
        "description": "Destroy a Turnstile Widget.",
        "operationId": "accounts-turnstile-widget-delete",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/turnstile_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/turnstile_widget_detail"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Delete Turnstile Widget Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/turnstile_api-response-common-failure"
                }
              }
            },
            "description": "Delete Turnstile Widget Response Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a Turnstile Widget",
        "tags": [
          "Turnstile"
        ],
        "x-api-token-group": [
          "Turnstile Sites Write",
          "Account Settings Write"
        ]
      },
      "get": {
        "description": "Show a single challenge widget configuration.",
        "operationId": "accounts-turnstile-widget-get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/turnstile_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/turnstile_widget_detail"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Turnstile Widget Details Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/turnstile_api-response-common-failure"
                }
              }
            },
            "description": "Turnstile Widget Details Response Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Turnstile Widget Details",
        "tags": [
          "Turnstile"
        ],
        "x-api-token-group": [
          "Turnstile Sites Write",
          "Turnstile Sites Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "description": "Identifier",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "maxLength": 32,
            "readOnly": true,
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "sitekey",
          "required": true,
          "schema": {
            "description": "Widget item identifier tag.",
            "example": "0x4AAF00AAAABn0R22HWm-YUc",
            "maxLength": 32,
            "type": "string"
          }
        }
      ],
      "put": {
        "description": "Update the configuration of a widget.",
        "operationId": "accounts-turnstile-widget-update",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "bot_fight_mode": {
                    "description": "If bot_fight_mode is set to `true`, Cloudflare issues computationally\nexpensive challenges in response to malicious bots (ENT only).\n",
                    "example": false,
                    "type": "boolean"
                  },
                  "clearance_level": {
                    "description": "If Turnstile is embedded on a Cloudflare site and the widget should grant challenge clearance,\nthis setting can determine the clearance level to be set\n",
                    "enum": [
                      "no_clearance",
                      "jschallenge",
                      "managed",
                      "interactive"
                    ],
                    "example": "interactive",
                    "type": "string"
                  },
                  "domains": {
                    "$ref": "#/components/schemas/turnstile_domains"
                  },
                  "ephemeral_id": {
                    "description": "Return the Ephemeral ID in /siteverify (ENT only).\n",
                    "example": false,
                    "type": "boolean"
                  },
                  "mode": {
                    "description": "Widget Mode",
                    "enum": [
                      "non-interactive",
                      "invisible",
                      "managed"
                    ],
                    "example": "invisible",
                    "type": "string"
                  },
                  "name": {
                    "description": "Human readable widget name. Not unique. Cloudflare suggests that you\nset this to a meaningful string to make it easier to identify your\nwidget, and where it is used.\n",
                    "example": "blog.cloudflare.com login form",
                    "maxLength": 254,
                    "minLength": 1,
                    "type": "string"
                  },
                  "offlabel": {
                    "description": "Do not show any Cloudflare branding on the widget (ENT only).\n",
                    "example": false,
                    "type": "boolean"
                  },
                  "region": {
                    "default": "world",
                    "description": "Region where this widget can be used. This cannot be changed after creation.\n",
                    "enum": [
                      "world",
                      "china"
                    ],
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "mode",
                  "domains"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/turnstile_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/turnstile_widget_detail"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update Turnstile Widget Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/turnstile_api-response-common-failure"
                }
              }
            },
            "description": "Update Turnstile Widget Response Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a Turnstile Widget",
        "tags": [
          "Turnstile"
        ],
        "x-api-token-group": [
          "Turnstile Sites Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/challenges/widgets/{sitekey}/rotate_secret": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "description": "Identifier",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "maxLength": 32,
            "readOnly": true,
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "sitekey",
          "required": true,
          "schema": {
            "description": "Widget item identifier tag.",
            "example": "0x4AAF00AAAABn0R22HWm-YUc",
            "maxLength": 32,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Generate a new secret key for this widget. If `invalidate_immediately`\nis set to `false`, the previous secret remains valid for 2 hours.\n\nNote that secrets cannot be rotated again during the grace period.\n",
        "operationId": "accounts-turnstile-widget-rotate-secret",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "invalidate_immediately": {
                    "default": false,
                    "description": "If `invalidate_immediately` is set to `false`, the previous secret will\nremain valid for two hours. Otherwise, the secret is immediately\ninvalidated, and requests using it will be rejected.\n",
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/turnstile_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/turnstile_widget_detail"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Rotate Secret Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/turnstile_api-response-common-failure"
                }
              }
            },
            "description": "Rotate Secret Response Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Rotate Secret for a Turnstile Widget",
        "tags": [
          "Turnstile"
        ],
        "x-api-token-group": [
          "Turnstile Sites Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/iam/permission_groups": {
      "get": {
        "description": "List all the permissions groups for an account.",
        "operationId": "account-permission-group-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "description": "ID of the permission group to be fetched.",
              "example": "6d7f2f5f5b1d4a0e9081fdc98d432fd1",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "Name of the permission group to be fetched.",
              "example": "NameOfThePermissionGroup",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "label",
            "schema": {
              "description": "Label of the permission group to be fetched.",
              "example": "labelOfThePermissionGroup",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Maximum number of results per page.",
              "maximum": 50,
              "minimum": 5,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_collection_permission_groups_response"
                }
              }
            },
            "description": "List Permission Groups response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "List Permission Groups response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Account Permission Groups",
        "tags": [
          "Account Permission Groups"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read",
          "DNS View Write",
          "DNS View Read",
          "SCIM Provisioning",
          "Load Balancers Account Write",
          "Load Balancers Account Read",
          "Zero Trust: PII Read",
          "DDoS Botnet Feed Write",
          "DDoS Botnet Feed Read",
          "Workers R2 Storage Write",
          "Workers R2 Storage Read",
          "DDoS Protection Write",
          "DDoS Protection Read",
          "Workers Tail Read",
          "Workers KV Storage Write",
          "Workers KV Storage Read",
          "Workers Scripts Write",
          "Workers Scripts Read",
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read",
          "Account Firewall Access Rules Write",
          "Account Firewall Access Rules Read",
          "DNS Firewall Write",
          "DNS Firewall Read",
          "Billing Write",
          "Billing Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.iam.permission-group.list"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/iam/permission_groups/{permission_group_id}": {
      "get": {
        "description": "Get information about a specific permission group in an account.",
        "operationId": "account-permission-group-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "permission_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_permission_group_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_single_permission_groups_response"
                }
              }
            },
            "description": "Permission Group Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Permission Group Details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Permission Group Details",
        "tags": [
          "Account Permission Groups"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read",
          "DNS View Write",
          "DNS View Read",
          "SCIM Provisioning",
          "Load Balancers Account Write",
          "Load Balancers Account Read",
          "Zero Trust: PII Read",
          "DDoS Botnet Feed Write",
          "DDoS Botnet Feed Read",
          "Workers R2 Storage Write",
          "Workers R2 Storage Read",
          "DDoS Protection Write",
          "DDoS Protection Read",
          "Workers Tail Read",
          "Workers KV Storage Write",
          "Workers KV Storage Read",
          "Workers Scripts Write",
          "Workers Scripts Read",
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read",
          "Account Firewall Access Rules Write",
          "Account Firewall Access Rules Read",
          "DNS Firewall Write",
          "DNS Firewall Read",
          "Billing Write",
          "Billing Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.iam.permission-group.read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/iam/resource_groups": {
      "get": {
        "description": "List all the resource groups for an account.",
        "operationId": "account-resource-group-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/iam_resource_group_identifier"
                }
              ],
              "description": "ID of the resource group to be fetched."
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "Name of the resource group to be fetched.",
              "example": "NameOfTheResourceGroup",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/iam_resource_group"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "title": "List of resource groups in the account."
                }
              }
            },
            "description": "List Resource Groups response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "List Resource Groups response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Resource Groups",
        "tags": [
          "Account Resource Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.iam.resource-group.list"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Create a new Resource Group under the specified account.",
        "operationId": "account-resource-group-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_request_create_resource_group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_resource_group"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Add Resource Group response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Add Resource Group response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Resource Group",
        "tags": [
          "Account Resource Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.iam.resource-group.create"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/iam/resource_groups/{resource_group_id}": {
      "delete": {
        "description": "Remove a resource group from an account.",
        "operationId": "account-resource-group-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "resource_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_resource_group_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-single-id"
                }
              }
            },
            "description": "Remove Resource Group response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Remove Member response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Remove Resource Group",
        "tags": [
          "Account Resource Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.iam.resource-group.delete"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Get information about a specific resource group in an account.",
        "operationId": "account-resource-group-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "resource_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_resource_group_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_resource_group"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Resource Group Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Resource Group Details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Resource Group Details",
        "tags": [
          "Account Resource Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.iam.resource-group.read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Modify an existing resource group.",
        "operationId": "account-resource-group-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "resource_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_resource_group_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_request_update_resource_group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_resource_group"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update Resource Group response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Update Resource Group response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update Resource Group",
        "tags": [
          "Account Resource Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.iam.resource-group.update"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/iam/user_groups": {
      "get": {
        "description": "List all the user groups for an account.",
        "operationId": "account-user-group-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "description": "ID of the user group to be fetched.",
            "in": "query",
            "name": "id",
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "Name of the user group to be fetched.",
              "example": "NameOfTheUserGroup",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "fuzzyName",
            "schema": {
              "description": "A string used for searching for user groups containing that substring.",
              "example": "Foo",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Maximum number of results per page.",
              "maximum": 50,
              "minimum": 5,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "description": "The sort order of returned user groups by name. Default sort order is ascending. To switch to descending, set this parameter to \"desc\"",
              "example": "desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_user_groups"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List User Group response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "List User Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List User Groups",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.member.list"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Create a new user group under the specified account.",
        "operationId": "account-user-group-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_create_user_group_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_user_group"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Add User Group response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Add User Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create User Group",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.member.create"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/iam/user_groups/{user_group_id}": {
      "delete": {
        "description": "Remove a user group from an account.",
        "operationId": "account-user-group-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "user_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-single-id"
                }
              }
            },
            "description": "Remove User Group response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Remove User Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Remove User Group",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.member.delete"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Get information about a specific user group in an account.",
        "operationId": "account-user-group-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "user_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_user_group"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "User Group Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "User Group Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "User Group Details",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.member.read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Modify an existing user group.",
        "operationId": "account-user-group-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "user_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_update_user_group_body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_user_group"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update User Group response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Update User Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update User Group",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.member.update"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/iam/user_groups/{user_group_id}/members": {
      "get": {
        "description": "List all the members attached to a user group.",
        "operationId": "account-user-group-member-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "user_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 100,
              "description": "Maximum number of results per page.",
              "maximum": 500,
              "minimum": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/iam_user_group_member"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "title": "List of members attached to a user group"
                }
              }
            },
            "description": "List User Group Members"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "User Group Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List User Group Members",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.member.read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Add members to a User Group.",
        "operationId": "account-user-group-member-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "user_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/iam_user_group_member_identifier"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "type": "object"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_user_group_member"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Add User Group Member response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Add User Group Member response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Add User Group Members",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.member.create"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Replace the set of members attached to a User Group.",
        "operationId": "account-user-group-members-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "user_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "description": "Set/Replace members to a user group.",
                "items": {
                  "properties": {
                    "id": {
                      "$ref": "#/components/schemas/iam_user_group_member_identifier"
                    }
                  },
                  "required": [
                    "id"
                  ],
                  "type": "object"
                },
                "title": "Update User Group Members",
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/iam_user_group_member"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update User Group Members response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Update User Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update User Group Members",
        "tags": [
          "Account User Groups"
        ],
        "x-api-token-group": [
          "SCIM Provisioning",
          "Account Settings Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/iam/user_groups/{user_group_id}/members/{member_id}": {
      "delete": {
        "description": "Remove a member from User Group",
        "operationId": "account-user-group-member-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          },
          {
            "in": "path",
            "name": "user_group_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_identifier"
            }
          },
          {
            "in": "path",
            "name": "member_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_user_group_member_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/iam_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/iam_user_group_member"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete User Group Member response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
[...]
