{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - DLP",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/dlp/datasets": {
      "get": {
        "description": "Lists all DLP datasets configured for the account, including custom word lists and EDM datasets.",
        "operationId": "dlp-datasets-read-all",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DatasetArray"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Datasets read successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Datasets read failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Fetch all datasets",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a new DLP (Data Loss Prevention) dataset for storing custom detection patterns. Datasets can contain exact match data, word lists, or EDM (Exact Data Match) configurations.",
        "operationId": "dlp-datasets-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "case_sensitive": {
                    "description": "Only applies to custom word lists.\nDetermines if the words should be matched in a case-sensitive manner\nCannot be set to false if `secret` is true or undefined",
                    "type": "boolean"
                  },
                  "description": {
                    "description": "The description of the dataset.",
                    "nullable": true,
                    "type": "string"
                  },
                  "encoding_version": {
                    "description": "Dataset encoding version\n\nNon-secret custom word lists with no header are always version 1.\nSecret EDM lists with no header are version 1.\nMulticolumn CSV with headers are version 2.\nOmitting this field provides the default value 0, which is interpreted\nthe same as 1.",
                    "format": "int32",
                    "minimum": 0,
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  },
                  "secret": {
                    "description": "Generate a secret dataset.\n\nIf true, the response will include a secret to use with the EDM encoder.\nIf false, the response has no secret and the dataset is uploaded in plaintext.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "description": "Dataset description.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DatasetCreation"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Dataset created successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Dataset creation failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a new dataset",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/datasets/{dataset_id}": {
      "delete": {
        "description": "This deletes all versions of the dataset.",
        "operationId": "dlp-datasets-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dataset deleted successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Dataset delete failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a dataset",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "operationId": "dlp-datasets-read",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Dataset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Dataset read successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Dataset read failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Fetch a specific dataset",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Updates the configuration of an existing DLP dataset, such as its name, description, or detection settings.",
        "operationId": "dlp-datasets-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "case_sensitive": {
                    "description": "Determines if the words should be matched in a case-sensitive manner.\n\nOnly required for custom word lists.",
                    "type": "boolean"
                  },
                  "description": {
                    "description": "The description of the dataset.",
                    "nullable": true,
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the dataset, must be unique.",
                    "nullable": true,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "description": "Dataset description.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Dataset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Dataset updated successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Dataset update failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update details about a dataset",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/datasets/{dataset_id}/upload": {
      "post": {
        "description": "Creates a new version of a DLP dataset, allowing you to stage changes before activation. Used for single-column EDM and custom word lists.",
        "operationId": "dlp-datasets-create-version",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DatasetNewVersion"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Dataset version created successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Dataset version creation failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Prepare to upload a new version of a dataset",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/datasets/{dataset_id}/upload/{version}": {
      "post": {
        "description": "This is used for single-column EDMv1 and Custom Word Lists. The EDM format\ncan only be created in the Cloudflare dashboard. For other clients, this\noperation can only be used for non-secret Custom Word Lists. The body must\nbe a UTF-8 encoded, newline (NL or CRNL) separated list of words to be matched.",
        "operationId": "dlp-datasets-upload-version",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "description": "Dataset. For custom wordlists this contains UTF-8 patterns separated by newline characters.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Dataset"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Dataset version uploaded successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Dataset version upload failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Upload a new version of a dataset",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/datasets/{dataset_id}/versions/{version}": {
      "post": {
        "description": "This is used for multi-column EDMv2 datasets. The EDMv2 format can only be\ncreated in the Cloudflare dashboard. The columns in the response appear in\nthe same order as in the request.",
        "operationId": "dlp-datasets-define-columns",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "allOf": [
                    {
                      "oneOf": [
                        {
                          "properties": {
                            "entry_id": {
                              "format": "uuid",
                              "type": "string"
                            }
                          },
                          "required": [
                            "entry_id"
                          ],
                          "title": "Existing Column",
                          "type": "object"
                        },
                        {
                          "properties": {
                            "entry_name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "entry_name"
                          ],
                          "title": "New Column",
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "properties": {
                        "header_name": {
                          "type": "string"
                        },
                        "num_cells": {
                          "format": "int64",
                          "minimum": 0,
                          "type": "integer"
                        }
                      },
                      "required": [
                        "header_name",
                        "num_cells"
                      ],
                      "type": "object"
                    }
                  ]
                },
                "type": "array"
              }
            }
          },
          "description": "array of new columns to create for this dataset version.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DatasetColumnArray"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Dataset columns created successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Failed to create dataset columns."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Sets the column information for a multi-column upload",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/datasets/{dataset_id}/versions/{version}/entries/{entry_id}": {
      "post": {
        "description": "This is used for multi-column EDMv2 datasets. The EDMv2 format can only be\ncreated in the Cloudflare dashboard.",
        "operationId": "dlp-datasets-upload-dataset-column",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dataset_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "version",
            "required": true,
            "schema": {
              "format": "int64",
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/octet-stream": {
              "schema": {
                "format": "binary",
                "type": "string"
              }
            }
          },
          "description": "Dataset content.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DatasetColumn"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Dataset column uploaded successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Failed to upload dataset column."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Upload a new version of a multi-column dataset",
        "tags": [
          "DLP Datasets"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/document_fingerprints": {
      "get": {
        "description": "Lists all document fingerprints configured for DLP scanning in the account.",
        "operationId": "dlp-document-fingerprints-read-all",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DocumentFingerprintArray"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Document fingerprint read was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Document fingerprint read failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve data about all document fingerprints.",
        "tags": [
          "DLP Document Fingerprints"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a new document fingerprint for DLP scanning. Document fingerprints detect documents that are structurally similar to the uploaded sample.",
        "operationId": "dlp-document-fingerprints-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "default": "",
                    "type": "string"
                  },
                  "match_percent": {
                    "format": "int32",
                    "type": "integer"
                  },
                  "name": {
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "match_percent"
                ],
                "type": "object"
              }
            }
          },
          "description": "Attributes of the new document fingerprint.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DocumentFingerprint"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Document fingerprint created successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Document fingerprint creation failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Creates a new document fingerprint.",
        "tags": [
          "DLP Document Fingerprints"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/document_fingerprints/{document_fingerprint_id}": {
      "delete": {
        "description": "Removes a document fingerprint from DLP configuration. Documents matching this fingerprint will no longer be detected.",
        "operationId": "dlp-document-fingerprints-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "document_fingerprint_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Document fingerprint delete was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Document fingerprint delete failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a single document fingerprint.",
        "tags": [
          "DLP Document Fingerprints"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "operationId": "dlp-document-fingerprints-read",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "document_fingerprint_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DocumentFingerprint"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Document fingerprint read was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Document fingerprint read failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve data about a specific document fingerprint.",
        "tags": [
          "DLP Document Fingerprints"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Updates metadata for an existing document fingerprint, such as its name or description.",
        "operationId": "dlp-document-fingerprints-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "document_fingerprint_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_UpdateDocumentFingerprint"
              }
            }
          },
          "description": "Attributes of the document fingerprint to update.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DocumentFingerprint"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Document fingerprint read was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Document fingerprint read failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update the attributes of a single document fingerprint.",
        "tags": [
          "DLP Document Fingerprints"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Uploads a new document to create or update a fingerprint. The document structure is analyzed to enable detection of similar documents.",
        "operationId": "dlp-document-fingerprints-upload",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "document_fingerprint_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "type": "object"
              }
            }
          },
          "description": "File used for document fingerprinting.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_DocumentFingerprintUpload"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "File uploaded successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Failed to upload file."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Uploads a new version for a document fingerprint.",
        "tags": [
          "DLP Document Fingerprints"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/email/account_mapping": {
      "get": {
        "description": "Retrieves the email provider mapping configuration for DLP email scanning.",
        "operationId": "dlp-email-scanner-get-account-mapping",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_AddinAccountMapping"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get Email Scanner Account Mapping response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Get Email Scanner Account Mapping failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get mapping",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a mapping between a Cloudflare account and an email provider for DLP email scanning integration.",
        "operationId": "dlp-email-scanner-create-account-mapping",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_UpdateAddinAccountMapping"
              }
            }
          },
          "description": "Account mapping.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_AddinAccountMapping"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "New Email Scanner Account Mapping response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "New Email Scanner Account Mapping failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create mapping",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/email/rules": {
      "get": {
        "description": "Lists all email scanner rules for an account.",
        "operationId": "dlp-email-scanner-list-all-rules",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_EmailRuleArray"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List all email scanner rules response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "List all email scanner rules failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List all email scanner rules",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "patch": {
        "description": "Reorders DLP email scanning rules by updating their priority values. Higher priority rules are evaluated first.",
        "operationId": "dlp-email-scanner-update-rule-priorities",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_UpdateEmailRulePriorities"
              }
            }
          },
          "description": "Rule priorities.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_EmailRule"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update Email Scanner Rule priorities response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Update Email Scanner Rule priorities failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update email scanner rule priorities",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a new DLP email scanning rule that defines what content patterns to detect in email messages and what actions to take.",
        "operationId": "dlp-email-scanner-create-rule",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_CreateEmailRule"
              }
            }
          },
          "description": "Rule description.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_EmailRule"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "New Email Scanner Rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "New Email Scanner Rule failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create email scanner rule",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/email/rules/{rule_id}": {
      "delete": {
        "description": "Removes a DLP email scanning rule. The rule will no longer be applied to email messages.",
        "operationId": "dlp-email-scanner-delete-rule",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_EmailRule"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete Email Scanner Rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Delete Email Scanner Rule failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete email scanner rule",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Gets detailed configuration for a specific DLP email scanning rule, including detection patterns and actions.",
        "operationId": "dlp-email-scanner-get-rule",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_EmailRule"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get Email Scanner Rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Get Email Scanner Rule failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get an email scanner rule",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "put": {
        "operationId": "dlp-email-scanner-update-rule",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_CreateEmailRule"
              }
            }
          },
          "description": "Rule description.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_EmailRule"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update Email Scanner Rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Update Email Scanner Rule failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update email scanner rule",
        "tags": [
          "DLP Email"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/entries": {
      "get": {
        "description": "Lists all DLP entries in an account.",
        "operationId": "dlp-entries-list-all-entries",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/dlp_EntryWithUploadStatus"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List all entries response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "List all entries failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List all entries",
        "tags": [
          "DLP Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a DLP custom entry.",
        "operationId": "dlp-entries-create-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_NewEntry"
              }
            }
          },
          "description": "A new entry to create.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_CustomEntry"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create new custom entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Create new custom entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create custom entry",
        "tags": [
          "DLP Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/entries/custom/{entry_id}": {
      "put": {
        "description": "Updates a DLP custom entry.",
        "operationId": "dlp-entries-update-custom-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_CustomEntryUpdate"
              }
            }
          },
          "description": "Update to be applied to the entry.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_CustomEntry"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Update entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update custom entry",
        "tags": [
          "DLP Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/entries/integration": {
      "post": {
        "description": "Integration entries can't be created, this will update an existing integration entry.\nThis is needed for our generated terraform API.",
        "operationId": "dlp-entries-create-integration-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_NewPredefinedEntry"
              }
            }
          },
          "description": "This endpoint will update an existing integration entry. It is not possible to create new integration entries.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_IntegrationEntry"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create integration entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Create entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create integration entry",
        "tags": [
          "DLP Integration Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/entries/integration/{entry_id}": {
      "delete": {
        "description": "This is a no-op as integration entires can't be deleted but is needed for our generated terraform API.",
        "operationId": "dlp-entries-delete-integration-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Empty"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete integration entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Delete entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete integration entry",
        "tags": [
          "DLP Integration Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Updates a DLP entry.",
        "operationId": "dlp-entries-update-integration-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_PredefinedEntryUpdate"
              }
            }
          },
          "description": "Enable or disable integration entry in owning profile.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_IntegrationEntry"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update integration entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Update entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update integration entry",
        "tags": [
          "DLP Integration Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/entries/predefined": {
      "post": {
        "description": "Predefined entries can't be created, this will update an existing predefined entry.\nThis is needed for our generated terraform API.",
        "operationId": "dlp-entries-create-predefined-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_NewPredefinedEntry"
              }
            }
          },
          "description": "This endpoint will update an existing predefined entry. It is not possible to create new predefined entries.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_PredefinedEntry"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create predefined entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Create entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create predefined entry",
        "tags": [
          "DLP Predefined Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/entries/predefined/{entry_id}": {
      "delete": {
        "description": "This is a no-op as predefined entires can't be deleted but is needed for our generated terraform API.",
        "operationId": "dlp-entries-delete-predefined-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Empty"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete predefined entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Delete entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete predefined entry",
        "tags": [
          "DLP Predefined Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Updates a DLP entry.",
        "operationId": "dlp-entries-update-predefined-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_PredefinedEntryUpdate"
              }
            }
          },
          "description": "Settings to enable or disable predefined entry in owning profile.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_PredefinedEntry"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update predefined entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Update entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update predefined entry",
        "tags": [
          "DLP Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/entries/{entry_id}": {
      "delete": {
        "description": "Deletes a DLP custom entry.",
        "operationId": "dlp-entries-delete-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Empty"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete custom entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Delete custom entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete custom entry",
        "tags": [
          "DLP Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Fetches a DLP entry by ID.",
        "operationId": "dlp-entries-get-dlp-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_EntryWithSharedProfiles"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Get entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get DLP Entry",
        "tags": [
          "DLP Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Updates a DLP entry.",
        "operationId": "dlp-entries-update-entry",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "entry_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_EntryUpdate"
              }
            }
          },
          "description": "Update to be applied to the entry.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Entry"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update entry response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Update entry failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update entry",
        "tags": [
          "DLP Entries"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/limits": {
      "get": {
        "description": "Retrieves current DLP usage limits and quotas for the account, including dataset limits and scan quotas.",
        "operationId": "dlp-limits-get",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Limits"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Limits retrieved successfully."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Limits get failed."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Fetch limits associated with DLP for account",
        "tags": [
          "DLP Settings"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/patterns/validate": {
      "post": {
        "description": "Validates whether this pattern is a valid regular expression. Rejects it if\nthe regular expression is too complex or can match an unbounded-length\nstring. The regex will be rejected if it uses `*` or `+`. Bound the maximum\nnumber of characters that can be matched using a range, e.g. `{1,100}`.",
        "operationId": "dlp-pattern-validate",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_RegexValidationQuery"
              }
            }
          },
          "description": "Validation query.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_RegexValidationResult"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Validation response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Failed to validate."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Validate a DLP regex pattern",
        "tags": [
          "DLP Settings"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/payload_log": {
      "get": {
        "description": "Gets the current payload logging configuration for DLP, showing whether matched content is being logged.",
        "operationId": "dlp-payload-log-get",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_PayloadLogSetting"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Payload log settings."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Failed to get payload log settings."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get payload log settings",
        "tags": [
          "DLP Settings"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Enables or disables payload logging for DLP matches. When enabled, matched content is stored for review.",
        "operationId": "dlp-payload-log-put",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_PayloadLogSettingUpdateLegacy"
              }
            }
          },
          "description": "New payload log settings.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_PayloadLogSetting"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Payload log settings."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Failed to set payload log settings."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Set payload log settings",
        "tags": [
          "DLP Settings"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/profiles": {
      "get": {
        "description": "Lists all DLP profiles in an account.",
        "operationId": "dlp-profiles-list-all-profiles",
        "parameters": [
          {
            "description": "Return all profiles, including those that current account does not have access to.",
            "in": "query",
            "name": "all",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_ProfileArray"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List all profiles response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "List all profiles failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List all profiles",
        "tags": [
          "DLP Profiles"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/profiles/custom": {
      "get": {
        "description": "Lists all DLP custom profiles in an account.",
        "operationId": "dlp-profiles-list-all-custom-profiles",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_CustomProfileArray"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List all custom profiles response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "List all profiles failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List all custom profiles",
        "tags": [
          "DLP Profiles"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a DLP custom profile.",
        "operationId": "dlp-profiles-create-custom-profiles",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_NewCustomProfile"
              }
            }
          },
          "description": "A new profile to create.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Profile"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "New custom profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "New custom profile failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create custom profile",
        "tags": [
          "DLP Profiles"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/profiles/custom/{profile_id}": {
      "delete": {
        "description": "Deletes a DLP custom profile.",
        "operationId": "dlp-profiles-delete-custom-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "profile_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Empty"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete custom profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Delete custom profile failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete custom profile",
        "tags": [
          "DLP Profiles"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Fetches a custom DLP profile by id.",
        "operationId": "dlp-profiles-get-custom-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "profile_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Profile"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Custom profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Custom profile failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get custom profile",
        "tags": [
          "DLP Profiles"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Updates a DLP custom profile.",
        "operationId": "dlp-profiles-update-custom-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "profile_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_CustomProfileUpdate"
              }
            }
          },
          "description": "The updated parameters for the profile.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dlp_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dlp_Profile"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update custom profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dlp_api-response-common-failure"
                }
              }
            },
            "description": "Update custom profile failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update custom profile",
        "tags": [
          "DLP Profiles"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/dlp/profiles/predefined": {
      "post": {
        "description": "Creates a DLP predefined profile. Only supports enabling/disabling entries.",
        "operationId": "dlp-profiles-create-predefined-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dlp_NewPredefinedProfile"
              }
            }
          },
[...]
