{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Workers",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/workers/account-settings": {
      "get": {
        "description": "Fetches Worker account settings for an account.",
        "operationId": "worker-account-settings-fetch-worker-account-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_account-settings"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Fetch Worker Account Settings response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Fetch Worker Account Settings response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Fetch Worker Account Settings",
        "tags": [
          "Worker Account Settings"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read",
          "DNS View Write",
          "DNS View Read",
          "SCIM Provisioning",
          "Load Balancers Account Write",
          "Load Balancers Account Read",
          "Zero Trust: PII Read",
          "DDoS Botnet Feed Write",
          "DDoS Botnet Feed Read",
          "Workers R2 Storage Write",
          "Workers R2 Storage Read",
          "DDoS Protection Write",
          "DDoS Protection Read",
          "Workers Tail Read",
          "Workers KV Storage Write",
          "Workers KV Storage Read",
          "Workers Scripts Write",
          "Workers Scripts Read",
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read",
          "Account Firewall Access Rules Write",
          "Account Firewall Access Rules Read",
          "DNS Firewall Write",
          "DNS Firewall Read",
          "Billing Write",
          "Billing Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      },
      "put": {
        "description": "Creates Worker account settings for an account.",
        "operationId": "worker-account-settings-create-worker-account-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/workers_account-settings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_account-settings"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create Worker Account Settings response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Create Worker Account Settings response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Worker Account Settings",
        "tags": [
          "Worker Account Settings"
        ],
        "x-api-token-group": [
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/assets/upload": {
      "post": {
        "description": "Upload assets ahead of creating a Worker version.  To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/.",
        "operationId": "worker-assets-upload",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "base64",
            "required": true,
            "schema": {
              "description": "Whether the file contents are base64-encoded. Must be `true`.",
              "enum": [
                true
              ],
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {
                "*": {
                  "contentType": "*/*"
                }
              },
              "schema": {
                "additionalProperties": {
                  "description": "Base-64 encoded contents of the file. The content type of the file should be included to ensure a valid \"Content-Type\" header is included in asset responses.",
                  "type": "string"
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_completed-upload-assets-response"
                }
              }
            },
            "description": "Upload Assets response."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_upload-assets-response"
                }
              }
            },
            "description": "Upload Assets response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Upload Assets response failure."
          }
        },
        "security": [
          {
            "assets_jwt": []
          }
        ],
        "summary": "Upload Assets",
        "tags": [
          "Worker Script"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces": {
      "get": {
        "description": "Fetch a list of Workers for Platforms namespaces.",
        "operationId": "namespace-worker-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_namespace-list-response"
                }
              }
            },
            "description": "Fetch a list of Workers for Platforms namespaces."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Failure to get list of Workers for Platforms namespaces."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List dispatch namespaces",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "post": {
        "description": "Create a new Workers for Platforms namespace.",
        "operationId": "namespace-worker-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "The name of the dispatch namespace.",
                    "example": "my-dispatch-namespace",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_namespace-single-response"
                }
              }
            },
            "description": "Fetch a list of Workers for Platforms namespaces."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Failure to get list of Workers for Platforms namespaces."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create dispatch namespace",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}": {
      "delete": {
        "description": "Delete a Workers for Platforms namespace.",
        "operationId": "namespace-worker-delete-namespace",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-null-result"
                }
              }
            },
            "description": "Delete a Workers for Platforms namespace."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Failure to delete Workers for Platforms namespace."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete dispatch namespace",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      },
      "get": {
        "description": "Get a Workers for Platforms namespace.",
        "operationId": "namespace-worker-get-namespace",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_namespace-single-response"
                }
              }
            },
            "description": "Get a Workers for Platforms namespace."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Failure to get Workers for Platforms namespace."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get dispatch namespace",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "patch": {
        "description": "Patch a Workers for Platforms namespace. Omitted fields are left unchanged.",
        "operationId": "namespace-worker-patch-namespace",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "The name of the dispatch namespace.",
                    "example": "my-dispatch-namespace",
                    "type": "string",
                    "x-auditable": true
                  },
                  "trusted_workers": {
                    "default": false,
                    "description": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\".",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_namespace-single-response"
                }
              }
            },
            "description": "Patch a Workers for Platforms namespace."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Failure to patch Workers for Platforms namespace."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Patch dispatch namespace",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      },
      "put": {
        "description": "Update a Workers for Platforms namespace.",
        "operationId": "namespace-worker-put-namespace",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "The name of the dispatch namespace.",
                    "example": "my-dispatch-namespace",
                    "type": "string",
                    "x-auditable": true
                  },
                  "trusted_workers": {
                    "default": false,
                    "description": "Whether the Workers in the namespace are executed in a \"trusted\" manner. When a Worker is trusted, it has access to the shared caches for the zone in the Cache API, and has access to the `request.cf` object on incoming Requests. When a Worker is untrusted, caches are not shared across the zone, and `request.cf` is undefined. By default, Workers in a namespace are \"untrusted\".",
                    "example": false,
                    "type": "boolean"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_namespace-single-response"
                }
              }
            },
            "description": "Update a Workers for Platforms namespace."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Failure to update Workers for Platforms namespace."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update dispatch namespace",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts": {
      "delete": {
        "description": "Delete multiple scripts from a Workers for Platforms namespace based on optional tag filters.",
        "operationId": "namespace-worker-delete-scripts",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "description": "Filter scripts by tags before deletion. Format: comma-separated list of tag:allowed pairs where allowed is 'yes' or 'no'.",
            "in": "query",
            "name": "tags",
            "schema": {
              "example": "production:yes,staging:no",
              "type": "string"
            }
          },
          {
            "description": "Limit the number of scripts to delete.",
            "in": "query",
            "name": "limit",
            "schema": {
              "example": 1000,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_namespace-script-delete-bulk-response"
                }
              }
            },
            "description": "Delete scripts in namespace response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Delete scripts in namespace response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Scripts in Namespace",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      },
      "get": {
        "description": "Fetch a list of scripts uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-list-scripts",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "description": "Filter scripts by tags. Format: comma-separated list of tag:allowed pairs where allowed is 'yes' or 'no'.",
            "in": "query",
            "name": "tags",
            "schema": {
              "example": "production:yes,staging:no",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/workers_namespace-script-response"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List scripts in namespace response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "List scripts in namespace response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Scripts in Namespace",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}": {
      "delete": {
        "description": "Delete a worker from a Workers for Platforms namespace. This call has no response body on a successful delete.",
        "operationId": "namespace-worker-script-delete-worker",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          },
          {
            "description": "If set to true, delete will not be stopped by associated service binding, durable object, or other binding. Any of these associated bindings/durable objects will be deleted along with the script.",
            "in": "query",
            "name": "force",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-null-result"
                }
              }
            },
            "description": "Delete Worker response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Delete Worker response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Worker",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      },
      "get": {
        "description": "Fetch information about a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-script-worker-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_namespace-script-response-single"
                }
              }
            },
            "description": "Worker Details Response (Workers for Platforms)."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Worker Details Failure (Workers for Platforms)."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Worker Details",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "put": {
        "description": "Upload a worker module to a Workers for Platforms namespace. You can find more about the multipart metadata on our docs: https://developers.cloudflare.com/workers/configuration/multipart-upload-metadata/.",
        "operationId": "namespace-worker-script-upload-worker-module",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          },
          {
            "description": "When set to \"strict\", the upload will fail if any `inherit` type bindings cannot be resolved against the previous version of the script. Without this, unresolvable inherit bindings are silently dropped.",
            "in": "query",
            "name": "bindings_inherit",
            "schema": {
              "enum": [
                "strict"
              ],
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/workers_namespace_upload"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/workers_200"
          },
          "4XX": {
            "$ref": "#/components/responses/workers_4XX"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Upload Worker Module",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/assets-upload-session": {
      "post": {
        "description": "Start uploading a collection of assets for use in a Worker version. To learn more about the direct uploads of assets, see https://developers.cloudflare.com/workers/static-assets/direct-upload/.",
        "operationId": "namespace-worker-script-update-create-assets-upload-session",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/workers_create-assets-upload-session-object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_create-assets-upload-session-response"
                }
              }
            },
            "description": "Create Assets Upload Session response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Create Assets Upload Session response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Assets Upload Session",
        "tags": [
          "Workers for Platforms"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/bindings": {
      "get": {
        "description": "Fetch script bindings from a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-get-script-bindings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_bindings"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Fetch script bindings (Workers for Platforms)."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Fetch script bindings failure (Workers for Platforms)."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Script Bindings",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/content": {
      "get": {
        "description": "Fetch script content from a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-get-script-content",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "string": {
                "schema": {
                  "example": "export default {\n  async fetch(request, env, ctx) {\n    return new Response(\"Hello, world!\");\n  }\n};\n",
                  "type": "string"
                }
              }
            },
            "description": "Get script content."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Get script content failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Script Content",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "put": {
        "description": "Put script content for a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-put-script-content",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          },
          {
            "description": "The multipart name of a script upload part containing script content in service worker format. Alternative to including in a metadata part.",
            "in": "header",
            "name": "CF-WORKER-BODY-PART",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The multipart name of a script upload part containing script content in es module format. Alternative to including in a metadata part.",
            "in": "header",
            "name": "CF-WORKER-MAIN-MODULE-PART",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {
                "files": {
                  "contentType": "application/javascript+module, text/javascript+module, application/javascript, text/javascript, text/x-python, text/x-python-requirement, application/wasm, text/plain, application/octet-stream, application/source-map"
                },
                "metadata": {
                  "contentType": "application/json"
                }
              },
              "schema": {
                "properties": {
                  "files": {
                    "description": "An array of modules (often JavaScript files) comprising a Worker script. At least one module must be present and referenced in the metadata as `main_module` or `body_part` by filename.<br/>Possible Content-Type(s) are: `application/javascript+module`, `text/javascript+module`, `application/javascript`, `text/javascript`, `text/x-python`, `text/x-python-requirement`, `application/wasm`, `text/plain`, `application/octet-stream`, `application/source-map`.",
                    "items": {
                      "format": "binary",
                      "type": "string"
                    },
                    "type": "array",
                    "x-stainless-collection-type": "set"
                  },
                  "metadata": {
                    "description": "JSON-encoded metadata about the uploaded parts and Worker configuration.",
                    "properties": {
                      "body_part": {
                        "description": "Name of the part in the multipart request that contains the script (e.g. the file adding a listener to the `fetch` event). Indicates a `service worker syntax` Worker.",
                        "example": "worker.js",
                        "type": "string"
                      },
                      "main_module": {
                        "description": "Name of the part in the multipart request that contains the main module (e.g. the file exporting a `fetch` handler). Indicates a `module syntax` Worker.",
                        "example": "worker.js",
                        "type": "string"
                      }
                    },
                    "type": "object"
                  }
                },
                "required": [
                  "metadata"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_script-response-single"
                }
              }
            },
            "description": "Put script content (Workers for Platforms)."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Put script content failure (Workers for Platforms)."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Put Script Content",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets": {
      "get": {
        "description": "List secrets bound to a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-list-script-secrets",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/workers_secret"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List script secrets."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "List script secrets failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Script Secrets",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "put": {
        "description": "Add a secret to a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-put-script-secrets",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/workers_secret"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_secret"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Fetch script bindings (Workers for Platforms)."
          },
          "429": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Too many requests are currently modifying the script."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Fetch script bindings failure (Workers for Platforms)."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Add script secret",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/secrets/{secret_name}": {
      "delete": {
        "description": "Remove a secret from a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-delete-script-secret",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "secret_name",
            "required": true,
            "schema": {
              "description": "A JavaScript variable name for the secret binding.",
              "example": "mySecret",
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "url_encoded",
            "schema": {
              "description": "Flag that indicates whether the secret name is URL encoded.",
              "example": true,
              "readOnly": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-null-result"
                }
              }
            },
            "description": "Delete script secret binding (Workers for Platforms)."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Delete script secret failure (Workers for Platforms)."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete script secret",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      },
      "get": {
        "description": "Get a given secret binding (value omitted) on a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-get-script-secrets",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "secret_name",
            "required": true,
            "schema": {
              "description": "A JavaScript variable name for the secret binding.",
              "example": "mySecret",
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "url_encoded",
            "schema": {
              "description": "Flag that indicates whether the secret name is URL encoded.",
              "example": true,
              "readOnly": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_secret"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get script secret (Workers for Platforms)."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Get script secret failure (Workers for Platforms)."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get secret binding",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/settings": {
      "get": {
        "description": "Get script settings from a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-get-script-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_namespace-script-and-version-settings-item"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Fetch script settings."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Fetch script settings failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Script Settings",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "patch": {
        "description": "Patch script metadata, such as bindings.",
        "operationId": "namespace-worker-patch-script-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {
                "settings": {
                  "contentType": "application/json"
                }
              },
              "schema": {
                "properties": {
                  "settings": {
                    "$ref": "#/components/schemas/workers_namespace-script-and-version-settings-item"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_namespace-script-and-version-settings-item"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Patch script settings."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Patch script settings failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Patch Script Settings",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/tags": {
      "get": {
        "description": "Fetch tags from a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-get-script-tags",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "example": [
                            "free",
                            "customer"
                          ],
                          "items": {
                            "example": "my-tag",
                            "maxLength": 1024,
                            "pattern": "^[^,&]*$",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Fetch script tags."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Fetch script tags failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Script Tags",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Tail Read",
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "put": {
        "description": "Put script tags for a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-put-script-tags",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/workers_tags"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "example": [
                            "my-tag"
                          ],
                          "items": {
                            "example": "my-tag",
                            "maxLength": 1024,
                            "pattern": "^[^,&]*$",
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Fetch script tags."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Fetch script tags failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Put Script Tags",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/dispatch/namespaces/{dispatch_namespace}/scripts/{script_name}/tags/{tag}": {
      "delete": {
        "description": "Delete script tag for a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-delete-script-tag",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "example": "my-tag",
              "maxLength": 1024,
              "pattern": "^[^,&]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-null-result"
                }
              }
            },
            "description": "Delete script tag."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Delete script tag failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Script Tag",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      },
      "put": {
        "description": "Put a single tag on a script uploaded to a Workers for Platforms namespace.",
        "operationId": "namespace-worker-put-script-tag",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "dispatch_namespace",
            "required": true,
            "schema": {
              "description": "Name of the Workers for Platforms dispatch namespace.",
              "example": "my-dispatch-namespace",
              "pattern": "^.+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "script_name",
            "required": true,
            "schema": {
              "description": "Name of the script, used in URLs and route configuration.",
              "example": "this-is_my_script-01",
              "pattern": "^[a-z0-9_][a-z0-9-_]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tag",
            "required": true,
            "schema": {
              "example": "my-tag",
              "maxLength": 1024,
              "pattern": "^[^,&]*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-null-result"
                }
              }
            },
            "description": "Put script tag."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Put script tag failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Put Script Tag",
        "tags": [
          "Workers for Platforms"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/domains": {
      "get": {
        "description": "Lists all domains for an account.",
        "operationId": "workers.domains.list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "description": "ID of the zone containing the domain hostname.",
              "example": "593c9c94de529bbbfaac7c53ced0447d",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "zone_name",
            "schema": {
              "description": "Name of the zone containing the domain hostname.",
              "example": "example.com",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "service",
            "schema": {
              "description": "Name of the Worker associated with the domain.",
              "example": "my-worker",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "hostname",
            "schema": {
              "description": "Hostname of the domain.",
              "example": "app.example.com",
              "type": "string"
            }
          },
          {
            "deprecated": true,
            "in": "query",
            "name": "environment",
            "schema": {
              "description": "Worker environment associated with the domain.",
              "example": "production",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/workers_Domain"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List domains response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "List domains failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Domains",
        "tags": [
          "Domains"
        ],
        "x-api-token-group": [
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      },
      "put": {
        "description": "Attaches a domain that routes traffic to a Worker.",
        "operationId": "workers.domains.update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/workers_Domain"
                  },
                  {
                    "required": [
                      "hostname",
                      "service"
                    ],
                    "type": "object"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_Domain"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Attach domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Attach domain failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Attach Domain",
        "tags": [
          "Domains"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      }
    },
    "/accounts/{account_id}/workers/domains/{domain_id}": {
      "delete": {
        "description": "Detaches a domain from a Worker. Both the Worker and all of its previews are no longer routable using this domain.",
        "operationId": "workers.domains.delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "domain_id",
            "required": true,
            "schema": {
              "description": "ID of the domain.",
              "example": "dbe10b4bc17c295377eabd600e1787fd",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common"
                }
              }
            },
            "description": "Detach domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Detach domain failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Detach Domain",
        "tags": [
          "Domains"
        ],
        "x-api-token-group": [
          "Workers Scripts Write"
        ]
      },
      "get": {
        "description": "Gets information about a domain.",
        "operationId": "workers.domains.get",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "domain_id",
            "required": true,
            "schema": {
              "description": "ID of the domain.",
              "example": "dbe10b4bc17c295377eabd600e1787fd",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/workers_Domain"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/workers_api-response-common-failure"
                }
              }
            },
            "description": "Get domain failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Domain",
        "tags": [
          "Domains"
        ],
        "x-api-token-group": [
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      }
    },
    "/accounts/{account_id}/workers/durable_objects/namespaces": {
      "get": {
        "description": "Returns the Durable Object namespaces owned by an account.",
        "operationId": "durable-objects-namespace-list-namespaces",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "description": "Current page.",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Items per-page.",
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/workers_namespace"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List Namespaces response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/workers_api-response-collection"
                        },
                        {
                          "properties": {
                            "result": {
                              "items": {
                                "$ref": "#/components/schemas/workers_namespace"
                              },
                              "type": "array"
                            }
                          },
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "$ref": "#/components/schemas/workers_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Namespaces response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Namespaces",
        "tags": [
          "Durable Objects Namespace"
        ],
        "x-api-token-group": [
          "Workers Scripts Write",
          "Workers Scripts Read"
        ]
      }
    },
    "/accounts/{account_id}/workers/durable_objects/namespaces/{id}/objects": {
      "get": {
        "description": "Returns the Durable Objects in a given namespace.",
        "operationId": "durable-objects-namespace-list-objects",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "ID of the namespace.",
              "example": "5fd1cafff895419c8bcc647fc64ab8f0",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 1000,
              "description": "The number of objects to return. The cursor attribute may be used to iterate over the next batch of objects if there are more than the limit.",
              "maximum": 10000,
              "minimum": 10,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Opaque token indicating the position from which to continue when requesting the next set of records. A valid value for the cursor can be obtained from the cursors object in the result_info structure.",
              "example": "AAAAANuhDN7SjacTnSVsDu3WW1Lvst6dxJGTjRY5BhxPXdf6L6uTcpd_NVtjhn11OUYRsVEykxoUwF-JQU4dn6QylZSKTOJuG0indrdn_MlHpMRtsxgXjs-RPdHYIVm3odE_uvEQ_dTQGFm8oikZMohns34DLBgrQpc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/workers_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/workers_object"
                          },
                          "type": "array"
                        },
                        "result_info": {
                          "properties": {
                            "count": {
                              "description": "Total results returned based on your list parameters.",
                              "example": 1,
                              "type": "number"
                            },
                            "cursor": {
                              "description": "Opaque token indicating the position from which to continue when requesting the next set of records. A valid value for the cursor can be obtained from the cursors object in the result_info structure.",
                              "example": "AAAAANuhDN7SjacTnSVsDu3WW1Lvst6dxJGTjRY5BhxPXdf6L6uTcpd_NVtjhn11OUYRsVEykxoUwF-JQU4dn6QylZSKTOJuG0indrdn_MlHpMRtsxgXjs-RPdHYIVm3odE_uvEQ_dTQGFm8oikZMohns34DLBgrQpc",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List Objects response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/workers_api-response-collection"
                        },
                        {
                          "properties": {
                            "result": {
                              "items": {
                                "$ref": "#/components/schemas/workers_object"
                              },
                              "type": "array"
                            },
                            "result_info": {
                              "properties": {
                                "count": {
                                  "description": "Total results returned based on your list parameters.",
                                  "example": 1,
                                  "type": "number"
                                },
                                "cursor": {
                                  "description": "Opaque token indicating the position from which to continue when requesting the next set of records. A valid value for the cursor can be obtained from the cursors object in the result_info structure.",
                                  "example": "AAAAANuhDN7SjacTnSVsDu3WW1Lvst6dxJGTjRY5BhxPXdf6L6uTcpd_NVtjhn11OUYRsVEykxoUwF-JQU4dn6QylZSKTOJuG0indrdn_MlHpMRtsxgXjs-RPdHYIVm3odE_uvEQ_dTQGFm8oikZMohns34DLBgrQpc",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            }
                          },
                          "type": "object"
                        }
                      ]
                    },
                    {
                      "$ref": "#/components/schemas/workers_api-response-common-failure"
                    }
                  ]
                }
              }
[...]
