{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Security",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/firewall/access_rules/rules": {
      "get": {
        "description": "Fetches IP Access rules of an account. These rules apply to all the zones in the account. You can filter the results using several optional parameters.",
        "operationId": "ip-access-rules-for-an-account-list-ip-access-rules",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Defines an account identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "mode",
            "schema": {
              "description": "The action to apply to a matched request.",
              "enum": [
                "block",
                "challenge",
                "whitelist",
                "js_challenge",
                "managed_challenge"
              ],
              "example": "challenge",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "configuration.target",
            "schema": {
              "description": "Defines the target to search in existing rules.",
              "enum": [
                "ip",
                "ip_range",
                "asn",
                "country"
              ],
              "example": "ip",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "configuration.value",
            "schema": {
              "description": "Defines the target value to search for in existing rules: an IP address, an IP address range, or a country code, depending on the provided `configuration.target`.\nNotes: You can search for a single IPv4 address, an IP address range with a subnet of '/16' or '/24', or a two-letter ISO-3166-1 alpha-2 country code.",
              "example": "198.51.100.4",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "notes",
            "schema": {
              "description": "Defines the string to search for in the notes of existing IP Access rules.\nNotes: For example, the string 'attack' would match IP Access rules with notes 'Attack 26/02' and 'Attack 27/02'. The search is case insensitive.",
              "example": "my note",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "match",
            "schema": {
              "default": "all",
              "description": "Defines the search requirements. When set to `all`, all the search requirements must match. When set to `any`, only one of the search requirements has to match.",
              "enum": [
                "any",
                "all"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Defines the requested page within paginated list of results.",
              "example": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "Defines the maximum number of results requested.",
              "example": 20,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "Defines the field used to sort returned rules.",
              "enum": [
                "configuration.target",
                "configuration.value",
                "mode"
              ],
              "example": "mode",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "description": "Defines the direction used to sort returned rules.",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall_response_collection"
                }
              }
            },
            "description": "List IP Access rules response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/firewall_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/firewall_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List IP Access rules response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List IP Access rules",
        "tags": [
          "IP Access rules for an account"
        ],
        "x-api-token-group": [
          "Account Firewall Access Rules Write",
          "Account Firewall Access Rules Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#waf:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new IP Access rule for an account. The rule will apply to all zones in the account.\n\nNote: To create an IP Access rule that applies to a single zone, refer to the [IP Access rules for a zone](#ip-access-rules-for-a-zone) endpoints.",
        "operationId": "ip-access-rules-for-an-account-create-an-ip-access-rule",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Defines an account identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "configuration": {
                    "$ref": "#/components/schemas/firewall_configuration"
                  },
                  "mode": {
                    "description": "The action to apply to a matched request.",
                    "enum": [
                      "block",
                      "challenge",
                      "whitelist",
                      "js_challenge",
                      "managed_challenge"
                    ],
                    "example": "challenge",
                    "type": "string"
                  },
                  "notes": {
                    "allOf": [
                      {
                        "description": "An informative summary of the rule, typically used as a reminder or explanation.",
                        "example": "This rule is enabled because of an event that occurred on date X.",
                        "type": "string"
                      },
                      {
                        "default": ""
                      }
                    ]
                  }
                },
                "required": [
                  "mode",
                  "configuration"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall_response_single"
                }
              }
            },
            "description": "Create an IP Access rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/firewall_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/firewall_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create an IP Access rule response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create an IP Access rule",
        "tags": [
          "IP Access rules for an account"
        ],
        "x-api-token-group": [
          "Account Firewall Access Rules Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#waf:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/firewall/access_rules/rules/{rule_id}": {
      "delete": {
        "description": "Deletes an existing IP Access rule defined at the account level.\n\nNote: This operation will affect all zones in the account.",
        "operationId": "ip-access-rules-for-an-account-delete-an-ip-access-rule",
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "description": "Unique identifier for a rule.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Defines an account identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall_api-response-single-id"
                }
              }
            },
            "description": "Delete an IP Access rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/firewall_api-response-single-id"
                    },
                    {
                      "$ref": "#/components/schemas/firewall_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete an IP Access rule response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete an IP Access rule",
        "tags": [
          "IP Access rules for an account"
        ],
        "x-api-token-group": [
          "Account Firewall Access Rules Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#waf:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Fetches the details of an IP Access rule defined at the account level.",
        "operationId": "ip-access-rules-for-an-account-get-an-ip-access-rule",
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "description": "Unique identifier for a rule.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Defines an account identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall_response_single"
                }
              }
            },
            "description": "Get an IP Access rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/firewall_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/firewall_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get an IP Access rule response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get an IP Access rule",
        "tags": [
          "IP Access rules for an account"
        ],
        "x-api-token-group": [
          "Account Firewall Access Rules Write",
          "Account Firewall Access Rules Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#waf:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "patch": {
        "description": "Updates an IP Access rule defined at the account level.\n\nNote: This operation will affect all zones in the account.",
        "operationId": "ip-access-rules-for-an-account-update-an-ip-access-rule",
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "description": "Unique identifier for a rule.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Defines an account identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/firewall_schemas-rule"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/firewall_response_single"
                }
              }
            },
            "description": "Update an IP Access rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/firewall_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/firewall_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update an IP Access rule response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update an IP Access rule",
        "tags": [
          "IP Access rules for an account"
        ],
        "x-api-token-group": [
          "Account Firewall Access Rules Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#waf:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/mtls_certificates": {
      "get": {
        "description": "Lists all mTLS certificates uploaded to your account, such as Bring Your Own CA (BYO-CA) for mTLS. To list certificates issued by the Cloudflare managed CA, use the [List Client Certificates endpoint](/api/resources/client_certificates/methods/list/).",
        "operationId": "m-tls-certificate-management-list-m-tls-certificates",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_mtls-management_components-schemas-certificate_response_collection"
                }
              }
            },
            "description": "List mTLS certificates response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_mtls-management_components-schemas-certificate_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List mTLS certificates response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "List mTLS certificates",
        "tags": [
          "mTLS Certificate Management"
        ],
        "x-api-token-group": [
          "Account: SSL and Certificates Read",
          "Account: SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Upload a certificate that you want to use with mTLS-enabled Cloudflare services, such as Bring Your Own CA (BYO-CA) for mTLS. To create certificates issued by the Cloudflare managed CA, use the [Create Client Certificate endpoint](/api/resources/client_certificates/methods/create/).",
        "operationId": "m-tls-certificate-management-upload-m-tls-certificate",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ca": {
                    "description": "Indicates whether the certificate is a CA or leaf certificate.",
                    "example": true,
                    "type": "boolean"
                  },
                  "certificates": {
                    "description": "The uploaded root CA certificate.",
                    "example": "-----BEGIN CERTIFICATE-----\nMIIDmDCCAoCgAwIBAgIUKTOAZNjcXVZRj4oQt0SHsl1c1vMwDQYJKoZIhvcNAQEL\nBQAwUTELMAkGA1UEBhMCVVMxFjAUBgNVBAgMDVNhbiBGcmFuY2lzY28xEzARBgNV\nBAcMCkNhbGlmb3JuaWExFTATBgNVBAoMDEV4YW1wbGUgSW5jLjAgFw0yMjExMjIx\nNjU5NDdaGA8yMTIyMTAyOTE2NTk0N1owUTELMAkGA1UEBhMCVVMxFjAUBgNVBAgM\nDVNhbiBGcmFuY2lzY28xEzARBgNVBAcMCkNhbGlmb3JuaWExFTATBgNVBAoMDEV4\nYW1wbGUgSW5jLjCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAMRcORwg\nJFTdcG/2GKI+cFYiOBNDKjCZUXEOvXWY42BkH9wxiMT869CO+enA1w5pIrXow6kC\nM1sQspHHaVmJUlotEMJxyoLFfA/8Kt1EKFyobOjuZs2SwyVyJ2sStvQuUQEosULZ\nCNGZEqoH5g6zhMPxaxm7ZLrrsDZ9maNGVqo7EWLWHrZ57Q/5MtTrbxQL+eXjUmJ9\nK3kS+3uEwMdqR6Z3BluU1ivanpPc1CN2GNhdO0/hSY4YkGEnuLsqJyDd3cIiB1Mx\nuCBJ4ZaqOd2viV1WcP3oU3dxVPm4MWyfYIldMWB14FahScxLhWdRnM9YZ/i9IFcL\nypXsuz7DjrJPtPUCAwEAAaNmMGQwHQYDVR0OBBYEFP5JzLUawNF+c3AXsYTEWHh7\nz2czMB8GA1UdIwQYMBaAFP5JzLUawNF+c3AXsYTEWHh7z2czMA4GA1UdDwEB/wQE\nAwIBBjASBgNVHRMBAf8ECDAGAQH/AgEBMA0GCSqGSIb3DQEBCwUAA4IBAQBc+Be7\nNDhpE09y7hLPZGRPl1cSKBw4RI0XIv6rlbSTFs5EebpTGjhx/whNxwEZhB9HZ711\n1Oa1YlT8xkI9DshB78mjAHCKBAJ76moK8tkG0aqdYpJ4ZcJTVBB7l98Rvgc7zfTi\ni7WemTy72deBbSeiEtXavm4EF0mWjHhQ5Nxpnp00Bqn5g1x8CyTDypgmugnep+xG\n+iFzNmTdsz7WI9T/7kDMXqB7M/FPWBORyS98OJqNDswCLF8bIZYwUBEe+bRHFomo\nShMzaC3tvim7WCb16noDkSTMlfKO4pnvKhpcVdSgwcruATV7y+W+Lvmz2OT/Gui4\nJhqeoTewsxndhDDE\n-----END CERTIFICATE-----",
                    "type": "string"
                  },
                  "name": {
                    "description": "Optional unique name for the certificate. Only used for human readability.",
                    "example": "example_ca_cert",
                    "type": "string"
                  },
                  "private_key": {
                    "description": "The private key for the certificate. This field is only needed for specific use cases such as using a custom certificate with Zero Trust's block page.",
                    "example": "-----BEGIN PRIVATE KEY-----\nMIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQDEXDkcICRU3XBv\n9hiiPnBWIjgTQyowmVFxDr11mONgZB/cMYjE/OvQjvnpwNcOaSK16MOpAjNbELKR\nx2lZiVJaLRDCccqCxXwP/CrdRChcqGzo7mbNksMlcidrErb0LlEBKLFC2QjRmRKq\nB+YOs4TD8WsZu2S667A2fZmjRlaqOxFi1h62ee0P+TLU628UC/nl41JifSt5Evt7\nhMDHakemdwZblNYr2p6T3NQjdhjYXTtP4UmOGJBhJ7i7Kicg3d3CIgdTMbggSeGW\nqjndr4ldVnD96FN3cVT5uDFsn2CJXTFgdeBWoUnMS4VnUZzPWGf4vSBXC8qV7Ls+\nw46yT7T1AgMBAAECggEAQZnp/oqCeNPOR6l5S2L+1tfx0gWjZ78hJVteUpZ0iHSK\n7F6kKeOxyOird7vUXV0kmo+cJq+0hp0Ke4eam640FCpwKfYoSQ4/R3vgujGWJnai\nhCN5tv5sMet0XeJPuz5qE7ALoKCvwI6aXLHs20aAeZIDTQJ9QbGSGnJVzOWn+JDT\nidIgZpN57RpXfSAwnJPTQK/PN8i5z108hsaDOdEgGmxYZ7kYqMqzX20KXmth58LD\nfPixs5JGtS60iiKC/wOcGzkB2/AdTSojR76oEU77cANP/3zO25NG//whUdYlW0t0\nd7PgXxIeJe+xgYnamDQJx3qonVyt4H77ha0ObRAj9QKBgQDicZr+VTwFMnELP3a+\nFXGnjehRiuS1i7MXGKxNweCD+dFlML0FplSQS8Ro2n+d8lu8BBXGx0qm6VXu8Rhn\n7TAUL6q+PCgfarzxfIhacb/TZCqfieIHsMlVBfhV5HCXnk+kis0tuC/PRArcWTwD\nHJUJXkBhvkUsNswvQzavDPI7KwKBgQDd/WgLkj7A3X5fgIHZH/GbDSBiXwzKb+rF\n4ZCT2XFgG/OAW7vapfcX/w+v+5lBLyrocmOAS3PGGAhM5T3HLnUCQfnK4qgps1Lq\nibkc9Tmnsn60LanUjuUMsYv/zSw70tozbzhJ0pioEpWfRxRZBztO2Rr8Ntm7h6Fk\n701EXGNAXwKBgQCD1xsjy2J3sCerIdcz0u5qXLAPkeuZW+34m4/ucdwTWwc0gEz9\nlhsULFj9p4G351zLuiEnq+7mAWLcDJlmIO3mQt6JhiLiL9Y0T4pgBmxmWqKKYtAs\nJB0EmMY+1BNN44mBRqMxZFTJu1cLdhT/xstrOeoIPqytknYNanfTMZlzIwKBgHrL\nXe5oq0XMP8dcMneEcAUwsaU4pr6kQd3L9EmUkl5zl7J9C+DaxWAEuwzBw/iGutlx\nzRB+rD/7szu14wJ29EqXbDGKRzMp+se5/yfBjm7xEZ1hVPw7PwBShfqt57X/4Ktq\n7lwHnmH6RcGhc+P7WBc5iO/S94YAdIp8xOT3pf9JAoGAE0QkqJUY+5Mgr+fBO0VN\nV72ZoPveGpW+De59uhKAOnu1zljQCUtk59m6+DXfm0tNYKtawa5n8iN71Zh+s62x\nXSt3pYi1Y5CCCmv8Y4BhwIcPwXKk3zEvLgSHVTpC0bayA9aSO4bbZgVXa5w+Z0w/\nvvfp9DWo1IS3EnQRrz6WMYA=\n-----END PRIVATE KEY-----",
                    "type": "string"
                  }
                },
                "required": [
                  "certificates",
                  "ca"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_certificate_response_single_post"
                }
              }
            },
            "description": "Upload mTLS certificate response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_certificate_response_single_post"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Upload mTLS certificate response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Upload mTLS certificate",
        "tags": [
          "mTLS Certificate Management"
        ],
        "x-api-token-group": [
          "Account: SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/mtls_certificates/{mtls_certificate_id}": {
      "delete": {
        "description": "Deletes the mTLS certificate unless the certificate is in use by one or more Cloudflare services.",
        "operationId": "m-tls-certificate-management-delete-m-tls-certificate",
        "parameters": [
          {
            "in": "path",
            "name": "mtls_certificate_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_mtls-management_components-schemas-certificate_response_single"
                }
              }
            },
            "description": "Delete mTLS certificate response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_mtls-management_components-schemas-certificate_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete mTLS certificate response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Delete mTLS certificate",
        "tags": [
          "mTLS Certificate Management"
        ],
        "x-api-token-group": [
          "Account: SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Fetches a single mTLS certificate uploaded to your account. To get a certificate issued by the Cloudflare managed CA, use the [Client Certificate Details endpoint](/api/resources/client_certificates/methods/get/).",
        "operationId": "m-tls-certificate-management-get-m-tls-certificate",
        "parameters": [
          {
            "in": "path",
            "name": "mtls_certificate_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_mtls-management_components-schemas-certificate_response_single"
                }
              }
            },
            "description": "Get mTLS certificate response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_mtls-management_components-schemas-certificate_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get mTLS certificate response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Get mTLS certificate",
        "tags": [
          "mTLS Certificate Management"
        ],
        "x-api-token-group": [
          "Account: SSL and Certificates Read",
          "Account: SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/mtls_certificates/{mtls_certificate_id}/associations": {
      "get": {
        "description": "Lists all active associations between the certificate and Cloudflare services.",
        "operationId": "m-tls-certificate-management-list-m-tls-certificate-associations",
        "parameters": [
          {
            "in": "path",
            "name": "mtls_certificate_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_association_response_collection"
                }
              }
            },
            "description": "List mTLS certificate associations response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_association_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List mTLS certificate associations response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "List mTLS certificate associations",
        "tags": [
          "mTLS Certificate Management"
        ],
        "x-api-token-group": [
          "Account: SSL and Certificates Read",
          "Account: SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rules/lists": {
      "get": {
        "description": "Fetches all lists in the account.",
        "operationId": "lists-get-lists",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_lists-response-collection"
                }
              }
            },
            "description": "Get lists response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_lists-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get lists response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get lists",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Read",
          "Account Filter Lists Edit"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new list of the specified kind.",
        "operationId": "lists-create-a-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "An informative summary of the list.",
                    "example": "This is a note",
                    "maxLength": 500,
                    "type": "string"
                  },
                  "kind": {
                    "$ref": "#/components/schemas/lists_kind"
                  },
                  "name": {
                    "description": "An informative name for the list. Use this name in filter and rule expressions.",
                    "example": "list1",
                    "maxLength": 50,
                    "pattern": "^[a-zA-Z0-9_]+$",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "kind"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_list-response-collection"
                }
              }
            },
            "description": "Create a list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_list-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a list",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rules/lists/bulk_operations/{operation_id}": {
      "get": {
        "description": "Gets the current status of an asynchronous operation on a list.\n\nThe `status` property can have one of the following values: `pending`, `running`, `completed`, or `failed`. If the status is `failed`, the `error` property will contain a message describing the error.",
        "operationId": "lists-get-bulk-operation-status",
        "parameters": [
          {
            "in": "path",
            "name": "operation_id",
            "required": true,
            "schema": {
              "description": "The unique operation ID of the asynchronous action.",
              "example": "4da8780eeb215e6cb7f48dd981c4ea02",
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_bulk-operation-response-single"
                }
              }
            },
            "description": "Get bulk operation status response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_bulk-operation-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get bulk operation status response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get bulk operation status",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit",
          "Account Filter Lists Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rules/lists/{list_id}": {
      "delete": {
        "description": "Deletes a specific list and all its items.",
        "operationId": "lists-delete-a-list",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_list-delete-response-collection"
                }
              }
            },
            "description": "Delete a list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_list-delete-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a list",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Fetches the details of a list.",
        "operationId": "lists-get-a-list",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_list-response-collection"
                }
              }
            },
            "description": "Get a list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_list-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get a list",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Updates the description of a list.",
        "operationId": "lists-update-a-list",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "An informative summary of the list.",
                    "example": "This is a note",
                    "maxLength": 500,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_list-response-collection"
                }
              }
            },
            "description": "Update a list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_list-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update a list",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rules/lists/{list_id}/items": {
      "delete": {
        "description": "Removes one or more items from a list.\n\nThis operation is asynchronous. To get current the operation status, invoke the `Get bulk operation status` endpoint with the returned `operation_id`.\n\nThere is a limit of 1 pending bulk operation per account. If an outstanding bulk operation is in progress, the request will be rejected.",
        "operationId": "lists-delete-list-items",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "items": {
                    "items": {
                      "example": {
                        "id": "34b12448945f11eaa1b71c4d701ab86e"
                      },
                      "properties": {
                        "id": {
                          "description": "Defines the unique ID of the item in the List.",
                          "example": "34b12448945f11eaa1b71c4d701ab86e",
                          "maxLength": 32,
                          "minLength": 32,
                          "type": "string",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "id"
                      ],
                      "type": "object"
                    },
                    "minItems": 1,
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_lists-async-response"
                }
              }
            },
            "description": "Delete list items response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_lists-async-response"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete list items response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete list items",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Fetches all the items in the list.",
        "operationId": "lists-get-list-items",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The pagination cursor. An opaque string token indicating the position from which to continue when requesting the next/previous set of records. Cursor values are provided under `result_info.cursors` in the response. You should make no assumptions about a cursor's content or length.",
              "example": "zzz",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "Amount of results to include in each paginated response. A non-negative 32 bit integer.",
              "maximum": 500,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "A search query to filter returned items. Its meaning depends on the list type: IP addresses must start with the provided string, hostnames and bulk redirects must contain the string, and ASNs must match the string exactly.",
              "example": "1.1.1.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_items-list-response-collection"
                }
              }
            },
            "description": "Get list items response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_items-list-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get list items response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get list items",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit",
          "Account Filter Lists Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Appends new items to the list.\n\nThis operation is asynchronous. To get current the operation status, invoke the `Get bulk operation status` endpoint with the returned `operation_id`.\n\nThere is a limit of 1 pending bulk operation per account. If an outstanding bulk operation is in progress, the request will be rejected.",
        "operationId": "lists-create-list-items",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/lists_items-update-request-collection"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_lists-async-response"
                }
              }
            },
            "description": "Create list items response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_lists-async-response"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create list items response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create list items",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Removes all existing items from the list and adds the provided items to the list.\n\nThis operation is asynchronous. To get current the operation status, invoke the `Get bulk operation status` endpoint with the returned `operation_id`.\n\nThere is a limit of 1 pending bulk operation per account. If an outstanding bulk operation is in progress, the request will be rejected.",
        "operationId": "lists-update-all-list-items",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/lists_items-update-request-collection"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_lists-async-response"
                }
              }
            },
            "description": "Update all list items response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_lists-async-response"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update all list items response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update all list items",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rules/lists/{list_id}/items/{item_id}": {
      "get": {
        "description": "Fetches a list item in the list.",
        "operationId": "lists-get-a-list-item",
        "parameters": [
          {
            "in": "path",
            "name": "item_id",
            "required": true,
            "schema": {
              "description": "Defines the unique ID of the item in the List.",
              "example": "34b12448945f11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the list.",
              "example": "2c0fc9fa937b11eaa1b71c4d701ab86e",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The Account ID for this resource.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/lists_item-response-single"
                }
              }
            },
            "description": "Get a list item response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/lists_item-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/lists_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a list item response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get a list item",
        "tags": [
          "Lists"
        ],
        "x-api-token-group": [
          "Account Filter Lists Edit",
          "Account Filter Lists Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets": {
      "get": {
        "description": "Fetches all rulesets at the account level.",
        "operationId": "listAccountRulesets",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "The cursor to use for the next page.",
              "example": "dGhpc2lzYW5leGFtcGxlCg",
              "minLength": 1,
              "title": "Cursor",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "The number of rulesets to return per page.",
              "example": 3,
              "maximum": 50,
              "minimum": 1,
              "title": "Per Page",
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Rulesets"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List account rulesets",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Mass URL Redirects Read",
          "Magic Firewall Write",
          "Magic Firewall Read",
          "L4 DDoS Managed Ruleset Write",
          "L4 DDoS Managed Ruleset Read",
          "Transform Rules Write",
          "Transform Rules Read",
          "Select Configuration Write",
          "Select Configuration Read",
          "Account WAF Write",
          "Account WAF Read",
          "Account Rulesets Read",
          "Account Rulesets Write",
          "Logs Write",
          "Logs Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a ruleset at the account level.",
        "operationId": "createAccountRuleset",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/rulesets_CreateRuleset"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create an account ruleset",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Magic Firewall Write",
          "L4 DDoS Managed Ruleset Write",
          "Transform Rules Write",
          "Select Configuration Write",
          "Account WAF Write",
          "Account Rulesets Write",
          "Logs Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint": {
      "get": {
        "description": "Fetches the latest version of the account entry point ruleset for a given phase.",
        "operationId": "getAccountEntrypointRuleset",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_phase",
            "required": true,
            "schema": {
              "description": "The phase of the ruleset.",
              "enum": [
                "ddos_l4",
                "ddos_l7",
                "http_config_settings",
                "http_custom_errors",
                "http_log_custom_fields",
                "http_ratelimit",
                "http_request_cache_settings",
                "http_request_dynamic_redirect",
                "http_request_firewall_custom",
                "http_request_firewall_managed",
                "http_request_late_transform",
                "http_request_origin",
                "http_request_redirect",
                "http_request_sanitize",
                "http_request_sbfm",
                "http_request_transform",
                "http_response_cache_settings",
                "http_response_compression",
                "http_response_firewall_managed",
                "http_response_headers_transform",
                "magic_transit",
                "magic_transit_ids_managed",
                "magic_transit_managed",
                "magic_transit_ratelimit"
              ],
              "example": "http_request_firewall_custom",
              "title": "Phase",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get an account entry point ruleset",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Mass URL Redirects Read",
          "Magic Firewall Write",
          "Magic Firewall Read",
          "L4 DDoS Managed Ruleset Write",
          "L4 DDoS Managed Ruleset Read",
          "Transform Rules Write",
          "Transform Rules Read",
          "Select Configuration Write",
          "Select Configuration Read",
          "Account WAF Write",
          "Account WAF Read",
          "Account Rulesets Read",
          "Account Rulesets Write",
          "Logs Write",
          "Logs Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Updates an account entry point ruleset, creating a new version.",
        "operationId": "updateAccountEntrypointRuleset",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_phase",
            "required": true,
            "schema": {
              "description": "The phase of the ruleset.",
              "enum": [
                "ddos_l4",
                "ddos_l7",
                "http_config_settings",
                "http_custom_errors",
                "http_log_custom_fields",
                "http_ratelimit",
                "http_request_cache_settings",
                "http_request_dynamic_redirect",
                "http_request_firewall_custom",
                "http_request_firewall_managed",
                "http_request_late_transform",
                "http_request_origin",
                "http_request_redirect",
                "http_request_sanitize",
                "http_request_sbfm",
                "http_request_transform",
                "http_response_cache_settings",
                "http_response_compression",
                "http_response_firewall_managed",
                "http_response_headers_transform",
                "magic_transit",
                "magic_transit_ids_managed",
                "magic_transit_managed",
                "magic_transit_ratelimit"
              ],
              "example": "http_request_firewall_custom",
              "title": "Phase",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/rulesets_UpdateEntrypointRuleset"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update an account entry point ruleset",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Magic Firewall Write",
          "L4 DDoS Managed Ruleset Write",
          "Transform Rules Write",
          "Select Configuration Write",
          "Account WAF Write",
          "Account Rulesets Write",
          "Logs Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions": {
      "get": {
        "description": "Fetches the versions of an account entry point ruleset.",
        "operationId": "listAccountEntrypointRulesetVersions",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_phase",
            "required": true,
            "schema": {
              "description": "The phase of the ruleset.",
              "enum": [
                "ddos_l4",
                "ddos_l7",
                "http_config_settings",
                "http_custom_errors",
                "http_log_custom_fields",
                "http_ratelimit",
                "http_request_cache_settings",
                "http_request_dynamic_redirect",
                "http_request_firewall_custom",
                "http_request_firewall_managed",
                "http_request_late_transform",
                "http_request_origin",
                "http_request_redirect",
                "http_request_sanitize",
                "http_request_sbfm",
                "http_request_transform",
                "http_response_cache_settings",
                "http_response_compression",
                "http_response_firewall_managed",
                "http_response_headers_transform",
                "magic_transit",
                "magic_transit_ids_managed",
                "magic_transit_managed",
                "magic_transit_ratelimit"
              ],
              "example": "http_request_firewall_custom",
              "title": "Phase",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Rulesets"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List an account entry point ruleset's versions",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Mass URL Redirects Read",
          "Magic Firewall Write",
          "Magic Firewall Read",
          "L4 DDoS Managed Ruleset Write",
          "L4 DDoS Managed Ruleset Read",
          "Transform Rules Write",
          "Transform Rules Read",
          "Select Configuration Write",
          "Select Configuration Read",
          "Account WAF Write",
          "Account WAF Read",
          "Account Rulesets Read",
          "Account Rulesets Write",
          "Logs Write",
          "Logs Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets/phases/{ruleset_phase}/entrypoint/versions/{ruleset_version}": {
      "get": {
        "description": "Fetches a specific version of an account entry point ruleset.",
        "operationId": "getAccountEntrypointRulesetVersion",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_version",
            "required": true,
            "schema": {
              "description": "The version of the ruleset.",
              "example": "1",
              "pattern": "^[0-9]+$",
              "title": "Version",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "ruleset_phase",
            "required": true,
            "schema": {
              "description": "The phase of the ruleset.",
              "enum": [
                "ddos_l4",
                "ddos_l7",
                "http_config_settings",
                "http_custom_errors",
                "http_log_custom_fields",
                "http_ratelimit",
                "http_request_cache_settings",
                "http_request_dynamic_redirect",
                "http_request_firewall_custom",
                "http_request_firewall_managed",
                "http_request_late_transform",
                "http_request_origin",
                "http_request_redirect",
                "http_request_sanitize",
                "http_request_sbfm",
                "http_request_transform",
                "http_response_cache_settings",
                "http_response_compression",
                "http_response_firewall_managed",
                "http_response_headers_transform",
                "magic_transit",
                "magic_transit_ids_managed",
                "magic_transit_managed",
                "magic_transit_ratelimit"
              ],
              "example": "http_request_firewall_custom",
              "title": "Phase",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get an account entry point ruleset version",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Mass URL Redirects Read",
          "Magic Firewall Write",
          "Magic Firewall Read",
          "L4 DDoS Managed Ruleset Write",
          "L4 DDoS Managed Ruleset Read",
          "Transform Rules Write",
          "Transform Rules Read",
          "Select Configuration Write",
          "Select Configuration Read",
          "Account WAF Write",
          "Account WAF Read",
          "Account Rulesets Read",
          "Account Rulesets Write",
          "Logs Write",
          "Logs Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets/{ruleset_id}": {
      "delete": {
        "description": "Deletes all versions of an existing account ruleset.",
        "operationId": "deleteAccountRuleset",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the ruleset.",
              "example": "2f2feab2026849078ba485f918791bdc",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Ruleset ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/rulesets_Empty"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete an account ruleset",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Magic Firewall Write",
          "L4 DDoS Managed Ruleset Write",
          "Transform Rules Write",
          "Select Configuration Write",
          "Account WAF Write",
          "Account Rulesets Write",
          "Logs Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Fetches the latest version of an account ruleset.",
        "operationId": "getAccountRuleset",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the ruleset.",
              "example": "2f2feab2026849078ba485f918791bdc",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Ruleset ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get an account ruleset",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Mass URL Redirects Read",
          "Magic Firewall Write",
          "Magic Firewall Read",
          "L4 DDoS Managed Ruleset Write",
          "L4 DDoS Managed Ruleset Read",
          "Transform Rules Write",
          "Transform Rules Read",
          "Select Configuration Write",
          "Select Configuration Read",
          "Account WAF Write",
          "Account WAF Read",
          "Account Rulesets Read",
          "Account Rulesets Write",
          "Logs Write",
          "Logs Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Updates an account ruleset, creating a new version.",
        "operationId": "updateAccountRuleset",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the ruleset.",
              "example": "2f2feab2026849078ba485f918791bdc",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Ruleset ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/rulesets_UpdateRuleset"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update an account ruleset",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Magic Firewall Write",
          "L4 DDoS Managed Ruleset Write",
          "Transform Rules Write",
          "Select Configuration Write",
          "Account WAF Write",
          "Account Rulesets Write",
          "Logs Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets/{ruleset_id}/rules": {
      "post": {
        "description": "Adds a new rule to an account ruleset. The rule will be added to the end of the existing list of rules in the ruleset by default.",
        "operationId": "createAccountRulesetRule",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the ruleset.",
              "example": "2f2feab2026849078ba485f918791bdc",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Ruleset ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/rulesets_Rule"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create an account ruleset rule",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Magic Firewall Write",
          "L4 DDoS Managed Ruleset Write",
          "Transform Rules Write",
          "Select Configuration Write",
          "Account WAF Write",
          "Account Rulesets Write",
          "Logs Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets/{ruleset_id}/rules/{rule_id}": {
      "delete": {
        "description": "Deletes an existing rule from an account ruleset.",
        "operationId": "deleteAccountRulesetRule",
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the rule.",
              "example": "3a03d665bac047339bb530ecb439a90d",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Rule ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "ruleset_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the ruleset.",
              "example": "2f2feab2026849078ba485f918791bdc",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Ruleset ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete an account ruleset rule",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Magic Firewall Write",
          "L4 DDoS Managed Ruleset Write",
          "Transform Rules Write",
          "Select Configuration Write",
          "Account WAF Write",
          "Account Rulesets Write",
          "Logs Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "patch": {
        "description": "Updates an existing rule in an account ruleset.",
        "operationId": "updateAccountRulesetRule",
        "parameters": [
          {
            "in": "path",
            "name": "rule_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the rule.",
              "example": "3a03d665bac047339bb530ecb439a90d",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Rule ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "ruleset_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the ruleset.",
              "example": "2f2feab2026849078ba485f918791bdc",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Ruleset ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "$ref": "#/components/requestBodies/rulesets_Rule"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Ruleset"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update an account ruleset rule",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Magic Firewall Write",
          "L4 DDoS Managed Ruleset Write",
          "Transform Rules Write",
          "Select Configuration Write",
          "Account WAF Write",
          "Account Rulesets Write",
          "Logs Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/rulesets/{ruleset_id}/versions": {
      "get": {
        "description": "Fetches the versions of an account ruleset.",
        "operationId": "listAccountRulesetVersions",
        "parameters": [
          {
            "in": "path",
            "name": "ruleset_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the ruleset.",
              "example": "2f2feab2026849078ba485f918791bdc",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Ruleset ID",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The unique ID of the account.",
              "example": "abf9b32d38c5f572afde3336ec0ce302",
              "pattern": "^[0-9a-f]{32}$",
              "title": "Account ID",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/rulesets_Rulesets"
          },
          "4XX": {
            "$ref": "#/components/responses/rulesets_Failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List an account ruleset's versions",
        "tags": [
          "Account Rulesets"
        ],
        "x-api-token-group": [
          "Mass URL Redirects Write",
          "Mass URL Redirects Read",
          "Magic Firewall Write",
          "Magic Firewall Read",
[...]
