{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - AIGateway",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/ai-gateway/evaluation-types": {
      "get": {
        "operationId": "aig-config-list-evaluators",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "0d37909e38d3e99c29fa2cd343ac421a",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 50,
              "minimum": 5,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "order_by",
            "schema": {
              "default": "mandatory",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order_by_direction",
            "schema": {
              "default": "desc",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "items": {
                        "properties": {
                          "created_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "enable": {
                            "type": "boolean"
                          },
                          "id": {
                            "type": "string"
                          },
                          "mandatory": {
                            "type": "boolean"
                          },
                          "modified_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "name",
                          "type",
                          "mandatory",
                          "description",
                          "enable",
                          "id",
                          "created_at",
                          "modified_at"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result_info": {
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_count": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "count",
                        "page",
                        "per_page",
                        "total_count"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result",
                    "result_info"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a list of Evaluators"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Evaluators",
        "tags": [
          "AI Gateway Evaluations"
        ],
        "x-api-token-group": [
          "AI Gateway Write",
          "AI Gateway Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai-gateway/gateways": {
      "get": {
        "description": "Lists all AI Gateway evaluator types configured for the account.",
        "operationId": "aig-config-list-gateway",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Search by id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "items": {
                        "properties": {
                          "authentication": {
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "cache_invalidate_on_update": {
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "cache_ttl": {
                            "minimum": 0,
                            "nullable": true,
                            "type": "integer",
                            "x-auditable": true
                          },
                          "collect_logs": {
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "created_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "dlp": {
                            "anyOf": [
                              {
                                "properties": {
                                  "action": {
                                    "enum": [
                                      "BLOCK",
                                      "FLAG"
                                    ],
                                    "type": "string"
                                  },
                                  "enabled": {
                                    "type": "boolean"
                                  },
                                  "profiles": {
                                    "items": {
                                      "type": "string"
                                    },
                                    "type": "array"
                                  }
                                },
                                "required": [
                                  "profiles",
                                  "enabled",
                                  "action"
                                ],
                                "type": "object"
                              },
                              {
                                "properties": {
                                  "enabled": {
                                    "type": "boolean"
                                  },
                                  "policies": {
                                    "items": {
                                      "properties": {
                                        "action": {
                                          "enum": [
                                            "FLAG",
                                            "BLOCK"
                                          ],
                                          "type": "string"
                                        },
                                        "check": {
                                          "items": {
                                            "enum": [
                                              "REQUEST",
                                              "RESPONSE"
                                            ],
                                            "type": "string"
                                          },
                                          "type": "array"
                                        },
                                        "enabled": {
                                          "type": "boolean"
                                        },
                                        "id": {
                                          "type": "string"
                                        },
                                        "profiles": {
                                          "items": {
                                            "type": "string"
                                          },
                                          "type": "array"
                                        }
                                      },
                                      "required": [
                                        "id",
                                        "enabled",
                                        "action",
                                        "profiles",
                                        "check"
                                      ],
                                      "type": "object"
                                    },
                                    "type": "array"
                                  }
                                },
                                "required": [
                                  "enabled",
                                  "policies"
                                ],
                                "type": "object"
                              }
                            ]
                          },
                          "id": {
                            "description": "gateway id",
                            "example": "my-gateway",
                            "maxLength": 64,
                            "minLength": 1,
                            "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                            "type": "string",
                            "x-auditable": true
                          },
                          "is_default": {
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "log_management": {
                            "maximum": 10000000,
                            "minimum": 10000,
                            "nullable": true,
                            "type": "integer",
                            "x-auditable": true
                          },
                          "log_management_strategy": {
                            "enum": [
                              "STOP_INSERTING",
                              "DELETE_OLDEST"
                            ],
                            "nullable": true,
                            "type": "string",
                            "x-auditable": true
                          },
                          "logpush": {
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "logpush_public_key": {
                            "maxLength": 1024,
                            "minLength": 16,
                            "nullable": true,
                            "type": "string",
                            "x-auditable": true
                          },
                          "modified_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "otel": {
                            "items": {
                              "properties": {
                                "authorization": {
                                  "type": "string"
                                },
                                "content_type": {
                                  "default": "json",
                                  "enum": [
                                    "json",
                                    "protobuf"
                                  ],
                                  "type": "string"
                                },
                                "headers": {
                                  "additionalProperties": {
                                    "type": "string"
                                  },
                                  "type": "object"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "url",
                                "headers",
                                "authorization"
                              ],
                              "type": "object"
                            },
                            "nullable": true,
                            "type": "array",
                            "x-auditable": true
                          },
                          "rate_limiting_interval": {
                            "minimum": 0,
                            "nullable": true,
                            "type": "integer",
                            "x-auditable": true
                          },
                          "rate_limiting_limit": {
                            "minimum": 0,
                            "nullable": true,
                            "type": "integer",
                            "x-auditable": true
                          },
                          "rate_limiting_technique": {
                            "enum": [
                              "fixed",
                              "sliding"
                            ],
                            "nullable": true,
                            "type": "string",
                            "x-auditable": true
                          },
                          "retry_backoff": {
                            "description": "Backoff strategy for retry delays",
                            "enum": [
                              "constant",
                              "linear",
                              "exponential"
                            ],
                            "nullable": true,
                            "type": "string",
                            "x-auditable": true
                          },
                          "retry_delay": {
                            "description": "Delay between retry attempts in milliseconds (0-5000)",
                            "maximum": 5000,
                            "minimum": 0,
                            "nullable": true,
                            "type": "integer",
                            "x-auditable": true
                          },
                          "retry_max_attempts": {
                            "description": "Maximum number of retry attempts for failed requests (1-5)",
                            "maximum": 5,
                            "minimum": 1,
                            "nullable": true,
                            "type": "integer",
                            "x-auditable": true
                          },
                          "store_id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "stripe": {
                            "nullable": true,
                            "properties": {
                              "authorization": {
                                "type": "string"
                              },
                              "usage_events": {
                                "items": {
                                  "properties": {
                                    "payload": {
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "payload"
                                  ],
                                  "type": "object"
                                },
                                "type": "array"
                              }
                            },
                            "required": [
                              "authorization",
                              "usage_events"
                            ],
                            "type": "object",
                            "x-auditable": true
                          },
                          "workers_ai_billing_mode": {
                            "default": "postpaid",
                            "description": "Controls how Workers AI inference calls routed through this gateway are billed. Only 'postpaid' is currently supported.",
                            "enum": [
                              "postpaid"
                            ],
                            "type": "string",
                            "x-auditable": true
                          },
                          "zdr": {
                            "type": "boolean",
                            "x-auditable": true
                          }
                        },
                        "required": [
                          "id",
                          "rate_limiting_interval",
                          "rate_limiting_limit",
                          "collect_logs",
                          "cache_ttl",
                          "cache_invalidate_on_update",
                          "created_at",
                          "modified_at"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List objects"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Gateways",
        "tags": [
          "AI Gateway Gateways"
        ],
        "x-api-token-group": [
          "AI Gateway Write",
          "AI Gateway Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new AI Gateway.",
        "operationId": "aig-config-create-gateway",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "authentication": {
                    "type": "boolean",
                    "x-auditable": true
                  },
                  "cache_invalidate_on_update": {
                    "type": "boolean",
                    "x-auditable": true
                  },
                  "cache_ttl": {
                    "minimum": 0,
                    "nullable": true,
                    "type": "integer",
                    "x-auditable": true
                  },
                  "collect_logs": {
                    "type": "boolean",
                    "x-auditable": true
                  },
                  "id": {
                    "description": "gateway id",
                    "example": "my-gateway",
                    "maxLength": 64,
                    "minLength": 1,
                    "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                    "type": "string",
                    "x-auditable": true
                  },
                  "log_management": {
                    "maximum": 10000000,
                    "minimum": 10000,
                    "nullable": true,
                    "type": "integer",
                    "x-auditable": true
                  },
                  "log_management_strategy": {
                    "enum": [
                      "STOP_INSERTING",
                      "DELETE_OLDEST"
                    ],
                    "nullable": true,
                    "type": "string",
                    "x-auditable": true
                  },
                  "logpush": {
                    "type": "boolean",
                    "x-auditable": true
                  },
                  "logpush_public_key": {
                    "maxLength": 1024,
                    "minLength": 16,
                    "nullable": true,
                    "type": "string",
                    "x-auditable": true
                  },
                  "rate_limiting_interval": {
                    "minimum": 0,
                    "nullable": true,
                    "type": "integer",
                    "x-auditable": true
                  },
                  "rate_limiting_limit": {
                    "minimum": 0,
                    "nullable": true,
                    "type": "integer",
                    "x-auditable": true
                  },
                  "rate_limiting_technique": {
                    "enum": [
                      "fixed",
                      "sliding"
                    ],
                    "nullable": true,
                    "type": "string",
                    "x-auditable": true
                  },
                  "retry_backoff": {
                    "description": "Backoff strategy for retry delays",
                    "enum": [
                      "constant",
                      "linear",
                      "exponential"
                    ],
                    "nullable": true,
                    "type": "string",
                    "x-auditable": true
                  },
                  "retry_delay": {
                    "description": "Delay between retry attempts in milliseconds (0-5000)",
                    "maximum": 5000,
                    "minimum": 0,
                    "nullable": true,
                    "type": "integer",
                    "x-auditable": true
                  },
                  "retry_max_attempts": {
                    "description": "Maximum number of retry attempts for failed requests (1-5)",
                    "maximum": 5,
                    "minimum": 1,
                    "nullable": true,
                    "type": "integer",
                    "x-auditable": true
                  },
                  "workers_ai_billing_mode": {
                    "default": "postpaid",
                    "description": "Controls how Workers AI inference calls routed through this gateway are billed. Only 'postpaid' is currently supported.",
                    "enum": [
                      "postpaid"
                    ],
                    "type": "string",
                    "x-auditable": true
                  },
                  "zdr": {
                    "type": "boolean",
                    "x-auditable": true
                  }
                },
                "required": [
                  "id",
                  "rate_limiting_interval",
                  "rate_limiting_limit",
                  "collect_logs",
                  "cache_ttl",
                  "cache_invalidate_on_update"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "authentication": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "cache_invalidate_on_update": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "cache_ttl": {
                          "minimum": 0,
                          "nullable": true,
                          "type": "integer",
                          "x-auditable": true
                        },
                        "collect_logs": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "created_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "dlp": {
                          "anyOf": [
                            {
                              "properties": {
                                "action": {
                                  "enum": [
                                    "BLOCK",
                                    "FLAG"
                                  ],
                                  "type": "string"
                                },
                                "enabled": {
                                  "type": "boolean"
                                },
                                "profiles": {
                                  "items": {
                                    "type": "string"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "profiles",
                                "enabled",
                                "action"
                              ],
                              "type": "object"
                            },
                            {
                              "properties": {
                                "enabled": {
                                  "type": "boolean"
                                },
                                "policies": {
                                  "items": {
                                    "properties": {
                                      "action": {
                                        "enum": [
                                          "FLAG",
                                          "BLOCK"
                                        ],
                                        "type": "string"
                                      },
                                      "check": {
                                        "items": {
                                          "enum": [
                                            "REQUEST",
                                            "RESPONSE"
                                          ],
                                          "type": "string"
                                        },
                                        "type": "array"
                                      },
                                      "enabled": {
                                        "type": "boolean"
                                      },
                                      "id": {
                                        "type": "string"
                                      },
                                      "profiles": {
                                        "items": {
                                          "type": "string"
                                        },
                                        "type": "array"
                                      }
                                    },
                                    "required": [
                                      "id",
                                      "enabled",
                                      "action",
                                      "profiles",
                                      "check"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              },
                              "required": [
                                "enabled",
                                "policies"
                              ],
                              "type": "object"
                            }
                          ]
                        },
                        "id": {
                          "description": "gateway id",
                          "example": "my-gateway",
                          "maxLength": 64,
                          "minLength": 1,
                          "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                          "type": "string",
                          "x-auditable": true
                        },
                        "is_default": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "log_management": {
                          "maximum": 10000000,
                          "minimum": 10000,
                          "nullable": true,
                          "type": "integer",
                          "x-auditable": true
                        },
                        "log_management_strategy": {
                          "enum": [
                            "STOP_INSERTING",
                            "DELETE_OLDEST"
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-auditable": true
                        },
                        "logpush": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "logpush_public_key": {
                          "maxLength": 1024,
                          "minLength": 16,
                          "nullable": true,
                          "type": "string",
                          "x-auditable": true
                        },
                        "modified_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "otel": {
                          "items": {
                            "properties": {
                              "authorization": {
                                "type": "string"
                              },
                              "content_type": {
                                "default": "json",
                                "enum": [
                                  "json",
                                  "protobuf"
                                ],
                                "type": "string"
                              },
                              "headers": {
                                "additionalProperties": {
                                  "type": "string"
                                },
                                "type": "object"
                              },
                              "url": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "url",
                              "headers",
                              "authorization"
                            ],
                            "type": "object"
                          },
                          "nullable": true,
                          "type": "array",
                          "x-auditable": true
                        },
                        "rate_limiting_interval": {
                          "minimum": 0,
                          "nullable": true,
                          "type": "integer",
                          "x-auditable": true
                        },
                        "rate_limiting_limit": {
                          "minimum": 0,
                          "nullable": true,
                          "type": "integer",
                          "x-auditable": true
                        },
                        "rate_limiting_technique": {
                          "enum": [
                            "fixed",
                            "sliding"
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-auditable": true
                        },
                        "retry_backoff": {
                          "description": "Backoff strategy for retry delays",
                          "enum": [
                            "constant",
                            "linear",
                            "exponential"
                          ],
                          "nullable": true,
                          "type": "string",
                          "x-auditable": true
                        },
                        "retry_delay": {
                          "description": "Delay between retry attempts in milliseconds (0-5000)",
                          "maximum": 5000,
                          "minimum": 0,
                          "nullable": true,
                          "type": "integer",
                          "x-auditable": true
                        },
                        "retry_max_attempts": {
                          "description": "Maximum number of retry attempts for failed requests (1-5)",
                          "maximum": 5,
                          "minimum": 1,
                          "nullable": true,
                          "type": "integer",
                          "x-auditable": true
                        },
                        "store_id": {
                          "nullable": true,
                          "type": "string"
                        },
                        "stripe": {
                          "nullable": true,
                          "properties": {
                            "authorization": {
                              "type": "string"
                            },
                            "usage_events": {
                              "items": {
                                "properties": {
                                  "payload": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "payload"
                                ],
                                "type": "object"
                              },
                              "type": "array"
                            }
                          },
                          "required": [
                            "authorization",
                            "usage_events"
                          ],
                          "type": "object",
                          "x-auditable": true
                        },
                        "workers_ai_billing_mode": {
                          "default": "postpaid",
                          "description": "Controls how Workers AI inference calls routed through this gateway are billed. Only 'postpaid' is currently supported.",
                          "enum": [
                            "postpaid"
                          ],
                          "type": "string",
                          "x-auditable": true
                        },
                        "zdr": {
                          "type": "boolean",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "id",
                        "rate_limiting_interval",
                        "rate_limiting_limit",
                        "collect_logs",
                        "cache_ttl",
                        "cache_invalidate_on_update",
                        "created_at",
                        "modified_at"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the created Object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": 7001,
                            "type": "number"
                          },
                          "message": {
                            "example": "Input Validation Error",
                            "type": "string"
                          },
                          "path": {
                            "items": {
                              "example": "body",
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "code",
                          "message",
                          "path"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Input Validation Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a new Gateway",
        "tags": [
          "AI Gateway Gateways"
        ],
        "x-api-token-group": [
          "AI Gateway Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/datasets": {
      "get": {
        "description": "Lists all AI Gateway evaluator types configured for the account.",
        "operationId": "aig-config-list-dataset",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gateway_id",
            "required": true,
            "schema": {
              "description": "gateway id",
              "example": "my-gateway",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "enable",
            "schema": {
              "type": "boolean",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Search by id, name, filters",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "items": {
                        "properties": {
                          "created_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "enable": {
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "filters": {
                            "items": {
                              "properties": {
                                "key": {
                                  "enum": [
                                    "created_at",
                                    "request_content_type",
                                    "response_content_type",
                                    "success",
                                    "cached",
                                    "provider",
                                    "model",
                                    "cost",
                                    "tokens",
                                    "tokens_in",
                                    "tokens_out",
                                    "duration",
                                    "feedback"
                                  ],
                                  "type": "string",
                                  "x-auditable": true
                                },
                                "operator": {
                                  "enum": [
                                    "eq",
                                    "contains",
                                    "lt",
                                    "gt"
                                  ],
                                  "type": "string",
                                  "x-auditable": true
                                },
                                "value": {
                                  "items": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "number"
                                      },
                                      {
                                        "type": "boolean"
                                      }
                                    ]
                                  },
                                  "type": "array",
                                  "x-auditable": true
                                }
                              },
                              "required": [
                                "key",
                                "operator",
                                "value"
                              ],
                              "type": "object"
                            },
                            "type": "array",
                            "x-auditable": true
                          },
                          "gateway_id": {
                            "description": "gateway id",
                            "example": "my-gateway",
                            "maxLength": 64,
                            "minLength": 1,
                            "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                            "type": "string",
                            "x-auditable": true
                          },
                          "id": {
                            "type": "string",
                            "x-auditable": true
                          },
                          "modified_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "x-auditable": true
                          }
                        },
                        "required": [
                          "gateway_id",
                          "name",
                          "filters",
                          "enable",
                          "id",
                          "created_at",
                          "modified_at"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List objects"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Datasets",
        "tags": [
          "AI Gateway Datasets"
        ],
        "x-api-token-group": [
          "AI Gateway Write",
          "AI Gateway Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new AI Gateway.",
        "operationId": "aig-config-create-dataset",
        "parameters": [
          {
            "in": "path",
            "name": "gateway_id",
            "required": true,
            "schema": {
              "description": "gateway id",
              "example": "my-gateway",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "enable": {
                    "type": "boolean",
                    "x-auditable": true
                  },
                  "filters": {
                    "items": {
                      "properties": {
                        "key": {
                          "enum": [
                            "created_at",
                            "request_content_type",
                            "response_content_type",
                            "success",
                            "cached",
                            "provider",
                            "model",
                            "cost",
                            "tokens",
                            "tokens_in",
                            "tokens_out",
                            "duration",
                            "feedback"
                          ],
                          "type": "string",
                          "x-auditable": true
                        },
                        "operator": {
                          "enum": [
                            "eq",
                            "contains",
                            "lt",
                            "gt"
                          ],
                          "type": "string",
                          "x-auditable": true
                        },
                        "value": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          },
                          "type": "array",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "key",
                        "operator",
                        "value"
                      ],
                      "type": "object"
                    },
                    "type": "array",
                    "x-auditable": true
                  },
                  "name": {
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "name",
                  "filters",
                  "enable"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "enable": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "filters": {
                          "items": {
                            "properties": {
                              "key": {
                                "enum": [
                                  "created_at",
                                  "request_content_type",
                                  "response_content_type",
                                  "success",
                                  "cached",
                                  "provider",
                                  "model",
                                  "cost",
                                  "tokens",
                                  "tokens_in",
                                  "tokens_out",
                                  "duration",
                                  "feedback"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "operator": {
                                "enum": [
                                  "eq",
                                  "contains",
                                  "lt",
                                  "gt"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "value": {
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "type": "array",
                                "x-auditable": true
                              }
                            },
                            "required": [
                              "key",
                              "operator",
                              "value"
                            ],
                            "type": "object"
                          },
                          "type": "array",
                          "x-auditable": true
                        },
                        "gateway_id": {
                          "description": "gateway id",
                          "example": "my-gateway",
                          "maxLength": 64,
                          "minLength": 1,
                          "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                          "type": "string",
                          "x-auditable": true
                        },
                        "id": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "modified_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "gateway_id",
                        "name",
                        "filters",
                        "enable",
                        "id",
                        "created_at",
                        "modified_at"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the created Object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": 7001,
                            "type": "number"
                          },
                          "message": {
                            "example": "Input Validation Error",
                            "type": "string"
                          },
                          "path": {
                            "items": {
                              "example": "body",
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "code",
                          "message",
                          "path"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Input Validation Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a new Dataset",
        "tags": [
          "AI Gateway Datasets"
        ],
        "x-api-token-group": [
          "AI Gateway Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/datasets/{id}": {
      "delete": {
        "description": "Deletes an AI Gateway dataset.",
        "operationId": "aig-config-delete-dataset",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gateway_id",
            "required": true,
            "schema": {
              "description": "gateway id",
              "example": "my-gateway",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "enable": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "filters": {
                          "items": {
                            "properties": {
                              "key": {
                                "enum": [
                                  "created_at",
                                  "request_content_type",
                                  "response_content_type",
                                  "success",
                                  "cached",
                                  "provider",
                                  "model",
                                  "cost",
                                  "tokens",
                                  "tokens_in",
                                  "tokens_out",
                                  "duration",
                                  "feedback"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "operator": {
                                "enum": [
                                  "eq",
                                  "contains",
                                  "lt",
                                  "gt"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "value": {
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "type": "array",
                                "x-auditable": true
                              }
                            },
                            "required": [
                              "key",
                              "operator",
                              "value"
                            ],
                            "type": "object"
                          },
                          "type": "array",
                          "x-auditable": true
                        },
                        "gateway_id": {
                          "description": "gateway id",
                          "example": "my-gateway",
                          "maxLength": 64,
                          "minLength": 1,
                          "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                          "type": "string",
                          "x-auditable": true
                        },
                        "id": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "modified_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "gateway_id",
                        "name",
                        "filters",
                        "enable",
                        "id",
                        "created_at",
                        "modified_at"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the Object if it was successfully deleted"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": 7002,
                            "type": "number"
                          },
                          "message": {
                            "example": "Not Found",
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a Dataset",
        "tags": [
          "AI Gateway Datasets"
        ],
        "x-api-token-group": [
          "AI Gateway Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Retrieves details for a specific AI Gateway dataset.",
        "operationId": "aig-config-fetch-dataset",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gateway_id",
            "required": true,
            "schema": {
              "description": "gateway id",
              "example": "my-gateway",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "enable": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "filters": {
                          "items": {
                            "properties": {
                              "key": {
                                "enum": [
                                  "created_at",
                                  "request_content_type",
                                  "response_content_type",
                                  "success",
                                  "cached",
                                  "provider",
                                  "model",
                                  "cost",
                                  "tokens",
                                  "tokens_in",
                                  "tokens_out",
                                  "duration",
                                  "feedback"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "operator": {
                                "enum": [
                                  "eq",
                                  "contains",
                                  "lt",
                                  "gt"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "value": {
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "type": "array",
                                "x-auditable": true
                              }
                            },
                            "required": [
                              "key",
                              "operator",
                              "value"
                            ],
                            "type": "object"
                          },
                          "type": "array",
                          "x-auditable": true
                        },
                        "gateway_id": {
                          "description": "gateway id",
                          "example": "my-gateway",
                          "maxLength": 64,
                          "minLength": 1,
                          "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                          "type": "string",
                          "x-auditable": true
                        },
                        "id": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "modified_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "gateway_id",
                        "name",
                        "filters",
                        "enable",
                        "id",
                        "created_at",
                        "modified_at"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a single object if found"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": 7002,
                            "type": "number"
                          },
                          "message": {
                            "example": "Not Found",
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Fetch a Dataset",
        "tags": [
          "AI Gateway Datasets"
        ],
        "x-api-token-group": [
          "AI Gateway Write",
          "AI Gateway Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Updates an existing AI Gateway dataset.",
        "operationId": "aig-config-update-dataset",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gateway_id",
            "required": true,
            "schema": {
              "description": "gateway id",
              "example": "my-gateway",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "enable": {
                    "type": "boolean",
                    "x-auditable": true
                  },
                  "filters": {
                    "items": {
                      "properties": {
                        "key": {
                          "enum": [
                            "created_at",
                            "request_content_type",
                            "response_content_type",
                            "success",
                            "cached",
                            "provider",
                            "model",
                            "cost",
                            "tokens",
                            "tokens_in",
                            "tokens_out",
                            "duration",
                            "feedback"
                          ],
                          "type": "string",
                          "x-auditable": true
                        },
                        "operator": {
                          "enum": [
                            "eq",
                            "contains",
                            "lt",
                            "gt"
                          ],
                          "type": "string",
                          "x-auditable": true
                        },
                        "value": {
                          "items": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "number"
                              },
                              {
                                "type": "boolean"
                              }
                            ]
                          },
                          "type": "array",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "key",
                        "operator",
                        "value"
                      ],
                      "type": "object"
                    },
                    "type": "array",
                    "x-auditable": true
                  },
                  "name": {
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "name",
                  "filters",
                  "enable"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "enable": {
                          "type": "boolean",
                          "x-auditable": true
                        },
                        "filters": {
                          "items": {
                            "properties": {
                              "key": {
                                "enum": [
                                  "created_at",
                                  "request_content_type",
                                  "response_content_type",
                                  "success",
                                  "cached",
                                  "provider",
                                  "model",
                                  "cost",
                                  "tokens",
                                  "tokens_in",
                                  "tokens_out",
                                  "duration",
                                  "feedback"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "operator": {
                                "enum": [
                                  "eq",
                                  "contains",
                                  "lt",
                                  "gt"
                                ],
                                "type": "string",
                                "x-auditable": true
                              },
                              "value": {
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                },
                                "type": "array",
                                "x-auditable": true
                              }
                            },
                            "required": [
                              "key",
                              "operator",
                              "value"
                            ],
                            "type": "object"
                          },
                          "type": "array",
                          "x-auditable": true
                        },
                        "gateway_id": {
                          "description": "gateway id",
                          "example": "my-gateway",
                          "maxLength": 64,
                          "minLength": 1,
                          "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                          "type": "string",
                          "x-auditable": true
                        },
                        "id": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "modified_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "gateway_id",
                        "name",
                        "filters",
                        "enable",
                        "id",
                        "created_at",
                        "modified_at"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the updated Object"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": 7001,
                            "type": "number"
                          },
                          "message": {
                            "example": "Input Validation Error",
                            "type": "string"
                          },
                          "path": {
                            "items": {
                              "example": "body",
                              "type": "string"
                            },
                            "type": "array"
                          }
                        },
                        "required": [
                          "code",
                          "message",
                          "path"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Input Validation Error"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "example": 7002,
                            "type": "number"
                          },
                          "message": {
                            "example": "Not Found",
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Not Found"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a Dataset",
        "tags": [
          "AI Gateway Datasets"
        ],
        "x-api-token-group": [
          "AI Gateway Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.aig"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai-gateway/gateways/{gateway_id}/evaluations": {
      "get": {
        "description": "Lists all AI Gateway evaluator types configured for the account.",
        "operationId": "aig-config-list-evaluations",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "3ebbcb006d4d46d7bb6a8c7f14676cb0",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "gateway_id",
            "required": true,
            "schema": {
              "description": "gateway id",
              "example": "my-gateway",
              "maxLength": 64,
              "minLength": 1,
              "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "processed",
            "schema": {
              "type": "boolean",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Search by id, name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "items": {
                        "properties": {
                          "created_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "datasets": {
                            "items": {
                              "properties": {
                                "account_id": {
                                  "type": "string"
                                },
                                "account_tag": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "format": "date-time",
                                  "type": "string"
                                },
                                "enable": {
                                  "type": "boolean",
                                  "x-auditable": true
                                },
                                "filters": {
                                  "items": {
                                    "properties": {
                                      "key": {
                                        "enum": [
                                          "created_at",
                                          "request_content_type",
                                          "response_content_type",
                                          "success",
                                          "cached",
                                          "provider",
                                          "model",
                                          "cost",
                                          "tokens",
                                          "tokens_in",
                                          "tokens_out",
                                          "duration",
                                          "feedback"
                                        ],
                                        "type": "string",
                                        "x-auditable": true
                                      },
                                      "operator": {
                                        "enum": [
                                          "eq",
                                          "contains",
                                          "lt",
                                          "gt"
                                        ],
                                        "type": "string",
                                        "x-auditable": true
                                      },
                                      "value": {
                                        "items": {
                                          "anyOf": [
                                            {
                                              "type": "string"
                                            },
                                            {
                                              "type": "number"
                                            },
                                            {
                                              "type": "boolean"
                                            }
                                          ]
                                        },
                                        "type": "array",
                                        "x-auditable": true
                                      }
                                    },
                                    "required": [
                                      "key",
                                      "operator",
                                      "value"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array",
                                  "x-auditable": true
                                },
                                "gateway_id": {
                                  "description": "gateway id",
                                  "example": "my-gateway",
                                  "maxLength": 64,
                                  "minLength": 1,
                                  "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                                  "type": "string",
                                  "x-auditable": true
                                },
                                "id": {
                                  "type": "string",
                                  "x-auditable": true
                                },
                                "modified_at": {
                                  "format": "date-time",
                                  "type": "string"
                                },
                                "name": {
                                  "type": "string",
                                  "x-auditable": true
                                }
                              },
                              "required": [
                                "gateway_id",
                                "name",
                                "filters",
                                "enable",
                                "id",
                                "account_id",
                                "account_tag",
                                "created_at",
                                "modified_at"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "gateway_id": {
                            "description": "gateway id",
                            "example": "my-gateway",
                            "maxLength": 64,
                            "minLength": 1,
                            "pattern": "^[a-z0-9_]+(?:-[a-z0-9_]+)*$",
                            "type": "string",
                            "x-auditable": true
                          },
                          "id": {
                            "type": "string",
                            "x-auditable": true
                          },
                          "modified_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "x-auditable": true
                          },
                          "processed": {
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "results": {
                            "items": {
                              "properties": {
                                "created_at": {
                                  "format": "date-time",
                                  "type": "string"
                                },
                                "evaluation_id": {
                                  "type": "string"
[...]
