{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Magic",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/magic/apps": {
      "get": {
        "description": "Lists Apps associated with an account.",
        "operationId": "magic-account-apps-list-apps",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_apps_collection_response"
                }
              }
            },
            "description": "List Apps response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_api-response-common-failure"
                }
              }
            },
            "description": "List Apps response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Apps",
        "tags": [
          "Magic Account Apps"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "post": {
        "description": "Creates a new App for an account",
        "operationId": "magic-account-apps-add-app",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/magic_app_add_single_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_app_single_response"
                }
              }
            },
            "description": "Create Account App response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_api-response-common-failure"
                }
              }
            },
            "description": "Create Account App response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a new App",
        "tags": [
          "Magic Account Apps"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/magic/apps/{account_app_id}": {
      "delete": {
        "description": "Deletes specific Account App.",
        "operationId": "magic-account-apps-delete-app",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_app_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_app_single_response"
                }
              }
            },
            "description": "Delete App response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_api-response-common-failure"
                }
              }
            },
            "description": "Delete App response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Account App",
        "tags": [
          "Magic Account Apps"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "patch": {
        "description": "Updates an Account App",
        "operationId": "magic-account-apps-patch-app",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_app_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/magic_app_update_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_app_single_response"
                }
              }
            },
            "description": "Update App response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_api-response-common-failure"
                }
              }
            },
            "description": "Update App response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update an App",
        "tags": [
          "Magic Account Apps"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "put": {
        "description": "Updates an Account App",
        "operationId": "magic-account-apps-update-app",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_app_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/magic_app_update_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_app_single_response"
                }
              }
            },
            "description": "Update App response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_api-response-common-failure"
                }
              }
            },
            "description": "Update App response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update an App",
        "tags": [
          "Magic Account Apps"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/magic/cf_interconnects": {
      "get": {
        "description": "Lists interconnects associated with an account.",
        "operationId": "magic-interconnects-list-interconnects",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "If true, the health check target in the response body will be presented using the new object format. Defaults to false.",
            "in": "header",
            "name": "x-magic-new-hc-target",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_components-schemas-tunnels_collection_response"
                }
              }
            },
            "description": "List interconnects response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic_components-schemas-tunnels_collection_response"
                    },
                    {
                      "$ref": "#/components/schemas/magic_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List interconnects response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List interconnects",
        "tags": [
          "Magic Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "put": {
        "description": "Updates multiple interconnects associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.",
        "operationId": "magic-interconnects-update-multiple-interconnects",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "If true, the health check target in the request and response bodies will be presented using the new object format. Defaults to false.",
            "in": "header",
            "name": "x-magic-new-hc-target",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": [
                  "id"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_components-schemas-modified_tunnels_collection_response"
                }
              }
            },
            "description": "Update multiple interconnects response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic_components-schemas-modified_tunnels_collection_response"
                    },
                    {
                      "$ref": "#/components/schemas/magic_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update multiple interconnects response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update multiple interconnects",
        "tags": [
          "Magic Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/magic/cf_interconnects/{cf_interconnect_id}": {
      "get": {
        "description": "Lists details for a specific interconnect.",
        "operationId": "magic-interconnects-list-interconnect-details",
        "parameters": [
          {
            "in": "path",
            "name": "cf_interconnect_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "If true, the health check target in the response body will be presented using the new object format. Defaults to false.",
            "in": "header",
            "name": "x-magic-new-hc-target",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_components-schemas-tunnel_single_response"
                }
              }
            },
            "description": "List interconnect Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic_components-schemas-tunnel_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/magic_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List interconnect Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List interconnect Details",
        "tags": [
          "Magic Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "put": {
        "description": "Updates a specific interconnect associated with an account. Use `?validate_only=true` as an optional query parameter to only run validation without persisting changes.",
        "operationId": "magic-interconnects-update-interconnect",
        "parameters": [
          {
            "in": "path",
            "name": "cf_interconnect_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "If true, the health check target in the request and response bodies will be presented using the new object format. Defaults to false.",
            "in": "header",
            "name": "x-magic-new-hc-target",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/magic_interconnect_tunnel_update_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic_components-schemas-tunnel_modified_response"
                }
              }
            },
            "description": "Update interconnect response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic_components-schemas-tunnel_modified_response"
                    },
                    {
                      "$ref": "#/components/schemas/magic_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update interconnect response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update interconnect",
        "tags": [
          "Magic Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/magic/cloud/catalog-syncs": {
      "get": {
        "description": "List Catalog Syncs (Closed Beta).",
        "operationId": "catalog-syncs-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_read_account_catalog_syncs_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Catalog Syncs",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      },
      "post": {
        "description": "Create a new Catalog Sync (Closed Beta).",
        "operationId": "catalog-syncs-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "header",
            "name": "forwarded",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_create_catalog_sync_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_create_catalog_sync_response"
                }
              }
            },
            "description": "Created.",
            "headers": {
              "location": {
                "description": "The path to the newly created list.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Catalog Sync",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/catalog-syncs/prebuilt-policies": {
      "get": {
        "description": "List prebuilt catalog sync policies (Closed Beta).",
        "operationId": "catalog-syncs-prebuilt-policies-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "description": "Specify type of destination, omit to return all.",
            "in": "query",
            "name": "destination_type",
            "schema": {
              "enum": [
                "NONE",
                "ZERO_TRUST_LIST"
              ],
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_catalog_syncs_prebuilt_policies_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Prebuilt Policies",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}": {
      "delete": {
        "description": "Delete a Catalog Sync (Closed Beta).",
        "operationId": "catalog-syncs-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "sync_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "delete_destination",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_delete_catalog_sync_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Catalog Sync",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      },
      "get": {
        "description": "Read a Catalog Sync (Closed Beta).",
        "operationId": "catalog-syncs-read",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "sync_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_read_account_catalog_sync_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Read Catalog Sync",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      },
      "patch": {
        "description": "Update a Catalog Sync (Closed Beta).",
        "operationId": "catalog-syncs-patch",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "sync_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_update_catalog_sync_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_update_catalog_sync_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch Catalog Sync",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      },
      "put": {
        "description": "Update a Catalog Sync (Closed Beta).",
        "operationId": "catalog-syncs-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "sync_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_update_catalog_sync_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_update_catalog_sync_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Catalog Sync",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/catalog-syncs/{sync_id}/refresh": {
      "post": {
        "description": "Refresh a Catalog Sync's destination by running the sync policy against latest resource catalog (Closed Beta).",
        "operationId": "catalog-syncs-refresh",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "sync_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_refresh_catalog_sync_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Run Catalog Sync",
        "tags": [
          "Catalog Sync"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/onramps": {
      "get": {
        "description": "List On-ramps (Closed Beta).",
        "operationId": "onramps-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "description": "One of [\"updated_at\", \"id\", \"cloud_type\", \"name\"].",
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "desc",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "vpcs",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_list_onramps_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List On-ramps",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      },
      "post": {
        "description": "Create a new On-ramp (Closed Beta).",
        "operationId": "onramps-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "header",
            "name": "forwarded",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_create_onramp_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_create_onramp_response"
                }
              }
            },
            "description": "Created.",
            "headers": {
              "location": {
                "description": "The path to the newly created resource.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create On-ramp",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/onramps/magic_wan_address_space": {
      "get": {
        "description": "Read the Magic WAN Address Space (Closed Beta).",
        "operationId": "onramps-mwan-addr-space-read",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_get_magic_wan_address_space_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Read Magic WAN Address Space",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      },
      "patch": {
        "description": "Update the Magic WAN Address Space (Closed Beta).",
        "operationId": "onramps-mwan-addr-space-patch",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_update_magic_wan_address_space_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_update_magic_wan_address_space_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch Magic WAN Address Space",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      },
      "put": {
        "description": "Update the Magic WAN Address Space (Closed Beta).",
        "operationId": "onramps-mwan-addr-space-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_update_magic_wan_address_space_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_update_magic_wan_address_space_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Magic WAN Address Space",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/onramps/{onramp_id}": {
      "delete": {
        "description": "Delete an On-ramp (Closed Beta).",
        "operationId": "onramps-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "onramp_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "destroy",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "force",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_delete_onramp_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete On-ramp",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      },
      "get": {
        "description": "Read an On-ramp (Closed Beta).",
        "operationId": "onramps-read",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "onramp_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "vpcs",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "post_apply_resources",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "planned_resources",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_get_onramp_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Read On-ramp",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      },
      "patch": {
        "description": "Update an On-ramp (Closed Beta).",
        "operationId": "onramps-patch",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "onramp_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_update_onramp_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_update_onramp_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch On-ramp",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      },
      "put": {
        "description": "Update an On-ramp (Closed Beta).",
        "operationId": "onramps-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "onramp_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_update_onramp_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_update_onramp_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update On-ramp",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/onramps/{onramp_id}/apply": {
      "post": {
        "description": "Apply an On-ramp (Closed Beta).",
        "operationId": "onramps-apply",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "onramp_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_good_response"
                }
              }
            },
            "description": "Accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Apply On-ramp",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/onramps/{onramp_id}/export": {
      "post": {
        "description": "Export an On-ramp to terraform ready file(s) (Closed Beta).",
        "operationId": "onramps-export",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "onramp_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/zip": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Exported file.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "example": "attachment; filename=\"exported-file.zip\"",
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Export as Terraform",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/onramps/{onramp_id}/plan": {
      "post": {
        "description": "Plan an On-ramp (Closed Beta).",
        "operationId": "onramps-plan",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "onramp_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_good_response"
                }
              }
            },
            "description": "Accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Plan On-ramp",
        "tags": [
          "On-ramps"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/providers": {
      "get": {
        "description": "List Cloud Integrations (Closed Beta).",
        "operationId": "providers-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "description": "One of [\"updated_at\", \"id\", \"cloud_type\", \"name\"].",
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "desc",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "cloudflare",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_read_account_providers_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Cloud Integrations",
        "tags": [
          "Cloud Integrations"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      },
      "post": {
        "description": "Create a new Cloud Integration (Closed Beta).",
        "operationId": "providers-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "header",
            "name": "forwarded",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_create_provider_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_create_provider_response"
                }
              }
            },
            "description": "Created.",
            "headers": {
              "location": {
                "description": "The path to the newly created resource.",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Unprocessable Entity."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Cloud Integration",
        "tags": [
          "Cloud Integrations"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/providers/discover": {
      "post": {
        "description": "Run discovery for all Cloud Integrations in an account (Closed Beta).",
        "operationId": "providers-discover-all",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_good_response"
                }
              }
            },
            "description": "Accepted."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "409": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Conflict."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Run Discovery for All Integrations",
        "tags": [
          "Cloud Integrations"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      }
    },
    "/accounts/{account_id}/magic/cloud/providers/{provider_id}": {
      "delete": {
        "description": "Delete a Cloud Integration (Closed Beta).",
        "operationId": "providers-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "provider_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_delete_provider_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Cloud Integration",
        "tags": [
          "Cloud Integrations"
        ],
        "x-api-token-group": [
          "Magic WAN Write"
        ]
      },
      "get": {
        "description": "Read a Cloud Integration (Closed Beta).",
        "operationId": "providers-read",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "provider_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_read_account_provider_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
          },
          "403": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Forbidden."
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Not Found."
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Internal Server Error."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Read Cloud Integration",
        "tags": [
          "Cloud Integrations"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read"
        ]
      },
      "patch": {
        "description": "Update a Cloud Integration (Closed Beta).",
        "operationId": "providers-patch",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "provider_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/mcn_update_provider_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_update_provider_response"
                }
              }
            },
            "description": "OK."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Bad Request."
          },
          "401": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/mcn_bad_response"
                }
              }
            },
            "description": "Invalid Credentials."
[...]
