{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Zones",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/zones": {
      "get": {
        "description": "Lists, searches, sorts, and filters your zones. Listing zones across more than 500 accounts\nis currently not allowed.\n",
        "operationId": "zones-get",
        "parameters": [
          {
            "examples": {
              "Basic Query": {
                "summary": "Simple Query",
                "value": "example.com"
              },
              "Contains Query": {
                "summary": "Contains Query",
                "value": "contains:.org"
              },
              "Ends With Query": {
                "summary": "Ends With Query",
                "value": "ends_with:arpa"
              },
              "Starts With Query": {
                "summary": "Starts With Query",
                "value": "starts_with:dev"
              }
            },
            "in": "query",
            "name": "name",
            "schema": {
              "description": "A domain name. Optional filter operators can be provided to extend refine the search:\n  * `equal` (default)\n  * `not_equal`\n  * `starts_with`\n  * `ends_with`\n  * `contains`\n  * `starts_with_case_sensitive`\n  * `ends_with_case_sensitive`\n  * `contains_case_sensitive`\n",
              "maxLength": 253,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "Specify a zone status to filter by.",
              "enum": [
                "initializing",
                "pending",
                "active",
                "moved"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "account.id",
            "schema": {
              "description": "Filter by an account ID.",
              "type": "string"
            }
          },
          {
            "examples": {
              "Basic Query": {
                "summary": "Simple Query",
                "value": "Dev Account"
              },
              "Contains Query": {
                "summary": "Contains Query",
                "value": "contains:Test"
              }
            },
            "in": "query",
            "name": "account.name",
            "schema": {
              "description": "An account Name. Optional filter operators can be provided to extend refine the search:\n  * `equal` (default)\n  * `not_equal`\n  * `starts_with`\n  * `ends_with`\n  * `contains`\n  * `starts_with_case_sensitive`\n  * `ends_with_case_sensitive`\n  * `contains_case_sensitive`\n",
              "maxLength": 253,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Number of zones per page.",
              "maximum": 50,
              "minimum": 5,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "Field to order zones by.",
              "enum": [
                "name",
                "status",
                "account.id",
                "account.name",
                "plan.id"
              ],
              "example": "status",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "description": "Direction to order zones.",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "match",
            "schema": {
              "default": "all",
              "description": "Whether to match all search requirements or at least one (any).",
              "enum": [
                "any",
                "all"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zones_api-response-common"
                    },
                    {
                      "properties": {
                        "result_info": {
                          "$ref": "#/components/schemas/zones_result_info"
                        }
                      }
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/zones_zone"
                          },
                          "type": "array"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "List Zones response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "List Zones response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Zones",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Zone Read"
        ]
      },
      "post": {
        "operationId": "zones-post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "account": {
                    "properties": {
                      "id": {
                        "description": "Identifier",
                        "example": "023e105f4ecef8ad9ca31a8372d0c353",
                        "maxLength": 32,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "The domain name. Per [RFC 1035](https://datatracker.ietf.org/doc/html/rfc1035#section-2.3.4) the overall zone name can be up to 253 characters, with each segment (\"label\") not exceeding 63 characters.",
                    "example": "example.com",
                    "maxLength": 253,
                    "pattern": "^([a-zA-Z0-9][\\-a-zA-Z0-9]*\\.)+[\\-a-zA-Z0-9]{2,20}$",
                    "type": "string"
                  },
                  "type": {
                    "default": "full",
                    "description": "A full zone implies that DNS is hosted with Cloudflare. A partial zone is\ntypically a partner-hosted zone or a CNAME setup.\n",
                    "enum": [
                      "full",
                      "partial",
                      "secondary",
                      "internal"
                    ],
                    "example": "full",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "account"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zones_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/zones_zone"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create Zone response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Create Zone response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Zone",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Zone Edit",
          "Zone DNS Edit"
        ]
      }
    },
    "/zones/{zone_identifier}/custom_pages": {
      "get": {
        "description": "Fetches all the custom pages at the zone level.",
        "operationId": "custom-pages-for-a-zone-list-custom-pages",
        "parameters": [
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_page_result_list"
                }
              }
            },
            "description": "List custom pages response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_page_result_list"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List custom pages response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List custom pages",
        "tags": [
          "Custom pages for a zone"
        ],
        "x-api-token-group": [
          "Custom Pages Write",
          "Custom Pages Read",
          "Zone Settings Write",
          "Zone Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone_settings:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/zones/{zone_identifier}/custom_pages/assets": {
      "get": {
        "description": "Fetches all the custom assets at the zone level.",
        "operationId": "custom-assets-for-a-zone-list-custom-assets",
        "parameters": [
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "maximum": 200,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result_list"
                }
              }
            },
            "description": "List custom assets response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result_list"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List custom assets response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List custom assets",
        "tags": [
          "Custom assets for a zone"
        ],
        "x-api-token-group": [
          "Custom Errors Write",
          "Custom Errors Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone_settings:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new custom asset at the zone level.",
        "operationId": "custom-assets-for-a-zone-create-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "A short description of the custom asset.",
                    "example": "Custom 500 error page",
                    "type": "string"
                  },
                  "name": {
                    "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
                    "example": "my_custom_error_page",
                    "minLength": 1,
                    "pattern": "^[A-Za-z0-9_]+$",
                    "type": "string"
                  },
                  "url": {
                    "description": "The URL where the asset content is fetched from.",
                    "example": "https://example.com/error.html",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "description",
                  "url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                }
              }
            },
            "description": "Create custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a custom asset",
        "tags": [
          "Custom assets for a zone"
        ],
        "x-api-token-group": [
          "Custom Errors Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone_settings:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/zones/{zone_identifier}/custom_pages/assets/{asset_name}": {
      "delete": {
        "description": "Deletes an existing custom asset.",
        "operationId": "custom-assets-for-a-zone-delete-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "asset_name",
            "required": true,
            "schema": {
              "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
              "example": "my_custom_error_page",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9_]+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Delete a custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete a custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a custom asset",
        "tags": [
          "Custom assets for a zone"
        ],
        "x-api-token-group": [
          "Custom Errors Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone_settings:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "get": {
        "description": "Fetches the details of a custom asset.",
        "operationId": "custom-assets-for-a-zone-get-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "asset_name",
            "required": true,
            "schema": {
              "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
              "example": "my_custom_error_page",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9_]+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                }
              }
            },
            "description": "Get a custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get a custom asset",
        "tags": [
          "Custom assets for a zone"
        ],
        "x-api-token-group": [
          "Custom Errors Write",
          "Custom Errors Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone_settings:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "put": {
        "description": "Updates the configuration of an existing custom asset.",
        "operationId": "custom-assets-for-a-zone-update-a-custom-asset",
        "parameters": [
          {
            "in": "path",
            "name": "asset_name",
            "required": true,
            "schema": {
              "description": "The unique name of the custom asset. Can only contain letters (A-Z, a-z), numbers (0-9), and underscores (_).",
              "example": "my_custom_error_page",
              "minLength": 1,
              "pattern": "^[A-Za-z0-9_]+$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "A short description of the custom asset.",
                    "example": "Custom 500 error page",
                    "type": "string"
                  },
                  "url": {
                    "description": "The URL where the asset content is fetched from.",
                    "example": "https://example.com/error.html",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "description",
                  "url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                }
              }
            },
            "description": "Update a custom asset response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_asset_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a custom asset response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a custom asset",
        "tags": [
          "Custom assets for a zone"
        ],
        "x-api-token-group": [
          "Custom Errors Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone_settings:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/zones/{zone_identifier}/custom_pages/{identifier}": {
      "get": {
        "description": "Fetches the details of a custom page.",
        "operationId": "custom-pages-for-a-zone-get-a-custom-page",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "description": "Error Page Types",
              "enum": [
                "1000_errors",
                "500_errors",
                "basic_challenge",
                "country_challenge",
                "ip_block",
                "managed_challenge",
                "ratelimit_block",
                "under_attack",
                "waf_block",
                "waf_challenge"
              ],
              "example": "ratelimit_block",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_page"
                }
              }
            },
            "description": "Get a custom page response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_page_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a custom page response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get a custom page",
        "tags": [
          "Custom pages for a zone"
        ],
        "x-api-token-group": [
          "Custom Pages Write",
          "Custom Pages Read",
          "Zone Settings Write",
          "Zone Settings Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "put": {
        "description": "Updates the configuration of an existing custom page.",
        "operationId": "custom-pages-for-a-zone-update-a-custom-page",
        "parameters": [
          {
            "in": "path",
            "name": "identifier",
            "required": true,
            "schema": {
              "description": "Error Page Types",
              "enum": [
                "1000_errors",
                "500_errors",
                "basic_challenge",
                "country_challenge",
                "ip_block",
                "managed_challenge",
                "ratelimit_block",
                "under_attack",
                "waf_block",
                "waf_challenge"
              ],
              "example": "ratelimit_block",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "zone_identifier",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "state": {
                    "description": "The custom page state.",
                    "enum": [
                      "default",
                      "customized"
                    ],
                    "example": "default",
                    "type": "string"
                  },
                  "url": {
                    "default": "",
                    "description": "The URL associated with the custom page.",
                    "example": "http://www.example.com",
                    "format": "uri",
                    "type": "string"
                  }
                },
                "required": [
                  "url",
                  "state"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-pages_custom_page_result"
                }
              }
            },
            "description": "Update a custom page response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-pages_custom_page_result"
                    },
                    {
                      "$ref": "#/components/schemas/custom-pages_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a custom page response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a custom page",
        "tags": [
          "Custom pages for a zone"
        ],
        "x-api-token-group": [
          "Custom Pages Write",
          "Zone Settings Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}": {
      "delete": {
        "description": "Deletes an existing zone.",
        "operationId": "zones-0-delete",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-single-id"
                }
              }
            },
            "description": "Delete Zone response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Delete Zone response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Zone",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "operationId": "zones-0-get",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zones_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/zones_zone"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Zone Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Zone Details response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Zone Details",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read",
          "Zero Trust: PII Read",
          "Zaraz Edit",
          "Zaraz Read",
          "Zaraz Admin",
          "Access: Apps and Policies Revoke",
          "Access: Apps and Policies Write",
          "Access: Apps and Policies Read",
          "Access: Apps and Policies Revoke",
          "Access: Mutual TLS Certificates Write",
          "Access: Organizations, Identity Providers, and Groups Write",
          "Zone Settings Write",
          "Zone Settings Read",
          "Zone Read",
          "DNS Read",
          "Workers Scripts Write",
          "Workers Scripts Read",
          "Zone Write",
          "Workers Routes Write",
          "Workers Routes Read",
          "Stream Write",
          "Stream Read",
          "SSL and Certificates Write",
          "SSL and Certificates Read",
          "Logs Write",
          "Logs Read",
          "Cache Purge",
          "Page Rules Write",
          "Page Rules Read",
          "Load Balancers Write",
          "Load Balancers Read",
          "Firewall Services Write",
          "Firewall Services Read",
          "DNS Write",
          "Apps Write",
          "Analytics Read",
          "Access: Apps and Policies Write",
          "Access: Apps and Policies Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#zone:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "patch": {
        "description": "Edits a zone. Only one zone property can be changed at a time.",
        "operationId": "zones-0-patch",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "paused": true
                },
                "properties": {
                  "paused": {
                    "default": false,
                    "description": "Indicates whether the zone is only using Cloudflare DNS services. A\ntrue value means the zone will not receive security or performance\nbenefits.\n",
                    "type": "boolean"
                  },
                  "plan": {
                    "description": "(Deprecated) Please use the `/zones/{zone_id}/subscription` API\nto update a zone's plan. Changing this value will create/cancel\nassociated subscriptions. To view available plans for this zone,\nsee Zone Plans.\n",
                    "properties": {
                      "id": {
                        "description": "Identifier",
                        "example": "023e105f4ecef8ad9ca31a8372d0c353",
                        "maxLength": 32,
                        "type": "string"
                      }
                    },
                    "type": "object"
                  },
                  "type": {
                    "description": "A full zone implies that DNS is hosted with Cloudflare. A partial\nzone is typically a partner-hosted zone or a CNAME setup. This\nparameter is only available to Enterprise customers or if it has\nbeen explicitly enabled on a zone.\n",
                    "enum": [
                      "full",
                      "partial",
                      "secondary",
                      "internal"
                    ],
                    "example": "full",
                    "type": "string"
                  },
                  "vanity_name_servers": {
                    "$ref": "#/components/schemas/zones_vanity_name_servers"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zones_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/zones_zone"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Edit Zone response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zones_api-response-common-failure"
                }
              }
            },
            "description": "Edit Zone response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Edit Zone",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/acm/custom_trust_store": {
      "get": {
        "description": "Get Custom Origin Trust Store for a Zone.",
        "operationId": "custom-origin-trust-store-list-details",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Number of records per page.",
              "maximum": 50,
              "minimum": 5,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Limit to the number of records returned.",
              "example": 10,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "description": "Offset the results",
              "example": 10,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_custom_trust_store_response_collection"
                }
              }
            },
            "description": "Custom Origin Trust Store Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_custom_trust_store_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Custom Origin Trust Store response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "List Custom Origin Trust Store Details",
        "tags": [
          "Custom Origin Trust Store"
        ],
        "x-api-token-group": [
          "SSL and Certificates Write",
          "SSL and Certificates Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Add Custom Origin Trust Store for a Zone.",
        "operationId": "custom-origin-trust-store-create",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificate": {
                    "description": "The zone's SSL certificate or certificate and the intermediate(s).",
                    "example": "-----BEGIN CERTIFICATE-----\nMIIDdjCCAl6gAwIBAgIJAPnMg0Fs+/B0MA0GCSqGSIb3DQEBCwUAMFsx...\n-----END CERTIFICATE-----\n",
                    "type": "string"
                  }
                },
                "required": [
                  "certificate"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_custom_trust_store_response_single"
                }
              }
            },
            "description": "Upload Custom Origin Trust Store response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_custom_trust_store_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Upload Custom Origin Trust Store response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Upload Custom Origin Trust Store",
        "tags": [
          "Custom Origin Trust Store"
        ],
        "x-api-token-group": [
          "SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read",
            "#ssl:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/acm/custom_trust_store/{custom_origin_trust_store_id}": {
      "delete": {
        "description": "Removes a CA certificate from the custom origin trust store. Origins using certificates signed by this CA will no longer be trusted.",
        "operationId": "custom-origin-trust-store-delete",
        "parameters": [
          {
            "in": "path",
            "name": "custom_origin_trust_store_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_custom_trust_store_response_id_only"
                }
              }
            },
            "description": "Delete Custom Origin Trust Store response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "description": "Identifier.",
                      "example": "023e105f4ecef8ad9ca31a8372d0c353",
                      "maxLength": 32,
                      "type": "string"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete Custom Origin Trust Store response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Delete Custom Origin Trust Store",
        "tags": [
          "Custom Origin Trust Store"
        ],
        "x-api-token-group": [
          "SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read",
            "#ssl:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "get": {
        "description": "Retrieves details about a specific certificate in the custom origin trust store, including expiration and subject information.",
        "operationId": "custom-origin-trust-store-details",
        "parameters": [
          {
            "in": "path",
            "name": "custom_origin_trust_store_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_custom_trust_store_response_single"
                }
              }
            },
            "description": "Custom Origin Trust Store Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_custom_trust_store_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Custom Origin Trust Store Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Custom Origin Trust Store Details",
        "tags": [
          "Custom Origin Trust Store"
        ],
        "x-api-token-group": [
          "SSL and Certificates Write",
          "SSL and Certificates Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/acm/total_tls": {
      "get": {
        "description": "Get Total TLS Settings for a Zone.",
        "operationId": "total-tls-total-tls-settings-details",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response"
                }
              }
            },
            "description": "Total TLS Settings Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Total TLS Settings Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Total TLS Settings Details",
        "tags": [
          "Total TLS"
        ],
        "x-api-token-group": [
          "SSL and Certificates Write",
          "SSL and Certificates Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Set Total TLS Settings or disable the feature for a Zone.",
        "operationId": "total-tls-enable-or-disable-total-tls",
        "parameters": [
          {
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "certificate_authority": {
                    "description": "The Certificate Authority that Total TLS certificates will be issued through.",
                    "enum": [
                      "google",
                      "lets_encrypt",
                      "ssl_com"
                    ],
                    "example": "google",
                    "type": "string"
                  },
                  "enabled": {
                    "description": "If enabled, Total TLS will order a hostname specific TLS certificate for any proxied A, AAAA, or CNAME record in your zone.",
                    "example": true,
                    "type": "boolean"
                  }
                },
                "required": [
                  "enabled"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response"
                }
              }
            },
            "description": "Enable or Disable Total TLS response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_total_tls_settings_response"
                    },
                    {
                      "$ref": "#/components/schemas/tls-certificates-and-hostnames_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Enable or Disable Total TLS response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Enable or Disable Total TLS",
        "tags": [
          "Total TLS"
        ],
        "x-api-token-group": [
          "SSL and Certificates Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#ssl:read",
            "#ssl:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/zones/{zone_id}/activation_check": {
      "put": {
        "description": "Triggeres a new activation check for a PENDING Zone. This can be\ntriggered every 5 min for paygo/ent customers, every hour for FREE\nZones.",
        "operationId": "put-zones-zone_id-activation_check",
        "parameters": [
          {
            "description": "Zone ID",
            "in": "path",
            "name": "zone_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zone-activation_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "id": {
                              "description": "Identifier.",
                              "example": "023e105f4ecef8ad9ca31a8372d0c353",
                              "maxLength": 32,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Successful Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zone-activation_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Client Error"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Rerun the Activation Check",
        "tags": [
          "Zone"
        ],
        "x-api-token-group": [
          "Zone Write"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/configuration": {
      "get": {
        "description": "Gets the current API Shield configuration settings for a zone, including validation behavior and enforcement mode.",
        "operationId": "api-shield-settings-retrieve-information-about-specific-configuration-properties",
        "responses": {
          "200": {
            "$ref": "#/components/responses/api-shield_config-get-success"
          },
          "4XX": {
            "$ref": "#/components/responses/api-shield_generic-failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Retrieve information about specific configuration properties",
        "tags": [
          "API Shield Settings"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Account API Gateway Read",
          "Domain API Gateway",
          "Domain API Gateway Read"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        },
        {
          "description": "Ensures that the configuration is written or retrieved in normalized fashion",
          "in": "query",
          "name": "normalize",
          "schema": {
            "type": "boolean"
          }
        }
      ],
      "put": {
        "description": "Updates API Shield configuration settings for a zone. Can modify validation strictness, enforcement mode, and other global settings.",
        "operationId": "api-shield-settings-set-configuration-properties",
        "requestBody": {
          "$ref": "#/components/requestBodies/api-shield_config-update"
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/api-shield_config-update-success"
          },
          "4XX": {
            "$ref": "#/components/responses/api-shield_generic-failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update configuration properties",
        "tags": [
          "API Shield Settings"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/discovery": {
      "get": {
        "description": "Retrieve the most up to date view of discovered operations, rendered as OpenAPI schemas",
        "operationId": "api-shield-api-discovery-retrieve-discovered-operations-on-a-zone-as-openapi",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_schema_response_discovery"
                }
              }
            },
            "description": "Retrieve discovered operations on a zone, rendered as OpenAPI schemas response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_schema_response_discovery"
                    },
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Retrieve discovered operations on a zone, rendered as OpenAPI schemas response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve discovered operations on a zone rendered as OpenAPI schemas",
        "tags": [
          "API Shield API Discovery"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Account API Gateway Read",
          "Domain API Gateway",
          "Domain API Gateway Read"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        }
      ]
    },
    "/zones/{zone_id}/api_gateway/discovery/operations": {
      "get": {
        "description": "Retrieve the most up to date view of discovered operations",
        "operationId": "api-shield-api-discovery-retrieve-discovered-operations-on-a-zone",
        "parameters": [
          {
            "$ref": "#/components/parameters/api-shield_page"
          },
          {
            "$ref": "#/components/parameters/api-shield_per_page"
          },
          {
            "$ref": "#/components/parameters/api-shield_host_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_method_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_endpoint_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_direction_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_order_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_diff_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_api_discovery_origin_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_api_discovery_state_parameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/api-shield_discovery_operation"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Retrieve discovered operations on a zone response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Retrieve discovered operations on a zone response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve discovered operations on a zone",
        "tags": [
          "API Shield API Discovery"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Account API Gateway Read",
          "Domain API Gateway",
          "Domain API Gateway Read"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        }
      ],
      "patch": {
        "description": "Update the `state` on one or more discovered operations",
        "operationId": "api-shield-api-patch-discovered-operations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api-shield_api_discovery_patch_multiple_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_patch_discoveries_response"
                }
              }
            },
            "description": "Patch discovered operations response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Patch discovered operations response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch discovered operations",
        "tags": [
          "API Shield API Discovery"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/discovery/operations/{operation_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        },
        {
          "$ref": "#/components/parameters/api-shield_parameters-operation_id"
        }
      ],
      "patch": {
        "description": "Update the `state` on a discovered operation",
        "operationId": "api-shield-api-patch-discovered-operation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "state": {
                    "allOf": [
                      {
                        "description": "Mark state of operation in API Discovery\n  * `review` - Mark operation as for review\n  * `ignored` - Mark operation as ignored\n",
                        "enum": [
                          "review",
                          "ignored"
                        ],
                        "type": "string"
                      }
                    ]
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_patch_discovery_response"
                }
              }
            },
            "description": "Patch discovered operation response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Patch discovered operation response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch discovered operation",
        "tags": [
          "API Shield API Discovery"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/expression-template/fallthrough": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        }
      ],
      "post": {
        "description": "Creates an expression template fallthrough rule for API Shield. Used for configuring default behavior when no other expression templates match.",
        "operationId": "api-shield-expression-templates-fallthrough",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api-shield_request_expression_templates_fallthrough"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_response_expression_templates_fallthrough"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Generate fallthrough WAF expression template response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Generate fallthrough WAF expression template failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Generate fallthrough WAF expression template from a set of API hosts",
        "tags": [
          "API Shield WAF Expression Templates"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/labels": {
      "get": {
        "description": "Retrieve all labels",
        "operationId": "api-shield-labels-get-labels",
        "parameters": [
          {
            "$ref": "#/components/parameters/api-shield_page"
          },
          {
            "$ref": "#/components/parameters/api-shield_per_page"
          },
          {
            "$ref": "#/components/parameters/api-shield_parameters-order_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_direction_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_source_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_filter_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_with_mapped_resource_counts_parameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/api-shield_full_label"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Retrieve all labels response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Retrieve all labels response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve all labels",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Account API Gateway Read",
          "Domain API Gateway",
          "Domain API Gateway Read"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        }
      ]
    },
    "/zones/{zone_id}/api_gateway/labels/managed/{name}": {
      "get": {
        "description": "Retrieve managed label",
        "operationId": "api-shield-labels-get-managed-label",
        "parameters": [
          {
            "$ref": "#/components/parameters/api-shield_with_mapped_resource_counts_parameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_full_managed_label"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Retrieve managed label response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Retrieve managed label response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve managed label",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Account API Gateway Read",
          "Domain API Gateway",
          "Domain API Gateway Read"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        },
        {
          "$ref": "#/components/parameters/api-shield_label_name_parameter"
        }
      ]
    },
    "/zones/{zone_id}/api_gateway/labels/managed/{name}/resources/operation": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        },
        {
          "$ref": "#/components/parameters/api-shield_label_name_parameter"
        }
      ],
      "put": {
        "description": "Replace all operations(s) attached to a managed label",
        "operationId": "api-shield-labels-replace-operations-attached-to-managed-label",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api-shield_replace_operations_attached_to_label_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_full_managed_label"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Replace all operations(s) attached to a managed label response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Replace all operations(s) attached to a managed label failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Replace operation(s) attached to a managed label",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/labels/user": {
      "delete": {
        "operationId": "api-shield-labels-delete-user-labels",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "description": "The name of the label",
                  "example": "login",
                  "type": "string"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/api-shield_label"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete user labels response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Delete user labels response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete user labels",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        }
      ],
      "post": {
        "operationId": "api-shield-labels-create-user-labels",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/api-shield_label_request"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/api-shield_label"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create user labels response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Create user labels response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create user labels",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/labels/user/{name}": {
      "delete": {
        "description": "Delete user label",
        "operationId": "api-shield-delete-user-label",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_label"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete user label response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Delete label response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete user label",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      },
      "get": {
        "description": "Retrieve user label",
        "operationId": "api-shield-labels-get-user-label",
        "parameters": [
          {
            "$ref": "#/components/parameters/api-shield_with_mapped_resource_counts_parameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_full_label"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Retrieve user label response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Retrieve user label response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve user label",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Account API Gateway Read",
          "Domain API Gateway",
          "Domain API Gateway Read"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        },
        {
          "$ref": "#/components/parameters/api-shield_label_name_parameter"
        }
      ],
      "patch": {
        "description": "Update certain fields on a label",
        "operationId": "api-shield-patch-user-label",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api-shield_patch_label_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_label"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Patch label response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Patch label response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch user label",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      },
      "put": {
        "description": "Update all fields on a label",
        "operationId": "api-shield-put-user-label",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api-shield_put_label_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_label"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update label response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Update label response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update user label",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/labels/user/{name}/resources/operation": {
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        },
        {
          "$ref": "#/components/parameters/api-shield_label_name_parameter"
        }
      ],
      "put": {
        "description": "Replace all operations(s) attached to a user label",
        "operationId": "api-shield-labels-replace-operations-attached-to-user-label",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/api-shield_replace_operations_attached_to_label_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/api-shield_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/api-shield_full_label"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Replace all operations(s) attached to a user label response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Replace all operations(s) attached to a user label failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Replace operation(s) attached to a user label",
        "tags": [
          "API Shield Labels"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      }
    },
    "/zones/{zone_id}/api_gateway/operations": {
      "delete": {
        "description": "Bulk removes multiple API operations from API Shield endpoint management in a single request. Efficient for cleaning up unused endpoints.",
        "operationId": "api-shield-endpoint-management-delete-multiple-operations",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": [
                  {
                    "operation_id": "b17c8043-99a0-4202-b7d9-8f7cdbee02cd"
                  },
                  {
                    "operation_id": "3818d821-5901-4147-a474-f5f5aec1d54e"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/api-shield_object-with-operation-id"
                },
                "type": "array",
                "uniqueItems": true
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common"
                }
              }
            },
            "description": "Delete multiple operations response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Delete multiple operations response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete multiple operations",
        "tags": [
          "API Shield Endpoint Management"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Domain API Gateway"
        ]
      },
      "get": {
        "description": "Lists all API operations tracked by API Shield for a zone with pagination. Returns operation details including method, path, and feature configurations.",
        "operationId": "api-shield-endpoint-management-retrieve-information-about-all-operations-on-a-zone",
        "parameters": [
          {
            "$ref": "#/components/parameters/api-shield_page"
          },
          {
            "$ref": "#/components/parameters/api-shield_per_page"
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "description": "Field to order by. When requesting a feature, the feature keys are available for ordering as well, e.g., `thresholds.suggested_threshold`.",
              "enum": [
                "method",
                "host",
                "endpoint",
                "thresholds.$key"
              ],
              "example": "method",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/api-shield_direction_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_host_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_method_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_endpoint_parameter"
          },
          {
            "$ref": "#/components/parameters/api-shield_operation_feature_parameter"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_multiple-operation-response-paginated"
                }
              }
            },
            "description": "Retrieve information about all operations on a zone response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/api-shield_api-response-common-failure"
                }
              }
            },
            "description": "Retrieve information about all operations on a zone response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve information about all operations on a zone",
        "tags": [
          "API Shield Endpoint Management"
        ],
        "x-api-token-group": [
          "Account API Gateway",
          "Account API Gateway Read",
          "Domain API Gateway",
          "Domain API Gateway Read"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/api-shield_zone_id"
        }
      ],
      "post": {
[...]
