{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Intel",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/brand-protection/alerts": {
      "get": {
        "description": "Return all alerts on submitted domains",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read all alerts on submitted domains",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Return a success message after updating alerts on submitted domains by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update alerts on submitted domains by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/alerts/clear": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Return a success message after updating verification statuses of tracked URLs to awaiting by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update verification statuses of tracked URLs to awaiting by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/alerts/refute": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Return a success message after updating verification statuses of tracked URLs to disproven by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update verification statuses of tracked URLs to disproven by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/alerts/verify": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Return a success message after updating verification statuses of tracked URLs to confirmed by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update verification statuses of tracked URLs to confirmed by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/brands": {
      "delete": {
        "description": "Return a success message after deleting brands by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete brands by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      },
      "get": {
        "description": "Return all brands",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read all brands",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return new brands",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new brands",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/brands/patterns": {
      "delete": {
        "description": "Return a success message after deleting patterns for brands by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete patterns for brands by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      },
      "get": {
        "description": "Return patterns for brands based on ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read patterns for brands by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return a success message after creating new patterns for brands by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new patterns for brands by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/clear": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Return a success message after updating verification statuses of submitted URLs to awaiting by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update verification statuses of submitted URLs to awaiting by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/domain-info": {
      "get": {
        "description": "Return submitted domains based on ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read submitted domains by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/logo-matches": {
      "get": {
        "description": "Return matches for logo queries based on ID",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "logo_id",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand-protection-api_LogoMatch"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read matches for logo queries by ID",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/logo-matches/download": {
      "get": {
        "description": "Return matches as CSV for logo queries based on ID",
        "parameters": [
          {
            "explode": true,
            "in": "query",
            "name": "logo_id",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand-protection-api_LogoMatch"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Download matches for logo queries by ID",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/logos": {
      "get": {
        "description": "Return all saved logo queries",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read all saved logo queries",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return new saved logo queries created from image files",
        "parameters": [
          {
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "match_type",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "threshold",
            "schema": {
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "$ref": "#/components/schemas/brand-protection-api_ImageFile"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand-protection-api_Logo"
                }
              }
            },
            "description": "Created"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new saved logo queries from image files",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/logos/{logo_id}": {
      "delete": {
        "description": "Return a success message after deleting saved logo queries by ID",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete saved logo queries by ID",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      },
      "get": {
        "description": "Return saved logo queries based on ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read saved logo queries by ID",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        },
        {
          "in": "path",
          "name": "logo_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/matches": {
      "get": {
        "description": "Return matches for string queries based on ID",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "include_domain_id",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand-protection-api_QueryMatch"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read matches for string queries by ID",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/matches/download": {
      "get": {
        "description": "Return matches as CSV for string queries based on ID",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "offset",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "include_domain_id",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand-protection-api_QueryMatch"
                }
              }
            },
            "description": "OK"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Download matches for string queries by ID",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/queries": {
      "delete": {
        "description": "Return a success message after deleting saved string queries by ID",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scan",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete saved string queries by ID",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      },
      "get": {
        "description": "Return string queries based on ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read string queries by ID",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Update a saved query's tag, scan setting, or string_matches (pattern). When string_matches is provided, the query parameters and hash are updated. At least one of tag, scan, or string_matches is required.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "id": {
                    "description": "The query ID to update (required when updating tag or scan)",
                    "type": "integer"
                  },
                  "scan": {
                    "description": "Whether to scan matches",
                    "type": "boolean"
                  },
                  "string_matches": {
                    "description": "Updated pattern match constraints. When provided, replaces the existing string_matches.",
                    "items": {
                      "properties": {
                        "max_edit_distance": {
                          "description": "Maximum Levenshtein edit distance for fuzzy matching",
                          "type": "number"
                        },
                        "pattern": {
                          "description": "The pattern to match against",
                          "type": "string"
                        }
                      },
                      "required": [
                        "pattern"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "tag": {
                    "description": "Query tag. Required as identifier when updating string_matches.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update saved string queries by ID",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      },
      "post": {
        "description": "Return a success message after creating new saved string queries",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tag",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "scan",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/brand-protection-api_Query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new saved string queries",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/queries/bulk": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return a success message after creating new saved string queries in bulk",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/brand-protection-api_QueryBulk"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "No Content"
          },
          "422": {
            "$ref": "#/components/responses/brand-protection-api_UNPROCESSABLE_CONTENT"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new saved string queries in bulk",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/recent-submissions": {
      "get": {
        "description": "Return recent URL submissions",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read recent URL submissions",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/refute": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Return a success message after updating verification statuses of submitted URLs to disproven by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update verification statuses of submitted URLs to disproven by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/scan-logo": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return new logo queries created from image files",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new logo queries from image files",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/scan-page": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return new logo queries created from URLs",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new logo queries from URLs",
        "tags": [
          "logo_match"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/search": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return new string queries",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new string queries",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/submission-info": {
      "get": {
        "description": "Return URL submissions based on ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read URL submissions by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/submit": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "post": {
        "description": "Return new URL submissions",
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand-protection-api_URLSubmit"
                }
              }
            },
            "description": "Created"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create new URL submissions",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/brand-protection/total-queries": {
      "get": {
        "description": "Return the total number of saved string queries",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read the total number of saved string queries",
        "tags": [
          "domain_search"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/tracked-domains": {
      "get": {
        "description": "Return submitted domains based on pattern",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read submitted domains by pattern",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/url-info": {
      "get": {
        "description": "Return submitted URLs based on ID",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/brand-protection-api_URLInfo"
                }
              }
            },
            "description": "OK"
          },
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Read submitted URLs by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ]
    },
    "/accounts/{account_id}/brand-protection/verify": {
      "parameters": [
        {
          "in": "path",
          "name": "account_id",
          "required": true,
          "schema": {
            "minLength": 1,
            "type": "string"
          }
        }
      ],
      "patch": {
        "description": "Return a success message after updating verification statuses of submitted URLs to confirmed by ID",
        "responses": {
          "default": {
            "$ref": "#/components/responses/brand-protection-api_DEFAULT_ERROR"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update verification statuses of submitted URLs to confirmed by ID",
        "tags": [
          "brand_protection"
        ],
        "x-api-token-group": [
          "Intel Write"
        ]
      }
    },
    "/accounts/{account_id}/intel/asn/{asn}": {
      "get": {
        "description": "Gets an overview of the Autonomous System Number (ASN) and a list of subnets for it.",
        "operationId": "asn-intelligence-get-asn-overview",
        "parameters": [
          {
            "in": "path",
            "name": "asn",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/intel_asn_components-schemas-response"
                }
              }
            },
            "description": "Get ASN Overview response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/intel_asn_components-schemas-response"
                    },
                    {
                      "$ref": "#/components/schemas/intel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get ASN Overview response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get ASN Overview.",
        "tags": [
          "ASN Intelligence"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/asn/{asn}/subnets": {
      "get": {
        "description": "Get ASN Subnets.",
        "operationId": "asn-intelligence-get-asn-subnets",
        "parameters": [
          {
            "in": "path",
            "name": "asn",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "asn": {
                      "type": "integer"
                    },
                    "count": {
                      "description": "Total results returned based on your search parameters.",
                      "example": 1,
                      "type": "number"
                    },
                    "ip_count_total": {
                      "type": "integer"
                    },
                    "page": {
                      "description": "Current page within paginated list of results.",
                      "example": 1,
                      "type": "number"
                    },
                    "per_page": {
                      "description": "Number of results per page of results.",
                      "example": 20,
                      "type": "number"
                    },
                    "subnets": {
                      "example": [
                        "192.0.2.0/24",
                        "2001:DB8::/32"
                      ],
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "description": "Get ASN Subnets response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "properties": {
                        "asn": {
                          "type": "integer"
                        },
                        "count": {
                          "description": "Total results returned based on your search parameters.",
                          "example": 1,
                          "type": "number"
                        },
                        "ip_count_total": {
                          "type": "integer"
                        },
                        "page": {
                          "description": "Current page within paginated list of results.",
                          "example": 1,
                          "type": "number"
                        },
                        "per_page": {
                          "description": "Number of results per page of results.",
                          "example": 20,
                          "type": "number"
                        },
                        "subnets": {
                          "example": [
                            "192.0.2.0/24",
                            "2001:DB8::/32"
                          ],
                          "items": {
                            "type": "string"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/intel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get ASN Subnets response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get ASN Subnets",
        "tags": [
          "ASN Intelligence"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/attack-surface-report/issue-types": {
      "get": {
        "description": "Lists all available issue types in Security Center, describing categories of security issues.",
        "operationId": "get-security-center-issue-types",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/security-center_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "anyOf": [
                            {
                              "items": {
                                "type": "string"
                              },
                              "type": "array"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "The request was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_api-response-common-failure"
                }
              }
            },
            "description": "A client error occurred."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Retrieves Security Center Issues Types",
        "tags": [
          "Security Center Insights"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/attack-surface-report/issues": {
      "get": {
        "deprecated": true,
        "description": "Lists all Security Center issues for the account, showing active security problems requiring attention.",
        "operationId": "get-security-center-issues",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dismissed",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "issue_class",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          },
          {
            "in": "query",
            "name": "issue_class~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "allOf": [
                {
                  "description": "Specifies the current page within paginated list of results.",
                  "example": 1,
                  "type": "integer"
                }
              ],
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "allOf": [
                {
                  "description": "Sets the number of results per page of results.",
                  "example": 25,
                  "maximum": 1000,
                  "minimum": 1,
                  "type": "integer"
                }
              ],
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/security-center_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "anyOf": [
                            {
                              "properties": {
                                "count": {
                                  "description": "Indicates the total number of results.",
                                  "example": 1,
                                  "type": "integer"
                                },
                                "issues": {
                                  "items": {
                                    "$ref": "#/components/schemas/security-center_issue"
                                  },
                                  "type": "array"
                                },
                                "page": {
                                  "description": "Specifies the current page within paginated list of results.",
                                  "example": 1,
                                  "type": "integer"
                                },
                                "per_page": {
                                  "description": "Sets the number of results per page of results.",
                                  "example": 25,
                                  "maximum": 1000,
                                  "minimum": 1,
                                  "type": "integer"
                                }
                              },
                              "type": "object"
                            }
                          ]
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "The request was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_api-response-common-failure"
                }
              }
            },
            "description": "A client error occurred."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Retrieves Security Center Issues",
        "tags": [
          "Security Center Insights"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/attack-surface-report/issues/class": {
      "get": {
        "deprecated": true,
        "description": "Retrieves Security Center issue counts aggregated by classification class.",
        "operationId": "get-security-center-issue-counts-by-class",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dismissed",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "issue_class",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          },
          {
            "in": "query",
            "name": "issue_class~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_valueCountsResponse"
                }
              }
            },
            "description": "The request was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_api-response-common-failure"
                }
              }
            },
            "description": "A client error occurred."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Retrieves Security Center Issue Counts by Class",
        "tags": [
          "Security Center Insights"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/attack-surface-report/issues/severity": {
      "get": {
        "deprecated": true,
        "description": "Retrieves Security Center issue counts aggregated by severity level.",
        "operationId": "get-security-center-issue-counts-by-severity",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dismissed",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "issue_class",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          },
          {
            "in": "query",
            "name": "issue_class~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_valueCountsResponse"
                }
              }
            },
            "description": "The request was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_api-response-common-failure"
                }
              }
            },
            "description": "A client error occurred."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Retrieves Security Center Issue Counts by Severity",
        "tags": [
          "Security Center Insights"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/attack-surface-report/issues/type": {
      "get": {
        "deprecated": true,
        "description": "Retrieves Security Center issue counts aggregated by issue type.",
        "operationId": "get-security-center-issue-counts-by-type",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dismissed",
            "schema": {
              "example": false,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "issue_class",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          },
          {
            "in": "query",
            "name": "issue_class~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueClasses"
            }
          },
          {
            "in": "query",
            "name": "issue_type~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_issueTypes"
            }
          },
          {
            "in": "query",
            "name": "product~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_products"
            }
          },
          {
            "in": "query",
            "name": "severity~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_severityQueryParam"
            }
          },
          {
            "in": "query",
            "name": "subject~neq",
            "schema": {
              "$ref": "#/components/schemas/security-center_subjects"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_valueCountsResponse"
                }
              }
            },
            "description": "The request was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_api-response-common-failure"
                }
              }
            },
            "description": "A client error occurred."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Retrieves Security Center Issue Counts by Type",
        "tags": [
          "Security Center Insights"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/attack-surface-report/{issue_id}/dismiss": {
      "put": {
        "deprecated": true,
        "description": "Deprecated endpoint for archiving Security Center insights. Use the newer archive-security-center-insight endpoint instead.",
        "operationId": "archive-security-center-insight-deprecated",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "issue_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "dismiss": {
                    "default": true,
                    "type": "boolean",
                    "x-auditable": true
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/security-center_api-response-single"
                    }
                  ]
                }
              }
            },
            "description": "The request was successful."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/security-center_api-response-common-failure"
                }
              }
            },
            "description": "A client error occurred."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          }
        ],
        "summary": "Archives Security Center Insight",
        "tags": [
          "Security Center Insights"
        ]
      }
    },
    "/accounts/{account_id}/intel/dns": {
      "get": {
        "description": "Gets a list of all the domains that have resolved to a specific IP address.",
        "operationId": "passive-dns-by-ip-get-passive-dns-by-ip",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "start_end_params",
            "schema": {
              "$ref": "#/components/schemas/intel_start_end_params"
            }
          },
          {
            "in": "query",
            "name": "ipv4",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Requested page within paginated list of results.",
              "example": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "Maximum number of results requested.",
              "example": 20,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/intel_components-schemas-single_response"
                }
              }
            },
            "description": "Get Passive DNS by IP response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/intel_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/intel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get Passive DNS by IP response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Passive DNS by IP",
        "tags": [
          "Passive DNS by IP"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/domain": {
      "get": {
        "description": "Gets security details and statistics about a domain.",
        "operationId": "domain-intelligence-get-domain-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "domain",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/intel_single_response"
                }
              }
            },
            "description": "Get Domain Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/intel_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/intel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get Domain Details response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Domain Details",
        "tags": [
          "Domain Intelligence"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/domain-history": {
      "get": {
        "description": "Gets historical security threat and content categories currently and previously assigned to a domain.",
        "operationId": "domain-history-get-domain-history",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "domain",
            "schema": {
              "example": "example.com",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/intel_response"
                }
              }
            },
            "description": "Get Domain History response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/intel_response"
                    },
                    {
                      "$ref": "#/components/schemas/intel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get Domain History response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Domain History",
        "tags": [
          "Domain History"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/domain/bulk": {
      "get": {
        "description": "Same as summary.",
        "operationId": "domain-intelligence-get-multiple-domain-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "Accepts multiple values like `?domain=cloudflare.com&domain=example.com`.",
            "explode": true,
            "in": "query",
            "name": "domain",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/intel_collection_response"
                }
              }
            },
            "description": "Get Multiple Domain Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/intel_collection_response"
                    },
                    {
                      "$ref": "#/components/schemas/intel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get Multiple Domain Details response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Multiple Domain Details",
        "tags": [
          "Domain Intelligence"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds": {
      "get": {
        "description": "Retrieves details for all accessible custom threat indicator feeds.",
        "operationId": "custom-indicator-feeds-get-indicator-feeds",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_indicator_feed_response"
                }
              }
            },
            "description": "Get indicator feeds response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_indicator_feed_response"
                    },
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get indicator feeds owned by this account",
        "tags": [
          "Custom Indicator Feeds"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "post": {
        "description": "Creates a new custom threat indicator feed for sharing threat intelligence data.",
        "operationId": "custom-indicator-feeds-create-indicator-feeds",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/custom-indicator-feeds_create_feed"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_create_feed_response"
                }
              }
            },
            "description": "Create indicator feed response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_create_feed_response"
                    },
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds failure response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create new indicator feed",
        "tags": [
          "Custom Indicator Feeds"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds/permissions/add": {
      "put": {
        "description": "Grants access permissions for a custom threat indicator feed to other accounts.",
        "operationId": "custom-indicator-feeds-add-permission",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/custom-indicator-feeds_permissions_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_permissions_response"
                }
              }
            },
            "description": "Get indicator feed metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_permissions_response"
                    },
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Grant permission to indicator feed",
        "tags": [
          "Custom Indicator Feeds"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds/permissions/remove": {
      "put": {
        "description": "Revokes access permissions for a custom threat indicator feed.",
        "operationId": "custom-indicator-feeds-remove-permission",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/custom-indicator-feeds_permissions_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_permissions_response"
                }
              }
            },
            "description": "Get indicator feed metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_permissions_response"
                    },
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Revoke permission to indicator feed",
        "tags": [
          "Custom Indicator Feeds"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds/permissions/view": {
      "get": {
        "description": "Lists current access permissions for custom threat indicator feeds.",
        "operationId": "custom-indicator-feeds-view-permissions",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_permission_list_item_response"
                }
              }
            },
            "description": "Get indicator feed metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_permission_list_item_response"
                    },
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List indicator feed permissions",
        "tags": [
          "Custom Indicator Feeds"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds/{feed_id}": {
      "get": {
        "description": "Retrieves details for a specific custom threat indicator feed.",
        "operationId": "custom-indicator-feeds-get-indicator-feed-metadata",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feed_id",
            "required": true,
            "schema": {
              "description": "Indicator feed ID",
              "example": 12,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_indicator_feed_metadata_response"
                }
              }
            },
            "description": "Get indicator feed metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_indicator_feed_metadata_response"
                    },
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get indicator feed metadata",
        "tags": [
          "Custom Indicator Feeds"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      },
      "put": {
        "description": "Revises details for a specific custom threat indicator feed.",
        "operationId": "custom-indicator-feeds-update-indicator-feed-metadata",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feed_id",
            "required": true,
            "schema": {
              "description": "Indicator feed ID",
              "example": 12,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/custom-indicator-feeds_update_public_field_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_update_public_field_response"
                }
              }
            },
            "description": "Get update public field response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_update_public_field_response"
                    },
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get update public field response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update indicator feed metadata",
        "tags": [
          "Custom Indicator Feeds"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds/{feed_id}/data": {
      "get": {
        "description": "Retrieves the raw data entries in a custom threat indicator feed.",
        "operationId": "custom-indicator-feeds-get-indicator-feed-data",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feed_id",
            "required": true,
            "schema": {
              "description": "Indicator feed ID",
              "example": 12,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "description": "Get indicator feed metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get indicator feed data",
        "tags": [
          "Custom Indicator Feeds"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds/{feed_id}/download": {
      "get": {
        "description": "Downloads the content of a custom threat indicator feed.",
        "operationId": "custom-indicator-feeds-download-indicator-feed-data",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feed_id",
            "required": true,
            "schema": {
              "description": "Indicator feed ID",
              "example": 12,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_update_feed_response"
                }
              }
            },
            "description": "Get indicator feed metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Download indicator feed data",
        "tags": [
          "Custom Indicator Feeds"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/indicator-feeds/{feed_id}/snapshot": {
      "put": {
        "description": "Revises the raw data entries in a custom threat indicator feed.",
        "operationId": "custom-indicator-feeds-update-indicator-feed-data",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "feed_id",
            "required": true,
            "schema": {
              "description": "Indicator feed ID",
              "example": 12,
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "source": {
                    "description": "The file to upload",
                    "example": "@/Users/me/test.stix2",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/custom-indicator-feeds_update_feed_response"
                }
              }
            },
            "description": "Get indicator feed metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/custom-indicator-feeds_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get indicator feeds response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update indicator feed data",
        "tags": [
          "Custom Indicator Feeds"
        ]
      }
    },
    "/accounts/{account_id}/intel/ip": {
      "get": {
        "description": "Gets the geolocation, ASN, infrastructure type of the ASN, and any security threat categories of an IP address. **Must provide ip query parameters.** For example, `/intel/ip?ipv4=1.1.1.1` or `/intel/ip?ipv6=2001:db8::1`.",
        "operationId": "ip-intelligence-get-ip-overview",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ipv4",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "ipv6",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/intel_schemas-response"
                }
              }
            },
            "description": "Get IP Overview response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/intel_schemas-response"
                    },
                    {
                      "$ref": "#/components/schemas/intel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get IP Overview response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get IP Overview",
        "tags": [
          "IP Intelligence"
        ],
        "x-api-token-group": [
          "Intel Write",
          "Intel Read"
        ]
      }
    },
    "/accounts/{account_id}/intel/ip-lists": {
      "get": {
        "description": "Returns a list of available IP list categories (e.g., anonymizer, botnetcc, malware, tor, vpn, open_proxies). This endpoint provides metadata about which IP lists are available in the system.",
        "operationId": "ip-list-get-ip-lists",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
[...]
