{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Devices",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/devices": {
      "get": {
        "deprecated": true,
        "description": "List WARP devices. Not supported when [multi-user mode](https://developers.cloudflare.com/cloudflare-one/connections/connect-devices/warp/deployment/mdm-deployment/windows-multiuser/) is enabled for the account.\n\n**Deprecated**: please use one of the following endpoints instead:\n- GET /accounts/{account_id}/devices/physical-devices\n- GET /accounts/{account_id}/devices/registrations\n",
        "operationId": "devices-list-devices",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_devices_response"
                }
              }
            },
            "description": "List devices response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_devices_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List devices response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List devices (deprecated)",
        "tags": [
          "Devices"
        ]
      }
    },
    "/accounts/{account_id}/devices/ip-profiles": {
      "get": {
        "description": "Lists WARP Device IP profiles.",
        "operationId": "list-ip-profiles",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The number of IP profiles to return per page.",
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 50,
              "maximum": 100,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_ip_profile"
                      },
                      "type": "array"
                    },
                    "result_info": {
                      "$ref": "#/components/schemas/teams-devices_pagination_info"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List Device IP profiles response."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "List IP profiles",
        "tags": [
          "warp-teams-device-api_other"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a WARP Device IP profile. Currently, only IPv4 Device subnets can be associated.",
        "operationId": "create-ip-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/teams-devices_ip_profile_create_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/teams-devices_ip_profile"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Create Device IP profile response."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create IP profile",
        "tags": [
          "warp-teams-device-api_other"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/ip-profiles/{profile_id}": {
      "delete": {
        "description": "Delete a WARP Device IP profile.",
        "operationId": "delete-ip-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "profile_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "properties": {
                        "id": {
                          "description": "ID of the deleted Device IP profile.",
                          "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
                          "type": "string",
                          "x-auditable": true
                        }
                      },
                      "type": "object"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Delete Device IP profile response."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete IP profile",
        "tags": [
          "warp-teams-device-api_other"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Fetches a single WARP Device IP profile.",
        "operationId": "get-ip-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "profile_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/teams-devices_ip_profile"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Get Device IP profile response."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Get IP profile",
        "tags": [
          "warp-teams-device-api_other"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "patch": {
        "description": "Updates a WARP Device IP profile. Currently, only IPv4 Device subnets can be associated.",
        "operationId": "update-ip-profile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "profile_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/teams-devices_ip_profile_update_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/teams-devices_ip_profile"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update Device IP profile response."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Update IP profile",
        "tags": [
          "warp-teams-device-api_other"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/networks": {
      "get": {
        "description": "Fetches a list of managed networks for an account.",
        "operationId": "device-managed-networks-list-device-managed-networks",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_components-schemas-response_collection"
                }
              }
            },
            "description": "List your device managed networks response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List your device managed networks response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List your device managed networks",
        "tags": [
          "Device Managed Networks"
        ]
      },
      "post": {
        "description": "Creates a new device managed network.",
        "operationId": "device-managed-networks-create-device-managed-network",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "config": {
                    "$ref": "#/components/schemas/teams-devices_schemas-config_request"
                  },
                  "name": {
                    "description": "The name of the device managed network. This name must be unique.",
                    "example": "managed-network-1",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of device managed network.",
                    "enum": [
                      "tls"
                    ],
                    "example": "tls",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "type",
                  "config"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_components-schemas-single_response"
                }
              }
            },
            "description": "Create a device managed networks response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a device managed networks response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a device managed network",
        "tags": [
          "Device Managed Networks"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/networks/{network_id}": {
      "delete": {
        "description": "Deletes a device managed network and fetches a list of the remaining device managed networks for an account.",
        "operationId": "device-managed-networks-delete-device-managed-network",
        "parameters": [
          {
            "in": "path",
            "name": "network_id",
            "required": true,
            "schema": {
              "description": "API UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_components-schemas-response_collection"
                }
              }
            },
            "description": "Delete a device managed network response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a device managed network response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a device managed network",
        "tags": [
          "Device Managed Networks"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Fetches details for a single managed network.",
        "operationId": "device-managed-networks-device-managed-network-details",
        "parameters": [
          {
            "in": "path",
            "name": "network_id",
            "required": true,
            "schema": {
              "description": "API UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_components-schemas-single_response"
                }
              }
            },
            "description": "Get device managed network details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get device managed network details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get device managed network details",
        "tags": [
          "Device Managed Networks"
        ]
      },
      "put": {
        "description": "Updates a configured device managed network.",
        "operationId": "device-managed-networks-update-device-managed-network",
        "parameters": [
          {
            "in": "path",
            "name": "network_id",
            "required": true,
            "schema": {
              "description": "API UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "config": {
                    "$ref": "#/components/schemas/teams-devices_schemas-config_request"
                  },
                  "name": {
                    "description": "The name of the device managed network. This name must be unique.",
                    "example": "managed-network-1",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of device managed network.",
                    "enum": [
                      "tls"
                    ],
                    "example": "tls",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_components-schemas-single_response"
                }
              }
            },
            "description": "Update a device managed network response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a device managed network response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update a device managed network",
        "tags": [
          "Device Managed Networks"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/physical-devices": {
      "get": {
        "description": "Lists WARP devices.",
        "operationId": "list-devices",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_cursor"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_sort_by"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_sort_order"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_last_seen_user_email"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_seen_after"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_seen_before"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_per_page"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_search"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_active_registrations"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_id"
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_list_devices_param_include"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "example": [],
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "example": [],
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_physical_device"
                      },
                      "type": "array"
                    },
                    "result_info": {
                      "$ref": "#/components/schemas/teams-devices_cursor_result_info"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a list of Devices."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "List devices",
        "tags": [
          "Physical Devices"
        ]
      }
    },
    "/accounts/{account_id}/devices/physical-devices/{device_id}": {
      "delete": {
        "description": "Deletes a WARP device.",
        "operationId": "delete-device",
        "parameters": [
          {
            "in": "path",
            "name": "device_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/teams-devices_empty_body"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Device was successfully deleted."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete device",
        "tags": [
          "Physical Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Fetches a single WARP device.",
        "operationId": "get-device",
        "parameters": [
          {
            "in": "path",
            "name": "device_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/teams-devices_devices_get_device_param_include"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/teams-devices_physical_device"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a Device."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Get device",
        "tags": [
          "Physical Devices"
        ]
      }
    },
    "/accounts/{account_id}/devices/physical-devices/{device_id}/revoke": {
      "post": {
        "description": "Revokes all WARP registrations associated with the specified device.",
        "operationId": "revoke-device",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "device_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/teams-devices_v4_response_message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/teams-devices_empty_body"
                    },
                    "success": {
                      "description": "Whether the API call was successful.",
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Revoke device registrations response."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Revoke device registrations",
        "tags": [
          "Physical Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policies": {
      "get": {
        "description": "Fetches a list of the device settings profiles for an account.",
        "operationId": "devices-list-device-settings-policies",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_device_settings_response_collection"
                }
              }
            },
            "description": "List device settings profiles response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_device_settings_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List device settings profiles response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List device settings profiles",
        "tags": [
          "Devices"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy": {
      "get": {
        "description": "Fetches the default device settings profile for an account.",
        "operationId": "devices-get-default-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_default_device_settings_response"
                }
              }
            },
            "description": "Get the default device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_default_device_settings_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get the default device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the default device settings profile",
        "tags": [
          "Devices"
        ]
      },
      "patch": {
        "description": "Updates the default device settings profile for an account.",
        "operationId": "devices-update-default-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "allow_mode_switch": {
                    "default": false,
                    "description": "Whether to allow the user to switch WARP between modes.",
                    "example": true,
                    "type": "boolean"
                  },
                  "allow_updates": {
                    "default": false,
                    "description": "Whether to receive update notifications when a new version of the client is available.",
                    "example": true,
                    "type": "boolean"
                  },
                  "allowed_to_leave": {
                    "default": true,
                    "description": "Whether to allow devices to leave the organization.",
                    "example": true,
                    "type": "boolean"
                  },
                  "auto_connect": {
                    "default": 0,
                    "description": "The amount of time in seconds to reconnect after having been disabled.",
                    "example": 0,
                    "type": "number"
                  },
                  "captive_portal": {
                    "default": 180,
                    "description": "Turn on the captive portal after the specified amount of time.",
                    "example": 180,
                    "type": "number"
                  },
                  "disable_auto_fallback": {
                    "default": false,
                    "description": "If the `dns_server` field of a fallback domain is not present, the client will fall back to a best guess of the default/system DNS resolvers unless this policy option is set to `true`.",
                    "example": true,
                    "type": "boolean"
                  },
                  "exclude": {
                    "$ref": "#/components/schemas/teams-devices_exclude_request"
                  },
                  "exclude_office_ips": {
                    "default": false,
                    "description": "Whether to add Microsoft IPs to Split Tunnel exclusions.",
                    "example": true,
                    "type": "boolean"
                  },
                  "include": {
                    "$ref": "#/components/schemas/teams-devices_include_request"
                  },
                  "lan_allow_minutes": {
                    "description": "The amount of time in minutes a user is allowed access to their LAN. A value of 0 will allow LAN access until the next WARP reconnection, such as a reboot or a laptop waking from sleep. Note that this field is omitted from the response if null or unset.",
                    "example": 30,
                    "type": "number"
                  },
                  "lan_allow_subnet_size": {
                    "description": "The size of the subnet for the local access network. Note that this field is omitted from the response if null or unset.",
                    "example": 24,
                    "type": "number"
                  },
                  "register_interface_ip_with_dns": {
                    "default": true,
                    "description": "Determines if the operating system will register WARP's local interface IP with your on-premises DNS server.",
                    "example": true,
                    "type": "boolean"
                  },
                  "sccm_vpn_boundary_support": {
                    "default": false,
                    "description": "Determines whether the WARP client indicates to SCCM that it is inside a VPN boundary. (Windows only).",
                    "example": false,
                    "type": "boolean"
                  },
                  "service_mode_v2": {
                    "$ref": "#/components/schemas/teams-devices_service_mode_v2"
                  },
                  "support_url": {
                    "default": "",
                    "description": "The URL to launch when the Send Feedback button is clicked.",
                    "example": "https://1.1.1.1/help",
                    "type": "string"
                  },
                  "switch_locked": {
                    "default": false,
                    "description": "Whether to allow the user to turn off the WARP switch and disconnect the client.",
                    "example": true,
                    "type": "boolean"
                  },
                  "tunnel_protocol": {
                    "default": "",
                    "description": "Determines which tunnel protocol to use.",
                    "example": "wireguard",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_default_device_settings_response"
                }
              }
            },
            "description": "Update the default device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_default_device_settings_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update the default device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update the default device settings profile",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Creates a device settings profile to be applied to certain devices matching the criteria.",
        "operationId": "devices-create-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "allow_mode_switch": {
                    "default": false,
                    "description": "Whether to allow the user to switch WARP between modes.",
                    "example": true,
                    "type": "boolean"
                  },
                  "allow_updates": {
                    "default": false,
                    "description": "Whether to receive update notifications when a new version of the client is available.",
                    "example": true,
                    "type": "boolean"
                  },
                  "allowed_to_leave": {
                    "default": true,
                    "description": "Whether to allow devices to leave the organization.",
                    "example": true,
                    "type": "boolean"
                  },
                  "auto_connect": {
                    "default": 0,
                    "description": "The amount of time in seconds to reconnect after having been disabled.",
                    "example": 0,
                    "type": "number"
                  },
                  "captive_portal": {
                    "default": 180,
                    "description": "Turn on the captive portal after the specified amount of time.",
                    "example": 180,
                    "type": "number"
                  },
                  "description": {
                    "allOf": [
                      {
                        "description": "A description of the policy.",
                        "example": "Policy for test teams.",
                        "maxLength": 500,
                        "type": "string"
                      },
                      {
                        "default": ""
                      }
                    ]
                  },
                  "disable_auto_fallback": {
                    "default": false,
                    "description": "If the `dns_server` field of a fallback domain is not present, the client will fall back to a best guess of the default/system DNS resolvers unless this policy option is set to `true`.",
                    "example": true,
                    "type": "boolean"
                  },
                  "enabled": {
                    "default": true,
                    "description": "Whether the policy will be applied to matching devices.",
                    "example": true,
                    "type": "boolean"
                  },
                  "exclude": {
                    "$ref": "#/components/schemas/teams-devices_exclude_request"
                  },
                  "exclude_office_ips": {
                    "default": false,
                    "description": "Whether to add Microsoft IPs to Split Tunnel exclusions.",
                    "example": true,
                    "type": "boolean"
                  },
                  "include": {
                    "$ref": "#/components/schemas/teams-devices_include_request"
                  },
                  "lan_allow_minutes": {
                    "description": "The amount of time in minutes a user is allowed access to their LAN. A value of 0 will allow LAN access until the next WARP reconnection, such as a reboot or a laptop waking from sleep. Note that this field is omitted from the response if null or unset.",
                    "example": 30,
                    "type": "number"
                  },
                  "lan_allow_subnet_size": {
                    "description": "The size of the subnet for the local access network. Note that this field is omitted from the response if null or unset.",
                    "example": 24,
                    "type": "number"
                  },
                  "match": {
                    "description": "The wirefilter expression to match devices. Available values: \"identity.email\", \"identity.groups.id\", \"identity.groups.name\", \"identity.groups.email\", \"identity.service_token_uuid\", \"identity.saml_attributes\", \"network\", \"os.name\", \"os.version\".",
                    "example": "identity.email == \"test@cloudflare.com\"",
                    "maxLength": 500,
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the device settings profile.",
                    "example": "Allow Developers",
                    "maxLength": 100,
                    "type": "string"
                  },
                  "precedence": {
                    "description": "The precedence of the policy. Lower values indicate higher precedence. Policies will be evaluated in ascending order of this field.",
                    "example": 100,
                    "type": "number"
                  },
                  "register_interface_ip_with_dns": {
                    "default": true,
                    "description": "Determines if the operating system will register WARP's local interface IP with your on-premises DNS server.",
                    "example": true,
                    "type": "boolean"
                  },
                  "sccm_vpn_boundary_support": {
                    "default": false,
                    "description": "Determines whether the WARP client indicates to SCCM that it is inside a VPN boundary. (Windows only).",
                    "example": false,
                    "type": "boolean"
                  },
                  "service_mode_v2": {
                    "$ref": "#/components/schemas/teams-devices_service_mode_v2"
                  },
                  "support_url": {
                    "default": "",
                    "description": "The URL to launch when the Send Feedback button is clicked.",
                    "example": "https://1.1.1.1/help",
                    "type": "string"
                  },
                  "switch_locked": {
                    "default": false,
                    "description": "Whether to allow the user to turn off the WARP switch and disconnect the client.",
                    "example": true,
                    "type": "boolean"
                  },
                  "tunnel_protocol": {
                    "default": "",
                    "description": "Determines which tunnel protocol to use.",
                    "example": "wireguard",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "precedence",
                  "match"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_device_settings_response"
                }
              }
            },
            "description": "Create a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_device_settings_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a device settings profile",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy/exclude": {
      "get": {
        "description": "Fetches the list of routes excluded from the WARP client's tunnel.",
        "operationId": "devices-get-split-tunnel-exclude-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                }
              }
            },
            "description": "Get the Split Tunnel exclude list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get the Split Tunnel exclude list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the Split Tunnel exclude list",
        "tags": [
          "Devices"
        ]
      },
      "put": {
        "description": "Sets the list of routes excluded from the WARP client's tunnel.",
        "operationId": "devices-set-split-tunnel-exclude-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                }
              }
            },
            "description": "Set the Split Tunnel exclude list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Set the Split Tunnel exclude list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Set the Split Tunnel exclude list",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy/fallback_domains": {
      "get": {
        "description": "Fetches a list of domains to bypass Gateway DNS resolution. These domains will use the specified local DNS resolver instead.",
        "operationId": "devices-get-local-domain-fallback-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                }
              }
            },
            "description": "Get your Local Domain Fallback list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get your Local Domain Fallback list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get your Local Domain Fallback list",
        "tags": [
          "Devices"
        ]
      },
      "put": {
        "description": "Sets the list of domains to bypass Gateway DNS resolution. These domains will use the specified local DNS resolver instead.",
        "operationId": "devices-set-local-domain-fallback-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/teams-devices_fallback_domain"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                }
              }
            },
            "description": "Set your Local Domain Fallback list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Set your Local Domain Fallback list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Set your Local Domain Fallback list",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy/include": {
      "get": {
        "description": "Fetches the list of routes included in the WARP client's tunnel.",
        "operationId": "devices-get-split-tunnel-include-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                }
              }
            },
            "description": "Get the Split Tunnel include list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get the Split Tunnel include list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the Split Tunnel include list",
        "tags": [
          "Devices"
        ]
      },
      "put": {
        "description": "Sets the list of routes included in the WARP client's tunnel.",
        "operationId": "devices-set-split-tunnel-include-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_include"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                }
              }
            },
            "description": "Set the Split Tunnel include list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Set the Split Tunnel include list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Set the Split Tunnel include list",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy/{policy_id}": {
      "delete": {
        "description": "Deletes a device settings profile and fetches a list of the remaining profiles for an account.",
        "operationId": "devices-delete-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_device_settings_response_collection"
                }
              }
            },
            "description": "Delete a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_device_settings_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a device settings profile",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Fetches a device settings profile by ID.",
        "operationId": "devices-get-device-settings-policy-by-id",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_device_settings_response"
                }
              }
            },
            "description": "Get device settings profile by ID response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_device_settings_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get device settings profile by ID response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get device settings profile by ID",
        "tags": [
          "Devices"
        ]
      },
      "patch": {
        "description": "Updates a configured device settings profile.",
        "operationId": "devices-update-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "allow_mode_switch": {
                    "default": false,
                    "description": "Whether to allow the user to switch WARP between modes.",
                    "example": true,
                    "type": "boolean"
                  },
                  "allow_updates": {
                    "default": false,
                    "description": "Whether to receive update notifications when a new version of the client is available.",
                    "example": true,
                    "type": "boolean"
                  },
                  "allowed_to_leave": {
                    "default": true,
                    "description": "Whether to allow devices to leave the organization.",
                    "example": true,
                    "type": "boolean"
                  },
                  "auto_connect": {
                    "default": 0,
                    "description": "The amount of time in seconds to reconnect after having been disabled.",
                    "example": 0,
                    "type": "number"
                  },
                  "captive_portal": {
                    "default": 180,
                    "description": "Turn on the captive portal after the specified amount of time.",
                    "example": 180,
                    "type": "number"
                  },
                  "description": {
                    "description": "A description of the policy.",
                    "example": "Policy for test teams.",
                    "maxLength": 500,
                    "type": "string"
                  },
                  "disable_auto_fallback": {
                    "default": false,
                    "description": "If the `dns_server` field of a fallback domain is not present, the client will fall back to a best guess of the default/system DNS resolvers unless this policy option is set to `true`.",
                    "example": true,
                    "type": "boolean"
                  },
                  "enabled": {
                    "description": "Whether the policy will be applied to matching devices.",
                    "example": true,
                    "type": "boolean"
                  },
                  "exclude": {
                    "$ref": "#/components/schemas/teams-devices_exclude_request"
                  },
                  "exclude_office_ips": {
                    "default": false,
                    "description": "Whether to add Microsoft IPs to Split Tunnel exclusions.",
                    "example": true,
                    "type": "boolean"
                  },
                  "include": {
                    "$ref": "#/components/schemas/teams-devices_include_request"
                  },
                  "lan_allow_minutes": {
                    "description": "The amount of time in minutes a user is allowed access to their LAN. A value of 0 will allow LAN access until the next WARP reconnection, such as a reboot or a laptop waking from sleep. Note that this field is omitted from the response if null or unset.",
                    "example": 30,
                    "type": "number"
                  },
                  "lan_allow_subnet_size": {
                    "description": "The size of the subnet for the local access network. Note that this field is omitted from the response if null or unset.",
                    "example": 24,
                    "type": "number"
                  },
                  "match": {
                    "description": "The wirefilter expression to match devices. Available values: \"identity.email\", \"identity.groups.id\", \"identity.groups.name\", \"identity.groups.email\", \"identity.service_token_uuid\", \"identity.saml_attributes\", \"network\", \"os.name\", \"os.version\".",
                    "example": "identity.email == \"test@cloudflare.com\"",
                    "maxLength": 500,
                    "type": "string"
                  },
                  "name": {
                    "description": "The name of the device settings profile.",
                    "example": "Allow Developers",
                    "maxLength": 100,
                    "type": "string"
                  },
                  "precedence": {
                    "description": "The precedence of the policy. Lower values indicate higher precedence. Policies will be evaluated in ascending order of this field.",
                    "example": 100,
                    "type": "number"
                  },
                  "register_interface_ip_with_dns": {
                    "default": true,
                    "description": "Determines if the operating system will register WARP's local interface IP with your on-premises DNS server.",
                    "example": true,
                    "type": "boolean"
                  },
                  "sccm_vpn_boundary_support": {
                    "default": false,
                    "description": "Determines whether the WARP client indicates to SCCM that it is inside a VPN boundary. (Windows only).",
                    "example": false,
                    "type": "boolean"
                  },
                  "service_mode_v2": {
                    "$ref": "#/components/schemas/teams-devices_service_mode_v2"
                  },
                  "support_url": {
                    "default": "",
                    "description": "The URL to launch when the Send Feedback button is clicked.",
                    "example": "https://1.1.1.1/help",
                    "type": "string"
                  },
                  "switch_locked": {
                    "default": false,
                    "description": "Whether to allow the user to turn off the WARP switch and disconnect the client.",
                    "example": true,
                    "type": "boolean"
                  },
                  "tunnel_protocol": {
                    "default": "",
                    "description": "Determines which tunnel protocol to use.",
                    "example": "wireguard",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_device_settings_response"
                }
              }
            },
            "description": "Update a device settings profile Policy response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_device_settings_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a device settings profile Policy response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update a device settings profile",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy/{policy_id}/exclude": {
      "get": {
        "description": "Fetches the list of routes excluded from the WARP client's tunnel for a specific device settings profile.",
        "operationId": "devices-get-split-tunnel-exclude-list-for-a-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                }
              }
            },
            "description": "Get the Split Tunnel exclude list for a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get the Split Tunnel exclude list for a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the Split Tunnel exclude list for a device settings profile",
        "tags": [
          "Devices"
        ]
      },
      "put": {
        "description": "Sets the list of routes excluded from the WARP client's tunnel for a specific device settings profile.",
        "operationId": "devices-set-split-tunnel-exclude-list-for-a-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                }
              }
            },
            "description": "Set the Split Tunnel exclude list for a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Set the Split Tunnel exclude list for a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Set the Split Tunnel exclude list for a device settings profile",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy/{policy_id}/fallback_domains": {
      "get": {
        "description": "Fetches the list of domains to bypass Gateway DNS resolution from a specified device settings profile. These domains will use the specified local DNS resolver instead.",
        "operationId": "devices-get-local-domain-fallback-list-for-a-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                }
              }
            },
            "description": "Get the Local Domain Fallback list for a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get the Local Domain Fallback list for a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the Local Domain Fallback list for a device settings profile",
        "tags": [
          "Devices"
        ]
      },
      "put": {
        "description": "Sets the list of domains to bypass Gateway DNS resolution. These domains will use the specified local DNS resolver instead. This will only apply to the specified device settings profile.",
        "operationId": "devices-set-local-domain-fallback-list-for-a-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/teams-devices_fallback_domain"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                }
              }
            },
            "description": "Set the Local Domain Fallback list for a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_fallback_domain_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Set the Local Domain Fallback list for a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Set the Local Domain Fallback list for a device settings profile",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/policy/{policy_id}/include": {
      "get": {
        "description": "Fetches the list of routes included in the WARP client's tunnel for a specific device settings profile.",
        "operationId": "devices-get-split-tunnel-include-list-for-a-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                }
              }
            },
            "description": "Get the Split Tunnel include list for a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get the Split Tunnel include list for a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the Split Tunnel include list for a device settings profile",
        "tags": [
          "Devices"
        ]
      },
      "put": {
        "description": "Sets the list of routes included in the WARP client's tunnel for a specific device settings profile.",
        "operationId": "devices-set-split-tunnel-include-list-for-a-device-settings-policy",
        "parameters": [
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_include"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                }
              }
            },
            "description": "Set the Split Tunnel include list for a device settings profile response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_split_tunnel_include_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Set the Split Tunnel include list for a device settings profile response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Set the Split Tunnel include list for a device settings profile",
        "tags": [
          "Devices"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/posture": {
      "get": {
        "description": "Fetches device posture rules for a Zero Trust account.",
        "operationId": "device-posture-rules-list-device-posture-rules",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_response_collection"
                }
              }
            },
            "description": "List device posture rules response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List device posture rules response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List device posture rules",
        "tags": [
          "Device posture rules"
        ]
      },
      "post": {
        "description": "Creates a new device posture rule.",
        "operationId": "device-posture-rules-create-device-posture-rule",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "The description of the device posture rule.",
                    "example": "The rule for admin serial numbers",
                    "type": "string"
                  },
                  "expiration": {
                    "description": "Sets the expiration time for a posture check result. If empty, the result remains valid until it is overwritten by new data from the WARP client.",
                    "example": "1h",
                    "type": "string"
                  },
                  "input": {
                    "$ref": "#/components/schemas/teams-devices_input"
                  },
                  "match": {
                    "$ref": "#/components/schemas/teams-devices_match"
                  },
                  "name": {
                    "description": "The name of the device posture rule.",
                    "example": "Admin Serial Numbers",
                    "type": "string"
                  },
                  "schedule": {
                    "description": "Polling frequency for the WARP client posture check. Default: `5m` (poll every five minutes). Minimum: `1m`.",
                    "example": "1h",
                    "type": "string"
                  },
                  "type": {
                    "description": "The type of device posture rule.",
                    "enum": [
                      "file",
                      "application",
                      "tanium",
                      "gateway",
                      "warp",
                      "disk_encryption",
                      "serial_number",
                      "sentinelone",
                      "carbonblack",
                      "firewall",
                      "os_version",
                      "domain_joined",
                      "client_certificate",
                      "client_certificate_v2",
                      "antivirus",
                      "unique_client_id",
                      "kolide",
                      "tanium_s2s",
                      "crowdstrike_s2s",
                      "intune",
                      "workspace_one",
                      "sentinelone_s2s",
                      "custom_s2s"
                    ],
                    "example": "file",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "type"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_single_response"
                }
              }
            },
            "description": "Create device posture rule response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/teams-devices_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create device posture rule response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a device posture rule",
        "tags": [
          "Device posture rules"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/devices/posture/integration": {
      "get": {
        "description": "Fetches the list of device posture integrations for an account.",
        "operationId": "device-posture-integrations-list-device-posture-integrations",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/teams-devices_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/teams-devices_schemas-response_collection"
                }
              }
            },
            "description": "List your device posture integrations response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/teams-devices_schemas-response_collection"
                    },
                    {
[...]
