{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Misc",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "description": "List all accounts you have ownership or verified access to.",
        "operationId": "accounts-list-accounts",
        "parameters": [
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "Name of the account.",
              "example": "example.com",
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Maximum number of results per page.",
              "maximum": 50,
              "minimum": 5,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "description": "Direction to order results.",
              "enum": [
                "asc",
                "desc"
              ],
              "example": "desc",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_collection_accounts"
                }
              }
            },
            "description": "List Accounts response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "List Accounts response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Accounts",
        "tags": [
          "Accounts"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Create an account (only available for tenant admins at this time)",
        "operationId": "account-creation",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_create-account"
              }
            }
          },
          "description": "Parameters for account creation",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_single_account"
                }
              }
            },
            "description": "Account Creation Success Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Account Creation Failure Response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create an account",
        "tags": [
          "Accounts"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": false,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{accountId}/resource-library/applications": {
      "get": {
        "description": "Get applications with different filters.",
        "operationId": "getApplications",
        "parameters": [
          {
            "description": "Account ID.",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter applications using key:value format. Supported filter keys:\n- name: Filter by application name (e.g., name:HR)\n- id: Filter by application ID (e.g., id:0b63249c-95bf-4cc0-a7cc-d7faaaf1dac0)\n- human_id: Filter by human-readable ID (e.g., human_id:HR)\n- hostname: Filter by hostname or support domain (e.g., hostname:portal.example.com)\n- source: Filter by application source name (e.g., source:cloudflare)\n- ip_subnet: Filter by IP subnet in CIDR notation (e.g., ip_subnet:192.168.1.0/24).\n.\n",
            "example": "filter=name:HR&filter=source:cloudflare",
            "in": "query",
            "name": "filter",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Limit of number of results to return.",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 10,
              "type": "integer"
            }
          },
          {
            "description": "Offset of results to return.",
            "in": "query",
            "name": "offset",
            "schema": {
              "default": 0,
              "type": "integer"
            }
          },
          {
            "description": "Order by result by field name and order (e.g., name:asc).",
            "example": "name:asc",
            "in": "query",
            "name": "order_by",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alexandria_get_applications_response"
                }
              }
            },
            "description": "Get the application response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/alexandria_get_applications_response"
                    },
                    {
                      "$ref": "#/components/schemas/alexandria_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get application response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get  applications",
        "tags": [
          "Applications"
        ]
      },
      "post": {
        "description": "Create application.",
        "operationId": "createApplication",
        "parameters": [
          {
            "description": "Account ID.",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alexandria_create_application_request"
              }
            }
          },
          "description": "Create application input:.",
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alexandria_get_application_response"
                }
              }
            },
            "description": "Created."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/alexandria_get_application_response"
                    },
                    {
                      "$ref": "#/components/schemas/alexandria_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Create application response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create application",
        "tags": [
          "Applications"
        ]
      }
    },
    "/accounts/{accountId}/resource-library/applications/{id}": {
      "get": {
        "description": "Get application by ID.",
        "operationId": "getApplicationById",
        "parameters": [
          {
            "description": "Account ID.",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Application ID.",
            "example": "0b63249c-95bf-4cc0-a7cc-d7faaaf1dac0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alexandria_get_application_response"
                }
              }
            },
            "description": "Get the application response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/alexandria_get_application_response"
                    },
                    {
                      "$ref": "#/components/schemas/alexandria_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get application by id response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get application By Id",
        "tags": [
          "Applications"
        ]
      },
      "patch": {
        "description": "Update application version.",
        "operationId": "updateApplicationVersion",
        "parameters": [
          {
            "description": "Account ID.",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Application ID.",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alexandria_update_application_version_request"
              }
            }
          },
          "description": "Update application version input.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alexandria_get_application_response"
                }
              }
            },
            "description": "Update the application response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/alexandria_get_application_response"
                    },
                    {
                      "$ref": "#/components/schemas/alexandria_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Update application version response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update application version",
        "tags": [
          "Applications"
        ]
      }
    },
    "/accounts/{accountId}/resource-library/categories": {
      "get": {
        "description": "Get all application categories.",
        "operationId": "getCategories",
        "parameters": [
          {
            "description": "Account ID.",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alexandria_get_categories_response"
                }
              }
            },
            "description": "Get all application categories response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/alexandria_get_categories_response"
                    },
                    {
                      "$ref": "#/components/schemas/alexandria_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get application categories response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get all application categories",
        "tags": [
          "Category"
        ]
      }
    },
    "/accounts/{accountId}/resource-library/categories/{id}": {
      "get": {
        "description": "Get application category by ID.",
        "operationId": "getCategoryById",
        "parameters": [
          {
            "description": "Account ID.",
            "example": "023e105f4ecef8ad9ca31a8372d0c353",
            "in": "path",
            "name": "accountId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Application category ID.",
            "example": "0b63249c-95bf-4cc0-a7cc-d7faaaf1dac0",
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alexandria_get_category_response"
                }
              }
            },
            "description": "Get application category by id response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/alexandria_get_category_response"
                    },
                    {
                      "$ref": "#/components/schemas/alexandria_api_response_common_failure"
                    }
                  ]
                }
              }
            },
            "description": "Get application category by id response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Show application category by ID",
        "tags": [
          "Category"
        ]
      }
    },
    "/accounts/{account_id}": {
      "delete": {
        "description": "Delete a specific account (only available for tenant admins at this time). This is a permanent operation that will delete any zones or other resources under the account",
        "operationId": "account-deletion",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account ID of the account to be deleted",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-single-id"
                }
              }
            },
            "description": "Account Deletion Success Response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Account Deletion Failure Response"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a specific account",
        "tags": [
          "Accounts"
        ],
        "x-api-token-group": [
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": false,
          "free": false,
          "pro": false
        }
      },
      "get": {
        "description": "Get information about a specific account that you are a member of.",
        "operationId": "accounts-account-details",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_single_account"
                }
              }
            },
            "description": "Account Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Account Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Account Details",
        "tags": [
          "Accounts"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read",
          "DNS View Write",
          "DNS View Read",
          "SCIM Provisioning",
          "Load Balancers Account Write",
          "Load Balancers Account Read",
          "Zero Trust: PII Read",
          "DDoS Botnet Feed Write",
          "DDoS Botnet Feed Read",
          "Workers R2 Storage Write",
          "Workers R2 Storage Read",
          "DDoS Protection Write",
          "DDoS Protection Read",
          "Workers Tail Read",
          "Workers KV Storage Write",
          "Workers KV Storage Read",
          "Workers Scripts Write",
          "Workers Scripts Read",
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read",
          "Account Firewall Access Rules Write",
          "Account Firewall Access Rules Read",
          "DNS Firewall Write",
          "DNS Firewall Read",
          "Billing Write",
          "Billing Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "put": {
        "description": "Update an existing account.",
        "operationId": "accounts-update-account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/iam_account_identifier"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/iam_components-schemas-account"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_response_single_account"
                }
              }
            },
            "description": "Update Account response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/iam_api-response-common-failure"
                }
              }
            },
            "description": "Update Account response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update Account",
        "tags": [
          "Accounts"
        ],
        "x-api-token-group": [
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/abuse-reports": {
      "get": {
        "description": "List the abuse reports for a given account",
        "operationId": "ListAbuseReports",
        "parameters": [
          {
            "description": "Cloudflare Account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "description": "Where in pagination to start listing abuse reports",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How many abuse reports per page to list",
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A property to sort by, followed by the order (id, cdate, domain, type, status)",
            "example": "cdate,desc",
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter by domain name related to the abuse report",
            "example": "example.com",
            "in": "query",
            "name": "domain",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Returns reports created before the specified date",
            "example": "2009-11-10T23:00:00Z",
            "in": "query",
            "name": "created_before",
            "schema": {
              "description": "Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
              "example": "2009-11-10T23:00:00Z",
              "type": "string"
            }
          },
          {
            "description": "Returns reports created after the specified date",
            "example": "2009-11-10T23:00:00Z",
            "in": "query",
            "name": "created_after",
            "schema": {
              "description": "Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
              "example": "2009-11-10T23:00:00Z",
              "type": "string"
            }
          },
          {
            "description": "Filter by the status of the report.",
            "example": "denied",
            "in": "query",
            "name": "status",
            "schema": {
              "description": "An enum value that represents the status of an abuse record",
              "enum": [
                "accepted",
                "in_review"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by the type of the report.",
            "example": "denied",
            "in": "query",
            "name": "type",
            "schema": {
              "description": "The abuse report type",
              "enum": [
                "PHISH",
                "GEN",
                "THREAT",
                "DMCA",
                "EMER",
                "TM",
                "REG_WHO",
                "NCSEI",
                "NETWORK"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter reports that have any mitigations in the given status.",
            "example": "active",
            "in": "query",
            "name": "mitigation_status",
            "schema": {
              "description": "The status of a mitigation",
              "enum": [
                "pending",
                "active",
                "in_review",
                "cancelled",
                "removed"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "properties": {
                        "reports": {
                          "items": {
                            "$ref": "#/components/schemas/abuse-reports_AbuseReport"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "reports"
                      ],
                      "type": "object"
                    },
                    "result_info": {
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_count": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "page",
                        "per_page",
                        "count",
                        "total_count",
                        "total_pages"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Abuse report list successful"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Failed to retrieve abuse reports"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "List abuse reports",
        "tags": [
          "tseng-abuse-complaint-processor_other"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read"
        ]
      }
    },
    "/accounts/{account_id}/abuse-reports/{report_id}/emails": {
      "get": {
        "description": "List emails sent to the customer for an abuse report. Returns all successful customer emails sent for the specified abuse report. Does not include emails sent to hosts or submitters.",
        "operationId": "ListEmails",
        "parameters": [
          {
            "description": "Cloudflare Account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "description": "Abuse Report ID",
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Page number to retrieve (default 1)",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Number of emails per page (default 20, max 100)",
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "properties": {
                        "emails": {
                          "items": {
                            "$ref": "#/components/schemas/abuse-reports_EmailListItem"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "emails"
                      ],
                      "type": "object"
                    },
                    "result_info": {
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_count": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "page",
                        "per_page",
                        "count",
                        "total_count",
                        "total_pages"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List abuse report emails successful"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request - invalid parameters or report not found"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Failed to list abuse report emails"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "List abuse report emails",
        "tags": [
          "tseng-abuse-complaint-processor_other"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read"
        ]
      }
    },
    "/accounts/{account_id}/abuse-reports/{report_id}/mitigations": {
      "get": {
        "description": "List mitigations done to remediate the abuse report.",
        "operationId": "ListMitigations",
        "parameters": [
          {
            "description": "Cloudflare Account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "description": "Abuse Report ID",
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Where in pagination to start listing abuse reports",
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "How many abuse reports per page to list",
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A property to sort by, followed by the order",
            "example": "type,desc",
            "in": "query",
            "name": "sort",
            "schema": {
              "enum": [
                "type,asc",
                "type,desc",
                "effective_date,asc",
                "effective_date,desc",
                "status,asc",
                "status,desc",
                "entity_type,asc",
                "entity_type,desc"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by the type of mitigation. This filter parameter can be specified multiple times to include multiple types of mitigations in the result set, e.g. ?type=rate_limit_cache&type=legal_block.",
            "in": "query",
            "name": "type",
            "schema": {
              "description": "The type of mitigation",
              "enum": [
                "legal_block",
                "misleading_interstitial",
                "phishing_interstitial",
                "network_block",
                "rate_limit_cache",
                "account_suspend",
                "redirect_video_stream"
              ],
              "type": "string"
            }
          },
          {
            "description": "Returns mitigations that were dispatched before the given date",
            "example": "2009-11-10T23:00:00Z",
            "in": "query",
            "name": "effective_before",
            "schema": {
              "description": "Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
              "example": "2009-11-10T23:00:00Z",
              "type": "string"
            }
          },
          {
            "description": "Returns mitigation that were dispatched after the given date",
            "example": "2009-11-10T23:00:00Z",
            "in": "query",
            "name": "effective_after",
            "schema": {
              "description": "Time in RFC 3339 format (https://www.rfc-editor.org/rfc/rfc3339.html)",
              "example": "2009-11-10T23:00:00Z",
              "type": "string"
            }
          },
          {
            "description": "Filter by the status of the mitigation.",
            "in": "query",
            "name": "status",
            "schema": {
              "description": "The status of a mitigation",
              "enum": [
                "pending",
                "active",
                "in_review",
                "cancelled",
                "removed"
              ],
              "type": "string"
            }
          },
          {
            "description": "Filter by the type of entity the mitigation impacts.",
            "in": "query",
            "name": "entity_type",
            "schema": {
              "enum": [
                "url_pattern",
                "account",
                "zone"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "properties": {
                        "mitigations": {
                          "items": {
                            "$ref": "#/components/schemas/abuse-reports_MitigationListItem"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "mitigations"
                      ],
                      "type": "object"
                    },
                    "result_info": {
                      "properties": {
                        "count": {
                          "type": "number"
                        },
                        "page": {
                          "type": "number"
                        },
                        "per_page": {
                          "type": "number"
                        },
                        "total_count": {
                          "type": "number"
                        },
                        "total_pages": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "page",
                        "per_page",
                        "count",
                        "total_count",
                        "total_pages"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List abuse report mitigations successful"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Failed to list abuse report mitigations"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "List abuse report mitigations",
        "tags": [
          "tseng-abuse-complaint-processor_other"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read"
        ]
      }
    },
    "/accounts/{account_id}/abuse-reports/{report_id}/mitigations/appeal": {
      "post": {
        "description": "Request a review for mitigations on an account.",
        "operationId": "RequestReview",
        "parameters": [
          {
            "description": "Cloudflare Account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "description": "Abuse Report ID",
            "in": "path",
            "name": "report_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/abuse-reports_MitigationAppealRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abuse-reports_MitigationAppealResult"
                }
              }
            },
            "description": "Mitigation appeals received"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Failed to request review on delayed action."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Request review on mitigations",
        "tags": [
          "tseng-abuse-complaint-processor_other"
        ],
        "x-api-token-group": [
          "Trust and Safety Write"
        ]
      }
    },
    "/accounts/{account_id}/abuse-reports/{report_param}": {
      "get": {
        "description": "Retrieve the details of an abuse report.",
        "operationId": "GetAbuseReport",
        "parameters": [
          {
            "description": "Cloudflare Account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "description": "Identifier of the abuse report",
            "in": "path",
            "name": "report_param",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_ErrorMessage"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/abuse-reports_AbuseReport"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Report submitted successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_ErrorMessage"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/abuse-reports_AbuseReport"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Report submitted with an error"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_ErrorMessage"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "$ref": "#/components/schemas/abuse-reports_Message"
                      },
                      "type": "array"
                    },
                    "result": {
                      "$ref": "#/components/schemas/abuse-reports_AbuseReport"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Report submitted with an error"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Abuse Report Details",
        "tags": [
          "tseng-abuse-complaint-processor_other"
        ],
        "x-api-token-group": [
          "Trust and Safety Write",
          "Trust and Safety Read"
        ]
      },
      "post": {
        "description": "Submit the Abuse Report of a particular type",
        "operationId": "SubmitAbuseReport",
        "parameters": [
          {
            "description": "Cloudflare Account ID",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "description": "The report type to be submitted. Example: abuse_general",
            "in": "path",
            "name": "report_param",
            "required": true,
            "schema": {
              "description": "The report type for submitted reports.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/abuse-reports_SubmitReportRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abuse-reports_SubmitReportResponse"
                }
              }
            },
            "description": "Report submitted successfully"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abuse-reports_SubmitErrorResponse"
                }
              }
            },
            "description": "Report submitted with an error"
          },
          "500": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/abuse-reports_SubmitErrorResponse"
                }
              }
            },
            "description": "Report submitted with an error"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Submit an abuse report",
        "tags": [
          "tseng-abuse-complaint-processor_other"
        ]
      }
    },
    "/accounts/{account_id}/connectivity/directory/services": {
      "get": {
        "operationId": "connectivity-services-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "title": "account_id",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "nullable": true,
              "oneOf": [
                {
                  "enum": [
                    "tcp",
                    "http"
                  ],
                  "type": "string"
                }
              ],
              "type": "string"
            }
          },
          {
            "description": "Current page in the response",
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "format": "int32",
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "description": "Max amount of entries returned per page",
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 1000,
              "format": "int32",
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/infra_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/infra_ConnectivityServiceArray"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Successfully retrieved Workers VPC connectivity services"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/infra_api-response-common-failure"
                }
              }
            },
            "description": "Failed to retrieve Workers VPC connectivity services"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Workers VPC connectivity services",
        "tags": [
          "Connectivity Services"
        ]
      },
      "post": {
        "operationId": "connectivity-services-post",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "title": "account_id",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "http-with-defaults": {
                  "summary": "HTTP service with defaults",
                  "value": {
                    "host": {
                      "hostname": "api.example.com",
                      "resolver_network": {
                        "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                      }
                    },
                    "name": "web-server",
                    "type": "http"
                  }
                },
                "http-with-hostname": {
                  "summary": "HTTP service with hostname",
                  "value": {
                    "host": {
                      "hostname": "api.example.com",
                      "resolver_network": {
                        "resolver_ips": [
                          "10.0.0.1",
                          "10.0.0.2"
                        ],
                        "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                      }
                    },
                    "https_port": 443,
                    "name": "api-gateway",
                    "type": "http"
                  }
                },
                "http-with-ipv4": {
                  "summary": "HTTP service with IPv4 host",
                  "value": {
                    "host": {
                      "ipv4": "10.0.0.1",
                      "network": {
                        "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                      }
                    },
                    "http_port": 8080,
                    "https_port": 8443,
                    "name": "web-server",
                    "type": "http"
                  }
                },
                "tcp-with-port": {
                  "summary": "TCP service with explicit port",
                  "value": {
                    "host": {
                      "ipv4": "10.0.0.1",
                      "network": {
                        "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                      }
                    },
                    "name": "postgres-db",
                    "tcp_port": 5432,
                    "type": "tcp"
                  }
                },
                "tcp-with-protocol": {
                  "summary": "TCP service with app protocol",
                  "value": {
                    "app_protocol": "postgresql",
                    "host": {
                      "hostname": "db.example.com",
                      "resolver_network": {
                        "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                      }
                    },
                    "name": "postgres-db",
                    "tcp_port": 5432,
                    "type": "tcp"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/infra_ServiceConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "examples": {
                  "http-service-created": {
                    "summary": "Successfully created HTTP service",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "created_at": "2024-01-15T09:30:00Z",
                        "host": {
                          "hostname": "api.example.com",
                          "resolver_network": {
                            "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                          }
                        },
                        "name": "web-server",
                        "service_id": "550e8400-e29b-41d4-a716-446655440000",
                        "type": "http",
                        "updated_at": "2024-01-15T09:30:00Z"
                      },
                      "success": true
                    }
                  },
                  "tcp-service-created": {
                    "summary": "Successfully created TCP service",
                    "value": {
                      "errors": [],
                      "messages": [],
                      "result": {
                        "created_at": "2024-01-15T09:30:00Z",
                        "host": {
                          "ipv4": "10.0.0.1",
                          "network": {
                            "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                          }
                        },
                        "name": "postgres-db",
                        "service_id": "550e8400-e29b-41d4-a716-446655440001",
                        "tcp_port": 5432,
                        "type": "tcp",
                        "updated_at": "2024-01-15T09:30:00Z"
                      },
                      "success": true
                    }
                  }
                },
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/infra_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/infra_ServiceConfig"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Successfully created Workers VPC connectivity service"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/infra_api-response-common-failure"
                }
              }
            },
            "description": "Failed to create Workers VPC connectivity service"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Workers VPC connectivity service",
        "tags": [
          "Connectivity Services"
        ]
      }
    },
    "/accounts/{account_id}/connectivity/directory/services/{service_id}": {
      "delete": {
        "operationId": "connectivity-services-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "service_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted Workers VPC connectivity service"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/infra_api-response-common-failure"
                }
              }
            },
            "description": "Failed to delete Workers VPC connectivity service"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Workers VPC connectivity service",
        "tags": [
          "Connectivity Services"
        ]
      },
      "get": {
        "operationId": "connectivity-services-get",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "service_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/infra_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/infra_ServiceConfig"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Successfully retrieved Workers VPC connectivity service"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/infra_api-response-common-failure"
                }
              }
            },
            "description": "Failed to retrieve Workers VPC connectivity service"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Workers VPC connectivity service",
        "tags": [
          "Connectivity Services"
        ]
      },
      "put": {
        "operationId": "connectivity-services-put",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "service_id",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "tcp-with-port": {
                  "summary": "TCP service with explicit port",
                  "value": {
                    "host": {
                      "ipv4": "10.0.0.1",
                      "network": {
                        "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                      }
                    },
                    "name": "postgres-db",
                    "tcp_port": 5432,
                    "type": "tcp"
                  }
                },
                "tcp-with-protocol": {
                  "summary": "TCP service with app protocol",
                  "value": {
                    "app_protocol": "postgresql",
                    "host": {
                      "hostname": "db.example.com",
                      "resolver_network": {
                        "tunnel_id": "0191dce4-9ab4-7fce-b660-8e5dec5172da"
                      }
                    },
                    "name": "postgres-db",
                    "tcp_port": 5432,
                    "type": "tcp"
                  }
                }
              },
              "schema": {
                "$ref": "#/components/schemas/infra_ServiceConfig"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/infra_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/infra_ServiceConfig"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Successfully updated Workers VPC connectivity service"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/infra_api-response-common-failure"
                }
              }
            },
            "description": "Failed to update Workers VPC connectivity service"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Workers VPC connectivity service",
        "tags": [
          "Connectivity Services"
        ]
      }
    },
    "/accounts/{account_id}/containers": {
      "get": {
        "description": "Lists all the container applications that are associated with your account.",
        "operationId": "publicListApplications",
        "parameters": [
          {
            "description": "Filter containers by name",
            "in": "query",
            "name": "name",
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Filter containers by image",
            "in": "query",
            "name": "image",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/cc_PublicListApplicationsResponse200"
          },
          "401": {
            "$ref": "#/components/responses/cc_PublicUnauthorized401"
          },
          "500": {
            "$ref": "#/components/responses/cc_PublicInternalError500"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List containers.",
        "tags": [
          "Containers"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/cc_AccountId"
        }
      ]
    },
    "/accounts/{account_id}/containers/registries/{domain}/credentials": {
      "parameters": [
        {
          "$ref": "#/components/parameters/cc_AccountId"
        }
      ],
      "post": {
        "description": "Generates temporary credentials for accessing Cloudflare's container image registry. Used for pulling and pushing container images.",
        "operationId": "generateImageRegistryCredentials",
        "parameters": [
          {
            "in": "path",
            "name": "domain",
            "required": true,
            "schema": {
              "description": "The domain to get credentials for.",
              "example": "registry.cloudflare.com",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/cc_ImageRegistryCredentialsConfiguration"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/cc_GenerateImageRegistryCredentialsResponse201"
          },
          "400": {
            "$ref": "#/components/responses/cc_PublicBadRequest400"
          },
          "403": {
            "$ref": "#/components/responses/cc_RegistryTokenPermissionsNotAllowedResponse403"
          },
          "404": {
            "$ref": "#/components/responses/cc_ImageRegistryNotFoundResponse404"
          },
          "409": {
            "$ref": "#/components/responses/cc_GenerateImageRegistryCredentialsResponse409"
          },
          "500": {
            "$ref": "#/components/responses/cc_PublicInternalError500"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Generate a JWT to interact with the specified image registry.",
        "tags": [
          "Image Registries"
        ]
      }
    },
    "/accounts/{account_id}/diagnostics/endpoint-healthchecks": {
      "get": {
        "description": "List Endpoint Health Checks.",
        "operationId": "diagnostics-endpoint-healthcheck-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-transit_endpoint_health_check_response_single"
                }
              }
            },
            "description": "Endpoint Health Checks for account."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic-transit_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Endpoint Health Check response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Endpoint Health Checks",
        "tags": [
          "Endpoint Health Checks"
        ],
        "x-api-token-group": [
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "post": {
        "description": "Create Endpoint Health Check.",
        "operationId": "diagnostics-endpoint-healthcheck-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/magic-transit_endpoint_health_check"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-transit_endpoint_health_check_response_single"
                }
              }
            },
            "description": "Endpoint Health Check response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic-transit_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Endpoint Health Check response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Endpoint Health Check",
        "tags": [
          "Endpoint Health Checks"
        ],
        "x-api-token-group": [
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/diagnostics/endpoint-healthchecks/{id}": {
      "delete": {
        "description": "Delete Endpoint Health Check.",
        "operationId": "diagnostics-endpoint-healthcheck-delete",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-transit_api-response-common"
                }
              }
            },
            "description": "Endpoint Health Checks response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic-transit_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Endpoint Health Check failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Endpoint Health Check",
        "tags": [
          "Endpoint Health Checks"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "get": {
        "description": "Get a single Endpoint Health Check.",
        "operationId": "diagnostics-endpoint-healthcheck-get",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-transit_endpoint_health_check_response_single"
                }
              }
            },
            "description": "Endpoint Health Checks response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic-transit_traceroute_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/magic-transit_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Endpoint Health Check failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Endpoint Health Check",
        "tags": [
          "Endpoint Health Checks"
        ],
        "x-api-token-group": [
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "put": {
        "description": "Update a Endpoint Health Check.",
        "operationId": "diagnostics-endpoint-healthcheck-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "description": "UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/magic-transit_endpoint_health_check"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-transit_endpoint_health_check_response_single"
                }
              }
            },
            "description": "Endpoint Health Checks response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic-transit_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Endpoint Health Check failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update Endpoint Health Check",
        "tags": [
          "Endpoint Health Checks"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/diagnostics/traceroute": {
      "post": {
        "description": "Run traceroutes from Cloudflare colos.",
        "operationId": "diagnostics-traceroute",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "colos": {
                    "$ref": "#/components/schemas/magic-transit_colos"
                  },
                  "options": {
                    "$ref": "#/components/schemas/magic-transit_options"
                  },
                  "targets": {
                    "$ref": "#/components/schemas/magic-transit_targets"
                  }
                },
                "required": [
                  "targets"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/magic-transit_traceroute_response_collection"
                }
              }
            },
            "description": "Traceroute response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/magic-transit_traceroute_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/magic-transit_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Traceroute response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Traceroute",
        "tags": [
          "Diagnostics"
        ],
        "x-api-token-group": [
          "Magic Transit Write"
        ],
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/dns_records/usage": {
      "get": {
        "description": "Get the current DNS record usage and quota for an account. May include internal DNS usage and quota.",
        "operationId": "dns-records-for-an-account-get-usage",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-records_dns_response_account_usage"
                }
              }
            },
            "description": "Get DNS Record Usage response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-records_dns_response_account_usage"
                    },
                    {
                      "$ref": "#/components/schemas/dns-records_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Get DNS Record Usage response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get DNS Record Usage for Account",
        "tags": [
          "DNS Records for an Account"
        ],
        "x-api-token-group": [
          "Account DNS Settings Write",
          "Account DNS Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/dns_settings": {
      "get": {
        "description": "Show DNS settings for an account",
        "operationId": "dns-settings-for-an-account-list-dns-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-settings_dns_response_single"
                }
              }
            },
            "description": "Show DNS Settings response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-settings_dns_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/dns-settings_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Show DNS Settings response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Show DNS Settings",
        "tags": [
          "DNS Settings for an Account"
        ],
        "x-api-token-group": [
          "Account DNS Settings Write",
          "Account DNS Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "patch": {
        "description": "Update DNS settings for an account",
        "operationId": "dns-settings-for-an-account-update-dns-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-settings_account_settings_patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-settings_dns_response_single"
                }
              }
            },
            "description": "Show DNS Settings response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-settings_dns_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/dns-settings_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Show DNS Settings response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update DNS Settings",
        "tags": [
          "DNS Settings for an Account"
        ],
        "x-api-token-group": [
          "Account DNS Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/dns_settings/views": {
      "get": {
        "description": "List DNS Internal Views for an Account",
        "operationId": "dns-views-for-an-account-list-internal-dns-views",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "Exact value of the DNS view name. This is a convenience alias for `name.exact`.\n",
              "example": "my view",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.exact",
            "schema": {
              "description": "Exact value of the DNS view name.\n",
              "example": "my view",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.contains",
            "schema": {
              "description": "Substring of the DNS view name.\n",
              "example": "view",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.startswith",
            "schema": {
              "description": "Prefix of the DNS view name.\n",
              "example": "my",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name.endswith",
            "schema": {
              "description": "Suffix of the DNS view name.\n",
              "example": "ew",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "zone_id",
            "schema": {
              "description": "A zone ID that exists in the zones list for the view.\n",
              "example": "ae29bea30e2e427ba9cd8d78b628177b",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "zone_name",
            "schema": {
              "description": "A zone name that exists in the zones list for the view.\n",
              "example": "www.example.com",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "match",
            "schema": {
              "default": "all",
              "description": "Whether to match all search requirements or at least one (any). If set to `all`, acts like a logical AND between filters. If set to `any`, acts like a logical OR instead.\n",
              "enum": [
                "any",
                "all"
              ],
              "example": "any",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 100,
              "description": "Number of DNS views per page.",
              "example": 5,
              "maximum": 5000000,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "default": "type",
              "description": "Field to order DNS views by.",
              "enum": [
                "name",
                "created_on",
                "modified_on"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "direction",
            "schema": {
              "default": "asc",
              "description": "Direction to order DNS views in.",
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-settings_dns_view_response_collection"
                }
              }
            },
            "description": "List Internal DNS Views response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-settings_dns_view_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/dns-settings_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List Internal DNS Views response failure"
          }
        },
        "security": [
          {
[...]
