{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Storage",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/d1/database": {
      "get": {
        "description": "Returns a list of D1 databases.",
        "operationId": "d1-list-databases",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "a database name to search for.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 1000,
              "description": "Number of items per page.",
              "maximum": 10000,
              "minimum": 10,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/d1_database-response"
                          },
                          "type": "array"
                        },
                        "result_info": {
                          "properties": {
                            "count": {
                              "description": "Total number of results for the requested service",
                              "example": 1,
                              "type": "number"
                            },
                            "page": {
                              "description": "Current page within paginated list of results",
                              "example": 1,
                              "type": "number"
                            },
                            "per_page": {
                              "description": "Number of results per page of results",
                              "example": 20,
                              "type": "number"
                            },
                            "total_count": {
                              "description": "Total results available without any search parameters",
                              "example": 2000,
                              "type": "number"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "List D1 databases response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "List D1 databases response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List D1 Databases",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Read",
          "D1 Write"
        ]
      },
      "post": {
        "description": "Returns the created D1 database.",
        "operationId": "d1-create-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "jurisdiction": {
                    "description": "Specify the location to restrict the D1 database to run and store data. If this option is present, the location hint is ignored.",
                    "enum": [
                      "eu",
                      "fedramp"
                    ],
                    "example": "eu",
                    "type": "string"
                  },
                  "name": {
                    "description": "D1 database name.",
                    "example": "my-database",
                    "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
                    "type": "string"
                  },
                  "primary_location_hint": {
                    "description": "Specify the region to create the D1 primary, if available. If this option is omitted, the D1 will be created as close as possible to the current user.",
                    "enum": [
                      "wnam",
                      "enam",
                      "weur",
                      "eeur",
                      "apac",
                      "oc"
                    ],
                    "example": "wnam",
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/d1_database-details-response"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Returns the created D1 database's metadata"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Database details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create D1 Database",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Write"
        ]
      }
    },
    "/accounts/{account_id}/d1/database/{database_id}": {
      "delete": {
        "description": "Deletes the specified D1 database.",
        "operationId": "d1-delete-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "enum": [
                            null
                          ],
                          "nullable": true,
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Delete D1 database response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Delete D1 database response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete D1 Database",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Write"
        ]
      },
      "get": {
        "description": "Returns the specified D1 database.",
        "operationId": "d1-get-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "description": "D1 database identifier (UUID).",
                  "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                  "readOnly": true,
                  "type": "string"
                },
                {
                  "description": "D1 database name.",
                  "example": "my-database",
                  "pattern": "^[a-zA-Z0-9][a-zA-Z0-9_-]*$",
                  "type": "string"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/d1_database-details-response"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Database details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Database details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get D1 Database",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Read",
          "D1 Write"
        ]
      },
      "patch": {
        "description": "Updates partially the specified D1 database.",
        "operationId": "d1-update-partial-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/d1_database-update-partial-request-body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/d1_database-details-response"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Database details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Update D1 database response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update D1 Database partially",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Write"
        ]
      },
      "put": {
        "description": "Updates the specified D1 database.",
        "operationId": "d1-update-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/d1_database-update-request-body"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/d1_database-details-response"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Database details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Update D1 database response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update D1 Database",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Write"
        ]
      }
    },
    "/accounts/{account_id}/d1/database/{database_id}/export": {
      "post": {
        "description": "Returns a URL where the SQL contents of your D1 can be downloaded. Note: this process may take\nsome time for larger DBs, during which your D1 will be unavailable to serve queries. To avoid\nblocking your DB unnecessarily, an in-progress export must be continually polled or will automatically cancel.\n",
        "operationId": "d1-export-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "current_bookmark": {
                    "description": "To poll an in-progress export, provide the current bookmark (returned by your first polling response)",
                    "type": "string",
                    "x-auditable": true
                  },
                  "dump_options": {
                    "properties": {
                      "no_data": {
                        "description": "Export only the table definitions, not their contents",
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "no_schema": {
                        "description": "Export only each table's contents, not its definition",
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "tables": {
                        "description": "Filter the export to just one or more tables. Passing an empty array is the same as not passing anything and means: export all tables.",
                        "items": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "type": "array"
                      }
                    },
                    "type": "object"
                  },
                  "output_format": {
                    "description": "Specifies that you will poll this endpoint until the export completes",
                    "enum": [
                      "polling"
                    ],
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "output_format"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "at_bookmark": {
                              "description": "The current time-travel bookmark for your D1, used to poll for updates. Will not change for the duration of the export task.",
                              "type": "string",
                              "x-auditable": true
                            },
                            "error": {
                              "description": "Only present when status = 'error'. Contains the error message.",
                              "type": "string",
                              "x-auditable": true
                            },
                            "messages": {
                              "description": "Logs since the last time you polled",
                              "items": {
                                "type": "string",
                                "x-auditable": true
                              },
                              "type": "array"
                            },
                            "result": {
                              "description": "Only present when status = 'complete'",
                              "properties": {
                                "filename": {
                                  "description": "The generated SQL filename.",
                                  "type": "string",
                                  "x-auditable": true
                                },
                                "signed_url": {
                                  "description": "The URL to download the exported SQL. Available for one hour.",
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "status": {
                              "enum": [
                                "complete",
                                "error"
                              ],
                              "type": "string",
                              "x-auditable": true
                            },
                            "success": {
                              "type": "boolean",
                              "x-auditable": true
                            },
                            "type": {
                              "enum": [
                                "export"
                              ],
                              "type": "string",
                              "x-auditable": true
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Polled successfully, task no longer running (errored or complete)"
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "at_bookmark": {
                              "description": "The current time-travel bookmark for your D1, used to poll for updates. Will not change for the duration of the export task.",
                              "type": "string",
                              "x-auditable": true
                            },
                            "messages": {
                              "description": "Logs since the last time you polled",
                              "items": {
                                "type": "string",
                                "x-auditable": true
                              },
                              "type": "array"
                            },
                            "status": {
                              "enum": [
                                "active"
                              ],
                              "type": "string",
                              "x-auditable": true
                            },
                            "success": {
                              "type": "boolean",
                              "x-auditable": true
                            },
                            "type": {
                              "enum": [
                                "export"
                              ],
                              "type": "string",
                              "x-auditable": true
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Polled successfully, task is currently running"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Poll failed (API error)"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Export D1 Database as SQL",
        "tags": [
          "D1"
        ]
      }
    },
    "/accounts/{account_id}/d1/database/{database_id}/import": {
      "post": {
        "description": "Generates a temporary URL for uploading an SQL file to, then instructing the D1 to import it\nand polling it for status updates. Imports block the D1 for their duration.\n",
        "operationId": "d1-import-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "properties": {
                      "action": {
                        "description": "Indicates you have a new SQL file to upload.",
                        "enum": [
                          "init"
                        ],
                        "type": "string",
                        "x-auditable": true
                      },
                      "etag": {
                        "description": "Required when action is 'init' or 'ingest'. An md5 hash of the file you're uploading. Used to check if it already exists, and validate its contents before ingesting.",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": [
                      "action",
                      "etag"
                    ],
                    "title": "init",
                    "type": "object"
                  },
                  {
                    "properties": {
                      "action": {
                        "description": "Indicates you've finished uploading to tell the D1 to start consuming it",
                        "enum": [
                          "ingest"
                        ],
                        "type": "string",
                        "x-auditable": true
                      },
                      "etag": {
                        "description": "An md5 hash of the file you're uploading. Used to check if it already exists, and validate its contents before ingesting.",
                        "type": "string",
                        "x-auditable": true
                      },
                      "filename": {
                        "description": "The filename you have successfully uploaded.",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": [
                      "action",
                      "etag",
                      "filename"
                    ],
                    "title": "ingest",
                    "type": "object"
                  },
                  {
                    "properties": {
                      "action": {
                        "description": "Indicates you've finished uploading to tell the D1 to start consuming it",
                        "enum": [
                          "poll"
                        ],
                        "type": "string",
                        "x-auditable": true
                      },
                      "current_bookmark": {
                        "description": "This identifies the currently-running import, checking its status.",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": [
                      "action",
                      "current_bookmark"
                    ],
                    "title": "poll",
                    "type": "object"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "at_bookmark": {
                              "description": "The current time-travel bookmark for your D1, used to poll for updates. Will not change for the duration of the import. Only returned if an import process is currently running or recently finished.",
                              "type": "string",
                              "x-auditable": true
                            },
                            "error": {
                              "description": "Only present when status = 'error'. Contains the error message that prevented the import from succeeding.",
                              "type": "string",
                              "x-auditable": true
                            },
                            "filename": {
                              "description": "Derived from the database ID and etag, to use in avoiding repeated uploads. Only returned when for the 'init' action.",
                              "type": "string",
                              "x-auditable": true
                            },
                            "messages": {
                              "description": "Logs since the last time you polled",
                              "items": {
                                "type": "string",
                                "x-auditable": true
                              },
                              "type": "array"
                            },
                            "result": {
                              "description": "Only present when status = 'complete'",
                              "properties": {
                                "final_bookmark": {
                                  "description": "The time-travel bookmark if you need restore your D1 to directly after the import succeeded.",
                                  "type": "string",
                                  "x-auditable": true
                                },
                                "meta": {
                                  "$ref": "#/components/schemas/d1_query-meta"
                                },
                                "num_queries": {
                                  "description": "The total number of queries that were executed during the import.",
                                  "type": "number",
                                  "x-auditable": true
                                }
                              },
                              "type": "object"
                            },
                            "status": {
                              "enum": [
                                "complete",
                                "error"
                              ],
                              "type": "string",
                              "x-auditable": true
                            },
                            "success": {
                              "type": "boolean",
                              "x-auditable": true
                            },
                            "type": {
                              "enum": [
                                "import"
                              ],
                              "type": "string",
                              "x-auditable": true
                            },
                            "upload_url": {
                              "description": "The R2 presigned URL to use for uploading. Only returned when for the 'init' action.",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Successful action. Import is either ready to start, under way, or finished (succeeded or failed)."
          },
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "at_bookmark": {
                              "description": "The current bookmark for your D1, used to poll for updates. Will not change for the duration of the import.",
                              "type": "string",
                              "x-auditable": true
                            },
                            "messages": {
                              "description": "Logs since the last time you polled",
                              "items": {
                                "type": "string",
                                "x-auditable": true
                              },
                              "type": "array"
                            },
                            "status": {
                              "enum": [
                                "active"
                              ],
                              "type": "string",
                              "x-auditable": true
                            },
                            "success": {
                              "type": "boolean",
                              "x-auditable": true
                            },
                            "type": {
                              "enum": [
                                "import"
                              ],
                              "type": "string",
                              "x-auditable": true
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Polled successfully, task is currently running"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Poll failed (API error)"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Import SQL into your D1 Database",
        "tags": [
          "D1"
        ]
      }
    },
    "/accounts/{account_id}/d1/database/{database_id}/query": {
      "post": {
        "description": "Returns the query result as an object.",
        "operationId": "d1-query-database",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/d1_batch-query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/d1_query-result-response"
                          },
                          "type": "array"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Query response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Query response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Query D1 Database",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Read",
          "D1 Write"
        ]
      }
    },
    "/accounts/{account_id}/d1/database/{database_id}/raw": {
      "post": {
        "description": "Returns the query result rows as arrays rather than objects. This is a performance-optimized version of the /query endpoint.",
        "operationId": "d1-raw-database-query",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/d1_batch-query"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/d1_raw-result-response"
                          },
                          "type": "array"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Raw query response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Query response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Raw D1 Database query",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Read",
          "D1 Write"
        ]
      }
    },
    "/accounts/{account_id}/d1/database/{database_id}/time_travel/bookmark": {
      "get": {
        "description": "Retrieves the current bookmark, or the nearest bookmark at or before a provided timestamp.\nBookmarks can be used with the restore endpoint to revert the database to a previous point in time.\n",
        "operationId": "d1-time-travel-get-bookmark",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "An optional ISO 8601 timestamp. If provided, returns the nearest available bookmark at or before this timestamp. If omitted, returns the current bookmark.",
            "in": "query",
            "name": "timestamp",
            "schema": {
              "description": "An ISO 8601 timestamp used for time travel operations. The database will be restored to the nearest available bookmark at or before this timestamp.",
              "example": "2024-01-15T12:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "bookmark": {
                              "description": "A bookmark representing a specific state of the database at a specific point in time.",
                              "example": "00000001-00000002-00004e2f-0a83ea2fceebc654de0640c422be4653",
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Bookmark retrieved successfully"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Failed to retrieve bookmark"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get D1 database bookmark",
        "tags": [
          "D1"
        ],
        "x-api-token-group": [
          "D1 Read",
          "D1 Write"
        ]
      }
    },
    "/accounts/{account_id}/d1/database/{database_id}/time_travel/restore": {
      "post": {
        "description": "Restores a D1 database to a previous point in time either via a bookmark or a timestamp.\n",
        "operationId": "d1-time-travel-restore",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "database_id",
            "required": true,
            "schema": {
              "description": "D1 database identifier (UUID).",
              "example": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "A bookmark to restore the database to. Required if `timestamp` is not provided.",
            "in": "query",
            "name": "bookmark",
            "schema": {
              "description": "A bookmark representing a specific state of the database at a specific point in time.",
              "example": "00000001-00000002-00004e2f-0a83ea2fceebc654de0640c422be4653",
              "type": "string"
            }
          },
          {
            "description": "An ISO 8601 timestamp to restore the database to. Required if `bookmark` is not provided.",
            "in": "query",
            "name": "timestamp",
            "schema": {
              "description": "An ISO 8601 timestamp used for time travel operations. The database will be restored to the nearest available bookmark at or before this timestamp.",
              "example": "2024-01-15T12:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/d1_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/d1_time-travel-restore-response"
                        }
                      }
                    }
                  ]
                }
              }
            },
            "description": "Database restored successfully"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/d1_api-response-common-failure"
                }
              }
            },
            "description": "Restore operation failed"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Restore D1 Database to a bookmark or point in time",
        "tags": [
          "D1"
        ]
      }
    },
    "/accounts/{account_id}/hyperdrive/configs": {
      "get": {
        "description": "Returns a list of Hyperdrives.",
        "operationId": "list-hyperdrive",
        "parameters": [
          {
            "description": "The Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/hyperdrive_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/hyperdrive_hyperdrive-config-response"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "List Hyperdrives Response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hyperdrive_api-response-common-failure"
                }
              }
            },
            "description": "List Hyperdrives Failure Response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Hyperdrives",
        "tags": [
          "Hyperdrive"
        ],
        "x-api-token-group": [
          "Hyperdrive Write",
          "Hyperdrive Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.edge.hyperdrive.database.list"
          ]
        }
      },
      "post": {
        "description": "Creates and returns a new Hyperdrive configuration.",
        "operationId": "create-hyperdrive",
        "parameters": [
          {
            "description": "The Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/hyperdrive_hyperdrive-config"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/hyperdrive_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/hyperdrive_hyperdrive-config-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create Hyperdrive Response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hyperdrive_api-response-common-failure"
                }
              }
            },
            "description": "Create Hyperdrive Failure Response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Hyperdrive",
        "tags": [
          "Hyperdrive"
        ],
        "x-api-token-group": [
          "Hyperdrive Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.edge.hyperdrive.database.create"
          ]
        }
      }
    },
    "/accounts/{account_id}/hyperdrive/configs/{hyperdrive_id}": {
      "delete": {
        "description": "Deletes the specified Hyperdrive.",
        "operationId": "delete-hyperdrive",
        "parameters": [
          {
            "description": "The Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "The unique identifier of the Hyperdrive configuration.",
            "in": "path",
            "name": "hyperdrive_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/hyperdrive_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete Hyperdrive Response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hyperdrive_api-response-common-failure"
                }
              }
            },
            "description": "Delete Hyperdrive Failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Hyperdrive",
        "tags": [
          "Hyperdrive"
        ],
        "x-api-token-group": [
          "Hyperdrive Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.edge.hyperdrive.database.delete"
          ]
        }
      },
      "get": {
        "description": "Returns the specified Hyperdrive configuration.",
        "operationId": "get-hyperdrive",
        "parameters": [
          {
            "description": "The Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "The unique identifier of the Hyperdrive configuration.",
            "in": "path",
            "name": "hyperdrive_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/hyperdrive_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/hyperdrive_hyperdrive-config-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get Hyperdrive Response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hyperdrive_api-response-common-failure"
                }
              }
            },
            "description": "Get Hyperdrive Failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Hyperdrive",
        "tags": [
          "Hyperdrive"
        ],
        "x-api-token-group": [
          "Hyperdrive Write",
          "Hyperdrive Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.edge.hyperdrive.database.read"
          ]
        }
      },
      "patch": {
        "description": "Patches and returns the specified Hyperdrive configuration. Custom caching settings are not kept if caching is disabled.",
        "operationId": "patch-hyperdrive",
        "parameters": [
          {
            "description": "The Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "The unique identifier of the Hyperdrive configuration.",
            "in": "path",
            "name": "hyperdrive_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/hyperdrive_hyperdrive-config-patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/hyperdrive_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/hyperdrive_hyperdrive-config-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Patch Hyperdrive Response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hyperdrive_api-response-common-failure"
                }
              }
            },
            "description": "Patch Hyperdrive Failure Response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Patch Hyperdrive",
        "tags": [
          "Hyperdrive"
        ],
        "x-api-token-group": [
          "Hyperdrive Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.edge.hyperdrive.database.update"
          ]
        }
      },
      "put": {
        "description": "Updates and returns the specified Hyperdrive configuration.",
        "operationId": "update-hyperdrive",
        "parameters": [
          {
            "description": "The Cloudflare account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "description": "The unique identifier of the Hyperdrive configuration.",
            "in": "path",
            "name": "hyperdrive_id",
            "required": true,
            "schema": {
              "description": "Define configurations using a unique string identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/hyperdrive_hyperdrive-config"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/hyperdrive_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/hyperdrive_hyperdrive-config-response"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update Hyperdrive Response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/hyperdrive_api-response-common-failure"
                }
              }
            },
            "description": "Update Hyperdrive Failure Response."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update Hyperdrive",
        "tags": [
          "Hyperdrive"
        ],
        "x-api-token-group": [
          "Hyperdrive Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.edge.hyperdrive.database.update"
          ]
        }
      }
    },
    "/accounts/{account_id}/pipelines": {
      "get": {
        "deprecated": true,
        "description": "[DEPRECATED] List, filter, and paginate pipelines in an account. Use the new /pipelines/v1/pipelines endpoint instead.",
        "operationId": "getV4AccountsByAccount_idPipelines_deprecated",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the account.",
              "example": "0123105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Specifies the prefix of pipeline name to search.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": "1",
              "description": "Specifies which page to retrieve.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": "25",
              "description": "Specifies the number of pipelines per page.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result_info": {
                      "properties": {
                        "count": {
                          "description": "Indicates the number of items on current page.",
                          "example": 1,
                          "type": "number"
                        },
                        "page": {
                          "description": "Indicates the current page number.",
                          "example": 0,
                          "type": "number"
                        },
                        "per_page": {
                          "description": "Indicates the number of items per page.",
                          "example": 10,
                          "type": "number"
                        },
                        "total_count": {
                          "description": "Indicates the total number of items.",
                          "example": 1,
                          "type": "number"
                        }
                      },
                      "required": [
                        "count",
                        "page",
                        "per_page",
                        "total_count"
                      ],
                      "type": "object"
                    },
                    "results": {
                      "items": {
                        "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline"
                      },
                      "type": "array"
                    },
                    "success": {
                      "description": "Indicates whether the API call was successful.",
                      "example": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "results",
                    "result_info"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "[DEPRECATED] Lists the pipelines. Use /pipelines/v1/pipelines instead."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "example": [],
                      "items": {
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "results": {
                      "nullable": true,
                      "type": "object",
                      "x-stainless-empty-object": true
                    },
                    "success": {
                      "allOf": [
                        {
                          "description": "Indicates whether the API call was successful.",
                          "example": true,
                          "type": "boolean"
                        }
                      ],
                      "example": false
                    }
                  },
                  "required": [
                    "success",
                    "results",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Indicates the error trying to list pipelines."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "[DEPRECATED] List Pipelines",
        "tags": [
          "workers_pipelines_other"
        ],
        "x-api-token-group": [
          "Pipelines Write",
          "Pipelines Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "post": {
        "deprecated": true,
        "description": "[DEPRECATED] Create a new pipeline. Use the new /pipelines/v1/pipelines endpoint instead.",
        "operationId": "postV4AccountsByAccount_idPipelines_deprecated",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the account.",
              "example": "0123105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "destination": {
                    "properties": {
                      "batch": {
                        "properties": {
                          "max_bytes": {
                            "default": 100000000,
                            "description": "Specifies rough maximum size of files.",
                            "maximum": 100000000,
                            "minimum": 1000,
                            "type": "integer"
                          },
                          "max_duration_s": {
                            "default": 300,
                            "description": "Specifies duration to wait to aggregate batches files.",
                            "maximum": 300,
                            "minimum": 0.25,
                            "type": "number"
                          },
                          "max_rows": {
                            "default": 10000000,
                            "description": "Specifies rough maximum number of rows per file.",
                            "maximum": 10000000,
                            "minimum": 100,
                            "type": "integer"
                          }
                        },
                        "type": "object"
                      },
                      "compression": {
                        "properties": {
                          "type": {
                            "default": "gzip",
                            "description": "Specifies the desired compression algorithm and format.",
                            "enum": [
                              "none",
                              "gzip",
                              "deflate"
                            ],
                            "example": "gzip",
                            "type": "string"
                          }
                        },
                        "type": "object"
                      },
                      "credentials": {
                        "properties": {
                          "access_key_id": {
                            "description": "Specifies the R2 Bucket Access Key Id.",
                            "example": "<access key id>",
                            "type": "string"
                          },
                          "endpoint": {
                            "description": "Specifies the R2 Endpoint.",
                            "example": "https://123f8a8258064ed892a347f173372359.r2.cloudflarestorage.com",
                            "type": "string"
                          },
                          "secret_access_key": {
                            "description": "Specifies the R2 Bucket Secret Access Key.",
                            "example": "<secret key>",
                            "type": "string"
                          }
                        },
                        "required": [
                          "endpoint",
                          "access_key_id",
                          "secret_access_key"
                        ],
                        "type": "object"
                      },
                      "format": {
                        "description": "Specifies the format of data to deliver.",
                        "enum": [
                          "json"
                        ],
                        "type": "string"
                      },
                      "path": {
                        "example": {
                          "bucket": "bucket",
                          "prefix": "base"
                        },
                        "properties": {
                          "bucket": {
                            "description": "Specifies the R2 Bucket to store files.",
                            "example": "bucket",
                            "type": "string"
                          },
                          "filename": {
                            "allOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "string"
                              }
                            ],
                            "description": "Specifies the name pattern to for individual data files.",
                            "example": "${slug}${extension}"
                          },
                          "filepath": {
                            "description": "Specifies the name pattern for directory.",
                            "example": "${date}/${hour}",
                            "type": "string"
                          },
                          "prefix": {
                            "description": "Specifies the base directory within the bucket.",
                            "example": "base",
                            "type": "string"
                          }
                        },
                        "required": [
                          "bucket"
                        ],
                        "type": "object"
                      },
                      "type": {
                        "description": "Specifies the type of destination.",
                        "enum": [
                          "r2"
                        ],
                        "type": "string"
                      }
                    },
                    "required": [
                      "type",
                      "format",
                      "batch",
                      "compression",
                      "path",
                      "credentials"
                    ],
                    "type": "object"
                  },
                  "name": {
                    "description": "Defines the name of the pipeline.",
                    "example": "sample_pipeline",
                    "maxLength": 128,
                    "minLength": 1,
                    "type": "string"
                  },
                  "source": {
                    "items": {
                      "discriminator": {
                        "mapping": {
                          "binding": "#/components/schemas/cloudflare-pipelines_workers_pipelines_binding_source",
                          "http": "#/components/schemas/cloudflare-pipelines_workers_pipelines_http_source"
                        },
                        "propertyName": "type"
                      },
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/cloudflare-pipelines_workers_pipelines_http_source"
                        },
                        {
                          "$ref": "#/components/schemas/cloudflare-pipelines_workers_pipelines_binding_source"
                        }
                      ]
                    },
                    "minItems": 1,
                    "type": "array"
                  }
                },
                "required": [
                  "name",
                  "source",
                  "destination"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "$ref": "#/components/schemas/cloudflare-pipelines_workers-pipelines-pipeline"
                    },
                    "success": {
                      "description": "Indicates whether the API call was successful.",
                      "example": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "[DEPRECATED] Indicates a successfully created pipeline. Use /pipelines/v1/pipelines instead."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "example": [],
                      "items": {
                        "properties": {
                          "code": {
                            "type": "number"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "results": {
                      "nullable": true,
                      "type": "object",
                      "x-stainless-empty-object": true
                    },
                    "success": {
                      "allOf": [
                        {
                          "description": "Indicates whether the API call was successful.",
                          "example": true,
                          "type": "boolean"
                        }
                      ],
                      "example": false
                    }
                  },
                  "required": [
                    "success",
                    "results",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Indicates an error in creating a pipeline."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "[DEPRECATED] Create Pipeline",
        "tags": [
          "workers_pipelines_other"
        ],
        "x-api-token-group": [
          "Pipelines Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/pipelines/v1/pipelines": {
      "get": {
        "description": "List/Filter Pipelines in Account.",
        "operationId": "getV4AccountsByAccount_idPipelinesV1Pipelines",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the account.",
              "example": "0123105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "items": {
                        "properties": {
                          "created_at": {
                            "type": "string"
                          },
                          "id": {
                            "description": "Indicates a unique identifier for this pipeline.",
                            "example": "01234567890123457689012345678901",
                            "type": "string"
                          },
                          "modified_at": {
                            "type": "string"
                          },
                          "name": {
                            "description": "Indicates the name of the Pipeline.",
                            "example": "my_pipeline",
                            "maxLength": 128,
                            "minLength": 1,
                            "type": "string"
                          },
                          "sql": {
                            "description": "Specifies SQL for the Pipeline processing flow.",
                            "example": "insert into sink select * from source;",
                            "type": "string"
                          },
                          "status": {
                            "description": "Indicates the current status of the Pipeline.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "created_at",
                          "modified_at",
                          "sql",
                          "status"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result_info": {
                      "properties": {
                        "count": {
                          "description": "Indicates the number of items on current page.",
                          "example": 1,
                          "type": "number"
                        },
                        "page": {
                          "description": "Indicates the current page number.",
                          "example": 0,
                          "type": "number"
                        },
                        "per_page": {
                          "description": "Indicates the number of items per page.",
                          "example": 10,
                          "type": "number"
                        },
                        "total_count": {
                          "description": "Indicates the total number of items.",
                          "example": 1,
                          "type": "number"
                        }
                      },
                      "required": [
                        "count",
                        "page",
                        "per_page",
                        "total_count"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "description": "Indicates whether the API call was successful.",
                      "example": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result",
                    "result_info"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Indicates a successfully listed Pipelines."
          },
          "4XX": {
            "description": "Indicates an error in listing Pipelines."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Pipelines",
        "tags": [
          "workers_pipelines_other"
        ],
        "x-api-token-group": [
          "Pipelines Write",
          "Pipelines Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "post": {
        "description": "Create a new Pipeline.",
        "operationId": "postV4AccountsByAccount_idPipelinesV1Pipelines",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the account.",
              "example": "0123105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "Specifies the name of the Pipeline.",
                    "example": "my_pipeline",
                    "maxLength": 128,
                    "minLength": 1,
                    "type": "string"
                  },
                  "sql": {
                    "description": "Specifies SQL for the Pipeline processing flow.",
                    "example": "insert into sink select * from source;",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "sql"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "type": "string"
                        },
                        "id": {
                          "description": "Indicates a unique identifier for this pipeline.",
                          "example": "01234567890123457689012345678901",
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "name": {
                          "description": "Indicates the name of the Pipeline.",
                          "example": "my_pipeline",
                          "maxLength": 128,
                          "minLength": 1,
                          "type": "string"
                        },
                        "sql": {
                          "description": "Specifies SQL for the Pipeline processing flow.",
                          "example": "insert into sink select * from source;",
                          "type": "string"
                        },
                        "status": {
                          "description": "Indicates the current status of the Pipeline.",
                          "type": "string"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "created_at",
                        "modified_at",
                        "sql",
                        "status"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "description": "Indicates whether the API call was successful.",
                      "example": true,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Indicates a successfully created Pipeline."
          },
          "4XX": {
            "description": "Indicates an error in creating a Pipeline."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Pipeline",
        "tags": [
          "workers_pipelines_other"
        ],
        "x-api-token-group": [
          "Pipelines Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/pipelines/v1/pipelines/{pipeline_id}": {
      "delete": {
        "description": "Delete Pipeline in Account.",
        "operationId": "deleteV4AccountsByAccount_idPipelinesV1PipelinesByPipeline_id",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the account.",
              "example": "0123105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pipeline_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the pipeline.",
              "example": "043e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Indicates a successfully deleted Pipeline."
          },
          "4XX": {
            "description": "Indicates an error in listing Pipelines."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Pipelines",
        "tags": [
          "workers_pipelines_other"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "get": {
        "description": "Get Pipelines Details.",
        "operationId": "getV4AccountsByAccount_idPipelinesV1PipelinesByPipeline_id",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the account.",
              "example": "0123105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "pipeline_id",
            "required": true,
            "schema": {
              "description": "Specifies the public ID of the pipeline.",
              "example": "043e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "type": "string"
                        },
                        "failure_reason": {
                          "description": "Indicates the reason for the failure of the Pipeline.",
                          "type": "string"
                        },
                        "id": {
                          "description": "Indicates a unique identifier for this pipeline.",
                          "example": "01234567890123457689012345678901",
                          "type": "string"
                        },
                        "modified_at": {
                          "type": "string"
                        },
                        "name": {
                          "description": "Indicates the name of the Pipeline.",
                          "example": "my_pipeline",
                          "maxLength": 128,
                          "minLength": 1,
                          "type": "string"
                        },
                        "sql": {
                          "description": "Specifies SQL for the Pipeline processing flow.",
                          "example": "insert into sink select * from source;",
                          "type": "string"
                        },
                        "status": {
                          "description": "Indicates the current status of the Pipeline.",
                          "type": "string"
                        },
                        "tables": {
                          "description": "List of streams and sinks used by this pipeline.",
                          "items": {
                            "properties": {
                              "id": {
                                "description": "Unique identifier for the connection (stream or sink).",
                                "example": "1c9200d5872c018bb34e93e2cd8a438e",
                                "type": "string"
                              },
                              "latest": {
                                "description": "Latest available version of the connection.",
                                "example": 5,
                                "type": "integer"
                              },
                              "name": {
                                "description": "Name of the connection.",
                                "example": "my_table",
                                "maxLength": 128,
                                "minLength": 1,
                                "type": "string"
                              },
                              "type": {
                                "description": "Type of the connection.",
                                "enum": [
                                  "stream",
                                  "sink"
                                ],
                                "example": "stream",
                                "type": "string"
                              },
                              "version": {
                                "description": "Current version of the connection used by this pipeline.",
                                "example": 4,
                                "type": "integer"
                              }
                            },
                            "required": [
                              "id",
                              "version",
                              "latest",
                              "type",
                              "name"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "id",
                        "name",
                        "created_at",
                        "modified_at",
                        "sql",
                        "status",
[...]
