{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Observability",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/alerting/v3/available_alerts": {
      "get": {
        "description": "Gets a list of all alert types for which an account is eligible.",
        "operationId": "notification-alert-types-get-alert-types",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_alerts-response_collection"
                }
              }
            },
            "description": "Get Alert Types response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get Alert Types response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Alert Types",
        "tags": [
          "Notification Alert Types"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/destinations/eligible": {
      "get": {
        "description": "Get a list of all delivery mechanism types for which an account is eligible.",
        "operationId": "notification-mechanism-eligibility-get-delivery-mechanism-eligibility",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_schemas-response_collection"
                }
              }
            },
            "description": "Get delivery mechanism eligibility response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get delivery mechanism eligibility response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get delivery mechanism eligibility",
        "tags": [
          "Notification Mechanism Eligibility"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/destinations/pagerduty": {
      "delete": {
        "description": "Deletes all the PagerDuty Services connected to the account.",
        "operationId": "notification-destinations-with-pager-duty-delete-pager-duty-services",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_schemas-api-response-common"
                }
              }
            },
            "description": "Delete PagerDuty Services response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete PagerDuty Services response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete PagerDuty Services",
        "tags": [
          "Notification destinations with PagerDuty"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      },
      "get": {
        "description": "Get a list of all configured PagerDuty services.",
        "operationId": "notification-destinations-with-pager-duty-list-pager-duty-services",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_components-schemas-response_collection"
                }
              }
            },
            "description": "List PagerDuty services response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List PagerDuty services response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List PagerDuty services",
        "tags": [
          "Notification destinations with PagerDuty"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/alerting/v3/destinations/pagerduty/connect": {
      "post": {
        "description": "Creates a new token for integrating with PagerDuty.",
        "operationId": "notification-destinations-with-pager-duty-connect-pager-duty",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_sensitive_id_response"
                }
              }
            },
            "description": "Token for PagerDuty integration"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_id_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a token for PagerDuty integration failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create PagerDuty integration token",
        "tags": [
          "Notification destinations with PagerDuty"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/destinations/pagerduty/connect/{token_id}": {
      "get": {
        "description": "Links PagerDuty with the account using the integration token.",
        "operationId": "notification-destinations-with-pager-duty-connect-pager-duty-token",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "token_id",
            "required": true,
            "schema": {
              "description": "The token integration key",
              "example": "8c71e667571b4f61b94d9e4b12158038",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_id_response"
                }
              }
            },
            "description": "Create a Notification policy response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_id_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a Notification policy response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Connect PagerDuty",
        "tags": [
          "Notification destinations with PagerDuty"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/destinations/webhooks": {
      "get": {
        "description": "Gets a list of all configured webhook destinations.",
        "operationId": "notification-webhooks-list-webhooks",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_webhooks_components-schemas-response_collection"
                }
              }
            },
            "description": "List webhooks response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_webhooks_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List webhooks response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List webhooks",
        "tags": [
          "Notification webhooks"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new webhook destination.",
        "operationId": "notification-webhooks-create-a-webhook",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "The name of the webhook destination. This will be included in the request body when you receive a webhook notification.",
                    "example": "Slack Webhook",
                    "type": "string"
                  },
                  "secret": {
                    "description": "Optional secret that will be passed in the `cf-webhook-auth` header when dispatching generic webhook notifications or formatted for supported destinations. Secrets are not returned in any API response body.",
                    "type": "string",
                    "writeOnly": true
                  },
                  "url": {
                    "description": "The POST endpoint to call when dispatching a notification.",
                    "example": "https://hooks.slack.com/services/Ds3fdBFbV/456464Gdd",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_id_response"
                }
              }
            },
            "description": "Create a webhook response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_id_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a webhook response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a webhook",
        "tags": [
          "Notification webhooks"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/alerting/v3/destinations/webhooks/{webhook_id}": {
      "delete": {
        "description": "Delete a configured webhook destination.",
        "operationId": "notification-webhooks-delete-a-webhook",
        "parameters": [
          {
            "in": "path",
            "name": "webhook_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of a webhook",
              "example": "b115d5ec15c641ee8b7692c449b5227b",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_schemas-api-response-common"
                }
              }
            },
            "description": "Delete a webhook response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a webhook response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a webhook",
        "tags": [
          "Notification webhooks"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "get": {
        "description": "Get details for a single webhooks destination.",
        "operationId": "notification-webhooks-get-a-webhook",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "webhook_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of a webhook",
              "example": "b115d5ec15c641ee8b7692c449b5227b",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_schemas-single_response"
                }
              }
            },
            "description": "Get a webhook response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a webhook response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get a webhook",
        "tags": [
          "Notification webhooks"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      },
      "put": {
        "description": "Update a webhook destination.",
        "operationId": "notification-webhooks-update-a-webhook",
        "parameters": [
          {
            "in": "path",
            "name": "webhook_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of a webhook",
              "example": "b115d5ec15c641ee8b7692c449b5227b",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "The name of the webhook destination. This will be included in the request body when you receive a webhook notification.",
                    "example": "Slack Webhook",
                    "type": "string"
                  },
                  "secret": {
                    "description": "Optional secret that will be passed in the `cf-webhook-auth` header when dispatching generic webhook notifications or formatted for supported destinations. Secrets are not returned in any API response body.",
                    "type": "string",
                    "writeOnly": true
                  },
                  "url": {
                    "description": "The POST endpoint to call when dispatching a notification.",
                    "example": "https://hooks.slack.com/services/Ds3fdBFbV/456464Gdd",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "url"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_id_response"
                }
              }
            },
            "description": "Update a webhook response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_id_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a webhook response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a webhook",
        "tags": [
          "Notification webhooks"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/alerting/v3/history": {
      "get": {
        "description": "Gets a list of history records for notifications sent to an account. The records are displayed for last `x` number of days based on the zone plan (free = 30, pro = 30, biz = 30, ent = 90).",
        "operationId": "notification-history-list-history",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 25,
              "description": "Number of items per page.",
              "maximum": 1000,
              "minimum": 5,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "before",
            "schema": {
              "description": "Limit the returned results to history records older than the specified date. This must be a timestamp that conforms to RFC3339.",
              "example": "2022-05-20T20:29:58.679897Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "description": "Limit the returned results to history records newer than the specified date. This must be a timestamp that conforms to RFC3339.",
              "example": "2022-05-19T20:29:58.679897Z",
              "format": "date-time",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_history_components-schemas-response_collection"
                }
              }
            },
            "description": "List History response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_history_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List History response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List History",
        "tags": [
          "Notification History"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/policies": {
      "get": {
        "description": "Get a list of all Notification policies.",
        "operationId": "notification-policies-list-notification-policies",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_policies_components-schemas-response_collection"
                }
              }
            },
            "description": "List Notification policies response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Notification policies response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Notification policies",
        "tags": [
          "Notification policies"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      },
      "post": {
        "description": "Creates a new Notification policy.",
        "operationId": "notification-policies-create-a-notification-policy",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "alert_interval": {
                    "description": "Optional specification of how often to re-alert from the same incident, not support on all alert types.",
                    "example": "30m",
                    "type": "string"
                  },
                  "alert_type": {
                    "description": "Refers to which event will trigger a Notification dispatch. You can use the endpoint to get available alert types which then will give you a list of possible values.",
                    "enum": [
                      "abuse_report_alert",
                      "access_custom_certificate_expiration_type",
                      "advanced_ddos_attack_l4_alert",
                      "advanced_ddos_attack_l7_alert",
                      "advanced_http_alert_error",
                      "bgp_hijack_notification",
                      "billing_usage_alert",
                      "block_notification_block_removed",
                      "block_notification_new_block",
                      "block_notification_review_rejected",
                      "bot_traffic_basic_alert",
                      "brand_protection_alert",
                      "brand_protection_digest",
                      "clickhouse_alert_fw_anomaly",
                      "clickhouse_alert_fw_ent_anomaly",
                      "cloudforce_one_request_notification",
                      "cni_maintenance_notification",
                      "custom_analytics",
                      "custom_bot_detection_alert",
                      "custom_ssl_certificate_event_type",
                      "dedicated_ssl_certificate_event_type",
                      "device_connectivity_anomaly_alert",
                      "dos_attack_l4",
                      "dos_attack_l7",
                      "expiring_service_token_alert",
                      "failing_logpush_job_disabled_alert",
                      "fbm_auto_advertisement",
                      "fbm_dosd_attack",
                      "fbm_volumetric_attack",
                      "health_check_status_notification",
                      "hostname_aop_custom_certificate_expiration_type",
                      "http_alert_edge_error",
                      "http_alert_origin_error",
                      "image_notification",
                      "image_resizing_notification",
                      "incident_alert",
                      "load_balancing_health_alert",
                      "load_balancing_pool_enablement_alert",
                      "logo_match_alert",
                      "magic_tunnel_health_check_event",
                      "magic_wan_tunnel_health",
                      "maintenance_event_notification",
                      "mtls_certificate_store_certificate_expiration_type",
                      "pages_event_alert",
                      "radar_notification",
                      "real_origin_monitoring",
                      "scriptmonitor_alert_new_code_change_detections",
                      "scriptmonitor_alert_new_hosts",
                      "scriptmonitor_alert_new_malicious_hosts",
                      "scriptmonitor_alert_new_malicious_scripts",
                      "scriptmonitor_alert_new_malicious_url",
                      "scriptmonitor_alert_new_max_length_resource_url",
                      "scriptmonitor_alert_new_resources",
                      "secondary_dns_all_primaries_failing",
                      "secondary_dns_primaries_failing",
                      "secondary_dns_warning",
                      "secondary_dns_zone_successfully_updated",
                      "secondary_dns_zone_validation_warning",
                      "security_insights_alert",
                      "sentinel_alert",
                      "stream_live_notifications",
                      "synthetic_test_latency_alert",
                      "synthetic_test_low_availability_alert",
                      "traffic_anomalies_alert",
                      "tunnel_health_event",
                      "tunnel_update_event",
                      "universal_ssl_event_type",
                      "web_analytics_metrics_update",
                      "zone_aop_custom_certificate_expiration_type"
                    ],
                    "example": "universal_ssl_event_type",
                    "type": "string"
                  },
                  "description": {
                    "description": "Optional description for the Notification policy.",
                    "example": "Something describing the policy.",
                    "type": "string"
                  },
                  "enabled": {
                    "default": true,
                    "description": "Whether or not the Notification policy is enabled.",
                    "example": true,
                    "type": "boolean"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/aaa_filters"
                  },
                  "mechanisms": {
                    "$ref": "#/components/schemas/aaa_mechanisms"
                  },
                  "name": {
                    "description": "Name of the policy.",
                    "example": "SSL Notification Event Policy",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "alert_type",
                  "enabled",
                  "mechanisms"
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_id_response"
                }
              }
            },
            "description": "Create a Notification policy response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_id_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a Notification policy response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a Notification policy",
        "tags": [
          "Notification policies"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/policies/{policy_id}": {
      "delete": {
        "description": "Delete a Notification policy.",
        "operationId": "notification-policies-delete-a-notification-policy",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of a notification policy",
              "example": "0da2b59ef118439d8097bdfb215203c9",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_api-response-collection"
                }
              }
            },
            "description": "Delete a Notification policy response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_api-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a Notification policy response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete a Notification policy",
        "tags": [
          "Notification policies"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      },
      "get": {
        "description": "Get details for a single policy.",
        "operationId": "notification-policies-get-a-notification-policy",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of a notification policy",
              "example": "0da2b59ef118439d8097bdfb215203c9",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_single_response"
                }
              }
            },
            "description": "Get a Notification policy response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a Notification policy response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get a Notification policy",
        "tags": [
          "Notification policies"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      },
      "put": {
        "description": "Update a Notification policy.",
        "operationId": "notification-policies-update-a-notification-policy",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "policy_id",
            "required": true,
            "schema": {
              "description": "The unique identifier of a notification policy",
              "example": "0da2b59ef118439d8097bdfb215203c9",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "alert_interval": {
                    "description": "Optional specification of how often to re-alert from the same incident, not support on all alert types.",
                    "example": "30m",
                    "type": "string"
                  },
                  "alert_type": {
                    "description": "Refers to which event will trigger a Notification dispatch. You can use the endpoint to get available alert types which then will give you a list of possible values.",
                    "enum": [
                      "abuse_report_alert",
                      "access_custom_certificate_expiration_type",
                      "advanced_ddos_attack_l4_alert",
                      "advanced_ddos_attack_l7_alert",
                      "advanced_http_alert_error",
                      "bgp_hijack_notification",
                      "billing_usage_alert",
                      "block_notification_block_removed",
                      "block_notification_new_block",
                      "block_notification_review_rejected",
                      "bot_traffic_basic_alert",
                      "brand_protection_alert",
                      "brand_protection_digest",
                      "clickhouse_alert_fw_anomaly",
                      "clickhouse_alert_fw_ent_anomaly",
                      "cloudforce_one_request_notification",
                      "cni_maintenance_notification",
                      "custom_analytics",
                      "custom_bot_detection_alert",
                      "custom_ssl_certificate_event_type",
                      "dedicated_ssl_certificate_event_type",
                      "device_connectivity_anomaly_alert",
                      "dos_attack_l4",
                      "dos_attack_l7",
                      "expiring_service_token_alert",
                      "failing_logpush_job_disabled_alert",
                      "fbm_auto_advertisement",
                      "fbm_dosd_attack",
                      "fbm_volumetric_attack",
                      "health_check_status_notification",
                      "hostname_aop_custom_certificate_expiration_type",
                      "http_alert_edge_error",
                      "http_alert_origin_error",
                      "image_notification",
                      "image_resizing_notification",
                      "incident_alert",
                      "load_balancing_health_alert",
                      "load_balancing_pool_enablement_alert",
                      "logo_match_alert",
                      "magic_tunnel_health_check_event",
                      "magic_wan_tunnel_health",
                      "maintenance_event_notification",
                      "mtls_certificate_store_certificate_expiration_type",
                      "pages_event_alert",
                      "radar_notification",
                      "real_origin_monitoring",
                      "scriptmonitor_alert_new_code_change_detections",
                      "scriptmonitor_alert_new_hosts",
                      "scriptmonitor_alert_new_malicious_hosts",
                      "scriptmonitor_alert_new_malicious_scripts",
                      "scriptmonitor_alert_new_malicious_url",
                      "scriptmonitor_alert_new_max_length_resource_url",
                      "scriptmonitor_alert_new_resources",
                      "secondary_dns_all_primaries_failing",
                      "secondary_dns_primaries_failing",
                      "secondary_dns_warning",
                      "secondary_dns_zone_successfully_updated",
                      "secondary_dns_zone_validation_warning",
                      "security_insights_alert",
                      "sentinel_alert",
                      "stream_live_notifications",
                      "synthetic_test_latency_alert",
                      "synthetic_test_low_availability_alert",
                      "traffic_anomalies_alert",
                      "tunnel_health_event",
                      "tunnel_update_event",
                      "universal_ssl_event_type",
                      "web_analytics_metrics_update",
                      "zone_aop_custom_certificate_expiration_type"
                    ],
                    "example": "universal_ssl_event_type",
                    "type": "string"
                  },
                  "description": {
                    "description": "Optional description for the Notification policy.",
                    "example": "Something describing the policy.",
                    "type": "string"
                  },
                  "enabled": {
                    "default": true,
                    "description": "Whether or not the Notification policy is enabled.",
                    "example": true,
                    "type": "boolean"
                  },
                  "filters": {
                    "$ref": "#/components/schemas/aaa_filters"
                  },
                  "mechanisms": {
                    "$ref": "#/components/schemas/aaa_mechanisms"
                  },
                  "name": {
                    "description": "Name of the policy.",
                    "example": "SSL Notification Event Policy",
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_id_response"
                }
              }
            },
            "description": "Update a Notification policy response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_id_response"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a Notification policy response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update a Notification policy",
        "tags": [
          "Notification policies"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/silences": {
      "get": {
        "description": "Gets a list of silences for an account.",
        "operationId": "notification-silences-list-silences",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_silences_components-schemas-response_collection"
                }
              }
            },
            "description": "List Silences response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_silences_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Silences response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Silences",
        "tags": [
          "Notification Silences"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      },
      "post": {
        "description": "Creates a new silence for an account.",
        "operationId": "notification-silences-create-silences",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/aaa_silence_create_request"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_schemas-api-response-common"
                }
              }
            },
            "description": "Create Silences response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_silences_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create Silences response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create Silences",
        "tags": [
          "Notification Silences"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      },
      "put": {
        "description": "Updates existing silences for an account.",
        "operationId": "notification-silences-update-silences",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/aaa_silence_update_request"
                },
                "type": "array"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_silences_components-schemas-response_collection"
                }
              }
            },
            "description": "Update Silences response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_silences_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update Silences response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update Silences",
        "tags": [
          "Notification Silences"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      }
    },
    "/accounts/{account_id}/alerting/v3/silences/{silence_id}": {
      "delete": {
        "description": "Deletes an existing silence for an account.",
        "operationId": "notification-silences-delete-silences",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "silence_id",
            "required": true,
            "schema": {
              "description": "Silence ID",
              "example": "f878e90c23f44126ae3cfc399f646977",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_schemas-api-response-common"
                }
              }
            },
            "description": "Delete Silence response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_silence_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete Silence response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Silence",
        "tags": [
          "Notification Silences"
        ],
        "x-api-token-group": [
          "Notifications Write",
          "Account Settings Write"
        ]
      },
      "get": {
        "description": "Gets a specific silence for an account.",
        "operationId": "notification-silences-get-silence",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account id",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "silence_id",
            "required": true,
            "schema": {
              "description": "Silence ID",
              "example": "f878e90c23f44126ae3cfc399f646977",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/aaa_silence_components-schemas-response_collection"
                }
              }
            },
            "description": "Get Silence response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/aaa_silence_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/aaa_components-schemas-api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get Silence response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Silence",
        "tags": [
          "Notification Silences"
        ],
        "x-api-token-group": [
          "Zero Trust: PII Read",
          "Notifications Write",
          "Notifications Read",
          "Account Settings Write",
          "Account Settings Read"
        ]
      }
    },
    "/accounts/{account_id}/browser-rendering/content": {
      "post": {
        "description": "Fetches rendered HTML content from provided URL or HTML. Check available options like `gotoOptions` and `waitFor*` to control page load behaviour.",
        "operationId": "brapi-post_Content",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Cache TTL default is 5s. Set to 0 to disable.",
            "in": "query",
            "name": "cacheTTL",
            "schema": {
              "default": 5,
              "description": "Cache TTL default is 5s. Set to 0 to disable.",
              "maximum": 86400,
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "examples": {
                "example1": {
                  "value": {
                    "url": "https://www.example.com/"
                  }
                }
              },
              "schema": {
                "allOf": [
                  {
                    "anyOf": [
                      {
                        "additionalProperties": false,
                        "properties": {
                          "actionTimeout": {
                            "description": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error.",
                            "maximum": 120000,
                            "type": "number"
                          },
                          "addScriptTag": {
                            "description": "Adds a `<script>` tag into the page with the desired URL or content.",
                            "items": {
                              "properties": {
                                "content": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "addStyleTag": {
                            "description": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content.",
                            "items": {
                              "properties": {
                                "content": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "allowRequestPattern": {
                            "description": "Only allow requests that match the provided regex patterns, eg. '/^.*\\.(css)'.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "allowResourceTypes": {
                            "description": "Only allow requests that match the provided resource types, eg. 'image' or 'script'.",
                            "items": {
                              "anyOf": [
                                {
                                  "enum": [
                                    "document"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "stylesheet"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "image"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "media"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "font"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "script"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "texttrack"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "xhr"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "fetch"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "prefetch"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "eventsource"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "websocket"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "manifest"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "signedexchange"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "ping"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "cspviolationreport"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "preflight"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "other"
                                  ],
                                  "type": "string"
                                }
                              ]
                            },
                            "type": "array"
                          },
                          "authenticate": {
                            "description": "Provide credentials for HTTP authentication.",
                            "properties": {
                              "password": {
                                "minLength": 1,
                                "type": "string",
                                "x-sensitive": true
                              },
                              "username": {
                                "minLength": 1,
                                "type": "string"
                              }
                            },
                            "required": [
                              "username",
                              "password"
                            ],
                            "type": "object"
                          },
                          "bestAttempt": {
                            "description": "Attempt to proceed when 'awaited' events fail or timeout.",
                            "type": "boolean"
                          },
                          "cookies": {
                            "description": "Check [options](https://pptr.dev/api/puppeteer.page.setcookie).",
                            "items": {
                              "properties": {
                                "domain": {
                                  "type": "string"
                                },
                                "expires": {
                                  "type": "number"
                                },
                                "httpOnly": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "description": "Cookie name.",
                                  "type": "string"
                                },
                                "partitionKey": {
                                  "type": "string"
                                },
                                "path": {
                                  "type": "string"
                                },
                                "priority": {
                                  "anyOf": [
                                    {
                                      "enum": [
                                        "Low"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "Medium"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "High"
                                      ],
                                      "type": "string"
                                    }
                                  ]
                                },
                                "sameParty": {
                                  "type": "boolean"
                                },
                                "sameSite": {
                                  "anyOf": [
                                    {
                                      "enum": [
                                        "Strict"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "Lax"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "None"
                                      ],
                                      "type": "string"
                                    }
                                  ]
                                },
                                "secure": {
                                  "type": "boolean"
                                },
                                "sourcePort": {
                                  "type": "number"
                                },
                                "sourceScheme": {
                                  "anyOf": [
                                    {
                                      "enum": [
                                        "Unset"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "NonSecure"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
                                        "Secure"
                                      ],
                                      "type": "string"
                                    }
                                  ]
                                },
                                "url": {
                                  "type": "string"
                                },
                                "value": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "name",
                                "value"
                              ],
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "emulateMediaType": {
                            "type": "string"
                          },
                          "gotoOptions": {
                            "default": {},
                            "description": "Check [options](https://pptr.dev/api/puppeteer.gotooptions).",
                            "properties": {
                              "referer": {
                                "type": "string"
                              },
                              "referrerPolicy": {
                                "type": "string"
                              },
                              "timeout": {
                                "default": 30000,
                                "maximum": 60000,
                                "type": "number"
                              },
                              "waitUntil": {
                                "anyOf": [
                                  {
                                    "enum": [
                                      "load"
                                    ],
                                    "type": "string"
                                  },
                                  {
                                    "enum": [
                                      "domcontentloaded"
                                    ],
                                    "type": "string"
                                  },
                                  {
                                    "enum": [
                                      "networkidle0"
                                    ],
                                    "type": "string"
                                  },
                                  {
                                    "enum": [
                                      "networkidle2"
                                    ],
                                    "type": "string"
                                  },
                                  {
                                    "items": {
                                      "anyOf": [
                                        {
                                          "enum": [
                                            "load"
                                          ],
                                          "type": "string"
                                        },
                                        {
                                          "enum": [
                                            "domcontentloaded"
                                          ],
                                          "type": "string"
                                        },
                                        {
                                          "enum": [
                                            "networkidle0"
                                          ],
                                          "type": "string"
                                        },
                                        {
                                          "enum": [
                                            "networkidle2"
                                          ],
                                          "type": "string"
                                        }
                                      ]
                                    },
                                    "type": "array"
                                  }
                                ],
                                "default": "domcontentloaded"
                              }
                            },
                            "type": "object"
                          },
                          "rejectRequestPattern": {
                            "description": "Block undesired requests that match the provided regex patterns, eg. '/^.*\\.(css)'.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "rejectResourceTypes": {
                            "description": "Block undesired requests that match the provided resource types, eg. 'image' or 'script'.",
                            "items": {
                              "anyOf": [
                                {
                                  "enum": [
                                    "document"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "stylesheet"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "image"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "media"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "font"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "script"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "texttrack"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "xhr"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "fetch"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "prefetch"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "eventsource"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "websocket"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "manifest"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "signedexchange"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "ping"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "cspviolationreport"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "preflight"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "other"
                                  ],
                                  "type": "string"
                                }
                              ]
                            },
                            "type": "array"
                          },
                          "setExtraHTTPHeaders": {
                            "additionalProperties": {
                              "type": "string"
                            },
                            "type": "object"
                          },
                          "setJavaScriptEnabled": {
                            "type": "boolean"
                          },
                          "url": {
                            "description": "URL to navigate to, eg. `https://example.com`.",
                            "example": "https://example.com/",
                            "format": "uri",
                            "type": "string"
                          },
                          "userAgent": {
                            "default": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/119.0.0.0 Safari/537.36",
                            "type": "string"
                          },
                          "viewport": {
                            "default": {
                              "height": 1080,
                              "width": 1920
                            },
                            "description": "Check [options](https://pptr.dev/api/puppeteer.page.setviewport).",
                            "properties": {
                              "deviceScaleFactor": {
                                "type": "number"
                              },
                              "hasTouch": {
                                "type": "boolean"
                              },
                              "height": {
                                "type": "number"
                              },
                              "isLandscape": {
                                "type": "boolean"
                              },
                              "isMobile": {
                                "type": "boolean"
                              },
                              "width": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "width",
                              "height"
                            ],
                            "type": "object"
                          },
                          "waitForSelector": {
                            "description": "Wait for the selector to appear in page. Check [options](https://pptr.dev/api/puppeteer.page.waitforselector).",
                            "properties": {
                              "hidden": {
                                "enum": [
                                  true
                                ],
                                "type": "boolean"
                              },
                              "selector": {
                                "type": "string"
                              },
                              "timeout": {
                                "maximum": 120000,
                                "type": "number"
                              },
                              "visible": {
                                "enum": [
                                  true
                                ],
                                "type": "boolean"
                              }
                            },
                            "required": [
                              "selector"
                            ],
                            "type": "object"
                          },
                          "waitForTimeout": {
                            "description": "Waits for a specified timeout before continuing.",
                            "maximum": 120000,
                            "type": "number"
                          }
                        },
                        "required": [
                          "url"
                        ],
                        "type": "object"
                      },
                      {
                        "additionalProperties": false,
                        "properties": {
                          "actionTimeout": {
                            "description": "The maximum duration allowed for the browser action to complete after the page has loaded (such as taking screenshots, extracting content, or generating PDFs). If this time limit is exceeded, the action stops and returns a timeout error.",
                            "maximum": 120000,
                            "type": "number"
                          },
                          "addScriptTag": {
                            "description": "Adds a `<script>` tag into the page with the desired URL or content.",
                            "items": {
                              "properties": {
                                "content": {
                                  "type": "string"
                                },
                                "id": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "addStyleTag": {
                            "description": "Adds a `<link rel=\"stylesheet\">` tag into the page with the desired URL or a `<style type=\"text/css\">` tag with the content.",
                            "items": {
                              "properties": {
                                "content": {
                                  "type": "string"
                                },
                                "url": {
                                  "type": "string"
                                }
                              },
                              "type": "object"
                            },
                            "type": "array"
                          },
                          "allowRequestPattern": {
                            "description": "Only allow requests that match the provided regex patterns, eg. '/^.*\\.(css)'.",
                            "items": {
                              "type": "string"
                            },
                            "type": "array"
                          },
                          "allowResourceTypes": {
                            "description": "Only allow requests that match the provided resource types, eg. 'image' or 'script'.",
                            "items": {
                              "anyOf": [
                                {
                                  "enum": [
                                    "document"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "stylesheet"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "image"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "media"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "font"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "script"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "texttrack"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "xhr"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "fetch"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "prefetch"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "eventsource"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "websocket"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "manifest"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "signedexchange"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "ping"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "cspviolationreport"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "preflight"
                                  ],
                                  "type": "string"
                                },
                                {
                                  "enum": [
                                    "other"
                                  ],
                                  "type": "string"
                                }
                              ]
                            },
                            "type": "array"
                          },
                          "authenticate": {
                            "description": "Provide credentials for HTTP authentication.",
                            "properties": {
                              "password": {
                                "minLength": 1,
                                "type": "string",
                                "x-sensitive": true
                              },
                              "username": {
                                "minLength": 1,
                                "type": "string"
                              }
                            },
                            "required": [
                              "username",
                              "password"
                            ],
                            "type": "object"
                          },
                          "bestAttempt": {
                            "description": "Attempt to proceed when 'awaited' events fail or timeout.",
                            "type": "boolean"
                          },
                          "cookies": {
                            "description": "Check [options](https://pptr.dev/api/puppeteer.page.setcookie).",
                            "items": {
                              "properties": {
                                "domain": {
                                  "type": "string"
                                },
                                "expires": {
                                  "type": "number"
                                },
                                "httpOnly": {
                                  "type": "boolean"
                                },
                                "name": {
                                  "description": "Cookie name.",
                                  "type": "string"
                                },
                                "partitionKey": {
                                  "type": "string"
                                },
                                "path": {
                                  "type": "string"
                                },
                                "priority": {
                                  "anyOf": [
                                    {
                                      "enum": [
                                        "Low"
                                      ],
                                      "type": "string"
                                    },
                                    {
                                      "enum": [
[...]
