{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Builds",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/builds/account/limits": {
      "get": {
        "description": "Retrieve account limits and usage information",
        "operationId": "getAccountLimits",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_GetAccountLimitResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Account limits retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get account limits",
        "tags": [
          "Account"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/builds/builds": {
      "get": {
        "description": "Retrieve builds for specific version IDs",
        "operationId": "getBuildsByVersionIds",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "in": "query",
            "name": "version_ids",
            "required": true,
            "schema": {
              "description": "Comma-separated list of version UUIDs (max 20).",
              "example": "123e4567-e89b-12d3-a456-426614174000,223e4567-e89b-12d3-a456-426614174001",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_BuildsByVersionResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Builds retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get builds by version IDs",
        "tags": [
          "Builds"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/builds/builds/latest": {
      "get": {
        "description": "Retrieve the most recent builds for multiple worker scripts",
        "operationId": "getLatestBuildsByScripts",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "in": "query",
            "name": "external_script_ids",
            "required": true,
            "schema": {
              "description": "Comma-separated list of external script IDs (max 20).",
              "example": "worker1,worker2,worker3",
              "pattern": "^[\\w]+([,][\\w]+)*$",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_LatestBuildsResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Latest builds retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get latest builds by script IDs",
        "tags": [
          "Builds"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/builds/builds/{build_uuid}": {
      "get": {
        "description": "Retrieve detailed information about a specific build",
        "operationId": "getBuildByUuid",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_BuildUuid"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_BuildResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Build retrieved successfully"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get build by UUID",
        "tags": [
          "Builds"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/builds/builds/{build_uuid}/cancel": {
      "put": {
        "description": "Cancel a running or queued build",
        "operationId": "cancelBuildByUuid",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_BuildUuid"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_CanceledBuildResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Build canceled successfully"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Cancel build",
        "tags": [
          "Builds"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/builds/{build_uuid}/logs": {
      "get": {
        "description": "Retrieve logs for a specific build with cursor-based pagination",
        "operationId": "getBuildLogs",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_BuildUuid"
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Pagination cursor for log retrieval.",
              "example": "eyJsaW5lIjoxMDAsInRpbWVzdGFtcCI6MTYzNjQ3MjQwMH0",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_BuildLogsResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Build logs retrieved successfully"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get build logs",
        "tags": [
          "Builds"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/builds/repos/connections": {
      "put": {
        "description": "Upsert a repository connection for CI/CD integration",
        "operationId": "upsertRepoConnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/builds_UpsertRepoConnectionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_UpsertRepoConnectionResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Repository connection upserted successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create or update repository connection",
        "tags": [
          "Repository Connections"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/repos/connections/{repo_connection_uuid}": {
      "delete": {
        "description": "Remove a repository connection",
        "operationId": "deleteRepoConnection",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_RepoConnectionUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/builds_SuccessEmpty"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete repository connection",
        "tags": [
          "Repository Connections"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/repos/{provider_type}/{provider_account_id}/{repo_id}/config_autofill": {
      "get": {
        "description": "Analyze repository for automatic configuration detection",
        "operationId": "getWorkerConfigAutofill",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "description": "SCM provider type",
            "in": "path",
            "name": "provider_type",
            "required": true,
            "schema": {
              "enum": [
                "github"
              ],
              "example": "github",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "provider_account_id",
            "required": true,
            "schema": {
              "description": "Provider account identifier.",
              "example": "cloudflare",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "repo_id",
            "required": true,
            "schema": {
              "description": "Repository identifier.",
              "example": "workers-sdk",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "branch",
            "required": true,
            "schema": {
              "description": "Git branch name.",
              "example": "main",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "root_directory",
            "schema": {
              "description": "Root directory path.",
              "example": "/",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_ConfigAutofillResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Configuration autofill data retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get repository configuration autofill",
        "tags": [
          "GitHub Integration"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/builds/tokens": {
      "get": {
        "description": "Get all build tokens with pagination",
        "operationId": "listBuildTokens",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_Page"
          },
          {
            "$ref": "#/components/parameters/builds_PerPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/builds_ListTokensResponse"
                          },
                          "type": "array"
                        },
                        "result_info": {
                          "$ref": "#/components/schemas/builds_PaginationInfo"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Build tokens retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List build tokens",
        "tags": [
          "Build Tokens"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      },
      "post": {
        "description": "Create a new build authentication token",
        "operationId": "createBuildToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/builds_CreateBuildTokenRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_CreateBuildTokenResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Build token created successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create build token",
        "tags": [
          "Build Tokens"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/tokens/{build_token_uuid}": {
      "delete": {
        "description": "Remove a build authentication token",
        "operationId": "deleteBuildToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "in": "path",
            "name": "build_token_uuid",
            "required": true,
            "schema": {
              "description": "Build token UUID.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/builds_SuccessEmpty"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete build token",
        "tags": [
          "Build Tokens"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/triggers": {
      "post": {
        "description": "Create a new CI/CD trigger",
        "operationId": "createTrigger",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/builds_CreateTriggerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_TriggerResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Trigger created successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create trigger",
        "tags": [
          "Triggers"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/triggers/{trigger_uuid}": {
      "delete": {
        "description": "Remove a CI/CD trigger",
        "operationId": "deleteTrigger",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_TriggerUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/builds_SuccessEmpty"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete trigger",
        "tags": [
          "Triggers"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      },
      "patch": {
        "description": "Update an existing CI/CD trigger",
        "operationId": "updateTrigger",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_TriggerUuid"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/builds_UpdateTriggerRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_TriggerResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Trigger updated successfully"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update trigger",
        "tags": [
          "Triggers"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/triggers/{trigger_uuid}/builds": {
      "post": {
        "description": "Trigger a manual build for a specific trigger",
        "operationId": "createManualBuild",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_TriggerUuid"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/builds_CreateBuildRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_InsertBuildResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Build created successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create manual build",
        "tags": [
          "Triggers"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/triggers/{trigger_uuid}/environment_variables": {
      "get": {
        "description": "Get all environment variables for a trigger",
        "operationId": "listEnvironmentVariables",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_TriggerUuid"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_EnvironmentVariablesResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Environment variables retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List environment variables",
        "tags": [
          "Environment Variables"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      },
      "patch": {
        "description": "Create or update environment variables for a trigger",
        "operationId": "upsertEnvironmentVariables",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_TriggerUuid"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/builds_EnvironmentVariablesRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/builds_EnvironmentVariablesResponse"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Environment variables updated successfully"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Upsert environment variables",
        "tags": [
          "Environment Variables"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/triggers/{trigger_uuid}/environment_variables/{environment_variable_key}": {
      "delete": {
        "description": "Remove a specific environment variable from a trigger",
        "operationId": "deleteEnvironmentVariable",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_TriggerUuid"
          },
          {
            "in": "path",
            "name": "environment_variable_key",
            "required": true,
            "schema": {
              "description": "Environment variable key.",
              "example": "NODE_ENV",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/builds_SuccessEmpty"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete environment variable",
        "tags": [
          "Environment Variables"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/triggers/{trigger_uuid}/purge_build_cache": {
      "post": {
        "description": "Clear the build cache for a specific trigger",
        "operationId": "purgeBuildCache",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "$ref": "#/components/parameters/builds_TriggerUuid"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/builds_SuccessEmpty"
          },
          "404": {
            "$ref": "#/components/responses/builds_NotFound"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Purge build cache",
        "tags": [
          "Triggers"
        ],
        "x-api-token-group": [
          "Workers CI Write"
        ]
      }
    },
    "/accounts/{account_id}/builds/workers/{external_script_id}/builds": {
      "get": {
        "description": "Get all builds for a specific worker script with pagination",
        "operationId": "listBuildsByScript",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "in": "path",
            "name": "external_script_id",
            "required": true,
            "schema": {
              "description": "External script identifier.",
              "example": "my-worker",
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/builds_Page"
          },
          {
            "$ref": "#/components/parameters/builds_PerPage"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/builds_BuildResponse"
                          },
                          "type": "array"
                        },
                        "result_info": {
                          "$ref": "#/components/schemas/builds_PaginationInfo"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Builds retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List builds by script",
        "tags": [
          "Workers"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/builds/workers/{external_script_id}/triggers": {
      "get": {
        "description": "Get all triggers for a specific worker script",
        "operationId": "listTriggersByScript",
        "parameters": [
          {
            "$ref": "#/components/parameters/builds_AccountId"
          },
          {
            "in": "path",
            "name": "external_script_id",
            "required": true,
            "schema": {
              "description": "External script identifier.",
              "example": "my-worker",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/builds_APIResponse"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/builds_TriggerResponse"
                          },
                          "type": "array"
                        }
                      },
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Triggers retrieved successfully"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List triggers by script",
        "tags": [
          "Workers"
        ],
        "x-api-token-group": [
          "Workers CI Write",
          "Workers CI Read"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects": {
      "get": {
        "description": "Fetch a list of all user projects.",
        "operationId": "pages-project-get-projects",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Which page of projects to fetch.",
              "example": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "How many projects to return per page.",
              "example": 10,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_project"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get projects response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get projects response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get projects",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "post": {
        "description": "Create a new project.",
        "operationId": "pages-project-create-project",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "build_config": {
                    "description": "Configs for the project build process.",
                    "properties": {
                      "build_caching": {
                        "description": "Enable build caching for the project.",
                        "example": true,
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "build_command": {
                        "description": "Command used to build project.",
                        "example": "npm run build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "destination_dir": {
                        "description": "Output directory of the build.",
                        "example": "build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "root_dir": {
                        "description": "Directory to run the command.",
                        "example": "/",
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_tag": {
                        "description": "The classifying tag for analytics.",
                        "example": "cee1c73f6e4743d0b5e6bb1a0bcaabcc",
                        "nullable": true,
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_token": {
                        "description": "The auth token for analytics.",
                        "example": "021e1057c18547eca7b79f2516f06o7x",
                        "nullable": true,
                        "type": "string",
                        "x-sensitive": true
                      }
                    },
                    "type": "object"
                  },
                  "deployment_configs": {
                    "description": "Configs for deployments in a project.",
                    "properties": {
                      "preview": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for preview deploys."
                      },
                      "production": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for production deploys."
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "Name of the project.",
                    "example": "my-pages-app",
                    "type": "string",
                    "x-auditable": true
                  },
                  "production_branch": {
                    "description": "Production branch of the project. Used to identify production deployments.",
                    "example": "main",
                    "type": "string",
                    "x-auditable": true
                  },
                  "source": {
                    "description": "Configs for the project source control.",
                    "properties": {
                      "config": {
                        "properties": {
                          "deployments_enabled": {
                            "deprecated": true,
                            "description": "Whether to enable automatic deployments when pushing to the source repository.\nWhen disabled, no deployments (production or preview) will be triggered automatically.\n",
                            "type": "boolean",
                            "x-auditable": true,
                            "x-stainless-deprecation-message": "Use `production_deployments_enabled` and `preview_deployment_setting` for more granular control."
                          },
                          "owner": {
                            "description": "The owner of the repository.",
                            "example": "my-org",
                            "type": "string",
                            "x-auditable": true
                          },
                          "owner_id": {
                            "description": "The owner ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "path_excludes": {
                            "description": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "path_includes": {
                            "description": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "pr_comments_enabled": {
                            "description": "Whether to enable PR comments.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "preview_branch_excludes": {
                            "description": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_branch_includes": {
                            "description": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_deployment_setting": {
                            "description": "Controls whether commits to preview branches trigger a preview deployment.",
                            "enum": [
                              "all",
                              "none",
                              "custom"
                            ],
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_branch": {
                            "description": "The production branch of the repository.",
                            "example": "main",
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_deployments_enabled": {
                            "description": "Whether to trigger a production deployment on commits to the production branch.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "repo_id": {
                            "description": "The ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "repo_name": {
                            "description": "The name of the repository.",
                            "example": "my-repo",
                            "type": "string",
                            "x-auditable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": {
                        "description": "The source control management provider.",
                        "enum": [
                          "github",
                          "gitlab"
                        ],
                        "example": "github",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": [
                      "type",
                      "config"
                    ],
                    "type": "object"
                  }
                },
                "required": [
                  "name",
                  "production_branch"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Create project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}": {
      "delete": {
        "description": "Delete a project by name.",
        "operationId": "pages-project-delete-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      },
      "get": {
        "description": "Fetch a project by name.",
        "operationId": "pages-project-get-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "patch": {
        "description": "Set new attributes for an existing project. Modify environment variables. To delete an environment variable, set the key to null.",
        "operationId": "pages-project-update-project",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "example": {
                  "deployment_configs": {
                    "production": {
                      "compatibility_date": "2022-01-01",
                      "compatibility_flags": [
                        "url_standard"
                      ],
                      "env_vars": {
                        "NODE_VERSION": {
                          "value": "22"
                        },
                        "delete_this_env_var": null,
                        "secret_var": {
                          "type": "secret_text",
                          "value": "A_CMS_API_TOKEN"
                        }
                      }
                    }
                  }
                },
                "properties": {
                  "build_config": {
                    "description": "Configs for the project build process.",
                    "properties": {
                      "build_caching": {
                        "description": "Enable build caching for the project.",
                        "example": true,
                        "type": "boolean",
                        "x-auditable": true
                      },
                      "build_command": {
                        "description": "Command used to build project.",
                        "example": "npm run build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "destination_dir": {
                        "description": "Output directory of the build.",
                        "example": "build",
                        "type": "string",
                        "x-auditable": true
                      },
                      "root_dir": {
                        "description": "Directory to run the command.",
                        "example": "/",
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_tag": {
                        "description": "The classifying tag for analytics.",
                        "example": "cee1c73f6e4743d0b5e6bb1a0bcaabcc",
                        "nullable": true,
                        "type": "string",
                        "x-auditable": true
                      },
                      "web_analytics_token": {
                        "description": "The auth token for analytics.",
                        "example": "021e1057c18547eca7b79f2516f06o7x",
                        "nullable": true,
                        "type": "string",
                        "x-sensitive": true
                      }
                    },
                    "type": "object"
                  },
                  "deployment_configs": {
                    "description": "Configs for deployments in a project.",
                    "properties": {
                      "preview": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for preview deploys."
                      },
                      "production": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/pages_deployment_config_values_request"
                          }
                        ],
                        "description": "Configs for production deploys."
                      }
                    },
                    "type": "object"
                  },
                  "name": {
                    "description": "Name of the project.",
                    "example": "my-pages-app",
                    "type": "string",
                    "x-auditable": true
                  },
                  "production_branch": {
                    "description": "Production branch of the project. Used to identify production deployments.",
                    "example": "main",
                    "type": "string",
                    "x-auditable": true
                  },
                  "source": {
                    "description": "Configs for the project source control.",
                    "properties": {
                      "config": {
                        "properties": {
                          "deployments_enabled": {
                            "deprecated": true,
                            "description": "Whether to enable automatic deployments when pushing to the source repository.\nWhen disabled, no deployments (production or preview) will be triggered automatically.\n",
                            "type": "boolean",
                            "x-auditable": true,
                            "x-stainless-deprecation-message": "Use `production_deployments_enabled` and `preview_deployment_setting` for more granular control."
                          },
                          "owner": {
                            "description": "The owner of the repository.",
                            "example": "my-org",
                            "type": "string",
                            "x-auditable": true
                          },
                          "owner_id": {
                            "description": "The owner ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "path_excludes": {
                            "description": "A list of paths that should be excluded from triggering a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "path_includes": {
                            "description": "A list of paths that should be watched to trigger a preview deployment. Wildcard syntax (`*`) is supported.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "pr_comments_enabled": {
                            "description": "Whether to enable PR comments.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "preview_branch_excludes": {
                            "description": "A list of branches that should not trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_branch_includes": {
                            "description": "A list of branches that should trigger a preview deployment. Wildcard syntax (`*`) is supported. Must be used with `preview_deployment_setting` set to `custom`.",
                            "items": {
                              "type": "string",
                              "x-auditable": true
                            },
                            "type": "array"
                          },
                          "preview_deployment_setting": {
                            "description": "Controls whether commits to preview branches trigger a preview deployment.",
                            "enum": [
                              "all",
                              "none",
                              "custom"
                            ],
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_branch": {
                            "description": "The production branch of the repository.",
                            "example": "main",
                            "type": "string",
                            "x-auditable": true
                          },
                          "production_deployments_enabled": {
                            "description": "Whether to trigger a production deployment on commits to the production branch.",
                            "type": "boolean",
                            "x-auditable": true
                          },
                          "repo_id": {
                            "description": "The ID of the repository.",
                            "example": "12345678",
                            "type": "string",
                            "x-auditable": true
                          },
                          "repo_name": {
                            "description": "The name of the repository.",
                            "example": "my-repo",
                            "type": "string",
                            "x-auditable": true
                          }
                        },
                        "type": "object"
                      },
                      "type": {
                        "description": "The source control management provider.",
                        "enum": [
                          "github",
                          "gitlab"
                        ],
                        "example": "github",
                        "type": "string",
                        "x-auditable": true
                      }
                    },
                    "required": [
                      "type",
                      "config"
                    ],
                    "type": "object"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_project"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Update project response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Update project response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update project",
        "tags": [
          "Pages Project"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments": {
      "get": {
        "description": "Fetch a list of project deployments.",
        "operationId": "pages-deployment-get-deployments",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "env",
            "schema": {
              "description": "What type of deployments to fetch.",
              "enum": [
                "production",
                "preview"
              ],
              "example": "preview",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Which page of deployments to fetch.",
              "example": 1,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "How many deployments to return per page.",
              "example": 10,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_deployment"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get deployments response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get deployments response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get deployments",
        "tags": [
          "Pages Deployment"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "post": {
        "description": "Start a new deployment from production. The repository and account must have already been authorized on the Cloudflare Pages dashboard.",
        "operationId": "pages-deployment-create-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "encoding": {
                "_headers": {
                  "contentType": "text/plain"
                },
                "_redirects": {
                  "contentType": "text/plain"
                },
                "_routes.json": {
                  "contentType": "application/json"
                },
                "_worker.bundle": {
                  "contentType": "multipart/form-data"
                },
                "_worker.js": {
                  "contentType": "application/javascript+module, text/javascript+module, application/javascript, text/javascript"
                },
                "functions-filepath-routing-config.json": {
                  "contentType": "application/json"
                },
                "manifest": {
                  "contentType": "application/json"
                }
              },
              "schema": {
                "properties": {
                  "_headers": {
                    "description": "Headers configuration file for the deployment.",
                    "format": "binary",
                    "type": "string"
                  },
                  "_redirects": {
                    "description": "Redirects configuration file for the deployment.",
                    "format": "binary",
                    "type": "string"
                  },
                  "_routes.json": {
                    "description": "Routes configuration file defining routing rules.",
                    "format": "binary",
                    "type": "string"
                  },
                  "_worker.bundle": {
                    "description": "Worker bundle file in multipart/form-data format. Mutually exclusive with `_worker.js`.\nCannot specify both `_worker.js` and `_worker.bundle` in the same request.\nMaximum size: 25 MiB.\n",
                    "format": "binary",
                    "type": "string"
                  },
                  "_worker.js": {
                    "description": "Worker JavaScript file. Mutually exclusive with `_worker.bundle`.\nCannot specify both `_worker.js` and `_worker.bundle` in the same request.\n",
                    "format": "binary",
                    "type": "string"
                  },
                  "branch": {
                    "description": "The branch to build the new deployment from. The `HEAD` of the branch will be used. If omitted, the production branch will be used by default.",
                    "example": "staging",
                    "type": "string",
                    "x-auditable": true
                  },
                  "commit_dirty": {
                    "description": "Boolean string indicating if the working directory has uncommitted changes.",
                    "enum": [
                      "true",
                      "false"
                    ],
                    "example": "false",
                    "type": "string"
                  },
                  "commit_hash": {
                    "description": "Git commit SHA associated with this deployment.",
                    "example": "a1b2c3d4e5f6",
                    "type": "string"
                  },
                  "commit_message": {
                    "description": "Git commit message associated with this deployment.",
                    "example": "Update homepage",
                    "type": "string"
                  },
                  "functions-filepath-routing-config.json": {
                    "description": "Functions routing configuration file.",
                    "format": "binary",
                    "type": "string"
                  },
                  "manifest": {
                    "description": "JSON string containing a manifest of files to deploy. Maps file paths to their content hashes.\nRequired for direct upload deployments. Maximum 20,000 entries.\n",
                    "example": "{\"index.html\": \"abc123\", \"style.css\": \"def456\"}",
                    "type": "string"
                  },
                  "pages_build_output_dir": {
                    "description": "The build output directory path.",
                    "example": "dist",
                    "type": "string"
                  },
                  "wrangler_config_hash": {
                    "description": "Hash of the Wrangler configuration file used for this deployment.",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Create deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Create deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create deployment",
        "tags": [
          "Pages Deployment"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}": {
      "delete": {
        "description": "Delete a deployment.",
        "operationId": "pages-deployment-delete-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete deployment",
        "tags": [
          "Pages Deployment"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      },
      "get": {
        "description": "Fetch information about a deployment.",
        "operationId": "pages-deployment-get-deployment-info",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get deployment info response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get deployment info response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get deployment info",
        "tags": [
          "Pages Deployment"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/history/logs": {
      "get": {
        "description": "Fetch deployment logs for a project.",
        "operationId": "pages-deployment-get-deployment-logs",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment_log"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get deployment logs response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get deployment logs response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get deployment logs",
        "tags": [
          "Pages Deployment"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/retry": {
      "post": {
        "description": "Retry a previous deployment.",
        "operationId": "pages-deployment-retry-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Retry deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Retry deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Retry deployment",
        "tags": [
          "Pages Deployment"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/deployments/{deployment_id}/rollback": {
      "post": {
        "description": "Rollback the production deployment to a previous deployment. You can only rollback to succesful builds on production.",
        "operationId": "pages-deployment-rollback-deployment",
        "parameters": [
          {
            "in": "path",
            "name": "deployment_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_deployment"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Rollback deployment response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Rollback deployment response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Rollback deployment",
        "tags": [
          "Pages Deployment"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/domains": {
      "get": {
        "description": "Fetch a list of all domains associated with a Pages project.",
        "operationId": "pages-domains-get-domains",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-collection"
                    },
                    {
                      "properties": {
                        "result": {
                          "items": {
                            "$ref": "#/components/schemas/pages_domain"
                          },
                          "type": "array"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Get domains response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Get domains response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get domains",
        "tags": [
          "Pages Domains"
        ],
        "x-api-token-group": [
          "Pages Read",
          "Pages Write"
        ]
      },
      "post": {
        "description": "Add a new domain for the Pages project.",
        "operationId": "pages-domains-add-domain",
        "parameters": [
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "The domain name.",
                    "example": "this-is-my-domain-01.com",
                    "pattern": "^([a-zA-Z0-9][\\-a-zA-Z0-9]*\\.)+[\\-a-zA-Z0-9]{2,20}$",
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/pages_domain"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Add domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Add domain response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Add domain",
        "tags": [
          "Pages Domains"
        ],
        "x-api-token-group": [
          "Pages Write"
        ]
      }
    },
    "/accounts/{account_id}/pages/projects/{project_name}/domains/{domain_name}": {
      "delete": {
        "description": "Delete a Pages project's domain.",
        "operationId": "pages-domains-delete-domain",
        "parameters": [
          {
            "in": "path",
            "name": "domain_name",
            "required": true,
            "schema": {
              "description": "The domain name.",
              "example": "this-is-my-domain-01.com",
              "pattern": "^([a-zA-Z0-9][\\-a-zA-Z0-9]*\\.)+[\\-a-zA-Z0-9]{2,20}$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "project_name",
            "required": true,
            "schema": {
              "description": "Name of the project.",
              "example": "this-is-my-project-01",
              "pattern": "^[a-z0-9][a-z0-9-]*$",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/pages_api-response-common"
                    },
                    {
                      "properties": {
                        "result": {
                          "nullable": true,
                          "type": "object"
                        }
                      },
                      "required": [
                        "result"
                      ],
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "description": "Delete domain response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/pages_api-response-common-failure"
                }
              }
            },
            "description": "Delete domain response failure."
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
[...]
