{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - ZeroTrust",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/cfd_tunnel": {
      "get": {
        "description": "Lists and filters Cloudflare Tunnels in an account.",
        "operationId": "cloudflare-tunnel-list-cloudflare-tunnels",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "A user-friendly name for a tunnel.",
              "example": "blog",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "is_deleted",
            "schema": {
              "description": "If `true`, only include deleted tunnels. If `false`, exclude deleted tunnels. If empty, all tunnels will be included.",
              "example": true,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "existed_at",
            "schema": {
              "description": "If provided, include only resources that were created (and not deleted) before this time. URL encoded.",
              "example": "2019-10-12T07%3A20%3A50.52Z",
              "format": "url-encoded-date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uuid",
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "was_active_at",
            "schema": {
              "example": "2009-11-10T23:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "was_inactive_at",
            "schema": {
              "example": "2009-11-10T23:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include_prefix",
            "schema": {
              "example": "vpc1-",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exclude_prefix",
            "schema": {
              "example": "vpc1-",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "The status of the tunnel. Valid values are `inactive` (tunnel has never been run), `degraded` (tunnel is active and able to serve traffic but in an unhealthy state), `healthy` (tunnel is active and able to serve traffic), or `down` (tunnel can not serve traffic as it has no connections to the Cloudflare Edge).",
              "enum": [
                "inactive",
                "degraded",
                "healthy",
                "down"
              ],
              "example": "healthy",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "Number of results to display.",
              "maximum": 1000,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-collection"
                }
              }
            },
            "description": "List Cloudflare Tunnels response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Cloudflare Tunnels response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "List Cloudflare Tunnels",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connectors Read",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare One Connector: cloudflared Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      },
      "post": {
        "description": "Creates a new Cloudflare Tunnel in an account.",
        "operationId": "cloudflare-tunnel-create-a-cloudflare-tunnel",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "config_src": {
                    "default": "local",
                    "description": "Indicates if this is a locally or remotely configured tunnel. If `local`, manage the tunnel using a YAML file on the origin machine. If `cloudflare`, manage the tunnel on the Zero Trust dashboard.",
                    "enum": [
                      "local",
                      "cloudflare"
                    ],
                    "example": "cloudflare",
                    "type": "string"
                  },
                  "name": {
                    "description": "A user-friendly name for a tunnel.",
                    "example": "blog",
                    "type": "string"
                  },
                  "tunnel_secret": {
                    "description": "Sets the password required to run a locally-managed tunnel. Must be at least 32 bytes and encoded as a base64 string.",
                    "example": "AQIDBAUGBwgBAgMEBQYHCAECAwQFBgcIAQIDBAUGBwg=",
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                }
              }
            },
            "description": "Create a Cloudflare Tunnel response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a Cloudflare Tunnel response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Create a Cloudflare Tunnel",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/cfd_tunnel/{tunnel_id}": {
      "delete": {
        "description": "Deletes a Cloudflare Tunnel from an account.",
        "operationId": "cloudflare-tunnel-delete-a-cloudflare-tunnel",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                }
              }
            },
            "description": "Delete a Cloudflare Tunnel response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a Cloudflare Tunnel response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Delete a Cloudflare Tunnel",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare Tunnel Write"
        ]
      },
      "get": {
        "description": "Fetches a single Cloudflare Tunnel.",
        "operationId": "cloudflare-tunnel-get-a-cloudflare-tunnel",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                }
              }
            },
            "description": "Get a Cloudflare Tunnel response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a Cloudflare Tunnel response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get a Cloudflare Tunnel",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connectors Read",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare One Connector: cloudflared Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      },
      "patch": {
        "description": "Updates an existing Cloudflare Tunnel.",
        "operationId": "cloudflare-tunnel-update-a-cloudflare-tunnel",
        "parameters": [
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "name": {
                    "description": "A user-friendly name for a tunnel.",
                    "example": "blog",
                    "type": "string"
                  },
                  "tunnel_secret": {
                    "description": "Sets the password required to run a locally-managed tunnel. Must be at least 32 bytes and encoded as a base64 string.",
                    "example": "AQIDBAUGBwgBAgMEBQYHCAECAwQFBgcIAQIDBAUGBwg=",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                }
              }
            },
            "description": "Update a Cloudflare Tunnel response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_cfd-tunnel-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a Cloudflare Tunnel response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Update a Cloudflare Tunnel",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/cfd_tunnel/{tunnel_id}/configurations": {
      "get": {
        "description": "Gets the configuration for a remotely-managed tunnel",
        "operationId": "cloudflare-tunnel-configuration-get-configuration",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_configuration_response"
                }
              }
            },
            "description": "Get configuration response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_schemas-api-response-common-failure"
                }
              }
            },
            "description": "Get configuration response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get configuration",
        "tags": [
          "Cloudflare Tunnel Configuration"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connectors Read",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare One Connector: cloudflared Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      },
      "put": {
        "description": "Adds or updates the configuration for a remotely-managed tunnel.",
        "operationId": "cloudflare-tunnel-configuration-put-configuration",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "config": {
                    "$ref": "#/components/schemas/tunnel_config"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_configuration_response"
                }
              }
            },
            "description": "Put configuration response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_schemas-api-response-common-failure"
                }
              }
            },
            "description": "Put configuration response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Put configuration",
        "tags": [
          "Cloudflare Tunnel Configuration"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/cfd_tunnel/{tunnel_id}/connections": {
      "delete": {
        "description": "Removes a connection (aka Cloudflare Tunnel Connector) from a Cloudflare Tunnel independently of its current state. If no connector id (client_id) is provided all connectors will be removed. We recommend running this command after rotating tokens.",
        "operationId": "cloudflare-tunnel-clean-up-cloudflare-tunnel-connections",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "client_id",
            "schema": {
              "description": "UUID of the Cloudflare Tunnel connector.",
              "example": "1bedc50d-42b3-473c-b108-ff3d10c0d925",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_empty_response"
                }
              }
            },
            "description": "Clean up Cloudflare Tunnel connections response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_empty_response"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Clean up Cloudflare Tunnel connections response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Clean up Cloudflare Tunnel connections",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare Tunnel Write"
        ]
      },
      "get": {
        "description": "Fetches connection details for a Cloudflare Tunnel.",
        "operationId": "cloudflare-tunnel-list-cloudflare-tunnel-connections",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_tunnel_connections_response"
                }
              }
            },
            "description": "List Cloudflare Tunnel connections response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_tunnel_connections_response"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Cloudflare Tunnel connections response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "List Cloudflare Tunnel connections",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connectors Read",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare One Connector: cloudflared Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      }
    },
    "/accounts/{account_id}/cfd_tunnel/{tunnel_id}/connectors/{connector_id}": {
      "get": {
        "description": "Fetches connector and connection details for a Cloudflare Tunnel.",
        "operationId": "cloudflare-tunnel-get-cloudflare-tunnel-connector",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "connector_id",
            "required": true,
            "schema": {
              "description": "UUID of the Cloudflare Tunnel connector.",
              "example": "1bedc50d-42b3-473c-b108-ff3d10c0d925",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_tunnel_client_response"
                }
              }
            },
            "description": "Get Cloudflare Tunnel connector response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_tunnel_client_response"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get Cloudflare Tunnel connector response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get Cloudflare Tunnel connector",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connectors Read",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare One Connector: cloudflared Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      }
    },
    "/accounts/{account_id}/cfd_tunnel/{tunnel_id}/management": {
      "post": {
        "description": "Gets a management token used to access the management resources (i.e. Streaming Logs) of a tunnel.",
        "operationId": "cloudflare-tunnel-get-a-cloudflare-tunnel-management-token",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "resources": {
                    "items": {
                      "description": "Management resources the token will have access to.",
                      "enum": [
                        "logs"
                      ],
                      "example": "logs",
                      "type": "string"
                    },
                    "type": "array"
                  }
                },
                "required": [
                  "resources"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_tunnel_response_token"
                }
              }
            },
            "description": "Get a Cloudflare Tunnel management token response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_tunnel_response_token"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Cloudflare API response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get a Cloudflare Tunnel management token",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/cfd_tunnel/{tunnel_id}/token": {
      "get": {
        "description": "Gets the token used to associate cloudflared with a specific tunnel.",
        "operationId": "cloudflare-tunnel-get-a-cloudflare-tunnel-token",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_tunnel_response_token"
                }
              }
            },
            "description": "Get a Cloudflare Tunnel token response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_tunnel_response_token"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a Cloudflare Tunnel token response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get a Cloudflare Tunnel token",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/teamnet/routes": {
      "get": {
        "description": "Lists and filters private network routes in an account.",
        "operationId": "tunnel-route-list-tunnel-routes",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "comment",
            "schema": {
              "default": "",
              "description": "Optional remark describing the route.",
              "example": "Example comment for this route.",
              "maxLength": 100,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "is_deleted",
            "schema": {
              "description": "If `true`, only include deleted routes. If `false`, exclude deleted routes. If empty, all routes will be included.",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "network_subset",
            "schema": {
              "allOf": [
                {
                  "description": "The private IPv4 or IPv6 range connected by the route, in CIDR notation.",
                  "example": "172.16.0.0/16",
                  "type": "string"
                }
              ],
              "description": "If set, only list routes that are contained within this IP range."
            }
          },
          {
            "in": "query",
            "name": "network_superset",
            "schema": {
              "allOf": [
                {
                  "description": "The private IPv4 or IPv6 range connected by the route, in CIDR notation.",
                  "example": "172.16.0.0/16",
                  "type": "string"
                }
              ],
              "description": "If set, only list routes that contain this IP range."
            }
          },
          {
            "in": "query",
            "name": "existed_at",
            "schema": {
              "description": "If provided, include only resources that were created (and not deleted) before this time. URL encoded.",
              "example": "2019-10-12T07%3A20%3A50.52Z",
              "format": "url-encoded-date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tunnel_id",
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "route_id",
            "schema": {
              "description": "UUID of the route.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tun_types",
            "schema": {
              "$ref": "#/components/schemas/tunnel_tunnel_types"
            }
          },
          {
            "in": "query",
            "name": "virtual_network_id",
            "schema": {
              "description": "UUID of the virtual network.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "Number of results to display.",
              "maximum": 1000,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_teamnet_response_collection"
                }
              }
            },
            "description": "List tunnel routes response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_teamnet_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List tunnel routes response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "List tunnel routes",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare One Networks Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      },
      "post": {
        "description": "Routes a private network through a Cloudflare Tunnel.",
        "operationId": "tunnel-route-create-a-tunnel-route",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "default": "",
                    "description": "Optional remark describing the route.",
                    "example": "Example comment for this route.",
                    "maxLength": 100,
                    "type": "string"
                  },
                  "network": {
                    "description": "The private IPv4 or IPv6 range connected by the route, in CIDR notation.",
                    "example": "172.16.0.0/16",
                    "type": "string"
                  },
                  "tunnel_id": {
                    "description": "UUID of the tunnel.",
                    "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
                    "format": "uuid",
                    "maxLength": 36,
                    "readOnly": true,
                    "type": "string"
                  },
                  "virtual_network_id": {
                    "description": "UUID of the virtual network.",
                    "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "network",
                  "tunnel_id"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_route_response_single"
                }
              }
            },
            "description": "Create a tunnel route response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_route_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a tunnel route response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Create a tunnel route",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/teamnet/routes/ip/{ip}": {
      "get": {
        "description": "Fetches routes that contain the given IP address.",
        "operationId": "tunnel-route-get-tunnel-route-by-ip",
        "parameters": [
          {
            "in": "path",
            "name": "ip",
            "required": true,
            "schema": {
              "example": "10.1.0.137",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "virtual_network_id",
            "schema": {
              "description": "UUID of the virtual network.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "description": "When the virtual_network_id parameter is not provided the request filter will default search routes that are in the default virtual network for the account. If this parameter is set to false, the search will include routes that do not have a virtual network.",
            "in": "query",
            "name": "default_virtual_network_fallback",
            "schema": {
              "default": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_teamnet_response_single"
                }
              }
            },
            "description": "Get tunnel route by IP response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_teamnet_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get tunnel route by IP response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get tunnel route by IP",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare One Networks Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      }
    },
    "/accounts/{account_id}/teamnet/routes/network/{ip_network_encoded}": {
      "delete": {
        "deprecated": true,
        "description": "Deletes a private network route from an account. The CIDR in `ip_network_encoded` must be written in URL-encoded format. If no virtual_network_id is provided it will delete the route from the default vnet. If no tun_type is provided it will fetch the type from the tunnel_id or if that is missing it will assume Cloudflare Tunnel as default. If tunnel_id is provided it will delete the route from that tunnel, otherwise it will delete the route based on the vnet and tun_type.\n",
        "operationId": "tunnel-route-delete-a-tunnel-route-with-cidr",
        "parameters": [
          {
            "in": "path",
            "name": "ip_network_encoded",
            "required": true,
            "schema": {
              "description": "IP/CIDR range in URL-encoded format",
              "example": "172.16.0.0%2F16",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "virtual_network_id",
            "schema": {
              "description": "UUID of the virtual network.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tun_type",
            "schema": {
              "description": "The type of tunnel.",
              "enum": [
                "cfd_tunnel",
                "warp_connector",
                "warp",
                "magic",
                "ip_sec",
                "gre",
                "cni"
              ],
              "example": "cfd_tunnel",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tunnel_id",
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_route_response_single"
                }
              }
            },
            "description": "Delete a tunnel route response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_route_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a tunnel route response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Delete a tunnel route (CIDR Endpoint)",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ],
        "x-stainless-deprecation-message": "This endpoint and its related APIs are deprecated in favor of the equivalent Tunnel Route (without CIDR) APIs."
      },
      "patch": {
        "deprecated": true,
        "description": "Updates an existing private network route in an account. The CIDR in `ip_network_encoded` must be written in URL-encoded format.",
        "operationId": "tunnel-route-update-a-tunnel-route-with-cidr",
        "parameters": [
          {
            "in": "path",
            "name": "ip_network_encoded",
            "required": true,
            "schema": {
              "description": "IP/CIDR range in URL-encoded format",
              "example": "172.16.0.0%2F16",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_route_response_single"
                }
              }
            },
            "description": "Update a tunnel route response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_route_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a tunnel route response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Update a tunnel route (CIDR Endpoint)",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ],
        "x-stainless-deprecation-message": "This endpoint and its related APIs are deprecated in favor of the equivalent Tunnel Route (without CIDR) APIs."
      },
      "post": {
        "deprecated": true,
        "description": "Routes a private network through a Cloudflare Tunnel. The CIDR in `ip_network_encoded` must be written in URL-encoded format.",
        "operationId": "tunnel-route-create-a-tunnel-route-with-cidr",
        "parameters": [
          {
            "in": "path",
            "name": "ip_network_encoded",
            "required": true,
            "schema": {
              "description": "IP/CIDR range in URL-encoded format",
              "example": "172.16.0.0%2F16",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "default": "",
                    "description": "Optional remark describing the route.",
                    "example": "Example comment for this route.",
                    "maxLength": 100,
                    "type": "string"
                  },
                  "tunnel_id": {
                    "description": "UUID of the tunnel.",
                    "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
                    "format": "uuid",
                    "maxLength": 36,
                    "readOnly": true,
                    "type": "string"
                  },
                  "virtual_network_id": {
                    "description": "UUID of the virtual network.",
                    "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "required": [
                  "tunnel_id"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_route_response_single"
                }
              }
            },
            "description": "Create a tunnel route response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_route_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a tunnel route response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Create a tunnel route (CIDR Endpoint)",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ],
        "x-stainless-deprecation-message": "This endpoint and its related APIs are deprecated in favor of the equivalent Tunnel Route (without CIDR) APIs."
      }
    },
    "/accounts/{account_id}/teamnet/routes/{route_id}": {
      "delete": {
        "description": "Deletes a private network route from an account.\n",
        "operationId": "tunnel-route-delete-a-tunnel-route",
        "parameters": [
          {
            "in": "path",
            "name": "route_id",
            "required": true,
            "schema": {
              "description": "UUID of the route.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_route_response_single"
                }
              }
            },
            "description": "Delete a tunnel route response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_route_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a tunnel route response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Delete a tunnel route",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ]
      },
      "get": {
        "description": "Get a private network route in an account.",
        "operationId": "tunnel-route-get-tunnel-route",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "route_id",
            "required": true,
            "schema": {
              "description": "UUID of the route.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_route_response_single"
                }
              }
            },
            "description": "Get a tunnel route response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_route_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Get a tunnel route response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get tunnel route",
        "tags": [
          "Tunnel Routing"
        ]
      },
      "patch": {
        "description": "Updates an existing private network route in an account. The fields that are meant to be updated should be provided in the body of the request.",
        "operationId": "tunnel-route-update-a-tunnel-route",
        "parameters": [
          {
            "in": "path",
            "name": "route_id",
            "required": true,
            "schema": {
              "description": "UUID of the route.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "default": "",
                    "description": "Optional remark describing the route.",
                    "example": "Example comment for this route.",
                    "maxLength": 100,
                    "type": "string"
                  },
                  "network": {
                    "description": "The private IPv4 or IPv6 range connected by the route, in CIDR notation.",
                    "example": "172.16.0.0/16",
                    "type": "string"
                  },
                  "tunnel_id": {
                    "description": "UUID of the tunnel.",
                    "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
                    "format": "uuid",
                    "maxLength": 36,
                    "readOnly": true,
                    "type": "string"
                  },
                  "virtual_network_id": {
                    "description": "UUID of the virtual network.",
                    "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
                    "format": "uuid",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_route_response_single"
                }
              }
            },
            "description": "Update a tunnel route response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_route_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a tunnel route response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Update a tunnel route",
        "tags": [
          "Tunnel Routing"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/teamnet/virtual_networks": {
      "get": {
        "description": "Lists and filters virtual networks in an account.",
        "operationId": "tunnel-virtual-network-list-virtual-networks",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "description": "UUID of the virtual network.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "A user-friendly name for the virtual network.",
              "example": "us-east-1-vpc",
              "maxLength": 256,
              "type": "string"
            }
          },
          {
            "deprecated": true,
            "in": "query",
            "name": "is_default",
            "schema": {
              "description": "If `true`, only include the default virtual network. If `false`, exclude the default virtual network. If empty, all virtual networks will be included.",
              "type": "boolean"
            },
            "x-stainless-deprecation-message": "Use the is_default_network property instead.",
            "x-stainless-ignore": true
          },
          {
            "in": "query",
            "name": "is_default_network",
            "schema": {
              "description": "If `true`, only include the default virtual network. If `false`, exclude the default virtual network. If empty, all virtual networks will be included.",
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "is_deleted",
            "schema": {
              "description": "If `true`, only include deleted virtual networks. If `false`, exclude deleted virtual networks. If empty, all virtual networks will be included.",
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_vnet_response_collection"
                }
              }
            },
            "description": "List virtual networks response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_vnet_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List virtual networks response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "List virtual networks",
        "tags": [
          "Tunnel Virtual Network"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare One Networks Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      },
      "post": {
        "description": "Adds a new virtual network to an account.",
        "operationId": "tunnel-virtual-network-create-a-virtual-network",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "default": "",
                    "description": "Optional remark describing the virtual network.",
                    "example": "Staging VPC for data science",
                    "maxLength": 256,
                    "type": "string"
                  },
                  "is_default": {
                    "deprecated": true,
                    "description": "If `true`, this virtual network is the default for the account.",
                    "example": true,
                    "type": "boolean",
                    "x-auditable": true,
                    "x-stainless-deprecation-message": "Use the is_default_network property instead.",
                    "x-stainless-ignore": true
                  },
                  "is_default_network": {
                    "default": false,
                    "description": "If `true`, this virtual network is the default for the account.",
                    "example": false,
                    "type": "boolean"
                  },
                  "name": {
                    "description": "A user-friendly name for the virtual network.",
                    "example": "us-east-1-vpc",
                    "maxLength": 256,
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_vnet_response_single"
                }
              }
            },
            "description": "Create a virtual network response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_vnet_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a virtual network response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Create a virtual network",
        "tags": [
          "Tunnel Virtual Network"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/teamnet/virtual_networks/{virtual_network_id}": {
      "delete": {
        "description": "Deletes an existing virtual network.",
        "operationId": "tunnel-virtual-network-delete",
        "parameters": [
          {
            "in": "path",
            "name": "virtual_network_id",
            "required": true,
            "schema": {
              "description": "UUID of the virtual network.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_vnet_response_single"
                }
              }
            },
            "description": "Delete a virtual network response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_vnet_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete a virtual network response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Delete a virtual network",
        "tags": [
          "Tunnel Virtual Network"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ]
      },
      "get": {
        "description": "Get a virtual network.",
        "operationId": "tunnel-virtual-network-get",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "virtual_network_id",
            "required": true,
            "schema": {
              "description": "UUID of the virtual network.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "default": "",
                    "description": "Optional remark describing the virtual network.",
                    "example": "Staging VPC for data science",
                    "maxLength": 256,
                    "type": "string"
                  },
                  "is_default_network": {
                    "description": "If `true`, this virtual network is the default for the account.",
                    "example": true,
                    "type": "boolean"
                  },
                  "name": {
                    "description": "A user-friendly name for the virtual network.",
                    "example": "us-east-1-vpc",
                    "maxLength": 256,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_vnet_response_single"
                }
              }
            },
            "description": "A virtual network response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_vnet_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "A virtual network response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Get a virtual network",
        "tags": [
          "Tunnel Virtual Network"
        ]
      },
      "patch": {
        "description": "Updates an existing virtual network.",
        "operationId": "tunnel-virtual-network-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "virtual_network_id",
            "required": true,
            "schema": {
              "description": "UUID of the virtual network.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "comment": {
                    "default": "",
                    "description": "Optional remark describing the virtual network.",
                    "example": "Staging VPC for data science",
                    "maxLength": 256,
                    "type": "string"
                  },
                  "is_default_network": {
                    "default": false,
                    "description": "If `true`, this virtual network is the default for the account.",
                    "example": false,
                    "type": "boolean"
                  },
                  "name": {
                    "description": "A user-friendly name for the virtual network.",
                    "example": "us-east-1-vpc",
                    "maxLength": 256,
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_vnet_response_single"
                }
              }
            },
            "description": "Update a virtual network response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_vnet_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update a virtual network response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Update a virtual network",
        "tags": [
          "Tunnel Virtual Network"
        ],
        "x-api-token-group": [
          "Cloudflare One Networks Write",
          "Cloudflare Tunnel Write"
        ]
      }
    },
    "/accounts/{account_id}/tunnels": {
      "get": {
        "description": "Lists and filters all types of Tunnels in an account.",
        "operationId": "cloudflare-tunnel-list-all-tunnels",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "A user-friendly name for the tunnel.",
              "example": "blog",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "is_deleted",
            "schema": {
              "description": "If `true`, only include deleted tunnels. If `false`, exclude deleted tunnels. If empty, all tunnels will be included.",
              "example": true,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "existed_at",
            "schema": {
              "description": "If provided, include only resources that were created (and not deleted) before this time. URL encoded.",
              "example": "2019-10-12T07%3A20%3A50.52Z",
              "format": "url-encoded-date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uuid",
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "was_active_at",
            "schema": {
              "example": "2009-11-10T23:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "was_inactive_at",
            "schema": {
              "example": "2009-11-10T23:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include_prefix",
            "schema": {
              "example": "vpc1-",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exclude_prefix",
            "schema": {
              "example": "vpc1-",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "tun_types",
            "schema": {
              "$ref": "#/components/schemas/tunnel_tunnel_types"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "The status of the tunnel. Valid values are `inactive` (tunnel has never been run), `degraded` (tunnel is active and able to serve traffic but in an unhealthy state), `healthy` (tunnel is active and able to serve traffic), or `down` (tunnel can not serve traffic as it has no connections to the Cloudflare Edge).",
              "enum": [
                "inactive",
                "degraded",
                "healthy",
                "down"
              ],
              "example": "healthy",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "Number of results to display.",
              "maximum": 1000,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_tunnel-response-collection"
                }
              }
            },
            "description": "List Tunnels response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_tunnel-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Tunnels response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "List All Tunnels",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connectors Read",
          "Cloudflare One Connector: cloudflared Write",
          "Cloudflare One Connector: cloudflared Read",
          "Cloudflare Tunnel Write",
          "Cloudflare Tunnel Read"
        ]
      }
    },
    "/accounts/{account_id}/warp_connector": {
      "get": {
        "description": "Lists and filters Warp Connector Tunnels in an account.",
        "operationId": "cloudflare-tunnel-list-warp-connector-tunnels",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "name",
            "schema": {
              "description": "A user-friendly name for the tunnel.",
              "example": "blog",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "is_deleted",
            "schema": {
              "description": "If `true`, only include deleted tunnels. If `false`, exclude deleted tunnels. If empty, all tunnels will be included.",
              "example": true,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "existed_at",
            "schema": {
              "description": "If provided, include only resources that were created (and not deleted) before this time. URL encoded.",
              "example": "2019-10-12T07%3A20%3A50.52Z",
              "format": "url-encoded-date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "uuid",
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "was_active_at",
            "schema": {
              "example": "2009-11-10T23:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "was_inactive_at",
            "schema": {
              "example": "2009-11-10T23:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include_prefix",
            "schema": {
              "example": "vpc1-",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "exclude_prefix",
            "schema": {
              "example": "vpc1-",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "description": "The status of the tunnel. Valid values are `inactive` (tunnel has never been run), `degraded` (tunnel is active and able to serve traffic but in an unhealthy state), `healthy` (tunnel is active and able to serve traffic), or `down` (tunnel can not serve traffic as it has no connections to the Cloudflare Edge).",
              "enum": [
                "inactive",
                "degraded",
                "healthy",
                "down"
              ],
              "example": "healthy",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "description": "Number of results to display.",
              "maximum": 1000,
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results.",
              "minimum": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_warp-connector-response-collection"
                }
              }
            },
            "description": "List Warp Connector Tunnels response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_warp-connector-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Warp Connector Tunnels response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "List Warp Connector Tunnels",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connectors Read",
          "Cloudflare One Connector: WARP Write",
          "Cloudflare One Connector: WARP Read"
        ]
      },
      "post": {
        "description": "Creates a new Warp Connector Tunnel in an account.",
        "operationId": "cloudflare-tunnel-create-a-warp-connector-tunnel",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ha": {
                    "default": false,
                    "description": "Indicates that the tunnel will be created to be highly available. If omitted, defaults to false.",
                    "type": "boolean"
                  },
                  "name": {
                    "description": "A user-friendly name for a tunnel.",
                    "example": "blog",
                    "type": "string"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_warp-connector-response-single"
                }
              }
            },
            "description": "Create a Warp Connector Tunnel response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/tunnel_warp-connector-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/tunnel_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create a Warp Connector Tunnel response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": []
          },
          {
            "api_token": []
          },
          {
            "user_service_key": []
          }
        ],
        "summary": "Create a Warp Connector Tunnel",
        "tags": [
          "Cloudflare Tunnel"
        ],
        "x-api-token-group": [
          "Cloudflare One Connectors Write",
          "Cloudflare One Connector: WARP Write"
        ]
      }
    },
    "/accounts/{account_id}/warp_connector/{tunnel_id}": {
      "delete": {
        "description": "Deletes a Warp Connector Tunnel from an account.",
        "operationId": "cloudflare-tunnel-delete-a-warp-connector-tunnel",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Cloudflare account ID",
              "example": "699d98642c564d2e855e9661899b7252",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "tunnel_id",
            "required": true,
            "schema": {
              "description": "UUID of the tunnel.",
              "example": "f70ff985-a4ef-4643-bbbc-4a0ed4fc8415",
              "format": "uuid",
              "maxLength": 36,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/tunnel_warp-connector-response-single"
                }
              }
            },
[...]
