{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Realtime",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/calls/apps": {
      "get": {
        "description": "Lists all apps in the Cloudflare account",
        "operationId": "calls-apps-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_app_response_collection"
                }
              }
            },
            "description": "List apps response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_api-response-common-failure"
                }
              }
            },
            "description": "List apps response failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "List apps",
        "tags": [
          "Calls Apps"
        ],
        "x-api-token-group": [
          "Calls Write",
          "Calls Read"
        ]
      },
      "post": {
        "description": "Creates a new Cloudflare calls app. An app is an unique enviroment where each Session can access all Tracks within the app.",
        "operationId": "calls-apps-create-a-new-app",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/calls_app_editable_fields"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_app_response_single_with_secret"
                }
              }
            },
            "description": "Created a new app"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create a new app",
        "tags": [
          "Calls Apps"
        ],
        "x-api-token-group": [
          "Calls Write"
        ]
      }
    },
    "/accounts/{account_id}/calls/apps/{app_id}": {
      "delete": {
        "description": "Deletes an app from Cloudflare Calls",
        "operationId": "calls-apps-delete-app",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "description": "A Cloudflare-generated unique identifier for a item.",
              "example": "2a95132c15732412d22c1476fa83f27a",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_app_response_single"
                }
              }
            },
            "description": "Delete app response"
          },
          "4XX": {
            "content": {
              "application/json": {}
            },
            "description": "Delete app response failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete app",
        "tags": [
          "Calls Apps"
        ],
        "x-api-token-group": [
          "Calls Write"
        ]
      },
      "get": {
        "description": "Fetches details for a single Calls app.",
        "operationId": "calls-apps-retrieve-app-details",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "description": "A Cloudflare-generated unique identifier for a item.",
              "example": "2a95132c15732412d22c1476fa83f27a",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_app_response_single"
                }
              }
            },
            "description": "Retrieve app details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_api-response-common-failure"
                }
              }
            },
            "description": "Retrieve app details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Retrieve app details",
        "tags": [
          "Calls Apps"
        ],
        "x-api-token-group": [
          "Calls Write",
          "Calls Read"
        ]
      },
      "put": {
        "description": "Edit details for a single app.",
        "operationId": "calls-apps-update-app-details",
        "parameters": [
          {
            "in": "path",
            "name": "app_id",
            "required": true,
            "schema": {
              "description": "A Cloudflare-generated unique identifier for a item.",
              "example": "2a95132c15732412d22c1476fa83f27a",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/calls_app_editable_fields"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_app_response_single"
                }
              }
            },
            "description": "Edit app details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_api-response-common-failure"
                }
              }
            },
            "description": "Edit app details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Edit app details",
        "tags": [
          "Calls Apps"
        ],
        "x-api-token-group": [
          "Calls Write"
        ]
      }
    },
    "/accounts/{account_id}/calls/turn_keys": {
      "get": {
        "description": "Lists all TURN keys in the Cloudflare account",
        "operationId": "calls-turn-key-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_turn_key_collection"
                }
              }
            },
            "description": "List TURN key response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_api-response-common-failure"
                }
              }
            },
            "description": "List TURN key response failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "List TURN Keys",
        "tags": [
          "Calls TURN Keys"
        ],
        "x-api-token-group": [
          "Calls Write",
          "Calls Read"
        ]
      },
      "post": {
        "description": "Creates a new Cloudflare Calls TURN key.",
        "operationId": "calls-turn-key-create",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/calls_turn_key_editable_fields"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_turn_key_single_with_secret"
                }
              }
            },
            "description": "Created a new TURN key"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Create a new TURN key",
        "tags": [
          "Calls TURN Keys"
        ],
        "x-api-token-group": [
          "Calls Write"
        ]
      }
    },
    "/accounts/{account_id}/calls/turn_keys/{key_id}": {
      "delete": {
        "description": "Deletes a TURN key from Cloudflare Calls",
        "operationId": "calls-delete-turn-key",
        "parameters": [
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "description": "A Cloudflare-generated unique identifier for a item.",
              "example": "2a95132c15732412d22c1476fa83f27a",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_turn_key_response_single"
                }
              }
            },
            "description": "Delete TURN key response"
          },
          "4XX": {
            "content": {
              "application/json": {}
            },
            "description": "Delete TURN key response failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Delete TURN key",
        "tags": [
          "Calls TURN Keys"
        ],
        "x-api-token-group": [
          "Calls Write"
        ]
      },
      "get": {
        "description": "Fetches details for a single TURN key.",
        "operationId": "calls-retrieve-turn-key-details",
        "parameters": [
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "description": "A Cloudflare-generated unique identifier for a item.",
              "example": "2a95132c15732412d22c1476fa83f27a",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_turn_key_response_single"
                }
              }
            },
            "description": "Retrieve TURN key details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_api-response-common-failure"
                }
              }
            },
            "description": "Retrieve TURN key details failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Retrieve TURN key details",
        "tags": [
          "Calls TURN Keys"
        ],
        "x-api-token-group": [
          "Calls Write",
          "Calls Read"
        ]
      },
      "put": {
        "description": "Edit details for a single TURN key.",
        "operationId": "calls-update-turn-key",
        "parameters": [
          {
            "in": "path",
            "name": "key_id",
            "required": true,
            "schema": {
              "description": "A Cloudflare-generated unique identifier for a item.",
              "example": "2a95132c15732412d22c1476fa83f27a",
              "maxLength": 32,
              "minLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "The account identifier tag.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/calls_turn_key_editable_fields"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_turn_key_response_single"
                }
              }
            },
            "description": "Edit TURN key details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/calls_api-response-common-failure"
                }
              }
            },
            "description": "Edit TURN key details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Edit TURN key details",
        "tags": [
          "Calls TURN Keys"
        ],
        "x-api-token-group": [
          "Calls Write"
        ]
      }
    },
    "/accounts/{account_id}/stream/live_inputs": {
      "get": {
        "description": "Lists the live inputs created for an account. To get the credentials needed to stream to a specific live input, request a single live input.",
        "operationId": "stream-live-inputs-list-live-inputs",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "include_counts",
            "schema": {
              "default": false,
              "description": "Includes the total number of videos associated with the submitted query parameters.",
              "example": true,
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_live_input_response_collection"
                }
              }
            },
            "description": "List live inputs response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "List live inputs response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List live inputs",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write",
          "Stream Read"
        ]
      },
      "post": {
        "description": "Creates a live input, and returns credentials that you or your users can use to stream live video to Cloudflare Stream.",
        "operationId": "stream-live-inputs-create-a-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stream_create_input_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_live_input_response_single"
                }
              }
            },
            "description": "Create a live input response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "Create a live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a live input",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write"
        ]
      }
    },
    "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}": {
      "delete": {
        "description": "Prevents a live input from being streamed to and makes the live input inaccessible to any future API calls.",
        "operationId": "stream-live-inputs-delete-a-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Delete a live input response."
          },
          "4XX": {
            "content": {
              "application/json": {}
            },
            "description": "Delete a live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a live input",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write"
        ]
      },
      "get": {
        "description": "Retrieves details of an existing live input.",
        "operationId": "stream-live-inputs-retrieve-a-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_live_input_response_single"
                }
              }
            },
            "description": "Retrieve a live input response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "Retrieve a live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve a live input",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write",
          "Stream Read"
        ]
      },
      "put": {
        "description": "Updates a specified live input.",
        "operationId": "stream-live-inputs-update-a-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stream_update_input_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_live_input_response_single"
                }
              }
            },
            "description": "Update a live input response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "Update a live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update a live input",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write"
        ]
      }
    },
    "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/disable": {
      "post": {
        "description": "Prevents a live input from being streamed to and makes the live input inaccessible to any future API calls until enabled.",
        "operationId": "stream-live-inputs-disable-a-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_live_input_response_single"
                }
              }
            },
            "description": "Disable a live input response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "Disable a live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Disable a live input",
        "tags": [
          "Stream Live Inputs"
        ]
      }
    },
    "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/enable": {
      "post": {
        "description": "Allows a live input to be streamed to and makes the live input accessible to any future API calls.",
        "operationId": "stream-live-inputs-enable-a-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_live_input_response_single"
                }
              }
            },
            "description": "Enable a live input response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "Enable a live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Enable a live input",
        "tags": [
          "Stream Live Inputs"
        ]
      }
    },
    "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/outputs": {
      "get": {
        "description": "Retrieves all outputs associated with a specified live input.",
        "operationId": "stream-live-inputs-list-all-outputs-associated-with-a-specified-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_output_response_collection"
                }
              }
            },
            "description": "List all outputs associated with a specified live input response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "List all outputs associated with a specified live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List all outputs associated with a specified live input",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write",
          "Stream Read"
        ]
      },
      "post": {
        "description": "Creates a new output that can be used to simulcast or restream live video to other RTMP or SRT destinations. Outputs are always linked to a specific live input — one live input can have many outputs.",
        "operationId": "stream-live-inputs-create-a-new-output,-connected-to-a-live-input",
        "parameters": [
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stream_create_output_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_output_response_single"
                }
              }
            },
            "description": "Create a new output, connected to a live input response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "Create a new output, connected to a live input response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a new output, connected to a live input",
        "tags": [
          "Stream Live Inputs"
        ]
      }
    },
    "/accounts/{account_id}/stream/live_inputs/{live_input_identifier}/outputs/{output_identifier}": {
      "delete": {
        "description": "Deletes an output and removes it from the associated live input.",
        "operationId": "stream-live-inputs-delete-an-output",
        "parameters": [
          {
            "in": "path",
            "name": "output_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for the output.",
              "example": "baea4d9c515887b80289d5c33cf01145",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {}
            },
            "description": "Delete an output response."
          },
          "4XX": {
            "content": {
              "application/json": {}
            },
            "description": "Delete an output response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete an output",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write"
        ]
      },
      "put": {
        "description": "Updates the state of an output.",
        "operationId": "stream-live-inputs-update-an-output",
        "parameters": [
          {
            "in": "path",
            "name": "output_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for the output.",
              "example": "baea4d9c515887b80289d5c33cf01145",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "live_input_identifier",
            "required": true,
            "schema": {
              "description": "A unique identifier for a live input.",
              "example": "66be4bf738797e01e1fca35a7bdecdcd",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/stream_update_output_request"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_output_response_single"
                }
              }
            },
            "description": "Update an output response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/stream_api-response-common-failure"
                }
              }
            },
            "description": "Update an output response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update an output",
        "tags": [
          "Stream Live Inputs"
        ],
        "x-api-token-group": [
          "Stream Write"
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "stream_live_input_response_collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/stream_api-response-common"
          },
          {
            "properties": {
              "result": {
                "properties": {
                  "liveInputs": {
                    "items": {
                      "$ref": "#/components/schemas/stream_live_input_object_without_url"
                    },
                    "type": "array"
                  },
                  "range": {
                    "description": "The total number of remaining live inputs based on cursor position.",
                    "example": 1000,
                    "type": "integer"
                  },
                  "total": {
                    "description": "The total number of live inputs that match the provided filters.",
                    "example": 35586,
                    "type": "integer"
                  }
                },
                "type": "object"
              }
            },
            "type": "object"
          }
        ]
      },
      "calls_app_response_single_with_secret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/calls_api-response-single"
          },
          {
            "properties": {
              "result": {
                "$ref": "#/components/schemas/calls_app_with_secret"
              }
            }
          }
        ]
      },
      "calls_app_editable_fields": {
        "properties": {
          "name": {
            "default": "",
            "description": "A short description of Calls app, not shown to end users.",
            "example": "production-realtime-app",
            "type": "string"
          }
        },
        "type": "object"
      },
      "calls_api-response-single": {
        "allOf": [
          {
            "$ref": "#/components/schemas/calls_api-response-common"
          }
        ],
        "type": "object"
      },
      "stream_live_input_object_without_url": {
        "properties": {
          "created": {
            "description": "The date and time the live input was created.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "deleteRecordingAfterDays": {
            "description": "Indicates the number of days after which the live inputs recordings will be deleted. When a stream completes and the recording is ready, the value is used to calculate a scheduled deletion date for that recording. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion.",
            "example": 45,
            "minimum": 30,
            "type": "number"
          },
          "enabled": {
            "default": true,
            "description": "Indicates whether the live input is enabled and can accept streams.",
            "example": true,
            "type": "boolean"
          },
          "meta": {
            "$ref": "#/components/schemas/stream_live_input_metadata"
          },
          "modified": {
            "description": "The date and time the live input was last modified.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "uid": {
            "description": "A unique identifier for a live input.",
            "example": "66be4bf738797e01e1fca35a7bdecdcd",
            "maxLength": 32,
            "type": "string"
          }
        }
      },
      "calls_app_response_single": {
        "allOf": [
          {
            "$ref": "#/components/schemas/calls_api-response-single"
          },
          {
            "properties": {
              "result": {
                "$ref": "#/components/schemas/calls_app"
              }
            }
          }
        ]
      },
      "stream_live_input_metadata": {
        "description": "A user modifiable key-value store used to reference other systems of record for managing live inputs.",
        "example": {
          "name": "test stream 1"
        },
        "type": "object"
      },
      "calls_api-response-common-failure": {
        "properties": {
          "errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/calls_messages"
              }
            ],
            "example": [
              {
                "code": 7003,
                "message": "No route for the URI"
              }
            ],
            "minLength": 1
          },
          "messages": {
            "allOf": [
              {
                "$ref": "#/components/schemas/calls_messages"
              }
            ],
            "example": []
          },
          "result": {
            "enum": [
              null
            ],
            "nullable": true,
            "type": "object"
          },
          "success": {
            "description": "Whether the API call was successful.",
            "enum": [
              false
            ],
            "example": false,
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "errors",
          "messages",
          "result"
        ],
        "type": "object"
      },
      "calls_turn_key_response_single": {
        "allOf": [
          {
            "$ref": "#/components/schemas/calls_api-response-single"
          },
          {
            "properties": {
              "result": {
                "$ref": "#/components/schemas/calls_turn_key_object"
              }
            }
          }
        ]
      },
      "calls_app_response_collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/calls_api-response-common"
          },
          {
            "properties": {
              "result": {
                "items": {
                  "$ref": "#/components/schemas/calls_app"
                },
                "type": "array"
              }
            }
          }
        ]
      },
      "stream_live_input_response_single": {
        "allOf": [
          {
            "$ref": "#/components/schemas/stream_api-response-single"
          },
          {
            "properties": {
              "result": {
                "$ref": "#/components/schemas/stream_live_input"
              }
            },
            "type": "object"
          }
        ]
      },
      "stream_output_response_collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/stream_api-response-common"
          },
          {
            "properties": {
              "result": {
                "items": {
                  "$ref": "#/components/schemas/stream_output"
                },
                "type": "array"
              }
            },
            "type": "object"
          }
        ]
      },
      "stream_output_response_single": {
        "allOf": [
          {
            "$ref": "#/components/schemas/stream_api-response-single"
          },
          {
            "properties": {
              "result": {
                "$ref": "#/components/schemas/stream_output"
              }
            },
            "type": "object"
          }
        ]
      },
      "calls_api-response-common": {
        "properties": {
          "errors": {
            "$ref": "#/components/schemas/calls_messages"
          },
          "messages": {
            "$ref": "#/components/schemas/calls_messages"
          },
          "success": {
            "description": "Whether the API call was successful.",
            "enum": [
              true
            ],
            "example": true,
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "errors",
          "messages"
        ],
        "type": "object"
      },
      "calls_turn_key_collection": {
        "allOf": [
          {
            "$ref": "#/components/schemas/calls_api-response-common"
          },
          {
            "properties": {
              "result": {
                "items": {
                  "$ref": "#/components/schemas/calls_turn_key_object"
                },
                "type": "array"
              }
            }
          }
        ]
      },
      "stream_create_output_request": {
        "properties": {
          "enabled": {
            "default": true,
            "description": "When enabled, live video streamed to the associated live input will be sent to the output URL. When disabled, live video will not be sent to the output URL, even when streaming to the associated live input. Use this to control precisely when you start and stop simulcasting to specific destinations like YouTube and Twitch.",
            "example": true,
            "type": "boolean"
          },
          "streamKey": {
            "description": "The streamKey used to authenticate against an output's target.",
            "example": "uzya-f19y-g2g9-a2ee-51j2",
            "type": "string"
          },
          "url": {
            "description": "The URL an output uses to restream.",
            "example": "rtmp://a.rtmp.youtube.com/live2",
            "type": "string"
          }
        },
        "required": [
          "url",
          "streamKey"
        ]
      },
      "stream_api-response-common": {
        "properties": {
          "errors": {
            "$ref": "#/components/schemas/stream_messages"
          },
          "messages": {
            "$ref": "#/components/schemas/stream_messages"
          },
          "success": {
            "description": "Whether the API call was successful.",
            "enum": [
              true
            ],
            "example": true,
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "errors",
          "messages"
        ],
        "type": "object"
      },
      "calls_app_with_secret": {
        "properties": {
          "created": {
            "description": "The date and time the item was created.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "modified": {
            "description": "The date and time the item was last modified.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "default": "",
            "description": "A short description of Calls app, not shown to end users.",
            "example": "production-realtime-app",
            "type": "string"
          },
          "secret": {
            "description": "Bearer token",
            "example": "66bcf64aa8907b9f9d90ac17746a77ce394c393b92b3916633dc02846e608ad4",
            "maxLength": 64,
            "minLength": 64,
            "type": "string"
          },
          "uid": {
            "description": "A Cloudflare-generated unique identifier for a item.",
            "example": "2a95132c15732412d22c1476fa83f27a",
            "maxLength": 32,
            "minLength": 32,
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_api-response-single": {
        "allOf": [
          {
            "$ref": "#/components/schemas/stream_api-response-common"
          }
        ],
        "type": "object"
      },
      "stream_messages": {
        "example": [],
        "items": {
          "properties": {
            "code": {
              "minimum": 1000,
              "type": "integer"
            },
            "documentation_url": {
              "type": "string"
            },
            "message": {
              "type": "string"
            },
            "source": {
              "properties": {
                "pointer": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "required": [
            "code",
            "message"
          ],
          "type": "object",
          "uniqueItems": true
        },
        "type": "array"
      },
      "stream_update_output_request": {
        "properties": {
          "enabled": {
            "default": true,
            "description": "When enabled, live video streamed to the associated live input will be sent to the output URL. When disabled, live video will not be sent to the output URL, even when streaming to the associated live input. Use this to control precisely when you start and stop simulcasting to specific destinations like YouTube and Twitch.",
            "example": true,
            "type": "boolean"
          }
        },
        "required": [
          "enabled"
        ]
      },
      "stream_update_input_request": {
        "properties": {
          "defaultCreator": {
            "description": "Sets the creator ID asssociated with this live input.",
            "type": "string"
          },
          "deleteRecordingAfterDays": {
            "description": "Indicates the number of days after which the live inputs recordings will be deleted. When a stream completes and the recording is ready, the value is used to calculate a scheduled deletion date for that recording. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion.",
            "example": 45,
            "minimum": 30,
            "type": "number"
          },
          "enabled": {
            "default": true,
            "description": "Indicates whether the live input is enabled and can accept streams.",
            "example": true,
            "type": "boolean"
          },
          "meta": {
            "$ref": "#/components/schemas/stream_live_input_metadata"
          },
          "recording": {
            "$ref": "#/components/schemas/stream_live_input_recording_settings"
          }
        }
      },
      "stream_create_input_request": {
        "properties": {
          "defaultCreator": {
            "description": "Sets the creator ID asssociated with this live input.",
            "type": "string"
          },
          "deleteRecordingAfterDays": {
            "description": "Indicates the number of days after which the live inputs recordings will be deleted. When a stream completes and the recording is ready, the value is used to calculate a scheduled deletion date for that recording. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion.",
            "example": 45,
            "minimum": 30,
            "type": "number"
          },
          "enabled": {
            "default": true,
            "description": "Indicates whether the live input is enabled and can accept streams.",
            "example": true,
            "type": "boolean"
          },
          "meta": {
            "$ref": "#/components/schemas/stream_live_input_metadata"
          },
          "recording": {
            "$ref": "#/components/schemas/stream_live_input_recording_settings"
          }
        }
      },
      "calls_turn_key_editable_fields": {
        "properties": {
          "name": {
            "default": "",
            "description": "A short description of a TURN key, not shown to end users.",
            "example": "my-turn-key",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_api-response-common-failure": {
        "properties": {
          "errors": {
            "allOf": [
              {
                "$ref": "#/components/schemas/stream_messages"
              }
            ],
            "example": [
              {
                "code": 7003,
                "message": "No route for the URI"
              }
            ],
            "minLength": 1
          },
          "messages": {
            "allOf": [
              {
                "$ref": "#/components/schemas/stream_messages"
              }
            ],
            "example": []
          },
          "result": {
            "enum": [
              null
            ],
            "nullable": true,
            "type": "object"
          },
          "success": {
            "description": "Whether the API call was successful.",
            "enum": [
              false
            ],
            "example": false,
            "type": "boolean"
          }
        },
        "required": [
          "success",
          "errors",
          "messages",
          "result"
        ],
        "type": "object"
      },
      "calls_turn_key_single_with_secret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/calls_api-response-single"
          },
          {
            "properties": {
              "result": {
                "$ref": "#/components/schemas/calls_turn_key_with_key"
              }
            }
          }
        ]
      },
      "calls_turn_key_with_key": {
        "properties": {
          "created": {
            "description": "The date and time the item was created.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "key": {
            "description": "Bearer token",
            "example": "66bcf64aa8907b9f9d90ac17746a77ce394c393b92b3916633dc02846e608ad4",
            "maxLength": 64,
            "minLength": 64,
            "type": "string"
          },
          "modified": {
            "description": "The date and time the item was last modified.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "default": "",
            "description": "A short description of a TURN key, not shown to end users.",
            "example": "my-turn-key",
            "type": "string"
          },
          "uid": {
            "description": "A Cloudflare-generated unique identifier for a item.",
            "example": "2a95132c15732412d22c1476fa83f27a",
            "maxLength": 32,
            "minLength": 32,
            "type": "string"
          }
        },
        "type": "object"
      },
      "calls_turn_key_object": {
        "properties": {
          "created": {
            "description": "The date and time the item was created.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "modified": {
            "description": "The date and time the item was last modified.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "default": "",
            "description": "A short description of Calls app, not shown to end users.",
            "example": "production-realtime-app",
            "type": "string"
          },
          "uid": {
            "description": "A Cloudflare-generated unique identifier for a item.",
            "example": "2a95132c15732412d22c1476fa83f27a",
            "maxLength": 32,
            "minLength": 32,
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_output": {
        "properties": {
          "enabled": {
            "default": true,
            "description": "When enabled, live video streamed to the associated live input will be sent to the output URL. When disabled, live video will not be sent to the output URL, even when streaming to the associated live input. Use this to control precisely when you start and stop simulcasting to specific destinations like YouTube and Twitch.",
            "example": true,
            "type": "boolean"
          },
          "streamKey": {
            "description": "The streamKey used to authenticate against an output's target.",
            "example": "uzya-f19y-g2g9-a2ee-51j2",
            "type": "string"
          },
          "uid": {
            "description": "A unique identifier for the output.",
            "example": "baea4d9c515887b80289d5c33cf01145",
            "maxLength": 32,
            "type": "string"
          },
          "url": {
            "description": "The URL an output uses to restream.",
            "example": "rtmp://a.rtmp.youtube.com/live2",
            "type": "string"
          }
        }
      },
      "calls_app": {
        "properties": {
          "created": {
            "description": "The date and time the item was created.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "modified": {
            "description": "The date and time the item was last modified.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "name": {
            "default": "",
            "description": "A short description of Calls app, not shown to end users.",
            "example": "production-realtime-app",
            "type": "string"
          },
          "uid": {
            "description": "A Cloudflare-generated unique identifier for a item.",
            "example": "2a95132c15732412d22c1476fa83f27a",
            "maxLength": 32,
            "minLength": 32,
            "type": "string"
          }
        },
        "type": "object"
      },
      "calls_messages": {
        "example": [],
        "items": {
          "properties": {
            "code": {
              "minimum": 1000,
              "type": "integer"
            },
            "documentation_url": {
              "type": "string"
            },
            "message": {
              "type": "string"
            },
            "source": {
              "properties": {
                "pointer": {
                  "type": "string"
                }
              },
              "type": "object"
            }
          },
          "required": [
            "code",
            "message"
          ],
          "type": "object",
          "uniqueItems": true
        },
        "type": "array"
      },
      "stream_live_input_recording_settings": {
        "description": "Records the input to a Cloudflare Stream video. Behavior depends on the mode. In most cases, the video will initially be viewable as a live video and transition to on-demand after a condition is satisfied.",
        "example": {
          "hideLiveViewerCount": false,
          "mode": "off",
          "requireSignedURLs": false,
          "timeoutSeconds": 0
        },
        "properties": {
          "allowedOrigins": {
            "$ref": "#/components/schemas/stream_live_input_recording_allowedOrigins"
          },
          "hideLiveViewerCount": {
            "default": false,
            "description": "Disables reporting the number of live viewers when this property is set to `true`.",
            "example": true,
            "type": "boolean"
          },
          "mode": {
            "default": "off",
            "description": "Specifies the recording behavior for the live input. Set this value to `off` to prevent a recording. Set the value to `automatic` to begin a recording and transition to on-demand after Stream Live stops receiving input.",
            "enum": [
              "off",
              "automatic"
            ],
            "example": "automatic",
            "type": "string"
          },
          "requireSignedURLs": {
            "default": false,
            "description": "Indicates if a video using the live input has the `requireSignedURLs` property set. Also enforces access controls on any video recording of the livestream with the live input.",
            "example": true,
            "type": "boolean"
          },
          "timeoutSeconds": {
            "default": 0,
            "description": "Determines the amount of time a live input configured in `automatic` mode should wait before a recording transitions from live to on-demand. `0` is recommended for most use cases and indicates the platform default should be used.",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "stream_live_input": {
        "description": "Details about a live input.",
        "properties": {
          "created": {
            "description": "The date and time the live input was created.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "deleteRecordingAfterDays": {
            "description": "Indicates the number of days after which the live inputs recordings will be deleted. When a stream completes and the recording is ready, the value is used to calculate a scheduled deletion date for that recording. Omit the field to indicate no change, or include with a `null` value to remove an existing scheduled deletion.",
            "example": 45,
            "minimum": 30,
            "type": "number"
          },
          "enabled": {
            "default": true,
            "description": "Indicates whether the live input is enabled and can accept streams.",
            "example": true,
            "type": "boolean"
          },
          "meta": {
            "$ref": "#/components/schemas/stream_live_input_metadata"
          },
          "modified": {
            "description": "The date and time the live input was last modified.",
            "example": "2014-01-02T02:20:00Z",
            "format": "date-time",
            "type": "string"
          },
          "recording": {
            "$ref": "#/components/schemas/stream_live_input_recording_settings"
          },
          "rtmps": {
            "$ref": "#/components/schemas/stream_input_rtmps"
          },
          "rtmpsPlayback": {
            "$ref": "#/components/schemas/stream_playback_rtmps"
          },
          "srt": {
            "$ref": "#/components/schemas/stream_input_srt"
          },
          "srtPlayback": {
            "$ref": "#/components/schemas/stream_playback_srt"
          },
          "status": {
            "description": "The connection status of a live input.",
            "enum": [
              null,
              "connected",
              "reconnected",
              "reconnecting",
              "client_disconnect",
              "ttl_exceeded",
              "failed_to_connect",
              "failed_to_reconnect",
              "new_configuration_accepted"
            ],
            "nullable": true,
            "type": "string"
          },
          "uid": {
            "description": "A unique identifier for a live input.",
            "example": "66be4bf738797e01e1fca35a7bdecdcd",
            "maxLength": 32,
            "type": "string"
          },
          "webRTC": {
            "$ref": "#/components/schemas/stream_input_webrtc"
          },
          "webRTCPlayback": {
            "$ref": "#/components/schemas/stream_playback_webrtc"
          }
        },
        "type": "object"
      },
      "stream_input_rtmps": {
        "description": "Details for streaming to an live input using RTMPS.",
        "properties": {
          "streamKey": {
            "description": "The secret key to use when streaming via RTMPS to a live input.",
            "example": "2fb3cb9f17e68a2568d6ebed8d5505eak3ceaf8c9b1f395e1b76b79332497cada",
            "type": "string"
          },
          "url": {
            "description": "The RTMPS URL you provide to the broadcaster, which they stream live video to.",
            "example": "rtmps://live.cloudflare.com:443/live/",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_playback_webrtc": {
        "description": "Details for playback from a live input using WebRTC.",
        "properties": {
          "url": {
            "description": "The URL used to play live video over WebRTC.",
            "example": "https://customer-m033z5x00ks6nunl.cloudflarestream.com/b236bde30eb07b9d01318940e5fc3edake34a3efb3896e18f2dc277ce6cc993ad/webRTC/play",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_playback_srt": {
        "description": "Details for playback from an live input using SRT.",
        "properties": {
          "passphrase": {
            "description": "The secret key to use for playback via SRT.",
            "example": "2fb3cb9f17e68a2568d6ebed8d5505eak3ceaf8c9b1f395e1b76b79332497cada",
            "type": "string"
          },
          "streamId": {
            "description": "The identifier of the live input to use for playback via SRT.",
            "example": "f256e6ea9341d51eea64c9454659e576",
            "type": "string"
          },
          "url": {
            "description": "The URL used to play live video over SRT.",
            "example": "rtmps://live.cloudflare.com:443/live/",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_input_webrtc": {
        "description": "Details for streaming to a live input using WebRTC.",
        "properties": {
          "url": {
            "description": "The WebRTC URL you provide to the broadcaster, which they stream live video to.",
            "example": "https://customer-m033z5x00ks6nunl.cloudflarestream.com/b236bde30eb07b9d01318940e5fc3edake34a3efb3896e18f2dc277ce6cc993ad/webRTC/publish",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_input_srt": {
        "description": "Details for streaming to a live input using SRT.",
        "properties": {
          "passphrase": {
            "description": "The secret key to use when streaming via SRT to a live input.",
            "example": "2fb3cb9f17e68a2568d6ebed8d5505eak3ceaf8c9b1f395e1b76b79332497cada",
            "type": "string"
          },
          "streamId": {
            "description": "The identifier of the live input to use when streaming via SRT.",
            "example": "f256e6ea9341d51eea64c9454659e576",
            "type": "string"
          },
          "url": {
            "description": "The SRT URL you provide to the broadcaster, which they stream live video to.",
            "example": "srt://live.cloudflare.com:778",
            "type": "string"
          }
        },
        "type": "object"
      },
      "stream_live_input_recording_allowedOrigins": {
        "description": "Lists the origins allowed to display videos created with this input. Enter allowed origin domains in an array and use `*` for wildcard subdomains. An empty array allows videos to be viewed on any origin.",
        "example": [
          "example.com"
        ],
        "items": {
          "type": "string",
          "x-auditable": true
        },
        "type": "array"
      },
      "stream_playback_rtmps": {
        "description": "Details for playback from an live input using RTMPS.",
        "properties": {
          "streamKey": {
            "description": "The secret key to use for playback via RTMPS.",
            "example": "2fb3cb9f17e68a2568d6ebed8d5505eak3ceaf8c9b1f395e1b76b79332497cada",
            "type": "string"
          },
          "url": {
            "description": "The URL used to play live video over RTMPS.",
            "example": "rtmps://live.cloudflare.com:443/live/",
            "type": "string"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "api_email": {
        "in": "header",
        "name": "X-Auth-Email",
        "type": "apiKey"
      },
      "api_key": {
        "in": "header",
        "name": "X-Auth-Key",
        "type": "apiKey"
      },
      "api_token": {
        "scheme": "bearer",
        "type": "http"
      },
      "user_service_key": {
        "in": "header",
        "name": "X-Auth-User-Service-Key",
        "type": "apiKey"
      }
    }
  }
}