{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - CloudforceOne",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/cloudforce-one/binary": {
      "post": {
        "operationId": "post_BinDBPost",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "number"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "description": "The binary file content to upload.",
                    "format": "binary",
                    "type": "string"
                  }
                },
                "required": [
                  "file"
                ],
                "type": "object"
              }
            }
          },
          "description": "Binary file to be uploaded to the database.",
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "content_type": {
                      "example": "text/plain",
                      "type": "string"
                    },
                    "md5": {
                      "example": "5d84ade76d2a8387c81175bb0cbe6492",
                      "type": "string"
                    },
                    "sha1": {
                      "example": "9aff6879626d957eafadda044e4f879aae1e7278",
                      "type": "string"
                    },
                    "sha256": {
                      "example": "0000a7f2692ef479e2e3d02661568882cadec451cc8a64d4e7faca29810cd626",
                      "type": "string"
                    }
                  },
                  "required": [
                    "md5",
                    "sha1",
                    "sha256",
                    "content_type"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns file information"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Posts a file to Binary Storage",
        "tags": [
          "BinDB"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/binary/{hash}": {
      "get": {
        "operationId": "get_BinDBGetBinary",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "number"
            }
          },
          {
            "description": "hash of the binary",
            "in": "path",
            "name": "hash",
            "required": true,
            "schema": {
              "description": "hash of the binary",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns file information"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Retrieves a file from Binary Storage",
        "tags": [
          "BinDB"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events": {
      "get": {
        "description": "When `datasetId` is unspecified, events will be listed from the `Cloudforce One Threat Events` dataset. To list existing datasets (and their IDs), use the [`List Datasets`](https://developers.cloudflare.com/api/resources/cloudforce_one/subresources/threat_events/subresources/datasets/methods/list/) endpoint). Also, must provide query parameters.",
        "operationId": "get_EventListGet",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "description": "Cursor for pagination. When provided, filters are embedded in the cursor so you only need to pass cursor and pageSize. Returned in the previous response's result_info.cursor field. Use cursor-based pagination for deep pagination (beyond 100,000 records) or for optimal performance.",
              "example": "eyJ2ZXJzaW9uIjoxLCJwb3NpdGlvbiI6eyJkYXRlIjoiMjAyNC0wMS0xMlQxMDowMDowMFoiLCJ1dWlkIjoiYWJjMTIzIn19",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "search",
            "schema": {
              "default": [],
              "items": {
                "properties": {
                  "field": {
                    "description": "Event field to search on. Allowed: attacker, attackerCountry, category, createdAt, date, event, indicator, indicatorType, killChain, mitreAttack, tags, targetCountry, targetIndustry, tlp, uuid.",
                    "example": "attackerCountry",
                    "type": "string"
                  },
                  "op": {
                    "description": "Search operator. Use 'in' for bulk lookup of up to 100 values at once, e.g. {field:'tags', op:'in', value:['malware','apt']}.",
                    "enum": [
                      "equals",
                      "not",
                      "gt",
                      "gte",
                      "lt",
                      "lte",
                      "like",
                      "contains",
                      "startsWith",
                      "endsWith",
                      "in",
                      "find"
                    ],
                    "example": "equals",
                    "type": "string"
                  },
                  "value": {
                    "anyOf": [
                      {
                        "example": "usa",
                        "type": "string"
                      },
                      {
                        "example": 1,
                        "type": "number"
                      },
                      {
                        "items": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "number"
                            }
                          ]
                        },
                        "type": "array"
                      }
                    ],
                    "description": "Search value. String or number for most operators. Array for 'in' operator (max 100 items)."
                  }
                },
                "type": "object"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "description": "Page number (1-indexed) for offset-based pagination. Limited to offset of 100,000 records. For deep pagination, use cursor-based pagination instead.",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "pageSize",
            "schema": {
              "description": "Number of results per page. Maximum 25,000.",
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "orderBy",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "order",
            "schema": {
              "enum": [
                "asc",
                "desc"
              ],
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "datasetId",
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "in": "query",
            "name": "forceRefresh",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "format",
            "schema": {
              "enum": [
                "json",
                "stix2"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "attacker": {
                        "example": "Flying Yeti",
                        "type": "string"
                      },
                      "attackerCountry": {
                        "example": "CN",
                        "type": "string"
                      },
                      "category": {
                        "example": "Domain Resolution",
                        "type": "string"
                      },
                      "datasetId": {
                        "example": "dataset-example-id",
                        "type": "string"
                      },
                      "date": {
                        "example": "2022-04-01T00:00:00Z",
                        "type": "string"
                      },
                      "event": {
                        "example": "An attacker registered the domain domain.com",
                        "type": "string"
                      },
                      "hasChildren": {
                        "type": "boolean"
                      },
                      "indicator": {
                        "example": "domain.com",
                        "type": "string"
                      },
                      "indicatorType": {
                        "example": "domain",
                        "type": "string"
                      },
                      "indicatorTypeId": {
                        "example": 5,
                        "type": "number"
                      },
                      "insight": {
                        "type": "string"
                      },
                      "killChain": {
                        "type": "number"
                      },
                      "mitreAttack": {
                        "items": {
                          "example": " ",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "mitreCapec": {
                        "items": {
                          "example": " ",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "numReferenced": {
                        "type": "number"
                      },
                      "numReferences": {
                        "type": "number"
                      },
                      "rawId": {
                        "example": "453gw34w3",
                        "type": "string"
                      },
                      "referenced": {
                        "items": {
                          "example": " ",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "referencedIds": {
                        "items": {
                          "type": "number"
                        },
                        "type": "array"
                      },
                      "references": {
                        "items": {
                          "example": " ",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "referencesIds": {
                        "items": {
                          "type": "number"
                        },
                        "type": "array"
                      },
                      "releasabilityId": {
                        "type": "string"
                      },
                      "tags": {
                        "items": {
                          "example": "malware",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "targetCountry": {
                        "example": "US",
                        "type": "string"
                      },
                      "targetIndustry": {
                        "example": "Agriculture",
                        "type": "string"
                      },
                      "tlp": {
                        "example": "amber",
                        "type": "string"
                      },
                      "uuid": {
                        "example": "12345678-1234-1234-1234-1234567890ab",
                        "type": "string"
                      }
                    },
                    "required": [
                      "uuid",
                      "date",
                      "targetCountry",
                      "attacker",
                      "attackerCountry",
                      "targetIndustry",
                      "rawId",
                      "indicatorTypeId",
                      "indicator",
                      "event",
                      "numReferenced",
                      "numReferences",
                      "tlp",
                      "category",
                      "indicatorType",
                      "referenced",
                      "references",
                      "tags",
                      "killChain",
                      "mitreAttack",
                      "mitreCapec",
                      "referencedIds",
                      "referencesIds",
                      "hasChildren",
                      "datasetId"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of events."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Filter and list events",
        "tags": [
          "Event"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/aggregate": {
      "get": {
        "description": "Aggregate threat events by one or more columns (e.g., attacker, targetIndustry) with optional date filtering and daily grouping. Supports multi-dimensional aggregation for cross-analysis.",
        "operationId": "get_EventAggregate",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Column(s) to aggregate by - single column or comma-separated list (e.g., 'attacker', 'targetIndustry', 'attacker,targetIndustry')",
            "in": "query",
            "name": "aggregateBy",
            "required": true,
            "schema": {
              "description": "Column(s) to aggregate by - single column or comma-separated list (e.g., 'attacker', 'targetIndustry', 'attacker,targetIndustry')",
              "type": "string"
            }
          },
          {
            "description": "Dataset ID(s) to filter by. Can be a single dataset ID, comma-separated list, or array. If not provided, uses default dataset",
            "in": "query",
            "name": "datasetId",
            "schema": {
              "description": "Dataset ID(s) to filter by. Can be a single dataset ID, comma-separated list, or array. If not provided, uses default dataset",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          },
          {
            "description": "Start date for filtering (ISO 8601 format, e.g., '2024-01-01')",
            "in": "query",
            "name": "startDate",
            "schema": {
              "description": "Start date for filtering (ISO 8601 format, e.g., '2024-01-01')",
              "type": "string"
            }
          },
          {
            "description": "End date for filtering (ISO 8601 format, e.g., '2024-12-31')",
            "in": "query",
            "name": "endDate",
            "schema": {
              "description": "End date for filtering (ISO 8601 format, e.g., '2024-12-31')",
              "type": "string"
            }
          },
          {
            "description": "Whether to group results by date (daily aggregation)",
            "in": "query",
            "name": "groupByDate",
            "schema": {
              "description": "Whether to group results by date (daily aggregation)",
              "type": "boolean"
            }
          },
          {
            "description": "Maximum number of results to return",
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100,
              "description": "Maximum number of results to return",
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "aggregateBy": {
                      "description": "Column(s) that were aggregated by",
                      "type": "string"
                    },
                    "aggregations": {
                      "description": "Array of aggregation results with dynamic fields based on aggregateBy columns",
                      "items": {
                        "allOf": [
                          {
                            "additionalProperties": {
                              "nullable": true,
                              "type": "string"
                            },
                            "type": "object"
                          },
                          {
                            "properties": {
                              "count": {
                                "description": "Number of events for this aggregation",
                                "type": "number"
                              },
                              "date": {
                                "description": "Date (if groupByDate is true)",
                                "type": "string"
                              }
                            },
                            "required": [
                              "count"
                            ],
                            "type": "object"
                          }
                        ]
                      },
                      "type": "array"
                    },
                    "dateRange": {
                      "description": "Date range used for filtering",
                      "properties": {
                        "endDate": {
                          "type": "string"
                        },
                        "startDate": {
                          "type": "string"
                        }
                      },
                      "type": "object"
                    },
                    "total": {
                      "description": "Total number of events in the aggregation",
                      "type": "number"
                    }
                  },
                  "required": [
                    "aggregations",
                    "total",
                    "aggregateBy"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns aggregated event data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Aggregate events by single or multiple columns with optional date filtering",
        "tags": [
          "Event"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/attackers": {
      "get": {
        "operationId": "get_AttackerList",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Array of dataset IDs to query attackers from. If not provided, uses the default dataset.",
            "in": "query",
            "name": "datasetIds",
            "schema": {
              "description": "Array of dataset IDs to query attackers from. If not provided, uses the default dataset.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "items": {
                      "properties": {
                        "type": {
                          "example": "string",
                          "type": "string"
                        }
                      },
                      "required": [
                        "type"
                      ],
                      "type": "object"
                    },
                    "type": {
                      "example": "array",
                      "type": "string"
                    }
                  },
                  "required": [
                    "type",
                    "items"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a list of attackers."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Lists attackers across multiple datasets",
        "tags": [
          "Attacker"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/categories": {
      "get": {
        "operationId": "get_CategoryList",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Array of dataset IDs to query categories from. If not provided, uses the default dataset.",
            "in": "query",
            "name": "datasetIds",
            "schema": {
              "description": "Array of dataset IDs to query categories from. If not provided, uses the default dataset.",
              "items": {
                "type": "string"
              },
              "type": "array"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "killChain": {
                        "type": "number"
                      },
                      "mitreAttack": {
                        "items": {
                          "example": "T1234",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "mitreCapec": {
                        "items": {
                          "example": "123",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "name": {
                        "example": "name",
                        "type": "string"
                      },
                      "shortname": {
                        "example": "shortname",
                        "type": "string"
                      },
                      "uuid": {
                        "example": "12345678-1234-1234-1234-1234567890ab",
                        "type": "string"
                      }
                    },
                    "required": [
                      "uuid",
                      "name",
                      "killChain"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of categories."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Lists categories across multiple datasets",
        "tags": [
          "Category"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/categories/catalog": {
      "get": {
        "operationId": "get_CategoryListComplete",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "killChain": {
                        "type": "number"
                      },
                      "mitreAttack": {
                        "items": {
                          "example": "T1234",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "mitreCapec": {
                        "items": {
                          "example": "123",
                          "type": "string"
                        },
                        "type": "array"
                      },
                      "name": {
                        "example": "name",
                        "type": "string"
                      },
                      "shortname": {
                        "example": "shortname",
                        "type": "string"
                      },
                      "uuid": {
                        "example": "12345678-1234-1234-1234-1234567890ab",
                        "type": "string"
                      }
                    },
                    "required": [
                      "uuid",
                      "name",
                      "killChain"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of categories."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Lists categories",
        "tags": [
          "Category"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/categories/create": {
      "post": {
        "operationId": "post_CategoryCreate",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "killChain": {
                    "type": "number"
                  },
                  "mitreAttack": {
                    "items": {
                      "example": "T1234",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "mitreCapec": {
                    "items": {
                      "example": "123",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "name": {
                    "example": "name",
                    "type": "string"
                  },
                  "shortname": {
                    "example": "shortname",
                    "type": "string"
                  }
                },
                "required": [
                  "name",
                  "killChain"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "killChain": {
                      "type": "number"
                    },
                    "mitreAttack": {
                      "items": {
                        "example": "T1234",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "mitreCapec": {
                      "items": {
                        "example": "123",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "example": "name",
                      "type": "string"
                    },
                    "shortname": {
                      "example": "shortname",
                      "type": "string"
                    },
                    "uuid": {
                      "example": "12345678-1234-1234-1234-1234567890ab",
                      "type": "string"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "killChain"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the created category."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Creates a new category",
        "tags": [
          "Category"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/categories/{category_id}": {
      "delete": {
        "operationId": "delete_CategoryDelete",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Category UUID.",
            "in": "path",
            "name": "category_id",
            "required": true,
            "schema": {
              "description": "Category UUID.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "uuid": {
                      "example": "12345678-1234-1234-1234-1234567890ab",
                      "type": "string"
                    }
                  },
                  "required": [
                    "uuid"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the uuid of the deleted category."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Deletes a category",
        "tags": [
          "Category"
        ],
        "x-api-token-group": [
          "Cloudforce One Write"
        ]
      },
      "get": {
        "operationId": "get_CategoryRead",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Category UUID.",
            "in": "path",
            "name": "category_id",
            "required": true,
            "schema": {
              "description": "Category UUID.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "killChain": {
                      "type": "number"
                    },
                    "mitreAttack": {
                      "items": {
                        "example": "T1234",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "mitreCapec": {
                      "items": {
                        "example": "123",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "example": "name",
                      "type": "string"
                    },
                    "shortname": {
                      "example": "shortname",
                      "type": "string"
                    },
                    "uuid": {
                      "example": "12345678-1234-1234-1234-1234567890ab",
                      "type": "string"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "killChain"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a category."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Reads a category",
        "tags": [
          "Category"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      },
      "patch": {
        "operationId": "patch_CategoryUpdate",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Category UUID.",
            "in": "path",
            "name": "category_id",
            "required": true,
            "schema": {
              "description": "Category UUID.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "killChain": {
                    "type": "number"
                  },
                  "mitreAttack": {
                    "items": {
                      "example": "T1234",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "mitreCapec": {
                    "items": {
                      "example": "123",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "name": {
                    "example": "name",
                    "type": "string"
                  },
                  "shortname": {
                    "example": "shortname",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "killChain": {
                      "type": "number"
                    },
                    "mitreAttack": {
                      "items": {
                        "example": "T1234",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "mitreCapec": {
                      "items": {
                        "example": "123",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "example": "name",
                      "type": "string"
                    },
                    "shortname": {
                      "example": "shortname",
                      "type": "string"
                    },
                    "uuid": {
                      "example": "12345678-1234-1234-1234-1234567890ab",
                      "type": "string"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "killChain"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the updated category."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Updates a category",
        "tags": [
          "Category"
        ],
        "x-api-token-group": [
          "Cloudforce One Write"
        ]
      },
      "post": {
        "operationId": "post_CategoryUpdate",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          },
          {
            "description": "Category UUID.",
            "in": "path",
            "name": "category_id",
            "required": true,
            "schema": {
              "description": "Category UUID.",
              "format": "uuid",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "killChain": {
                    "type": "number"
                  },
                  "mitreAttack": {
                    "items": {
                      "example": "T1234",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "mitreCapec": {
                    "items": {
                      "example": "123",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "name": {
                    "example": "name",
                    "type": "string"
                  },
                  "shortname": {
                    "example": "shortname",
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "killChain": {
                      "type": "number"
                    },
                    "mitreAttack": {
                      "items": {
                        "example": "T1234",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "mitreCapec": {
                      "items": {
                        "example": "123",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "name": {
                      "example": "name",
                      "type": "string"
                    },
                    "shortname": {
                      "example": "shortname",
                      "type": "string"
                    },
                    "uuid": {
                      "example": "12345678-1234-1234-1234-1234567890ab",
                      "type": "string"
                    }
                  },
                  "required": [
                    "uuid",
                    "name",
                    "killChain"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the updated category."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Updates a category",
        "tags": [
          "Category"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/countries": {
      "get": {
        "operationId": "get_CountryRead",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "result": {
                        "items": {
                          "properties": {
                            "alpha3": {
                              "example": "AF",
                              "type": "string"
                            },
                            "name": {
                              "example": "Afghanistan",
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "alpha3"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "success": {
                        "example": "true",
                        "type": "string"
                      }
                    },
                    "required": [
                      "success",
                      "result"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns the long and short country code for every country."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Retrieves countries information for all countries",
        "tags": [
          "Country"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/create": {
      "post": {
        "description": "To create a dataset, see the [`Create Dataset`](https://developers.cloudflare.com/api/resources/cloudforce_one/subresources/threat_events/subresources/datasets/methods/create/) endpoint. When `datasetId` parameter is unspecified, it will be created in a default dataset named `Cloudforce One Threat Events`.",
        "operationId": "post_EventCreate",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "accountId": {
                    "example": 123456,
                    "type": "number"
                  },
                  "attacker": {
                    "example": "Flying Yeti",
                    "nullable": true,
                    "type": "string"
                  },
                  "attackerCountry": {
                    "example": "CN",
                    "type": "string"
                  },
                  "category": {
                    "example": "Domain Resolution",
                    "type": "string"
                  },
                  "datasetId": {
                    "example": "durableObjectName",
                    "type": "string"
                  },
                  "date": {
                    "example": "2022-04-01T00:00:00Z",
                    "format": "date-time",
                    "type": "string"
                  },
                  "event": {
                    "example": "An attacker registered the domain domain.com",
                    "type": "string"
                  },
                  "indicator": {
                    "example": "domain.com",
                    "type": "string"
                  },
                  "indicatorType": {
                    "example": "domain",
                    "type": "string"
                  },
                  "indicators": {
                    "description": "Array of indicators for this event. Supports multiple indicators per event for complex scenarios.",
                    "items": {
                      "properties": {
                        "indicatorType": {
                          "description": "The type of indicator (e.g., DOMAIN, IP, JA3, HASH)",
                          "example": "domain",
                          "type": "string"
                        },
                        "value": {
                          "description": "The indicator value (e.g., domain name, IP address, hash)",
                          "example": "malicious.com",
                          "type": "string"
                        }
                      },
                      "required": [
                        "value",
                        "indicatorType"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "insight": {
                    "example": "This domain was likely registered for phishing purposes",
                    "type": "string"
                  },
                  "raw": {
                    "properties": {
                      "data": {
                        "additionalProperties": true,
                        "nullable": true,
                        "type": "object"
                      },
                      "source": {
                        "example": "example.com",
                        "type": "string"
                      },
                      "tlp": {
                        "example": "amber",
                        "type": "string"
                      }
                    },
                    "required": [
                      "data"
                    ],
                    "type": "object"
                  },
                  "tags": {
                    "items": {
                      "example": "malware",
                      "type": "string"
                    },
                    "type": "array"
                  },
                  "targetCountry": {
                    "example": "US",
                    "type": "string"
                  },
                  "targetIndustry": {
                    "example": "Agriculture",
                    "type": "string"
                  },
                  "tlp": {
                    "example": "amber",
                    "type": "string"
                  }
                },
                "required": [
                  "date",
                  "category",
                  "event",
                  "tlp",
                  "raw"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "attacker": {
                      "example": "Flying Yeti",
                      "type": "string"
                    },
                    "attackerCountry": {
                      "example": "CN",
                      "type": "string"
                    },
                    "category": {
                      "example": "Domain Resolution",
                      "type": "string"
                    },
                    "datasetId": {
                      "example": "dataset-example-id",
                      "type": "string"
                    },
                    "date": {
                      "example": "2022-04-01T00:00:00Z",
                      "type": "string"
                    },
                    "event": {
                      "example": "An attacker registered the domain domain.com",
                      "type": "string"
                    },
                    "hasChildren": {
                      "type": "boolean"
                    },
                    "indicator": {
                      "example": "domain.com",
                      "type": "string"
                    },
                    "indicatorType": {
                      "example": "domain",
                      "type": "string"
                    },
                    "indicatorTypeId": {
                      "example": 5,
                      "type": "number"
                    },
                    "insight": {
                      "type": "string"
                    },
                    "killChain": {
                      "type": "number"
                    },
                    "mitreAttack": {
                      "items": {
                        "example": " ",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "mitreCapec": {
                      "items": {
                        "example": " ",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "numReferenced": {
                      "type": "number"
                    },
                    "numReferences": {
                      "type": "number"
                    },
                    "rawId": {
                      "example": "453gw34w3",
                      "type": "string"
                    },
                    "referenced": {
                      "items": {
                        "example": " ",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "referencedIds": {
                      "items": {
                        "type": "number"
                      },
                      "type": "array"
                    },
                    "references": {
                      "items": {
                        "example": " ",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "referencesIds": {
                      "items": {
                        "type": "number"
                      },
                      "type": "array"
                    },
                    "releasabilityId": {
                      "type": "string"
                    },
                    "tags": {
                      "items": {
                        "example": "malware",
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "targetCountry": {
                      "example": "US",
                      "type": "string"
                    },
                    "targetIndustry": {
                      "example": "Agriculture",
                      "type": "string"
                    },
                    "tlp": {
                      "example": "amber",
                      "type": "string"
                    },
                    "uuid": {
                      "example": "12345678-1234-1234-1234-1234567890ab",
                      "type": "string"
                    }
                  },
                  "required": [
                    "uuid",
                    "date",
                    "targetCountry",
                    "attacker",
                    "attackerCountry",
                    "targetIndustry",
                    "rawId",
                    "indicatorTypeId",
                    "indicator",
                    "event",
                    "numReferenced",
                    "numReferences",
                    "tlp",
                    "category",
                    "indicatorType",
                    "referenced",
                    "references",
                    "tags",
                    "killChain",
                    "mitreAttack",
                    "mitreCapec",
                    "referencedIds",
                    "referencesIds",
                    "hasChildren",
                    "datasetId"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the created event."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Creates a new event",
        "tags": [
          "Event"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/create/bulk": {
      "post": {
        "description": "The `datasetId` parameter must be defined. To list existing datasets (and their IDs) in your account, use the [`List Datasets`](https://developers.cloudflare.com/api/resources/cloudforce_one/subresources/threat_events/subresources/datasets/methods/list/) endpoint.",
        "operationId": "post_EventCreateBulk",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "items": {
                      "properties": {
                        "accountId": {
                          "example": 123456,
                          "type": "number"
                        },
                        "attacker": {
                          "example": "Flying Yeti",
                          "nullable": true,
                          "type": "string"
                        },
                        "attackerCountry": {
                          "example": "CN",
                          "type": "string"
                        },
                        "category": {
                          "example": "Domain Resolution",
                          "type": "string"
                        },
                        "datasetId": {
                          "example": "durableObjectName",
                          "type": "string"
                        },
                        "date": {
                          "example": "2022-04-01T00:00:00Z",
                          "format": "date-time",
                          "type": "string"
                        },
                        "event": {
                          "example": "An attacker registered the domain domain.com",
                          "type": "string"
                        },
                        "indicator": {
                          "example": "domain.com",
                          "type": "string"
                        },
                        "indicatorType": {
                          "example": "domain",
                          "type": "string"
                        },
                        "indicators": {
                          "description": "Array of indicators for this event. Supports multiple indicators per event for complex scenarios.",
                          "items": {
                            "properties": {
                              "indicatorType": {
                                "description": "The type of indicator (e.g., DOMAIN, IP, JA3, HASH)",
                                "example": "domain",
                                "type": "string"
                              },
                              "value": {
                                "description": "The indicator value (e.g., domain name, IP address, hash)",
                                "example": "malicious.com",
                                "type": "string"
                              }
                            },
                            "required": [
                              "value",
                              "indicatorType"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "insight": {
                          "example": "This domain was likely registered for phishing purposes",
                          "type": "string"
                        },
                        "raw": {
                          "properties": {
                            "data": {
                              "additionalProperties": true,
                              "nullable": true,
                              "type": "object"
                            },
                            "source": {
                              "example": "example.com",
                              "type": "string"
                            },
                            "tlp": {
                              "example": "amber",
                              "type": "string"
                            }
                          },
                          "required": [
                            "data"
                          ],
                          "type": "object"
                        },
                        "tags": {
                          "items": {
                            "example": "malware",
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "targetCountry": {
                          "example": "US",
                          "type": "string"
                        },
                        "targetIndustry": {
                          "example": "Agriculture",
                          "type": "string"
                        },
                        "tlp": {
                          "example": "amber",
                          "type": "string"
                        }
                      },
                      "required": [
                        "date",
                        "category",
                        "event",
                        "tlp",
                        "raw"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "datasetId": {
                    "example": "durableObjectName",
                    "type": "string"
                  },
                  "includeCreatedEvents": {
                    "description": "When true, response includes array of created event UUIDs and shard IDs. Useful for tracking which events were created and where.",
                    "type": "boolean"
                  }
                },
                "required": [
                  "data",
                  "datasetId"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Detailed result of bulk event creation with auto-tag management",
                  "properties": {
                    "createBulkEventsRequestId": {
                      "description": "Correlation ID for async indicator processing",
                      "format": "uuid",
                      "type": "string"
                    },
                    "createdEvents": {
                      "description": "Array of created events with UUIDs and shard locations. Only present when includeCreatedEvents=true",
                      "items": {
                        "properties": {
                          "eventIndex": {
                            "description": "Original index in the input data array",
                            "type": "number"
                          },
                          "shardId": {
                            "description": "Dataset ID of the shard where the event was created",
                            "type": "string"
                          },
                          "uuid": {
                            "description": "UUID of the created event",
                            "format": "uuid",
                            "type": "string"
                          }
                        },
                        "required": [
                          "eventIndex",
                          "uuid",
                          "shardId"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "createdEventsCount": {
                      "description": "Number of events created",
                      "type": "number"
                    },
                    "createdTagsCount": {
                      "description": "Number of new tags created in SoT",
                      "type": "number"
                    },
                    "errorCount": {
                      "description": "Number of errors encountered",
                      "type": "number"
                    },
                    "errors": {
                      "description": "Array of error details",
                      "items": {
                        "properties": {
                          "error": {
                            "description": "Error message",
                            "type": "string"
                          },
                          "eventIndex": {
                            "description": "Index of the event that caused the error",
                            "type": "number"
                          }
                        },
                        "required": [
                          "eventIndex",
                          "error"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "queuedIndicatorsCount": {
                      "description": "Number of indicators queued for async processing",
                      "type": "number"
                    }
                  },
                  "required": [
                    "createdEventsCount",
                    "queuedIndicatorsCount",
                    "createdTagsCount",
                    "errorCount"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Accepted. Events created; indicators queued for async processing."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Creates bulk events",
        "tags": [
          "Event"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/create/bulk/relationships": {
      "post": {
        "deprecated": true,
        "description": "This method is deprecated. Please use `event_create_bulk` instead",
        "operationId": "post_DOSEventCreateBulkWithRelationships",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "data": {
                    "items": {
                      "properties": {
                        "accountId": {
                          "example": 123456,
                          "type": "number"
                        },
                        "attacker": {
                          "example": "Flying Yeti",
                          "nullable": true,
                          "type": "string"
                        },
                        "attackerCountry": {
                          "example": "CN",
                          "type": "string"
                        },
                        "category": {
                          "example": "Domain Resolution",
                          "type": "string"
                        },
                        "datasetId": {
                          "example": "durableObjectName",
                          "type": "string"
                        },
                        "date": {
                          "example": "2022-04-01T00:00:00Z",
                          "format": "date-time",
                          "type": "string"
                        },
                        "event": {
                          "example": "An attacker registered the domain domain.com",
                          "type": "string"
                        },
                        "indicator": {
                          "example": "domain.com",
                          "type": "string"
                        },
                        "indicatorType": {
                          "example": "domain",
                          "type": "string"
                        },
                        "indicators": {
                          "description": "Array of indicators for this event. Supports multiple indicators per event for complex scenarios.",
                          "items": {
                            "properties": {
                              "indicatorType": {
                                "description": "The type of indicator (e.g., DOMAIN, IP, JA3, HASH)",
                                "example": "domain",
                                "type": "string"
                              },
                              "value": {
                                "description": "The indicator value (e.g., domain name, IP address, hash)",
                                "example": "malicious.com",
                                "type": "string"
                              }
                            },
                            "required": [
                              "value",
                              "indicatorType"
                            ],
                            "type": "object"
                          },
                          "type": "array"
                        },
                        "insight": {
                          "example": "This domain was likely registered for phishing purposes",
                          "type": "string"
                        },
                        "raw": {
                          "properties": {
                            "data": {
                              "additionalProperties": true,
                              "nullable": true,
                              "type": "object"
                            },
                            "source": {
                              "example": "example.com",
                              "type": "string"
                            },
                            "tlp": {
                              "example": "amber",
                              "type": "string"
                            }
                          },
                          "required": [
                            "data"
                          ],
                          "type": "object"
                        },
                        "tags": {
                          "items": {
                            "example": "malware",
                            "type": "string"
                          },
                          "type": "array"
                        },
                        "targetCountry": {
                          "example": "US",
                          "type": "string"
                        },
                        "targetIndustry": {
                          "example": "Agriculture",
                          "type": "string"
                        },
                        "tlp": {
                          "example": "amber",
                          "type": "string"
                        }
                      },
                      "required": [
                        "date",
                        "category",
                        "event",
                        "tlp",
                        "raw"
                      ],
                      "type": "object"
                    },
                    "type": "array"
                  },
                  "datasetId": {
                    "example": "durableObjectName",
                    "type": "string"
                  }
                },
                "required": [
                  "data",
                  "datasetId"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "description": "Result of bulk relationship creation operation",
                  "properties": {
                    "createdEventsCount": {
                      "description": "Number of events created",
                      "type": "number"
                    },
                    "createdIndicatorsCount": {
                      "description": "Number of indicators created",
                      "type": "number"
                    },
                    "createdRelationshipsCount": {
                      "description": "Number of relationships created",
                      "type": "number"
                    },
                    "errorCount": {
                      "description": "Number of errors encountered",
                      "type": "number"
                    },
                    "errors": {
                      "description": "Array of error details",
                      "items": {
                        "properties": {
                          "error": {
                            "description": "Error message",
                            "type": "string"
                          },
                          "eventIndex": {
                            "description": "Index of the event that caused the error",
                            "type": "number"
                          }
                        },
                        "required": [
                          "eventIndex",
                          "error"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    }
                  },
                  "required": [
                    "createdEventsCount",
                    "createdIndicatorsCount",
                    "createdRelationshipsCount",
                    "errorCount"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the number of created bulk events with relationships."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Creates bulk DOS event with relationships and indicators",
        "tags": [
          "Event"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/dataset": {
      "get": {
        "operationId": "get_DatasetList",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "isPublic": {
                        "example": true,
                        "type": "boolean"
                      },
                      "name": {
                        "example": "friendly dataset name",
                        "type": "string"
                      },
                      "uuid": {
                        "example": "12345678-1234-1234-1234-1234567890ab",
                        "type": "string"
                      }
                    },
                    "required": [
                      "uuid",
                      "name",
                      "isPublic"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns a list of dataset in an account."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request."
          }
        },
        "security": [
          {
            "api_token": []
          }
        ],
        "summary": "Lists all datasets in an account",
        "tags": [
          "Dataset"
        ],
        "x-api-token-group": [
          "Cloudforce One Write",
          "Cloudforce One Read"
        ]
      }
    },
    "/accounts/{account_id}/cloudforce-one/events/dataset/-/groups": {
      "get": {
        "description": "List groups for an account",
        "operationId": "get_GroupList",
        "parameters": [
          {
            "description": "Account ID.",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account ID.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "properties": {
                      "createdAt": {
                        "example": "2022-04-01T00:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "description": {
                        "example": "Cloudforce subscribers",
                        "type": "string"
                      },
                      "name": {
                        "example": "loudforce-subscribers",
                        "type": "string"
                      },
                      "updatedAt": {
                        "example": "2022-04-01T00:00:00Z",
                        "format": "date-time",
                        "type": "string"
                      },
                      "uuid": {
                        "example": "12345678-1234-1234-1234-1234567890ab",
                        "type": "string"
                      }
                    },
                    "required": [
                      "uuid",
                      "name",
                      "description",
                      "createdAt",
                      "updatedAt"
                    ],
                    "type": "object"
                  },
                  "type": "array"
                }
              }
            },
            "description": "Returns the list of groups."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "example": "An error occurred.",
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
[...]
