{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Network",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/cni/cnis": {
      "get": {
        "operationId": "list_cnis",
        "parameters": [
          {
            "description": "If specified, only show CNIs associated with the specified slot",
            "in": "query",
            "name": "slot",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "description": "If specified, only show cnis associated with the specified tunnel id",
            "in": "query",
            "name": "tunnel_id",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "format": "int32",
              "nullable": true,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "minimum": 0,
              "nullable": true,
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_CniList"
                }
              }
            },
            "description": "List of matching CNI objects"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List existing CNI objects",
        "tags": [
          "CNIs"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      },
      "post": {
        "operationId": "create_cni",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/nsc_CniCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_Cni"
                }
              }
            },
            "description": "CNI was successfully created"
          },
          "400": {
            "description": "Bad request"
          },
          "409": {
            "description": "Name Conflict"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a new CNI object",
        "tags": [
          "CNIs"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/cnis/{cni}": {
      "delete": {
        "operationId": "delete_cni",
        "parameters": [
          {
            "description": "CNI ID to retrieve information about",
            "in": "path",
            "name": "cni",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "CNI has been successfully deleted"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "CNI not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a specified CNI object",
        "tags": [
          "CNIs"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ]
      },
      "get": {
        "operationId": "get_cni",
        "parameters": [
          {
            "description": "CNI ID to retrieve information about",
            "in": "path",
            "name": "cni",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_Cni"
                }
              }
            },
            "description": "CNI's associated data"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "CNI not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get information about a CNI object",
        "tags": [
          "CNIs"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      },
      "put": {
        "operationId": "update_cni",
        "parameters": [
          {
            "description": "CNI ID to retrieve information about",
            "in": "path",
            "name": "cni",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/nsc_Cni"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_Cni"
                }
              }
            },
            "description": "CNI has been successfully modified"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "CNI not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Modify stored information about a CNI object",
        "tags": [
          "CNIs"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/interconnects": {
      "get": {
        "operationId": "list_interconnects",
        "parameters": [
          {
            "description": "If specified, only show interconnects located at the given site",
            "in": "query",
            "name": "site",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "description": "If specified, only show interconnects of the given type",
            "in": "query",
            "name": "type",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "format": "int32",
              "nullable": true,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "minimum": 0,
              "nullable": true,
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_InterconnectList"
                }
              }
            },
            "description": "List of matching interconnect objects"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List existing interconnects",
        "tags": [
          "Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      },
      "post": {
        "operationId": "create_interconnect",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/nsc_InterconnectCreate"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_Interconnect"
                }
              }
            },
            "description": "Information about the new interconnect"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a new interconnect",
        "tags": [
          "Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/interconnects/{icon}": {
      "delete": {
        "operationId": "delete_interconnect",
        "parameters": [
          {
            "description": "Interconnect name to retrieve information about",
            "in": "path",
            "name": "icon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully deleted interconnect"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Interconnect not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete an interconnect object",
        "tags": [
          "Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ]
      },
      "get": {
        "operationId": "get_interconnect",
        "parameters": [
          {
            "description": "Interconnect name to retrieve information about",
            "in": "path",
            "name": "icon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_Interconnect"
                }
              }
            },
            "description": "Information about the specified interconnect"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Interconnect not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get information about an interconnect object",
        "tags": [
          "Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/interconnects/{icon}/loa": {
      "get": {
        "operationId": "get_interconnect_loa",
        "parameters": [
          {
            "description": "Interconnect name to retrieve information about",
            "in": "path",
            "name": "icon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Generated LOA in PDF format"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Interconnect not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Generate the Letter of Authorization (LOA) for a given interconnect",
        "tags": [
          "Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/interconnects/{icon}/status": {
      "get": {
        "operationId": "get_interconnect_status",
        "parameters": [
          {
            "description": "Interconnect name to retrieve information about",
            "in": "path",
            "name": "icon",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_StatusInfo"
                }
              }
            },
            "description": "Current interconnect status"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Interconnect not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the current status of an interconnect object",
        "tags": [
          "Interconnects"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/settings": {
      "get": {
        "operationId": "get_settings",
        "parameters": [
          {
            "description": "Account tag to retrieve settings for",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_Settings"
                }
              }
            },
            "description": "The active account settings values"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Account not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get the current settings for the active account",
        "tags": [
          "Settings"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      },
      "put": {
        "operationId": "update_settings",
        "parameters": [
          {
            "description": "Account tag to update settings for",
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/nsc_SettingsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_Settings"
                }
              }
            },
            "description": "The active account settings values"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Account not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update the current settings for the active account",
        "tags": [
          "Settings"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/slots": {
      "get": {
        "operationId": "list_slots",
        "parameters": [
          {
            "description": "If specified, only show slots with the given text in their address field",
            "in": "query",
            "name": "address_contains",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "description": "If specified, only show slots located at the given site",
            "in": "query",
            "name": "site",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "description": "If specified, only show slots that support the given speed",
            "in": "query",
            "name": "speed",
            "schema": {
              "nullable": true,
              "type": "string"
            }
          },
          {
            "description": "If specified, only show slots with a specific occupied/unoccupied state",
            "in": "query",
            "name": "occupied",
            "schema": {
              "nullable": true,
              "type": "boolean"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "schema": {
              "format": "int32",
              "nullable": true,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "minimum": 0,
              "nullable": true,
              "type": "integer"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_SlotList"
                }
              }
            },
            "description": "List of matching slots"
          },
          "400": {
            "description": "Bad request"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Retrieve a list of all slots matching the specified parameters",
        "tags": [
          "Slots"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/cni/slots/{slot}": {
      "get": {
        "operationId": "get_slot",
        "parameters": [
          {
            "in": "path",
            "name": "slot",
            "required": true,
            "schema": {
              "format": "uuid",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Customer account tag",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/nsc_SlotInfo"
                }
              }
            },
            "description": "Information about the specified slot"
          },
          "400": {
            "description": "Bad request"
          },
          "404": {
            "description": "Slot not found"
          },
          "500": {
            "description": "Internal server error"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get information about the specified slot",
        "tags": [
          "Slots"
        ],
        "x-api-token-group": [
          "Magic WAN Write",
          "Magic WAN Read",
          "Magic Transit Read",
          "Magic Transit Write"
        ]
      }
    },
    "/accounts/{account_id}/custom_ns": {
      "get": {
        "description": "List an account's custom nameservers.",
        "operationId": "account-level-custom-nameservers-list-account-custom-nameservers",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "372e67954025e0ba6aaa6d586b9e0b59",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-custom-nameservers_acns_response_collection"
                }
              }
            },
            "description": "List Account Custom Nameservers response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-custom-nameservers_acns_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/dns-custom-nameservers_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List Account Custom Nameservers response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Account Custom Nameservers",
        "tags": [
          "Account-Level Custom Nameservers"
        ],
        "x-api-token-group": [
          "Account Settings Write",
          "Account Settings Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "post": {
        "operationId": "account-level-custom-nameservers-add-account-custom-nameserver",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "372e67954025e0ba6aaa6d586b9e0b59",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-custom-nameservers_CustomNSInput"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-custom-nameservers_acns_response_single"
                }
              }
            },
            "description": "Add Account Custom Nameserver response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-custom-nameservers_acns_response_single"
                    },
                    {
                      "$ref": "#/components/schemas/dns-custom-nameservers_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Add Account Custom Nameserver response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Add Account Custom Nameserver",
        "tags": [
          "Account-Level Custom Nameservers"
        ],
        "x-api-token-group": [
          "Account Settings Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#organization:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/custom_ns/{custom_ns_id}": {
      "delete": {
        "operationId": "account-level-custom-nameservers-delete-account-custom-nameserver",
        "parameters": [
          {
            "in": "path",
            "name": "custom_ns_id",
            "required": true,
            "schema": {
              "description": "The FQDN of the name server.",
              "example": "ns1.example.com",
              "format": "hostname",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Account identifier tag.",
              "example": "372e67954025e0ba6aaa6d586b9e0b59",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-custom-nameservers_empty_response"
                }
              }
            },
            "description": "Delete Account Custom Nameserver response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-custom-nameservers_empty_response"
                    },
                    {
                      "$ref": "#/components/schemas/dns-custom-nameservers_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Delete Account Custom Nameserver response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete Account Custom Nameserver",
        "tags": [
          "Account-Level Custom Nameservers"
        ],
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/dns_firewall": {
      "get": {
        "description": "List DNS Firewall clusters for an account",
        "operationId": "dns-firewall-list-dns-firewall-clusters",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "default": 1,
              "description": "Page number of paginated results",
              "minimum": 1,
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "default": 20,
              "description": "Number of clusters per page",
              "maximum": 100,
              "minimum": 1,
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-firewall_dns_firewall_response_collection"
                }
              }
            },
            "description": "List DNS Firewall Clusters response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_dns_firewall_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List DNS Firewall Clusters response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List DNS Firewall Clusters",
        "tags": [
          "DNS Firewall"
        ],
        "x-api-token-group": [
          "DNS Firewall Write",
          "DNS Firewall Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "post": {
        "description": "Create a DNS Firewall cluster",
        "operationId": "dns-firewall-create-dns-firewall-cluster",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-firewall_dns-firewall-cluster-post"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-firewall_dns_firewall_single_response"
                }
              }
            },
            "description": "Create DNS Firewall Cluster response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_dns_firewall_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Create DNS Firewall Cluster response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create DNS Firewall Cluster",
        "tags": [
          "DNS Firewall"
        ],
        "x-api-token-group": [
          "DNS Firewall Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/dns_firewall/{dns_firewall_id}": {
      "delete": {
        "description": "Delete a DNS Firewall cluster",
        "operationId": "dns-firewall-delete-dns-firewall-cluster",
        "parameters": [
          {
            "in": "path",
            "name": "dns_firewall_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "id": {
                              "description": "Identifier.",
                              "example": "023e105f4ecef8ad9ca31a8372d0c353",
                              "maxLength": 32,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Delete DNS Firewall Cluster response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "properties": {
                            "id": {
                              "description": "Identifier.",
                              "example": "023e105f4ecef8ad9ca31a8372d0c353",
                              "maxLength": 32,
                              "type": "string"
                            }
                          },
                          "type": "object"
                        }
                      },
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Delete DNS Firewall Cluster response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Delete DNS Firewall Cluster",
        "tags": [
          "DNS Firewall"
        ],
        "x-api-token-group": [
          "DNS Firewall Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "get": {
        "description": "Show a single DNS Firewall cluster for an account",
        "operationId": "dns-firewall-dns-firewall-cluster-details",
        "parameters": [
          {
            "in": "path",
            "name": "dns_firewall_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-firewall_dns_firewall_single_response"
                }
              }
            },
            "description": "DNS Firewall Cluster Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_dns_firewall_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "DNS Firewall Cluster Details response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "DNS Firewall Cluster Details",
        "tags": [
          "DNS Firewall"
        ],
        "x-api-token-group": [
          "DNS Firewall Write",
          "DNS Firewall Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "patch": {
        "description": "Modify the configuration of a DNS Firewall cluster",
        "operationId": "dns-firewall-update-dns-firewall-cluster",
        "parameters": [
          {
            "in": "path",
            "name": "dns_firewall_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-firewall_dns-firewall-cluster-patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-firewall_dns_firewall_single_response"
                }
              }
            },
            "description": "Update DNS Firewall Cluster response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_dns_firewall_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update DNS Firewall Cluster response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update DNS Firewall Cluster",
        "tags": [
          "DNS Firewall"
        ],
        "x-api-token-group": [
          "DNS Firewall Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/dns_firewall/{dns_firewall_id}/dns_analytics/report": {
      "get": {
        "description": "Retrieves a list of summarised aggregate metrics over a given time period.\n\nSee [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "operationId": "dns-firewall-analytics-table",
        "parameters": [
          {
            "in": "path",
            "name": "dns_firewall_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "metrics",
            "schema": {
              "description": "A comma-separated list of metrics to query.",
              "example": "queryCount,uncachedCount",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dimensions",
            "schema": {
              "description": "A comma-separated list of dimensions to group results by.",
              "example": "queryType",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "description": "Start date and time of requesting data period in ISO 8601 format.",
              "example": "2023-11-11T12:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "description": "End date and time of requesting data period in ISO 8601 format.",
              "example": "2023-11-11T13:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100000,
              "description": "Limit number of returned metrics.",
              "example": 100,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "description": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
              "example": "+responseCode,-queryName",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filters",
            "schema": {
              "description": "Segmentation filter in 'attribute operator value' format.",
              "example": "responseCode==NOERROR,queryType==A",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-analytics_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dns-analytics_report"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Table response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-analytics_api-response-common-failure"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dns-analytics_report"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Table response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Table",
        "tags": [
          "DNS Firewall Analytics"
        ],
        "x-api-token-group": [
          "DNS Firewall Write",
          "DNS Firewall Read"
        ]
      }
    },
    "/accounts/{account_id}/dns_firewall/{dns_firewall_id}/dns_analytics/report/bytime": {
      "get": {
        "description": "Retrieves a list of aggregate metrics grouped by time interval.\n\nSee [Analytics API properties](https://developers.cloudflare.com/dns/reference/analytics-api-properties/) for detailed information about the available query parameters.",
        "operationId": "dns-firewall-analytics-by-time",
        "parameters": [
          {
            "in": "path",
            "name": "dns_firewall_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "metrics",
            "schema": {
              "description": "A comma-separated list of metrics to query.",
              "example": "queryCount,uncachedCount",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "dimensions",
            "schema": {
              "description": "A comma-separated list of dimensions to group results by.",
              "example": "queryType",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "since",
            "schema": {
              "description": "Start date and time of requesting data period in ISO 8601 format.",
              "example": "2023-11-11T12:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "until",
            "schema": {
              "description": "End date and time of requesting data period in ISO 8601 format.",
              "example": "2023-11-11T13:00:00Z",
              "format": "date-time",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "schema": {
              "default": 100000,
              "description": "Limit number of returned metrics.",
              "example": 100,
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "description": "A comma-separated list of dimensions to sort by, where each dimension may be prefixed by - (descending) or + (ascending).",
              "example": "+responseCode,-queryName",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "filters",
            "schema": {
              "description": "Segmentation filter in 'attribute operator value' format.",
              "example": "responseCode==NOERROR,queryType==A",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "time_delta",
            "schema": {
              "description": "Unit of time to group data by.",
              "enum": [
                "all",
                "auto",
                "year",
                "quarter",
                "month",
                "week",
                "day",
                "hour",
                "dekaminute",
                "minute"
              ],
              "example": "hour",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-analytics_api-response-single"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dns-analytics_report_bytime"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "By Time response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-analytics_api-response-common-failure"
                    },
                    {
                      "properties": {
                        "result": {
                          "$ref": "#/components/schemas/dns-analytics_report_bytime"
                        }
                      },
                      "type": "object"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "By Time response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "By Time",
        "tags": [
          "DNS Firewall Analytics"
        ],
        "x-api-token-group": [
          "DNS Firewall Write",
          "DNS Firewall Read"
        ]
      }
    },
    "/accounts/{account_id}/dns_firewall/{dns_firewall_id}/reverse_dns": {
      "get": {
        "description": "Show reverse DNS configuration (PTR records) for a DNS Firewall cluster",
        "operationId": "dns-firewall-show-dns-firewall-cluster-reverse-dns",
        "parameters": [
          {
            "in": "path",
            "name": "dns_firewall_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-firewall_dns_firewall_reverse_dns_response"
                }
              }
            },
            "description": "Show DNS Firewall Cluster Reverse DNS response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_dns_firewall_reverse_dns_response"
                    },
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Show DNS Firewall Cluster Reverse DNS response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Show DNS Firewall Cluster Reverse DNS",
        "tags": [
          "DNS Firewall"
        ],
        "x-api-token-group": [
          "DNS Firewall Write",
          "DNS Firewall Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:read"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      },
      "patch": {
        "description": "Update reverse DNS configuration (PTR records) for a DNS Firewall cluster",
        "operationId": "dns-firewall-update-dns-firewall-cluster-reverse-dns",
        "parameters": [
          {
            "in": "path",
            "name": "dns_firewall_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/dns-firewall_dns-firewall-reverse-dns-patch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/dns-firewall_dns_firewall_reverse_dns_response"
                }
              }
            },
            "description": "Update DNS Firewall Cluster Reverse DNS response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/dns-firewall_dns_firewall_reverse_dns_response"
                    },
                    {
                      "$ref": "#/components/schemas/dns-firewall_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update DNS Firewall Cluster Reverse DNS response failure"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Update DNS Firewall Cluster Reverse DNS",
        "tags": [
          "DNS Firewall"
        ],
        "x-api-token-group": [
          "DNS Firewall Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "#dns_records:edit"
          ]
        },
        "x-cfPlanAvailability": {
          "business": false,
          "enterprise": true,
          "free": false,
          "pro": false
        }
      }
    },
    "/accounts/{account_id}/load_balancers/monitor_groups": {
      "get": {
        "description": "List configured monitor groups.",
        "operationId": "account-load-balancer-monitor-groups-list-monitor-groups",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-group-response-collection"
                }
              }
            },
            "description": "List Monitor Groups response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Monitor Groups response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Monitor Groups",
        "tags": [
          "Account Load Balancer Monitor Groups"
        ]
      },
      "post": {
        "description": "Create a new monitor group.",
        "operationId": "account-load-balancer-monitor-groups-create-monitor-group",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/load-balancing_monitor-group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                }
              }
            },
            "description": "Create Monitor Group response"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Precondition Failed - Referenced monitor does not exist"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create Monitor Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Monitor Group",
        "tags": [
          "Account Load Balancer Monitor Groups"
        ]
      }
    },
    "/accounts/{account_id}/load_balancers/monitor_groups/{monitor_group_id}": {
      "delete": {
        "description": "Delete a configured monitor group.",
        "operationId": "account-load-balancer-monitor-groups-delete-monitor-group",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_group_id",
            "required": true,
            "schema": {
              "example": "17b5962d775c646f3f9725cbc7a53df4",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                }
              }
            },
            "description": "Delete Monitor Group response"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Precondition Failed - Monitor group is in use by one or more pools"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete Monitor Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Monitor Group",
        "tags": [
          "Account Load Balancer Monitor Groups"
        ]
      },
      "get": {
        "description": "Fetch a single configured monitor group.",
        "operationId": "account-load-balancer-monitor-groups-monitor-group-details",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_group_id",
            "required": true,
            "schema": {
              "example": "17b5962d775c646f3f9725cbc7a53df4",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                }
              }
            },
            "description": "Monitor Group Details response"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Monitor Group Details response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Monitor Group Details",
        "tags": [
          "Account Load Balancer Monitor Groups"
        ]
      },
      "patch": {
        "description": "Apply changes to an existing monitor group, overwriting the supplied properties.",
        "operationId": "account-load-balancer-monitor-groups-patch-monitor-group",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_group_id",
            "required": true,
            "schema": {
              "example": "17b5962d775c646f3f9725cbc7a53df4",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/load-balancing_monitor-group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                }
              }
            },
            "description": "Patch Monitor Group response"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Precondition Failed - Referenced monitor does not exist"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Patch Monitor Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch Monitor Group",
        "tags": [
          "Account Load Balancer Monitor Groups"
        ]
      },
      "put": {
        "description": "Modify a configured monitor group.",
        "operationId": "account-load-balancer-monitor-groups-update-monitor-group",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_group_id",
            "required": true,
            "schema": {
              "example": "17b5962d775c646f3f9725cbc7a53df4",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/load-balancing_monitor-group"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                }
              }
            },
            "description": "Update Monitor Group response"
          },
          "412": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Precondition Failed - Referenced monitor does not exist"
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-single-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update Monitor Group response failure"
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Monitor Group",
        "tags": [
          "Account Load Balancer Monitor Groups"
        ]
      }
    },
    "/accounts/{account_id}/load_balancers/monitor_groups/{monitor_group_id}/references": {
      "get": {
        "description": "Get the list of resources that reference the provided monitor group.",
        "operationId": "account-load-balancer-monitor-groups-list-monitor-group-references",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_group_id",
            "required": true,
            "schema": {
              "example": "f1aba936b94213e5b8dca0c0dbf1f9cc",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-group-references-response"
                }
              }
            },
            "description": "List Monitor Group References response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-group-references-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Monitor Group References response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Monitor Group References",
        "tags": [
          "Account Load Balancer Monitor Groups"
        ]
      }
    },
    "/accounts/{account_id}/load_balancers/monitors": {
      "get": {
        "description": "List configured monitors for an account.",
        "operationId": "account-load-balancer-monitors-list-monitors",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-response-collection"
                }
              }
            },
            "description": "List Monitors response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-response-collection"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Monitors response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Monitors",
        "tags": [
          "Account Load Balancer Monitors"
        ],
        "x-api-token-group": [
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read"
        ]
      },
      "post": {
        "description": "Create a configured monitor.",
        "operationId": "account-load-balancer-monitors-create-monitor",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/load-balancing_monitor-editable"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                }
              }
            },
            "description": "Create Monitor response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create Monitor response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Monitor",
        "tags": [
          "Account Load Balancer Monitors"
        ],
        "x-api-token-group": [
          "Load Balancing: Monitors and Pools Write"
        ]
      }
    },
    "/accounts/{account_id}/load_balancers/monitors/{monitor_id}": {
      "delete": {
        "description": "Delete a configured monitor.",
        "operationId": "account-load-balancer-monitors-delete-monitor",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "required": true,
            "schema": {
              "example": "f1aba936b94213e5b8dca0c0dbf1f9cc",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_id_response"
                }
              }
            },
            "description": "Delete Monitor response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_id_response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Delete Monitor response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Monitor",
        "tags": [
          "Account Load Balancer Monitors"
        ],
        "x-api-token-group": [
          "Load Balancing: Monitors and Pools Write"
        ]
      },
      "get": {
        "description": "List a single configured monitor for an account.",
        "operationId": "account-load-balancer-monitors-monitor-details",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "required": true,
            "schema": {
              "example": "f1aba936b94213e5b8dca0c0dbf1f9cc",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                }
              }
            },
            "description": "Monitor Details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Monitor Details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Monitor Details",
        "tags": [
          "Account Load Balancer Monitors"
        ],
        "x-api-token-group": [
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read"
        ]
      },
      "patch": {
        "description": "Apply changes to an existing monitor, overwriting the supplied properties.",
        "operationId": "account-load-balancer-monitors-patch-monitor",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "required": true,
            "schema": {
              "example": "f1aba936b94213e5b8dca0c0dbf1f9cc",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/load-balancing_monitor-editable"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                }
              }
            },
            "description": "Patch Monitor response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Patch Monitor response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch Monitor",
        "tags": [
          "Account Load Balancer Monitors"
        ],
        "x-api-token-group": [
          "Load Balancing: Monitors and Pools Write"
        ]
      },
      "put": {
        "description": "Modify a configured monitor.",
        "operationId": "account-load-balancer-monitors-update-monitor",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "required": true,
            "schema": {
              "example": "f1aba936b94213e5b8dca0c0dbf1f9cc",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/load-balancing_monitor-editable"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                }
              }
            },
            "description": "Update Monitor response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-response-single"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Update Monitor response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Monitor",
        "tags": [
          "Account Load Balancer Monitors"
        ],
        "x-api-token-group": [
          "Load Balancing: Monitors and Pools Write"
        ]
      }
    },
    "/accounts/{account_id}/load_balancers/monitors/{monitor_id}/preview": {
      "post": {
        "description": "Preview pools using the specified monitor with provided monitor details. The returned preview_id can be used in the preview endpoint to retrieve the results.",
        "operationId": "account-load-balancer-monitors-preview-monitor",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "required": true,
            "schema": {
              "example": "f1aba936b94213e5b8dca0c0dbf1f9cc",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/load-balancing_monitor-editable"
                  }
                ]
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_preview_response"
                }
              }
            },
            "description": "Preview Monitor response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_preview_response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Preview Monitor response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Preview Monitor",
        "tags": [
          "Account Load Balancer Monitors"
        ]
      }
    },
    "/accounts/{account_id}/load_balancers/monitors/{monitor_id}/references": {
      "get": {
        "description": "Get the list of resources that reference the provided monitor.",
        "operationId": "account-load-balancer-monitors-list-monitor-references",
        "parameters": [
          {
            "in": "path",
            "name": "monitor_id",
            "required": true,
            "schema": {
              "example": "f1aba936b94213e5b8dca0c0dbf1f9cc",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_monitor-references-response"
                }
              }
            },
            "description": "List Monitor References response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_monitor-references-response"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List Monitor References response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Monitor References",
        "tags": [
          "Account Load Balancer Monitors"
        ],
        "x-api-token-group": [
          "Load Balancing: Monitors and Pools Write",
          "Load Balancing: Monitors and Pools Read"
        ]
      }
    },
    "/accounts/{account_id}/load_balancers/pools": {
      "get": {
        "description": "List configured pools.",
        "operationId": "account-load-balancer-pools-list-pools",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Identifier.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "readOnly": true,
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "monitor",
            "schema": {
              "description": "The ID of the Monitor to use for checking the health of origins within this pool.",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/load-balancing_schemas-response_collection"
                }
              }
            },
            "description": "List Pools response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/load-balancing_schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/load-balancing_api-response-common-failure"
[...]
