{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - AI",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/ai/authors/search": {
      "get": {
        "description": "Searches Workers AI models by author or organization name.",
        "operationId": "workers-ai-search-author",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "result": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a list of authors"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Author Search",
        "tags": [
          "Workers AI"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/finetunes": {
      "get": {
        "description": "Lists all fine-tuning jobs created by the account, including status and metrics.",
        "operationId": "workers-ai-list-finetunes",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string",
                          "x-auditable": true
                        },
                        "model": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "modified_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "id",
                        "model",
                        "name",
                        "created_at",
                        "modified_at"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns all finetunes"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Finetunes",
        "tags": [
          "Workers AI Finetune"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      },
      "post": {
        "description": "Creates a new fine-tuning job for a Workers AI model using custom training data.",
        "operationId": "workers-ai-create-finetune",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "type": "string"
                  },
                  "model": {
                    "type": "string",
                    "x-auditable": true
                  },
                  "name": {
                    "type": "string",
                    "x-auditable": true
                  },
                  "public": {
                    "default": false,
                    "type": "boolean",
                    "x-auditable": true
                  }
                },
                "required": [
                  "model",
                  "name"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "created_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "id": {
                          "format": "uuid",
                          "type": "string",
                          "x-auditable": true
                        },
                        "model": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "modified_at": {
                          "format": "date-time",
                          "type": "string"
                        },
                        "name": {
                          "type": "string",
                          "x-auditable": true
                        },
                        "public": {
                          "type": "boolean",
                          "x-auditable": true
                        }
                      },
                      "required": [
                        "id",
                        "created_at",
                        "modified_at",
                        "public",
                        "name",
                        "model"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns the created finetune"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "errors",
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Finetune creation failed"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Create a new Finetune",
        "tags": [
          "Workers AI Finetune"
        ],
        "x-api-token-group": [
          "Workers AI Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/finetunes/public": {
      "get": {
        "description": "Lists publicly available fine-tuned models that can be used with Workers AI.",
        "operationId": "workers-ai-list-public-finetunes",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "description": "Pagination Limit",
            "in": "query",
            "name": "limit",
            "schema": {
              "description": "Pagination Limit",
              "type": "number"
            }
          },
          {
            "description": "Pagination Offset",
            "in": "query",
            "name": "offset",
            "schema": {
              "description": "Pagination Offset",
              "type": "number"
            }
          },
          {
            "description": "Order By Column Name",
            "in": "query",
            "name": "orderBy",
            "schema": {
              "description": "Order By Column Name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "items": {
                        "properties": {
                          "created_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "description": {
                            "type": "string"
                          },
                          "id": {
                            "format": "uuid",
                            "type": "string",
                            "x-auditable": true
                          },
                          "model": {
                            "type": "string",
                            "x-auditable": true
                          },
                          "modified_at": {
                            "format": "date-time",
                            "type": "string"
                          },
                          "name": {
                            "type": "string",
                            "x-auditable": true
                          },
                          "public": {
                            "type": "boolean",
                            "x-auditable": true
                          }
                        },
                        "required": [
                          "id",
                          "model",
                          "name",
                          "public",
                          "created_at",
                          "modified_at"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns all public finetunes"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "List Public Finetunes",
        "tags": [
          "Workers AI Finetune"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/finetunes/{finetune_id}/finetune-assets": {
      "post": {
        "description": "Uploads training data assets for a Workers AI fine-tuning job.",
        "operationId": "workers-ai-upload-finetune-asset",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "in": "path",
            "name": "finetune_id",
            "required": true,
            "schema": {
              "example": "bc451aef-f723-4b26-a6b2-901afd2e7a8a",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "file": {
                    "format": "binary",
                    "type": "string"
                  },
                  "file_name": {
                    "type": "string"
                  }
                },
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns successfully if finetunes were uploaded"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Finetune creation failed"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Upload a Finetune Asset",
        "tags": [
          "Workers AI Finetune"
        ],
        "x-api-token-group": [
          "Workers AI Write"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/models/schema": {
      "get": {
        "description": "Retrieves the input and output JSON schema definition for a Workers AI model.",
        "operationId": "workers-ai-get-model-schema",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "description": "Model Name",
            "in": "query",
            "name": "model",
            "required": true,
            "schema": {
              "description": "Model Name",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "result": {
                      "properties": {
                        "input": {
                          "properties": {
                            "additionalProperties": {
                              "example": true,
                              "type": "boolean"
                            },
                            "description": {
                              "example": "JSON Schema definition for the model's input parameters",
                              "type": "string"
                            },
                            "type": {
                              "example": "object",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "description",
                            "additionalProperties"
                          ],
                          "type": "object"
                        },
                        "output": {
                          "properties": {
                            "additionalProperties": {
                              "example": true,
                              "type": "boolean"
                            },
                            "description": {
                              "example": "JSON Schema definition for the model's output format",
                              "type": "string"
                            },
                            "type": {
                              "example": "object",
                              "type": "string"
                            }
                          },
                          "required": [
                            "type",
                            "description",
                            "additionalProperties"
                          ],
                          "type": "object"
                        }
                      },
                      "required": [
                        "input",
                        "output"
                      ],
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Model Schema"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "example": false,
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "result",
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad Request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Get Model Schema",
        "tags": [
          "Workers AI"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/models/search": {
      "get": {
        "description": "Searches Workers AI models by name or description.",
        "operationId": "workers-ai-search-model",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "in": "query",
            "name": "page",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "Filter by Task Name",
            "in": "query",
            "name": "task",
            "schema": {
              "description": "Filter by Task Name",
              "example": "Text Generation",
              "type": "string"
            }
          },
          {
            "description": "Filter by Author",
            "in": "query",
            "name": "author",
            "schema": {
              "description": "Filter by Author",
              "type": "string"
            }
          },
          {
            "description": "Filter by Source Id",
            "in": "query",
            "name": "source",
            "schema": {
              "description": "Filter by Source Id",
              "type": "number"
            }
          },
          {
            "description": "Filter to hide experimental models",
            "in": "query",
            "name": "hide_experimental",
            "schema": {
              "description": "Filter to hide experimental models",
              "type": "boolean"
            }
          },
          {
            "description": "Search",
            "in": "query",
            "name": "search",
            "schema": {
              "description": "Search",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "messages": {
                      "items": {
                        "type": "string"
                      },
                      "type": "array"
                    },
                    "result": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "result",
                    "errors",
                    "messages"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a list of models"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "success",
                    "errors"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Object not found"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Model Search",
        "tags": [
          "Workers AI"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/run/@cf/ai4bharat/indictrans2-en-indic-1B": {
      "post": {
        "description": "Runs inference on the @cf/ai4bharat/indictrans2-en-indic-1B model.",
        "operationId": "workers-ai-post-run-cf-ai4bharat-indictrans2-en-indic-1B",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "queueRequest",
            "schema": {
              "example": "true",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "example": "tag1,tag2,tag3",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "target_language": {
                    "default": "hin_Deva",
                    "description": "Target langauge to translate to",
                    "enum": [
                      "asm_Beng",
                      "awa_Deva",
                      "ben_Beng",
                      "bho_Deva",
                      "brx_Deva",
                      "doi_Deva",
                      "eng_Latn",
                      "gom_Deva",
                      "gon_Deva",
                      "guj_Gujr",
                      "hin_Deva",
                      "hne_Deva",
                      "kan_Knda",
                      "kas_Arab",
                      "kas_Deva",
                      "kha_Latn",
                      "lus_Latn",
                      "mag_Deva",
                      "mai_Deva",
                      "mal_Mlym",
                      "mar_Deva",
                      "mni_Beng",
                      "mni_Mtei",
                      "npi_Deva",
                      "ory_Orya",
                      "pan_Guru",
                      "san_Deva",
                      "sat_Olck",
                      "snd_Arab",
                      "snd_Deva",
                      "tam_Taml",
                      "tel_Telu",
                      "urd_Arab",
                      "unr_Deva"
                    ],
                    "type": "string"
                  },
                  "text": {
                    "description": "Input text to translate. Can be a single string or a list of strings.",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    ]
                  }
                },
                "required": [
                  "text",
                  "target_language"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Object with user data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "errors",
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Execute @cf/ai4bharat/indictrans2-en-indic-1B model.",
        "tags": [
          "Workers AI Translation"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/run/@cf/ai4bharat/nonomni-indictrans2-en-indic-1b": {
      "post": {
        "description": "Runs inference on the @cf/ai4bharat/nonomni-indictrans2-en-indic-1b model.",
        "operationId": "workers-ai-post-run-cf-ai4bharat-nonomni-indictrans2-en-indic-1b",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "queueRequest",
            "schema": {
              "example": "true",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "example": "tag1,tag2,tag3",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "target_language": {
                    "default": "hin_Deva",
                    "description": "Target langauge to translate to",
                    "enum": [
                      "asm_Beng",
                      "awa_Deva",
                      "ben_Beng",
                      "bho_Deva",
                      "brx_Deva",
                      "doi_Deva",
                      "eng_Latn",
                      "gom_Deva",
                      "gon_Deva",
                      "guj_Gujr",
                      "hin_Deva",
                      "hne_Deva",
                      "kan_Knda",
                      "kas_Arab",
                      "kas_Deva",
                      "kha_Latn",
                      "lus_Latn",
                      "mag_Deva",
                      "mai_Deva",
                      "mal_Mlym",
                      "mar_Deva",
                      "mni_Beng",
                      "mni_Mtei",
                      "npi_Deva",
                      "ory_Orya",
                      "pan_Guru",
                      "san_Deva",
                      "sat_Olck",
                      "snd_Arab",
                      "snd_Deva",
                      "tam_Taml",
                      "tel_Telu",
                      "urd_Arab",
                      "unr_Deva"
                    ],
                    "type": "string"
                  },
                  "text": {
                    "description": "Input text to translate. Can be a single string or a list of strings.",
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "items": {
                          "type": "string"
                        },
                        "type": "array"
                      }
                    ]
                  }
                },
                "required": [
                  "text",
                  "target_language"
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Object with user data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "errors",
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Execute @cf/ai4bharat/nonomni-indictrans2-en-indic-1b model.",
        "tags": [
          "Workers AI Translation"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/run/@cf/aisingapore/gemma-sea-lion-v4-27b-it": {
      "post": {
        "description": "Runs inference on the @cf/aisingapore/gemma-sea-lion-v4-27b-it model.",
        "operationId": "workers-ai-post-run-cf-aisingapore-gemma-sea-lion-v4-27b-it",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "queueRequest",
            "schema": {
              "example": "true",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "example": "tag1,tag2,tag3",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "properties": {
                      "frequency_penalty": {
                        "description": "Decreases the likelihood of the model repeating the same lines verbatim.",
                        "maximum": 2,
                        "minimum": -2,
                        "type": "number"
                      },
                      "lora": {
                        "description": "Name of the LoRA (Low-Rank Adaptation) model to fine-tune the base model.",
                        "type": "string"
                      },
                      "max_tokens": {
                        "default": 2000,
                        "description": "The maximum number of tokens to generate in the response.",
                        "type": "integer"
                      },
                      "presence_penalty": {
                        "description": "Increases the likelihood of the model introducing new topics.",
                        "maximum": 2,
                        "minimum": -2,
                        "type": "number"
                      },
                      "prompt": {
                        "description": "The input text prompt for the model to generate a response.",
                        "minLength": 1,
                        "type": "string"
                      },
                      "raw": {
                        "default": false,
                        "description": "If true, a chat template is not applied and you must adhere to the specific model's expected formatting.",
                        "type": "boolean"
                      },
                      "repetition_penalty": {
                        "description": "Penalty for repeated tokens; higher values discourage repetition.",
                        "maximum": 2,
                        "minimum": 0,
                        "type": "number"
                      },
                      "response_format": {
                        "properties": {
                          "json_schema": {},
                          "type": {
                            "enum": [
                              "json_object",
                              "json_schema"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "JSON Mode",
                        "type": "object"
                      },
                      "seed": {
                        "description": "Random seed for reproducibility of the generation.",
                        "maximum": 9999999999,
                        "minimum": 1,
                        "type": "integer"
                      },
                      "stream": {
                        "default": false,
                        "description": "If true, the response will be streamed back incrementally using SSE, Server Sent Events.",
                        "type": "boolean"
                      },
                      "temperature": {
                        "default": 0.6,
                        "description": "Controls the randomness of the output; higher values produce more random results.",
                        "maximum": 5,
                        "minimum": 0,
                        "type": "number"
                      },
                      "top_k": {
                        "description": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.",
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer"
                      },
                      "top_p": {
                        "description": "Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.",
                        "maximum": 1,
                        "minimum": 0.001,
                        "type": "number"
                      }
                    },
                    "required": [
                      "prompt"
                    ],
                    "title": "Prompt"
                  },
                  {
                    "properties": {
                      "frequency_penalty": {
                        "description": "Decreases the likelihood of the model repeating the same lines verbatim.",
                        "maximum": 2,
                        "minimum": -2,
                        "type": "number"
                      },
                      "functions": {
                        "items": {
                          "properties": {
                            "code": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "name",
                            "code"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "max_tokens": {
                        "default": 2000,
                        "description": "The maximum number of tokens to generate in the response.",
                        "type": "integer"
                      },
                      "messages": {
                        "description": "An array of message objects representing the conversation history.",
                        "items": {
                          "properties": {
                            "content": {
                              "oneOf": [
                                {
                                  "description": "The content of the message as a string.",
                                  "type": "string"
                                },
                                {
                                  "description": "Array of text content parts.",
                                  "items": {
                                    "properties": {
                                      "text": {
                                        "description": "Text content",
                                        "type": "string"
                                      },
                                      "type": {
                                        "description": "Type of the content (text)",
                                        "type": "string"
                                      }
                                    },
                                    "type": "object"
                                  },
                                  "type": "array"
                                }
                              ]
                            },
                            "role": {
                              "description": "The role of the message sender (e.g., 'user', 'assistant', 'system', 'tool').",
                              "type": "string"
                            }
                          },
                          "required": [
                            "role",
                            "content"
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "presence_penalty": {
                        "description": "Increases the likelihood of the model introducing new topics.",
                        "maximum": 2,
                        "minimum": -2,
                        "type": "number"
                      },
                      "raw": {
                        "default": false,
                        "description": "If true, a chat template is not applied and you must adhere to the specific model's expected formatting.",
                        "type": "boolean"
                      },
                      "repetition_penalty": {
                        "description": "Penalty for repeated tokens; higher values discourage repetition.",
                        "maximum": 2,
                        "minimum": 0,
                        "type": "number"
                      },
                      "response_format": {
                        "properties": {
                          "json_schema": {},
                          "type": {
                            "enum": [
                              "json_object",
                              "json_schema"
                            ],
                            "type": "string"
                          }
                        },
                        "title": "JSON Mode",
                        "type": "object"
                      },
                      "seed": {
                        "description": "Random seed for reproducibility of the generation.",
                        "maximum": 9999999999,
                        "minimum": 1,
                        "type": "integer"
                      },
                      "stream": {
                        "default": false,
                        "description": "If true, the response will be streamed back incrementally using SSE, Server Sent Events.",
                        "type": "boolean"
                      },
                      "temperature": {
                        "default": 0.6,
                        "description": "Controls the randomness of the output; higher values produce more random results.",
                        "maximum": 5,
                        "minimum": 0,
                        "type": "number"
                      },
                      "tools": {
                        "description": "A list of tools available for the assistant to use.",
                        "items": {
                          "oneOf": [
                            {
                              "properties": {
                                "description": {
                                  "description": "A brief description of what the tool does.",
                                  "type": "string"
                                },
                                "name": {
                                  "description": "The name of the tool. More descriptive the better.",
                                  "type": "string"
                                },
                                "parameters": {
                                  "description": "Schema defining the parameters accepted by the tool.",
                                  "properties": {
                                    "properties": {
                                      "additionalProperties": {
                                        "properties": {
                                          "description": {
                                            "description": "A description of the expected parameter.",
                                            "type": "string"
                                          },
                                          "type": {
                                            "description": "The data type of the parameter.",
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "description"
                                        ],
                                        "type": "object"
                                      },
                                      "description": "Definitions of each parameter.",
                                      "type": "object"
                                    },
                                    "required": {
                                      "description": "List of required parameter names.",
                                      "items": {
                                        "type": "string"
                                      },
                                      "type": "array"
                                    },
                                    "type": {
                                      "description": "The type of the parameters object (usually 'object').",
                                      "type": "string"
                                    }
                                  },
                                  "required": [
                                    "type",
                                    "properties"
                                  ],
                                  "type": "object"
                                }
                              },
                              "required": [
                                "name",
                                "description",
                                "parameters"
                              ]
                            },
                            {
                              "properties": {
                                "function": {
                                  "description": "Details of the function tool.",
                                  "properties": {
                                    "description": {
                                      "description": "A brief description of what the function does.",
                                      "type": "string"
                                    },
                                    "name": {
                                      "description": "The name of the function.",
                                      "type": "string"
                                    },
                                    "parameters": {
                                      "description": "Schema defining the parameters accepted by the function.",
                                      "properties": {
                                        "properties": {
                                          "additionalProperties": {
                                            "properties": {
                                              "description": {
                                                "description": "A description of the expected parameter.",
                                                "type": "string"
                                              },
                                              "type": {
                                                "description": "The data type of the parameter.",
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "description"
                                            ],
                                            "type": "object"
                                          },
                                          "description": "Definitions of each parameter.",
                                          "type": "object"
                                        },
                                        "required": {
                                          "description": "List of required parameter names.",
                                          "items": {
                                            "type": "string"
                                          },
                                          "type": "array"
                                        },
                                        "type": {
                                          "description": "The type of the parameters object (usually 'object').",
                                          "type": "string"
                                        }
                                      },
                                      "required": [
                                        "type",
                                        "properties"
                                      ],
                                      "type": "object"
                                    }
                                  },
                                  "required": [
                                    "name",
                                    "description",
                                    "parameters"
                                  ],
                                  "type": "object"
                                },
                                "type": {
                                  "description": "Specifies the type of tool (e.g., 'function').",
                                  "type": "string"
                                }
                              },
                              "required": [
                                "type",
                                "function"
                              ]
                            }
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      },
                      "top_k": {
                        "description": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.",
                        "maximum": 50,
                        "minimum": 1,
                        "type": "integer"
                      },
                      "top_p": {
                        "description": "Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.",
                        "maximum": 1,
                        "minimum": 0.001,
                        "type": "number"
                      }
                    },
                    "required": [
                      "messages"
                    ],
                    "title": "Messages"
                  },
                  {
                    "properties": {
                      "requests": {
                        "items": {
                          "oneOf": [
                            {
                              "properties": {
                                "frequency_penalty": {
                                  "description": "Decreases the likelihood of the model repeating the same lines verbatim.",
                                  "maximum": 2,
                                  "minimum": -2,
                                  "type": "number"
                                },
                                "lora": {
                                  "description": "Name of the LoRA (Low-Rank Adaptation) model to fine-tune the base model.",
                                  "type": "string"
                                },
                                "max_tokens": {
                                  "default": 256,
                                  "description": "The maximum number of tokens to generate in the response.",
                                  "type": "integer"
                                },
                                "presence_penalty": {
                                  "description": "Increases the likelihood of the model introducing new topics.",
                                  "maximum": 2,
                                  "minimum": -2,
                                  "type": "number"
                                },
                                "prompt": {
                                  "description": "The input text prompt for the model to generate a response.",
                                  "minLength": 1,
                                  "type": "string"
                                },
                                "raw": {
                                  "default": false,
                                  "description": "If true, a chat template is not applied and you must adhere to the specific model's expected formatting.",
                                  "type": "boolean"
                                },
                                "repetition_penalty": {
                                  "description": "Penalty for repeated tokens; higher values discourage repetition.",
                                  "maximum": 2,
                                  "minimum": 0,
                                  "type": "number"
                                },
                                "response_format": {
                                  "properties": {
                                    "json_schema": {},
                                    "type": {
                                      "enum": [
                                        "json_object",
                                        "json_schema"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "title": "JSON Mode",
                                  "type": "object"
                                },
                                "seed": {
                                  "description": "Random seed for reproducibility of the generation.",
                                  "maximum": 9999999999,
                                  "minimum": 1,
                                  "type": "integer"
                                },
                                "stream": {
                                  "default": false,
                                  "description": "If true, the response will be streamed back incrementally using SSE, Server Sent Events.",
                                  "type": "boolean"
                                },
                                "temperature": {
                                  "default": 0.6,
                                  "description": "Controls the randomness of the output; higher values produce more random results.",
                                  "maximum": 5,
                                  "minimum": 0,
                                  "type": "number"
                                },
                                "top_k": {
                                  "description": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.",
                                  "maximum": 50,
                                  "minimum": 1,
                                  "type": "integer"
                                },
                                "top_p": {
                                  "description": "Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.",
                                  "maximum": 1,
                                  "minimum": 0.001,
                                  "type": "number"
                                }
                              },
                              "required": [
                                "prompt"
                              ],
                              "title": "Prompt"
                            },
                            {
                              "properties": {
                                "frequency_penalty": {
                                  "description": "Decreases the likelihood of the model repeating the same lines verbatim.",
                                  "maximum": 2,
                                  "minimum": -2,
                                  "type": "number"
                                },
                                "functions": {
                                  "items": {
                                    "properties": {
                                      "code": {
                                        "type": "string"
                                      },
                                      "name": {
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "name",
                                      "code"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "max_tokens": {
                                  "default": 256,
                                  "description": "The maximum number of tokens to generate in the response.",
                                  "type": "integer"
                                },
                                "messages": {
                                  "description": "An array of message objects representing the conversation history.",
                                  "items": {
                                    "properties": {
                                      "content": {
                                        "oneOf": [
                                          {
                                            "description": "The content of the message as a string.",
                                            "type": "string"
                                          },
                                          {
                                            "description": "Array of text content parts.",
                                            "items": {
                                              "properties": {
                                                "text": {
                                                  "description": "Text content",
                                                  "type": "string"
                                                },
                                                "type": {
                                                  "description": "Type of the content (text)",
                                                  "type": "string"
                                                }
                                              },
                                              "type": "object"
                                            },
                                            "type": "array"
                                          }
                                        ]
                                      },
                                      "role": {
                                        "description": "The role of the message sender (e.g., 'user', 'assistant', 'system', 'tool').",
                                        "type": "string"
                                      }
                                    },
                                    "required": [
                                      "role",
                                      "content"
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "presence_penalty": {
                                  "description": "Increases the likelihood of the model introducing new topics.",
                                  "maximum": 2,
                                  "minimum": -2,
                                  "type": "number"
                                },
                                "raw": {
                                  "default": false,
                                  "description": "If true, a chat template is not applied and you must adhere to the specific model's expected formatting.",
                                  "type": "boolean"
                                },
                                "repetition_penalty": {
                                  "description": "Penalty for repeated tokens; higher values discourage repetition.",
                                  "maximum": 2,
                                  "minimum": 0,
                                  "type": "number"
                                },
                                "response_format": {
                                  "properties": {
                                    "json_schema": {},
                                    "type": {
                                      "enum": [
                                        "json_object",
                                        "json_schema"
                                      ],
                                      "type": "string"
                                    }
                                  },
                                  "title": "JSON Mode",
                                  "type": "object"
                                },
                                "seed": {
                                  "description": "Random seed for reproducibility of the generation.",
                                  "maximum": 9999999999,
                                  "minimum": 1,
                                  "type": "integer"
                                },
                                "stream": {
                                  "default": false,
                                  "description": "If true, the response will be streamed back incrementally using SSE, Server Sent Events.",
                                  "type": "boolean"
                                },
                                "temperature": {
                                  "default": 0.6,
                                  "description": "Controls the randomness of the output; higher values produce more random results.",
                                  "maximum": 5,
                                  "minimum": 0,
                                  "type": "number"
                                },
                                "tools": {
                                  "description": "A list of tools available for the assistant to use.",
                                  "items": {
                                    "oneOf": [
                                      {
                                        "properties": {
                                          "description": {
                                            "description": "A brief description of what the tool does.",
                                            "type": "string"
                                          },
                                          "name": {
                                            "description": "The name of the tool. More descriptive the better.",
                                            "type": "string"
                                          },
                                          "parameters": {
                                            "description": "Schema defining the parameters accepted by the tool.",
                                            "properties": {
                                              "properties": {
                                                "additionalProperties": {
                                                  "properties": {
                                                    "description": {
                                                      "description": "A description of the expected parameter.",
                                                      "type": "string"
                                                    },
                                                    "type": {
                                                      "description": "The data type of the parameter.",
                                                      "type": "string"
                                                    }
                                                  },
                                                  "required": [
                                                    "type",
                                                    "description"
                                                  ],
                                                  "type": "object"
                                                },
                                                "description": "Definitions of each parameter.",
                                                "type": "object"
                                              },
                                              "required": {
                                                "description": "List of required parameter names.",
                                                "items": {
                                                  "type": "string"
                                                },
                                                "type": "array"
                                              },
                                              "type": {
                                                "description": "The type of the parameters object (usually 'object').",
                                                "type": "string"
                                              }
                                            },
                                            "required": [
                                              "type",
                                              "properties"
                                            ],
                                            "type": "object"
                                          }
                                        },
                                        "required": [
                                          "name",
                                          "description",
                                          "parameters"
                                        ]
                                      },
                                      {
                                        "properties": {
                                          "function": {
                                            "description": "Details of the function tool.",
                                            "properties": {
                                              "description": {
                                                "description": "A brief description of what the function does.",
                                                "type": "string"
                                              },
                                              "name": {
                                                "description": "The name of the function.",
                                                "type": "string"
                                              },
                                              "parameters": {
                                                "description": "Schema defining the parameters accepted by the function.",
                                                "properties": {
                                                  "properties": {
                                                    "additionalProperties": {
                                                      "properties": {
                                                        "description": {
                                                          "description": "A description of the expected parameter.",
                                                          "type": "string"
                                                        },
                                                        "type": {
                                                          "description": "The data type of the parameter.",
                                                          "type": "string"
                                                        }
                                                      },
                                                      "required": [
                                                        "type",
                                                        "description"
                                                      ],
                                                      "type": "object"
                                                    },
                                                    "description": "Definitions of each parameter.",
                                                    "type": "object"
                                                  },
                                                  "required": {
                                                    "description": "List of required parameter names.",
                                                    "items": {
                                                      "type": "string"
                                                    },
                                                    "type": "array"
                                                  },
                                                  "type": {
                                                    "description": "The type of the parameters object (usually 'object').",
                                                    "type": "string"
                                                  }
                                                },
                                                "required": [
                                                  "type",
                                                  "properties"
                                                ],
                                                "type": "object"
                                              }
                                            },
                                            "required": [
                                              "name",
                                              "description",
                                              "parameters"
                                            ],
                                            "type": "object"
                                          },
                                          "type": {
                                            "description": "Specifies the type of tool (e.g., 'function').",
                                            "type": "string"
                                          }
                                        },
                                        "required": [
                                          "type",
                                          "function"
                                        ]
                                      }
                                    ],
                                    "type": "object"
                                  },
                                  "type": "array"
                                },
                                "top_k": {
                                  "description": "Limits the AI to choose from the top 'k' most probable words. Lower values make responses more focused; higher values introduce more variety and potential surprises.",
                                  "maximum": 50,
                                  "minimum": 1,
                                  "type": "integer"
                                },
                                "top_p": {
                                  "description": "Adjusts the creativity of the AI's responses by controlling how many possible words it considers. Lower values make outputs more predictable; higher values allow for more varied and creative responses.",
                                  "maximum": 1,
                                  "minimum": 0.001,
                                  "type": "number"
                                }
                              },
                              "required": [
                                "messages"
                              ],
                              "title": "Messages"
                            }
                          ],
                          "type": "object"
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "requests"
                    ],
                    "title": "Async Batch",
                    "type": "object"
                  }
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              },
              "text/event-stream": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Object with user data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "errors",
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Execute @cf/aisingapore/gemma-sea-lion-v4-27b-it model.",
        "tags": [
          "Workers AI Text Generation"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/run/@cf/baai/bge-base-en-v1.5": {
      "post": {
        "description": "Runs inference on the @cf/baai/bge-base-en-v1.5 model.",
        "operationId": "workers-ai-post-run-cf-baai-bge-base-en-v1-5",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "queueRequest",
            "schema": {
              "example": "true",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "example": "tag1,tag2,tag3",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "properties": {
                      "pooling": {
                        "default": "mean",
                        "description": "The pooling method used in the embedding process. `cls` pooling will generate more accurate embeddings on larger inputs - however, embeddings created with cls pooling are not compatible with embeddings generated with mean pooling. The default pooling method is `mean` in order for this to not be a breaking change, but we highly suggest using the new `cls` pooling for better accuracy.",
                        "enum": [
                          "mean",
                          "cls"
                        ],
                        "type": "string"
                      },
                      "text": {
                        "oneOf": [
                          {
                            "description": "The text to embed",
                            "minLength": 1,
                            "type": "string"
                          },
                          {
                            "description": "Batch of text values to embed",
                            "items": {
                              "description": "The text to embed",
                              "minLength": 1,
                              "type": "string"
                            },
                            "maxItems": 100,
                            "type": "array"
                          }
                        ]
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  {
                    "properties": {
                      "requests": {
                        "description": "Batch of the embeddings requests to run using async-queue",
                        "items": {
                          "properties": {
                            "pooling": {
                              "default": "mean",
                              "description": "The pooling method used in the embedding process. `cls` pooling will generate more accurate embeddings on larger inputs - however, embeddings created with cls pooling are not compatible with embeddings generated with mean pooling. The default pooling method is `mean` in order for this to not be a breaking change, but we highly suggest using the new `cls` pooling for better accuracy.",
                              "enum": [
                                "mean",
                                "cls"
                              ],
                              "type": "string"
                            },
                            "text": {
                              "oneOf": [
                                {
                                  "description": "The text to embed",
                                  "minLength": 1,
                                  "type": "string"
                                },
                                {
                                  "description": "Batch of text values to embed",
                                  "items": {
                                    "description": "The text to embed",
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "maxItems": 100,
                                  "type": "array"
                                }
                              ]
                            }
                          },
                          "required": [
                            "text"
                          ]
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "requests"
                    ]
                  }
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Object with user data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "code",
                          "message"
                        ],
                        "type": "object"
                      },
                      "type": "array"
                    },
                    "result": {
                      "type": "object"
                    },
                    "success": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "errors",
                    "success",
                    "result"
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Bad request"
          }
        },
        "security": [
          {
            "api_token": []
          },
          {
            "api_email": [],
            "api_key": []
          }
        ],
        "summary": "Execute @cf/baai/bge-base-en-v1.5 model.",
        "tags": [
          "Workers AI Text Embeddings"
        ],
        "x-api-token-group": [
          "Workers AI Write",
          "Workers AI Read"
        ],
        "x-cfPermissionsRequired": {
          "enum": [
            "com.cloudflare.api.account.ai"
          ]
        },
        "x-cfPlanAvailability": {
          "business": true,
          "enterprise": true,
          "free": true,
          "pro": true
        }
      }
    },
    "/accounts/{account_id}/ai/run/@cf/baai/bge-large-en-v1.5": {
      "post": {
        "description": "Runs inference on the @cf/baai/bge-large-en-v1.5 model.",
        "operationId": "workers-ai-post-run-cf-baai-bge-large-en-v1-5",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "queueRequest",
            "schema": {
              "example": "true",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "tags",
            "schema": {
              "example": "tag1,tag2,tag3",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "properties": {
                      "pooling": {
                        "default": "mean",
                        "description": "The pooling method used in the embedding process. `cls` pooling will generate more accurate embeddings on larger inputs - however, embeddings created with cls pooling are not compatible with embeddings generated with mean pooling. The default pooling method is `mean` in order for this to not be a breaking change, but we highly suggest using the new `cls` pooling for better accuracy.",
                        "enum": [
                          "mean",
                          "cls"
                        ],
                        "type": "string"
                      },
                      "text": {
                        "oneOf": [
                          {
                            "description": "The text to embed",
                            "minLength": 1,
                            "type": "string"
                          },
                          {
                            "description": "Batch of text values to embed",
                            "items": {
                              "description": "The text to embed",
                              "minLength": 1,
                              "type": "string"
                            },
                            "maxItems": 100,
                            "type": "array"
                          }
                        ]
                      }
                    },
                    "required": [
                      "text"
                    ]
                  },
                  {
                    "properties": {
                      "requests": {
                        "description": "Batch of the embeddings requests to run using async-queue",
                        "items": {
                          "properties": {
                            "pooling": {
                              "default": "mean",
                              "description": "The pooling method used in the embedding process. `cls` pooling will generate more accurate embeddings on larger inputs - however, embeddings created with cls pooling are not compatible with embeddings generated with mean pooling. The default pooling method is `mean` in order for this to not be a breaking change, but we highly suggest using the new `cls` pooling for better accuracy.",
                              "enum": [
                                "mean",
                                "cls"
                              ],
                              "type": "string"
                            },
                            "text": {
                              "oneOf": [
                                {
                                  "description": "The text to embed",
                                  "minLength": 1,
                                  "type": "string"
                                },
                                {
                                  "description": "Batch of text values to embed",
                                  "items": {
                                    "description": "The text to embed",
                                    "minLength": 1,
                                    "type": "string"
                                  },
                                  "maxItems": 100,
                                  "type": "array"
                                }
                              ]
                            }
                          },
                          "required": [
                            "text"
                          ]
                        },
                        "type": "array"
                      }
                    },
                    "required": [
                      "requests"
                    ]
                  }
                ],
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            },
            "description": "Object with user data."
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "properties": {
                    "errors": {
                      "items": {
                        "properties": {
                          "code": {
                            "type": "string"
                          },
                          "message": {
[...]
