{
  "openapi": "3.0.3",
  "info": {
    "title": "Cloudflare API - Gateway",
    "version": "4.0.0"
  },
  "servers": [
    {
      "description": "Client API",
      "url": "https://api.cloudflare.com/client/v4"
    }
  ],
  "security": [
    {
      "api_email": [],
      "api_key": []
    },
    {
      "api_token": []
    },
    {
      "user_service_key": []
    }
  ],
  "paths": {
    "/accounts/{account_id}/gateway": {
      "get": {
        "description": "Retrieve information about the current Zero Trust account.",
        "operationId": "zero-trust-accounts-get-zero-trust-account-information",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_gateway_account"
                }
              }
            },
            "description": "Zero Trust account information response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_gateway_account"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Zero Trust account information response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Zero Trust account information",
        "tags": [
          "Zero Trust accounts"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Create a Zero Trust account for an existing Cloudflare account.",
        "operationId": "zero-trust-accounts-create-zero-trust-account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_gateway_account"
                }
              }
            },
            "description": "Create Zero Trust account response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_gateway_account"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Create Zero Trust account response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Zero Trust account",
        "tags": [
          "Zero Trust accounts"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/gateway/app_types": {
      "get": {
        "description": "List all application and application type mappings.",
        "operationId": "zero-trust-gateway-application-and-application-type-mappings-list-application-and-application-type-mappings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Provide the identifier string.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_app-types_components-schemas-response_collection"
                }
              }
            },
            "description": "List application and application type mappings response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_app-types_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "List application and application type mappings response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List application and application type mappings",
        "tags": [
          "Zero Trust Gateway application and application type mappings"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/gateway/apps/review_status": {
      "get": {
        "description": "Retrieve the statuses of your applications.",
        "operationId": "zero-trust-applications-review-status-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Provide the identifier string.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_applications_review_status_response"
                }
              }
            },
            "description": "List applications review status response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_applications_review_status_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List applications review status failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List applications review statuses",
        "tags": [
          "Zero Trust applications review status"
        ]
      },
      "put": {
        "description": "Update the statuses of your applications.",
        "operationId": "zero-trust-applications-review-status-update",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Provide the identifier string.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "approved_apps": {
                    "$ref": "#/components/schemas/zero-trust-gateway_approved_apps"
                  },
                  "in_review_apps": {
                    "$ref": "#/components/schemas/zero-trust-gateway_in_review_apps"
                  },
                  "unapproved_apps": {
                    "$ref": "#/components/schemas/zero-trust-gateway_unapproved_apps"
                  }
                },
                "required": [
                  "approved_apps",
                  "unapproved_apps",
                  "in_review_apps"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_applications_review_status_response"
                }
              }
            },
            "description": "Update applications review status response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_applications_review_status_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update applications review status failure response."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update applications review statuses",
        "tags": [
          "Zero Trust applications review status"
        ]
      }
    },
    "/accounts/{account_id}/gateway/audit_ssh_settings": {
      "get": {
        "description": "Retrieve all Zero Trust Audit SSH and SSH with Access for Infrastructure settings for an account.",
        "operationId": "zero-trust-get-audit-ssh-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_audit_ssh_settings_components-schemas-single_response"
                }
              }
            },
            "description": "Get Zero Trust SSH settings response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_audit_ssh_settings_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Get Zero Trust SSH settings response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Zero Trust SSH settings",
        "tags": [
          "Zero Trust SSH Settings"
        ]
      },
      "put": {
        "description": "Update Zero Trust Audit SSH and SSH with Access for Infrastructure settings for an account.",
        "operationId": "zero-trust-update-audit-ssh-settings",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "public_key": {
                    "description": "Provide the Base64-encoded HPKE public key that encrypts SSH session logs. See https://developers.cloudflare.com/cloudflare-one/connections/connect-networks/use-cases/ssh/ssh-infrastructure-access/#enable-ssh-command-logging.",
                    "example": "1pyl6I1tL7xfJuFYVzXlUW8uXXlpxegHXBzGCBKaSFA=",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "public_key"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_audit_ssh_settings_components-schemas-single_response"
                }
              }
            },
            "description": "Update Zero Trust SSH settings response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_audit_ssh_settings_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update Zero Trust SSH settings response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Zero Trust SSH settings",
        "tags": [
          "Zero Trust SSH Settings"
        ]
      }
    },
    "/accounts/{account_id}/gateway/audit_ssh_settings/rotate_seed": {
      "post": {
        "description": "Rotate the SSH account seed that generates the host key identity when connecting through the Cloudflare SSH Proxy.",
        "operationId": "zero-trust-rotate-ssh-account-seed",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_audit_ssh_settings_components-schemas-single_response"
                }
              }
            },
            "description": "Rotate Zero Trust SSH account seed response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_audit_ssh_settings_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Rotate Zero Trust SSH account seed response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Rotate Zero Trust SSH account seed",
        "tags": [
          "Zero Trust SSH Settings"
        ]
      }
    },
    "/accounts/{account_id}/gateway/categories": {
      "get": {
        "description": "List all categories.",
        "operationId": "zero-trust-gateway-categories-list-categories",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "description": "Provide the identifier string.",
              "example": "023e105f4ecef8ad9ca31a8372d0c353",
              "maxLength": 32,
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_categories_components-schemas-response_collection"
                }
              }
            },
            "description": "List categories response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_categories_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List categories response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List categories",
        "tags": [
          "Zero Trust Gateway categories"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/gateway/certificates": {
      "get": {
        "description": "List all Zero Trust certificates for an account.",
        "operationId": "zero-trust-certificates-list-zero-trust-certificates",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_response_collection"
                }
              }
            },
            "description": "Lists Zero Trust certificates response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Lists Zero Trust certificates response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Zero Trust certificates",
        "tags": [
          "Zero Trust certificates"
        ]
      },
      "post": {
        "description": "Create a new Zero Trust certificate.",
        "operationId": "zero-trust-certificates-create-zero-trust-certificate",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zero-trust-gateway_generate-cert-request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                }
              }
            },
            "description": "Creates Zero Trust certificate response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Creates Zero Trust certificate response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Zero Trust certificate",
        "tags": [
          "Zero Trust certificates"
        ]
      }
    },
    "/accounts/{account_id}/gateway/certificates/{certificate_id}": {
      "delete": {
        "description": "Delete a gateway-managed Zero Trust certificate. You must deactivate the certificate from the edge (inactive) before deleting it.",
        "operationId": "zero-trust-certificates-delete-zero-trust-certificate",
        "parameters": [
          {
            "in": "path",
            "name": "certificate_id",
            "required": true,
            "schema": {
              "description": "Identify the certificate with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                }
              }
            },
            "description": "Deletes Zero Trust certificate response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Deletes Zero Trust certificate response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Zero Trust certificate",
        "tags": [
          "Zero Trust certificates"
        ]
      },
      "get": {
        "description": "Get a single Zero Trust certificate.",
        "operationId": "zero-trust-certificates-zero-trust-certificate-details",
        "parameters": [
          {
            "in": "path",
            "name": "certificate_id",
            "required": true,
            "schema": {
              "description": "Identify the certificate with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                }
              }
            },
            "description": "Gets Zero Trust certificate details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gets Zero Trust certificate details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Zero Trust certificate details",
        "tags": [
          "Zero Trust certificates"
        ]
      }
    },
    "/accounts/{account_id}/gateway/certificates/{certificate_id}/activate": {
      "post": {
        "description": "Bind a single Zero Trust certificate to the edge.",
        "operationId": "zero-trust-certificates-activate-zero-trust-certificate",
        "parameters": [
          {
            "in": "path",
            "name": "certificate_id",
            "required": true,
            "schema": {
              "description": "Identify the certificate with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                }
              }
            },
            "description": "Activates Zero Trust certificate details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Activates Zero Trust certificate details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Activate a Zero Trust certificate",
        "tags": [
          "Zero Trust certificates"
        ]
      }
    },
    "/accounts/{account_id}/gateway/certificates/{certificate_id}/deactivate": {
      "post": {
        "description": "Unbind a single Zero Trust certificate from the edge.",
        "operationId": "zero-trust-certificates-deactivate-zero-trust-certificate",
        "parameters": [
          {
            "in": "path",
            "name": "certificate_id",
            "required": true,
            "schema": {
              "description": "Identify the certificate with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "201": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                }
              }
            },
            "description": "Deactivate Zero Trust certificate details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Deactivate Zero Trust certificate details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Deactivate a Zero Trust certificate",
        "tags": [
          "Zero Trust certificates"
        ]
      }
    },
    "/accounts/{account_id}/gateway/configuration": {
      "get": {
        "description": "Retrieve the current Zero Trust account configuration.",
        "operationId": "zero-trust-accounts-get-zero-trust-account-configuration",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_gateway_account_config"
                }
              }
            },
            "description": "Zero Trust account configuration response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_gateway_account_config"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Zero Trust account configuration response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Zero Trust account configuration",
        "tags": [
          "Zero Trust accounts"
        ]
      },
      "patch": {
        "description": "Update (PATCH) a single subcollection of settings such as `antivirus`, `tls_decrypt`, `activity_log`, `block_page`, `browser_isolation`, `fips`, `body_scanning`, or `certificate` without updating the entire configuration object. This endpoint returns an error if any settings collection lacks proper configuration.",
        "operationId": "zero-trust-accounts-patch-zero-trust-account-configuration",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zero-trust-gateway_gateway-account-settings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_gateway_account_config"
                }
              }
            },
            "description": "Zero Trust account configuration response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_gateway_account_config"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Zero Trust account configuration response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch Zero Trust account configuration",
        "tags": [
          "Zero Trust accounts"
        ]
      },
      "put": {
        "description": "Update the current Zero Trust account configuration.",
        "operationId": "zero-trust-accounts-update-zero-trust-account-configuration.",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zero-trust-gateway_gateway-account-settings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_gateway_account_config"
                }
              }
            },
            "description": "Zero Trust account configuration response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_gateway_account_config"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Zero Trust account configuration response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Zero Trust account configuration",
        "tags": [
          "Zero Trust accounts"
        ]
      }
    },
    "/accounts/{account_id}/gateway/lists": {
      "get": {
        "description": "Fetch all Zero Trust lists for an account.",
        "operationId": "zero-trust-lists-list-zero-trust-lists",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "query",
            "name": "type",
            "schema": {
              "description": "Specify the list type.",
              "enum": [
                "SERIAL",
                "URL",
                "DOMAIN",
                "EMAIL",
                "IP",
                "CATEGORY",
                "LOCATION",
                "DEVICE"
              ],
              "example": "SERIAL",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_schemas-response_collection"
                }
              }
            },
            "description": "List Zero Trust lists response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "List Zero Trust lists response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Zero Trust lists",
        "tags": [
          "Zero Trust lists"
        ]
      },
      "post": {
        "description": "Creates a new Zero Trust list.",
        "operationId": "zero-trust-lists-create-zero-trust-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "Provide the list description.",
                    "example": "The serial numbers for administrators",
                    "type": "string",
                    "x-auditable": true,
                    "x-stainless-terraform-configurability": "computed_optional"
                  },
                  "items": {
                    "$ref": "#/components/schemas/zero-trust-gateway_items-input"
                  },
                  "name": {
                    "description": "Specify the list name.",
                    "example": "Admin Serial Numbers",
                    "type": "string",
                    "x-auditable": true
                  },
                  "type": {
                    "description": "Specify the list type.",
                    "enum": [
                      "SERIAL",
                      "URL",
                      "DOMAIN",
                      "EMAIL",
                      "IP",
                      "CATEGORY",
                      "LOCATION",
                      "DEVICE"
                    ],
                    "example": "SERIAL",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "name",
                  "type"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_single_response_with_list_items"
                }
              }
            },
            "description": "Create Zero Trust list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_single_response_with_list_items"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Create Zero Trust list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create Zero Trust list",
        "tags": [
          "Zero Trust lists"
        ]
      }
    },
    "/accounts/{account_id}/gateway/lists/{list_id}": {
      "delete": {
        "description": "Deletes a Zero Trust list.",
        "operationId": "zero-trust-lists-delete-zero-trust-list",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "Identify the API resource with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                }
              }
            },
            "description": "Delete Zero Trust list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Delete Zero Trust list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete Zero Trust list",
        "tags": [
          "Zero Trust lists"
        ]
      },
      "get": {
        "description": "Fetch a single Zero Trust list.",
        "operationId": "zero-trust-lists-zero-trust-list-details",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "Identify the API resource with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_list_single_response"
                }
              }
            },
            "description": "Get Zero Trust list details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_list_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Get Zero Trust list details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Zero Trust list details",
        "tags": [
          "Zero Trust lists"
        ]
      },
      "patch": {
        "description": "Appends or removes an item from a configured Zero Trust list.",
        "operationId": "zero-trust-lists-patch-zero-trust-list",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "Identify the API resource with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "append": {
                    "$ref": "#/components/schemas/zero-trust-gateway_items-input"
                  },
                  "remove": {
                    "description": "Lists of item values you want to remove.",
                    "items": {
                      "description": "Specify the item value.",
                      "example": "8GE8721REF",
                      "type": "string",
                      "x-auditable": true
                    },
                    "type": "array"
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_list_single_response"
                }
              }
            },
            "description": "Patch Zero Trust list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_list_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Patch Zero Trust list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Patch Zero Trust list.",
        "tags": [
          "Zero Trust lists"
        ]
      },
      "put": {
        "description": "Updates a configured Zero Trust list. Skips updating list items if not included in the payload. A non empty list items will overwrite the existing list.",
        "operationId": "zero-trust-lists-update-zero-trust-list",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "Identify the API resource with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "description": {
                    "description": "Provide the list description.",
                    "example": "The serial numbers for administrators",
                    "type": "string",
                    "x-auditable": true,
                    "x-stainless-terraform-configurability": "computed_optional"
                  },
                  "items": {
                    "$ref": "#/components/schemas/zero-trust-gateway_items-input"
                  },
                  "name": {
                    "description": "Specify the list name.",
                    "example": "Admin Serial Numbers",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_list_single_response"
                }
              }
            },
            "description": "Update Zero Trust list response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_list_single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update Zero Trust list response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Zero Trust list",
        "tags": [
          "Zero Trust lists"
        ]
      }
    },
    "/accounts/{account_id}/gateway/lists/{list_id}/items": {
      "get": {
        "description": "Fetch all items in a single Zero Trust list.",
        "operationId": "zero-trust-lists-zero-trust-list-items",
        "parameters": [
          {
            "in": "path",
            "name": "list_id",
            "required": true,
            "schema": {
              "description": "Identify the API resource with a UUID.",
              "example": "f174e90a-fafe-4643-bbbc-4a0ed4fc8415",
              "maxLength": 36,
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_list_item_response_collection"
                }
              }
            },
            "description": "Get Zero Trust list items response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_list_item_response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Get Zero Trust list items response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Zero Trust list items",
        "tags": [
          "Zero Trust lists"
        ]
      }
    },
    "/accounts/{account_id}/gateway/locations": {
      "get": {
        "description": "List Zero Trust Gateway locations for an account.",
        "operationId": "zero-trust-gateway-locations-list-zero-trust-gateway-locations",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_components-schemas-response_collection"
                }
              }
            },
            "description": "Lists Zero Trust Gateway locations response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Lists Zero Trust Gateway locations response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List Zero Trust Gateway locations",
        "tags": [
          "Zero Trust Gateway locations"
        ],
        "x-api-token-group": [
          "Cloudflare Zero Trust Secure DNS Locations Write",
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Create a new Zero Trust Gateway location.",
        "operationId": "zero-trust-gateway-locations-create-zero-trust-gateway-location",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "client_default": {
                    "$ref": "#/components/schemas/zero-trust-gateway_client-default"
                  },
                  "dns_destination_ips_id": {
                    "description": "Specify the identifier of the pair of IPv4 addresses assigned to this location. When creating a location, if this field is absent or set to null, the pair of shared IPv4 addresses (0e4a32c6-6fb8-4858-9296-98f51631e8e6) is auto-assigned. When updating a location, if this field is absent or set to null, the pre-assigned pair remains unchanged.",
                    "example": "0e4a32c6-6fb8-4858-9296-98f51631e8e6",
                    "type": "string",
                    "x-auditable": true,
                    "x-stainless-terraform-configurability": "computed_optional"
                  },
                  "ecs_support": {
                    "$ref": "#/components/schemas/zero-trust-gateway_ecs-support"
                  },
                  "endpoints": {
                    "$ref": "#/components/schemas/zero-trust-gateway_endpoints"
                  },
                  "name": {
                    "description": "Specify the location name.",
                    "example": "Austin Office Location",
                    "type": "string",
                    "x-auditable": true
                  },
                  "networks": {
                    "$ref": "#/components/schemas/zero-trust-gateway_ipv4_networks"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_schemas-single_response"
                }
              }
            },
            "description": "Creates a Zero Trust Gateway location response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Creates a Zero Trust Gateway location response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a Zero Trust Gateway location",
        "tags": [
          "Zero Trust Gateway locations"
        ],
        "x-api-token-group": [
          "Cloudflare Zero Trust Secure DNS Locations Write",
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/gateway/locations/{location_id}": {
      "delete": {
        "description": "Delete a configured Zero Trust Gateway location.",
        "operationId": "zero-trust-gateway-locations-delete-zero-trust-gateway-location",
        "parameters": [
          {
            "in": "path",
            "name": "location_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                }
              }
            },
            "description": "Deletes a Zero Trust Gateway location response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Deletes a Zero Trust Gateway location response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a Zero Trust Gateway location",
        "tags": [
          "Zero Trust Gateway locations"
        ],
        "x-api-token-group": [
          "Cloudflare Zero Trust Secure DNS Locations Write",
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Get a single Zero Trust Gateway location.",
        "operationId": "zero-trust-gateway-locations-zero-trust-gateway-location-details",
        "parameters": [
          {
            "in": "path",
            "name": "location_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_schemas-single_response"
                }
              }
            },
            "description": "Gets Zero Trust Gateway location details response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Gets Zero Trust Gateway location details response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get Zero Trust Gateway location details",
        "tags": [
          "Zero Trust Gateway locations"
        ],
        "x-api-token-group": [
          "Cloudflare Zero Trust Secure DNS Locations Write",
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Update a configured Zero Trust Gateway location.",
        "operationId": "zero-trust-gateway-locations-update-zero-trust-gateway-location",
        "parameters": [
          {
            "in": "path",
            "name": "location_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "client_default": {
                    "$ref": "#/components/schemas/zero-trust-gateway_client-default"
                  },
                  "dns_destination_ips_id": {
                    "description": "Specify the identifier of the pair of IPv4 addresses assigned to this location. When creating a location, if this field is absent or set to null, the pair of shared IPv4 addresses (0e4a32c6-6fb8-4858-9296-98f51631e8e6) is auto-assigned. When updating a location, if this field is absent or set to null, the pre-assigned pair remains unchanged.",
                    "example": "0e4a32c6-6fb8-4858-9296-98f51631e8e6",
                    "type": "string",
                    "x-auditable": true,
                    "x-stainless-terraform-configurability": "computed_optional"
                  },
                  "ecs_support": {
                    "$ref": "#/components/schemas/zero-trust-gateway_ecs-support"
                  },
                  "endpoints": {
                    "$ref": "#/components/schemas/zero-trust-gateway_endpoints"
                  },
                  "name": {
                    "description": "Specify the location name.",
                    "example": "Austin Office Location",
                    "type": "string",
                    "x-auditable": true
                  },
                  "networks": {
                    "$ref": "#/components/schemas/zero-trust-gateway_ipv4_networks"
                  }
                },
                "required": [
                  "name"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_schemas-single_response"
                }
              }
            },
            "description": "Updates a Zero Trust Gateway location response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Updates a Zero Trust Gateway location response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update a Zero Trust Gateway location",
        "tags": [
          "Zero Trust Gateway locations"
        ],
        "x-api-token-group": [
          "Cloudflare Zero Trust Secure DNS Locations Write",
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/gateway/logging": {
      "get": {
        "description": "Retrieve the current logging settings for the Zero Trust account.",
        "operationId": "zero-trust-accounts-get-logging-settings-for-the-zero-trust-account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response"
                }
              }
            },
            "description": "Logging settings retrieval response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Logging settings retrieval response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get logging settings for the Zero Trust account",
        "tags": [
          "Zero Trust accounts"
        ]
      },
      "put": {
        "description": "Update logging settings for the current Zero Trust account.",
        "operationId": "zero-trust-accounts-update-logging-settings-for-the-zero-trust-account",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/zero-trust-gateway_gateway-account-logging-settings"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response"
                }
              }
            },
            "description": "Logging settings update response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_gateway-account-logging-settings-response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ]
                }
              }
            },
            "description": "Logging settings update response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update Zero Trust account logging settings",
        "tags": [
          "Zero Trust accounts"
        ]
      }
    },
    "/accounts/{account_id}/gateway/pacfiles": {
      "get": {
        "description": "List all Zero Trust Gateway PAC files for an account.",
        "operationId": "zero-trust-gateway-pacfiles-list",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-response_collection"
                }
              }
            },
            "description": "Returns a list of PAC files response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a list of PAC files response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List PAC files",
        "tags": [
          "Zero Trust Gateway PAC files"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "post": {
        "description": "Create a new Zero Trust Gateway PAC file.",
        "operationId": "zero-trust-gateway-pacfiles-create-pacfile",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contents": {
                    "description": "Actual contents of the PAC file",
                    "example": "function FindProxyForURL(url, host) { return \"DIRECT\"; }",
                    "type": "string",
                    "x-auditable": true
                  },
                  "description": {
                    "description": "Detailed description of the PAC file.",
                    "example": "PAC file for Devops team",
                    "type": "string",
                    "x-auditable": true
                  },
                  "name": {
                    "description": "Name of the PAC file.",
                    "example": "Devops team",
                    "type": "string",
                    "x-auditable": true
                  },
                  "slug": {
                    "description": "URL-friendly version of the PAC file name. If not provided, it will be auto-generated",
                    "example": "pac_devops",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "name",
                  "contents"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-single_response"
                }
              }
            },
            "description": "Returns a created PAC file response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a created PAC file response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a PAC file",
        "tags": [
          "Zero Trust Gateway PAC files"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/gateway/pacfiles/{pacfile_id}": {
      "delete": {
        "description": "Delete a configured Zero Trust Gateway PAC file.",
        "operationId": "zero-trust-gateway-pacfiles-delete",
        "parameters": [
          {
            "in": "path",
            "name": "pacfile_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                }
              }
            },
            "description": "Returns a deleted PAC file response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a deleted PAC file response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a PAC file",
        "tags": [
          "Zero Trust Gateway PAC files"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      },
      "get": {
        "description": "Get a single Zero Trust Gateway PAC file.",
        "operationId": "zero-trust-gateway-pacfiles-details",
        "parameters": [
          {
            "in": "path",
            "name": "pacfile_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-single_response"
                }
              }
            },
            "description": "Returns a PAC file response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a PAC file response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get a PAC file",
        "tags": [
          "Zero Trust Gateway PAC files"
        ],
        "x-api-token-group": [
          "Zero Trust Read",
          "Zero Trust Write"
        ]
      },
      "put": {
        "description": "Update a configured Zero Trust Gateway PAC file.",
        "operationId": "zero-trust-gateway-pacfiles-update",
        "parameters": [
          {
            "in": "path",
            "name": "pacfile_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "contents": {
                    "description": "Actual contents of the PAC file",
                    "example": "function FindProxyForURL(url, host) { return \"DIRECT\"; }",
                    "type": "string",
                    "x-auditable": true
                  },
                  "description": {
                    "description": "Detailed description of the PAC file.",
                    "example": "PAC file for Devops team",
                    "type": "string",
                    "x-auditable": true
                  },
                  "name": {
                    "description": "Name of the PAC file.",
                    "example": "Devops team",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "required": [
                  "name",
                  "description",
                  "contents"
                ],
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-single_response"
                }
              }
            },
            "description": "Update a Zero Trust Gateway PAC file response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_pacfiles_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Update a Zero Trust Gateway PAC file response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update a Zero Trust Gateway PAC file",
        "tags": [
          "Zero Trust Gateway PAC files"
        ],
        "x-api-token-group": [
          "Zero Trust Write"
        ]
      }
    },
    "/accounts/{account_id}/gateway/proxy_endpoints": {
      "get": {
        "description": "List all Zero Trust Gateway proxy endpoints for an account.",
        "operationId": "zero-trust-gateway-proxy-endpoints-list-proxy-endpoints",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-response_collection"
                }
              }
            },
            "description": "Returns a list of proxy endpoints response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-response_collection"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a list of proxy endpoints response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "List proxy endpoints",
        "tags": [
          "Zero Trust Gateway proxy endpoints"
        ]
      },
      "post": {
        "description": "Create a new Zero Trust Gateway proxy endpoint.",
        "operationId": "zero-trust-gateway-proxy-endpoints-create-proxy-endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "discriminator": {
                  "mapping": {
                    "identity": "#/components/schemas/zero-trust-gateway_proxy-endpoint-identity-create",
                    "ip": "#/components/schemas/zero-trust-gateway_proxy-endpoint-ip-create"
                  },
                  "propertyName": "kind"
                },
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoint-ip-create"
                  },
                  {
                    "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoint-identity-create"
                  }
                ],
                "properties": {
                  "kind": {
                    "default": "ip",
                    "description": "The proxy endpoint kind.",
                    "enum": [
                      "ip",
                      "identity"
                    ],
                    "type": "string"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-single_response"
                }
              }
            },
            "description": "Returns a created proxy endpoint response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a created proxy endpoint response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Create a proxy endpoint",
        "tags": [
          "Zero Trust Gateway proxy endpoints"
        ]
      }
    },
    "/accounts/{account_id}/gateway/proxy_endpoints/{proxy_endpoint_id}": {
      "delete": {
        "description": "Delete a configured Zero Trust Gateway proxy endpoint.",
        "operationId": "zero-trust-gateway-proxy-endpoints-delete-proxy-endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "proxy_endpoint_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {}
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                }
              }
            },
            "description": "Returns a deleted proxy endpoint response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_empty_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a deleted proxy endpoint response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Delete a proxy endpoint",
        "tags": [
          "Zero Trust Gateway proxy endpoints"
        ]
      },
      "get": {
        "description": "Get a single Zero Trust Gateway proxy endpoint.",
        "operationId": "zero-trust-gateway-proxy-endpoints-proxy-endpoint-details",
        "parameters": [
          {
            "in": "path",
            "name": "proxy_endpoint_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-single_response"
                }
              }
            },
            "description": "Returns a proxy endpoint response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "type": "object"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns a proxy endpoint response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Get a proxy endpoint",
        "tags": [
          "Zero Trust Gateway proxy endpoints"
        ]
      },
      "patch": {
        "description": "Update a configured Zero Trust Gateway proxy endpoint.",
        "operationId": "zero-trust-gateway-proxy-endpoints-update-proxy-endpoint",
        "parameters": [
          {
            "in": "path",
            "name": "proxy_endpoint_id",
            "required": true,
            "schema": {
              "example": "ed35569b41ce4d1facfe683550f54086",
              "type": "string",
              "x-auditable": true
            }
          },
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "properties": {
                  "ips": {
                    "$ref": "#/components/schemas/zero-trust-gateway_ips"
                  },
                  "name": {
                    "description": "Specify the name of the proxy endpoint.",
                    "example": "Devops team",
                    "type": "string",
                    "x-auditable": true
                  }
                },
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-single_response"
                }
              }
            },
            "description": "Returns an updated proxy endpoint response."
          },
          "4XX": {
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_proxy-endpoints_components-schemas-single_response"
                    },
                    {
                      "$ref": "#/components/schemas/zero-trust-gateway_api-response-common-failure"
                    }
                  ],
                  "type": "object"
                }
              }
            },
            "description": "Returns an updated proxy endpoint response failure."
          }
        },
        "security": [
          {
            "api_email": [],
            "api_key": [],
            "api_token": []
          }
        ],
        "summary": "Update a proxy endpoint",
        "tags": [
          "Zero Trust Gateway proxy endpoints"
        ]
      }
    },
    "/accounts/{account_id}/gateway/rules": {
      "get": {
        "description": "List Zero Trust Gateway rules for an account.",
        "operationId": "zero-trust-gateway-rules-list-zero-trust-gateway-rules",
        "parameters": [
          {
            "in": "path",
            "name": "account_id",
            "required": true,
            "schema": {
              "example": "699d98642c564d2e855e9661899b7252",
              "type": "string",
              "x-auditable": true
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/zero-trust-gateway_rules_components-schemas-response_collection"
                }
[...]
